<div class="date-range-menu">
  <div class="menu">
    <button
      *ngFor="let menu of dateRangeMenus"
      (click)="setDuration(menu.range)"
      [disabled]="isTrend$ | async"
      [class]="
        menu.range === (duration$ | async) && !(isTrend$ | async)
          ? 'active'
          : ''
      ">
      {{ menu.label }}
    </button>
  </div>
  <div class="dropdown-box">
    <mat-select
      (selectionChange)="setDuration($event.value)"
      [value]="selectedMenu">
      <mat-option *ngFor="let menu of dateRangeMenus" [value]="menu.range">
        {{ menu.label }}
      </mat-option>
    </mat-select>
  </div>
</div>
