<!-- ============================================================== -->
<!-- Notification - style you can find in header.scss -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->



<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5">
    <img src="assets/images/home/logo.png" alt="user" class="profile-pic"> </button>
<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item>
      <a href ='/clinic'>  <mat-icon>settings</mat-icon> Settings</a> </button>
    <button mat-menu-item (click) = "logout()">
        <mat-icon>exit_to_app</mat-icon> Sign Out </button>
</mat-menu>