<div *ngIf="isFullMonths && isConnectedWith; else placeh" class="stats-card">
  <mat-icon
    [tooltip]="toolTip"
    matTooltipPosition="below"
    color="primary"
    class="help-tip"
    fontIcon="help"
  ></mat-icon>
  <div class="card-icon">
    <mat-icon [style]="{color: iconColor}" color="primary" [fontIcon]="fontIcon" card-icon></mat-icon>
  </div>
  <div class="card-text">
    <h4>
      {{ label }}
    </h4>
    <p *ngIf="isLoading; val">Calculating...</p>
    <h3 #val>{{ value }}</h3>
  </div>
</div>
<ng-template #placeh>
  <div class="stats-card-placeh">
    <p *ngIf="!isFullMonths">
      Please select a date range consisting of full months to view Accounting charts
    </p>
    <p *ngIf="!isConnectedWith">
      Please ensure your Xero/MYOB account is connected
    </p>
  </div>
</ng-template>

