<div *ngIf="isFullMonths && isConnectedWith; else placeh" class="stats-card">
  <mat-icon
    [tooltip]="toolTip"
    matTooltipPosition="below"
    color="primary"
    class="help-tip"
    fontIcon="help"></mat-icon>
  <div class="card-icon">
    <mat-icon
      [style]="{ color: iconColor }"
      color="primary"
      [fontIcon]="fontIcon"
      card-icon></mat-icon>
  </div>
  <div class="card-text">
    <h4>
      {{ label }}
    </h4>
    <p *ngIf="isLoading; val">Calculating...</p>
    <h3 #val>{{ value }}</h3>
  </div>
</div>
<ng-template #placeh>
  <div class="stats-card-placeh">
    <p *ngIf="!isConnectedWith; else el0">
      Please connect to Xero/MYOB to display this chart
    </p>
    <ng-template #e10>
      <p *ngIf="!isFullMonths">
        Please select a date range consisting of full months to view Accounting
        charts
      </p>
    </ng-template>
  </div>
</ng-template>
