<app-chart
    [chartTitle]="chartTitle"
    [chartType]="chartType$ | async"
    [toolTip]="toolTip"
    [durationCurrLabel]="durationCurrLabel$ | async"
    [durationPrevLabel]="durationPrevLabel$ | async"
    [curr]="curr"
    [prev]="prev"
    [isLoading]="isLoading$ | async"
    [datasets]="datasets"
    [labels]="labels"
    [hasData]="hasData$ | async"
    [chartOptions]="chartOptions$ | async"
    currency="$"
    noDataAlertMessage="You have no hourly rate in the selected period"
    [gaugeValue]="curr"
    [gaugeSize]="250"
    [gaugeMax]="curr"
></app-chart>