<div class="dialog-header">
    <h1 mat-dialog-title>
        Connect Core
    </h1>
    <mat-icon aria-hidden="false" (click)="onNoClick()">close</mat-icon>
</div>
<div mat-dialog-content>
        <div class="w-full flex items-center justify-center">
            <mat-form-field *ngIf="LocationData.length > 1;else otherdiv" appearance="outline">
                <mat-label>Select Location</mat-label>
                <mat-select [(value)]="selectedLocationId">
                    <mat-option *ngFor="let location of LocationData" [value]="location.Identifier">
                        {{location.LocationName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <ng-template #otherdiv>
            <div class="!pt-5 !pb-5 !pl-5 !pr-5 rounded-xl bg-slate-100">
                <p>Connect your Core account ...</p>
            </div>
            <div class="flex flex-row flex-wrap items-center justify-center pt-5">
                <div class="flex flex-col items-center">
                    <img src="https://www.corepractice.com.au/Content/img/logo-core-practice@2x.png">
                    <!-- <img src="" alt="Snow"> -->
                    <!-- https://www.corepractice.com.au/Content/img/logo-core-practice@2x.png -->
                </div>
            </div>
        </ng-template>
    <br>
</div>
<div mat-dialog-actions class="justify-between">
    <button [mat-dialog-close]="true" mat-flat-button cancelButton>Cancel</button>
    <button mat-flat-button color="primary" *ngIf="this.data.id" (click)="onSubmit()">{{
            LocationData.length > 1 ? 'Save' : 'Connect to Core'
        }}</button>
</div>