.mat-mdc-card-header {
  padding: 0px 16px 0px 16px;
  margin: 16px 0px 16px 0px;
}

.input {
  display: flex;
  flex-direction: row;

  & input {
    margin-left: 0px;
  }
}

::ng-deep #addAddCashForm .mat-mdc-form-field-infix {
  min-height: 39px;
}

::ng-deep #addAddCashForm .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 8px;
  padding-bottom: 8px;
}


::ng-deep #addAddCashForm .mdc-notched-outline__leading {
  border-color: #9e9e9e !important;
}

::ng-deep #addAddCashForm .mdc-notched-outline__notch {
  border-color: #9e9e9e !important;
}

::ng-deep #addAddCashForm .mdc-notched-outline__trailing {
  border-color: #9e9e9e !important;
}