<div
  class="sa_login_blur login-blur"></div>
<img class="login_abso_logo" src="../assets/images/logo-white.png" />
<div
  class="login-register login-background-img">
  <div class="login-register-box">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="text-center">
            <img alt="homepage" src="../assets/images/logo-icon.gif" />
            <h4 class="m-t-10 m-b-10">Recover Password</h4>
          </div>
          <p class="text-center font-14">
            Enter your email and we'll send you the password reset link.
          </p>

          <div fxLayout="column" fxLayoutAlign="space-around">
            <div class="pb-1">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Email address"
                  type="email"
                  [formControl]="form.controls['email']"
                />
              </mat-form-field>
              <small
                *ngIf="
                  form.controls['email'].hasError('required') &&
                  form.controls['email'].touched
                "
                class="text-danger support-text"
                >Please enter registered email address.</small
              >
              <small
                *ngIf="
                  form.controls['email'].errors?.email &&
                  form.controls['email'].touched
                "
                class="text-danger support-text"
                >Please enter registered email address.</small
              >
              <small
                *ngIf="errorLogin == true && errorLoginText != ''"
                class="text-success support-text"
                >{{ errorLoginText }}</small
              >
              <small
                *ngIf="successLogin == true && successLoginText != ''"
                class="text-success support-text"
                >{{ successLoginText }}</small
              >
            </div>
            <div>
              <re-captcha
                *ngIf="showCaptcha"
                (resolved)="resolved($event)"
                siteKey="6Le2hskbAAAAAN9H6kFYBN8ySHV2xw9TAE-gW5_4"
              ></re-captcha>
              <small
                *ngIf="capchaError"
                class="text-danger support-text"
                >Please confirm you are not a robot.</small
              >
            </div>
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <a [routerLink]="['/login']" class="link"> Login</a>
            </div>
            <button
              *ngIf="showCaptcha"
              mat-raised-button
              color="dc"
              type="submit"
              class="btn-block btn-lg m-t-20"
              [disabled]="!form.valid"
            >
              Submit
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
