.task-manager-wrap {
  min-height: -moz-calc(100vh - 67px);
  min-height: -webkit-calc(100vh - 67px);
  min-height: calc(100vh - 67px);
  margin: -15px
}
.header_filters.tasks {
  flex-direction: row-reverse !important;
}
.e-kanban .e-card-footer-css {
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 16px;
  width: 16px;
  margin-right: 8px;
}
.e-kanban .e-improvement {
  background-image: url(https://syncfusion.atlassian.net/secure/viewavatar?size=medium&avatarId=15507&avatarType=issuetype);
}
.e-kanban .e-story {
  background-image: url(https://syncfusion.atlassian.net/secure/viewavatar?size=medium&avatarId=15515&avatarType=issuetype);
}
.e-kanban .e-epic {
  background-image: url(https://syncfusion.atlassian.net/secure/viewavatar?size=medium&avatarId=15507&avatarType=issuetype);
}
.e-kanban .e-bug {
  background-image: url(https://syncfusion.atlassian.net/secure/viewavatar?size=medium&avatarId=15503&avatarType=issuetype);
}
.e-kanban .e-others {
  background-image: url(https://syncfusion.atlassian.net/images/icons/issuetypes/documentation.png);
}
.e-kanban .e-low {
  margin-right: auto;
  background-image: url(https://syncfusion.atlassian.net/images/icons/priorities/trivial.svg);
}
.e-kanban .e-high {
  margin-right: auto;
  background-image: url(https://syncfusion.atlassian.net/images/icons/priorities/major.svg);
}
.e-kanban .e-critical {
  margin-right: auto;
  background-image: url(https://syncfusion.atlassian.net/images/icons/priorities/critical.svg);
}
.e-kanban .e-release {
  margin-right: auto;
  background-image: url(https://syncfusion.atlassian.net/images/icons/priorities/critical.svg);
}
.e-kanban .e-normal {
  margin-right: auto;
  background-image: url(https://syncfusion.atlassian.net/images/icons/priorities/minor.svg);
}

.e-kanban .e-nancy-davloio,
.e-kanban .e-andrew-fuller,
.e-kanban .e-janet-leverling,
.e-kanban .e-steven-walker,
.e-kanban .e-michael-suyama,
.e-kanban .e-robert-king,
.e-kanban .e-margaret-hamilt {
  border-radius: 72px;
  height: 24px;
  width: 24px;
}

.date-options {
  left: 44px;
  position: absolute;
  top: 50px;
  width: 80%;
  background: #fff;
  box-shadow: 1px 2px 8px 2px #eee;
}

.dropdown-select {
  width: 100%;
  display: flex;
  align-items: center;
}

.dropdown-menu {
  width: 100%;
  border-radius: 4px;
  background: hsl(0, 0%, 97%);
  padding: 10px 8px 7px;
  cursor: pointer;
  font-size: 14px;
  color: #626262;
}

.dropdown-menu::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  border-radius: 100%;
  font-weight: 900;
  transform: none;
  border-width: 2px;
  height: 15px;
  width: 15px;
  line-height: 15px;
  text-align: center;
  color: #a8a8b0;
  float: right;
  transition: 0.3s ease-in-out;
}

.toggle-down::after {
  transform: rotate(180deg);
}
.sa-pull-right.kanban {
    position: fixed;
    top: 16px;
    z-index: 9999;
    right: 15.5%;
}
.sa-pull-right.kanban button.mat-gray {
  text-transform: capitalize !important;
}
#addNew img {
  max-width: 14px;
  vertical-align: -2px;
  margin-left: 15px;
}
.e-dlg-container.e-dlg-center-center {
  z-index: 10 !important;
}

.e-lib.e-dialog.e-control.e-kanban-dialog.e-dlg-modal.e-popup.e-popup-open {
    width: 500px !important;
    min-height: 440px;
}
table.editaddpopup tr td:first-child {
    width: 120px !important;
}
div.groupSelect {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    background: #d9ddd9;
    width: 73px;
    border: 1px solid #171a18;
    border-radius: 6px;
}
.groupSelect label input {
    display: none;
}
.groupSelect.active {
    background: #434a44;
    color: #ffffff;
}
table.editaddpopup select {
    padding: 9px 0;
    border: 0px solid;
    border-bottom: 1px solid #767070;
}
.sa-form-group {
  position: relative;
}
.e-popup.e-popup-open .e-footer-content button{
    font-size: 16px;
    text-transform: uppercase;
    color: #FFF;
    background-image: linear-gradient(14deg, #17a5aa 0%, #18a689 100%);
    box-shadow: none !important;
    border: 0;
    font-family: 'Gilroy-Medium';
    border-radius: 5px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
}
.e-dialog-add{
  color: white !important;
}
.e-dialog-edit{
  color: white !important;
}

.e-dialog .e-dlg-header-content {
    border-bottom: 1px solid #c0c0c0;
}
div.e-dlg-header {
    padding-left: 15px;
}
tr.Due_Date {
    position: relative;
}
.Due_Date input {
    border: 0px solid;
    padding: 10px 0;
    border-bottom: 1px solid #8d8989;
    margin: 0;
}
.Due_Date button.mat-icon-button {
    position: absolute;
    top: 0;
    right: 0;
}

.e-card.e-template.e-droppable.e-lib.e-draggable {
    background: #fff;
    border-radius: 6px;
    border: 1px solid #cecece!important;
}

.e-content-row td.e-content-cells {
    background: #ebebeb !important;    
}
.task-info-wrap .e-kanban {
  background: #f5f5fb;
}
.e-kanban .e-kanban-table .e-header-cells {
    background-color: #ebebeb;
    border-radius: 0;
}
.e-kanban .e-kanban-table .e-header-cells {
    background-color: #ebebeb;
    border-radius: 0;
    box-shadow: 0px -2px 1px inset #f5f5fb;
}
div.groupSelect label {
    width: 100%;
    display: block;
    padding: 5px;
    cursor: pointer;
}
button.e-control.e-btn.e-lib.e-flat.e-dialog-delete {
    float: right;
}
button.e-control.e-btn.e-lib.e-flat.e-dialog-cancel {
    float: left;
}
.e-tooltip-wrap.e-popup {
    background-color: #f5f4f4;
}
table .e-card-wrapper .warning::before {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    z-index: 999999999;
    content: '';
    right: 0;
    border-style: solid;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent #ff8686 transparent;
}

.e-card-content td h3 {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: bold;
}
.header-bg-shadow{
  box-shadow: none !important;
}
.task-info-wrap .e-kanban .e-kanban-table .e-header-cells {
  background-color: transparent;
  padding: 0;
}
.task-info-wrap .header-template-wrap.Open {
  background-color: #796eff;
}
.task-info-wrap .header-template-wrap.InProgress {
  background-color: #fdc027;
}
.task-info-wrap .header-template-wrap.Done {
  background-color: #0d8e7f;
}
.task-info-wrap .header-template-wrap {
  padding: 25px 30px;
  background-image: url('/assets/images/task-card-bg.png');
  background-position: right center;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 4px;
  position: relative;
}
.task-info-wrap .header-template-wrap.Open:before {
  content: "";
  background-image: url('/assets/images/todo-list.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  position: absolute;
  right: 20px;
  bottom: 0;
  height: 108px;
  width: 134px;
}
.task-info-wrap .header-template-wrap.InProgress:before {
  content: "";
  background-image: url('/assets/images/in-progress.png');
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  right: 20px;
  bottom: 0;
  height: 108px;
  width: 134px;
}
.task-info-wrap .header-template-wrap.Done:before {
  content: "";
  background-image: url('/assets/images/Done.png');
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  right: 20px;
  bottom: 0;
  height: 108px;
  width: 134px;
}
.task-info-wrap .header-task-count {
  color: #fff;
  font-size: 30px;
  margin-bottom: 10px;
}
.task-info-wrap .header-text {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}
.task-info-wrap .e-kanban .e-swimlane .e-kanban-table.e-content-table {
  border-spacing: 0;
  padding: 10px;
}
.task-info-wrap .e-content-row td.e-content-cells {
  background: #f6fafb!important;
  position: relative;
}
.task-info-wrap .e-kanban-header,
.task-info-wrap .e-kanban .e-kanban-content {
  background-color: #fff;
}
.task-info-wrap .e-kanban .e-kanban-content .e-content-row.e-swimlane-row .e-content-cells .e-swimlane-header .e-icons {
  position: absolute;
  right: 20px;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.task-info-wrap .e-kanban .e-kanban-content .e-content-row.e-swimlane-row .e-content-cells {
  background-color: #fff !important;
  padding-bottom: 10px;
  position: relative;
  border-radius: 10px;
}
.task-info-wrap .e-kanban .e-kanban-content .e-content-row.e-swimlane-row .e-content-cells .e-swimlane-header {
  padding: 12px 20px;
  background-color: #f6fafb;
  border-radius: 8px;
  position: relative;
}
.task-info-wrap  .e-kanban .e-kanban-content .e-content-row.e-swimlane-row .e-content-cells .e-swimlane-header .e-item-count {
  display: none;
}
.task-info-wrap .e-kanban-content .e-card.e-template.e-droppable.e-lib.e-draggable {
  border: 0 !important;
  box-shadow: 0 10px 21px rgb(64 120 113 / 14%) !important;
  border-radius: 0;
  margin-bottom: 10px;
}
.task-info-wrap .e-kanban .e-kanban-content .e-content-row:not(.e-swimlane-row) .e-content-cells {
  border: 0;
  padding: 0;
}
.task-info-wrap .e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card-wrapper {
  padding: 15px 10px 0;
}
.task-info-wrap .e-kanban-content .e-card.e-template.e-droppable.e-lib.e-draggable[data-key="Open"] {
  border-top: 4px solid #796eff !important;
}
.task-info-wrap .e-kanban-content .e-card.e-template.e-droppable.e-lib.e-draggable[data-key="InProgress"] {
  border-top: 4px solid #fdc027 !important;
}
.task-info-wrap .e-kanban-content .e-card.e-template.e-droppable.e-lib.e-draggable[data-key="Done"] {
  border-top: 4px solid #0d8e7f !important;
}
.task-info-wrap .e-kanban .e-kanban-content .e-content-row:not(.e-swimlane-row) .e-content-cells:first-child {
  padding-left: 5px;
}
.task-info-wrap .e-kanban .e-kanban-content .e-content-row:not(.e-swimlane-row) .e-content-cells:last-child {
  padding-right: 5px;
}
.task-info-wrap .e-kanban-content .e-content-row .e-content-cells .e-card-wrapper .e-card .e-card-content {
  padding: 0;
}
.card-template-header {
  padding: 10px 15px;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-template-header h3 {
  margin: 0;
  font-size: 16px;
  text-transform: capitalize;
  color: #000;
  font-family: 'Gilroy-Medium';
  line-height: normal;
}
.task-info-wrap .e-kanban-content .e-card.e-template.e-droppable.e-lib.e-draggable .e-card-content .cardDescription {
  padding: 10px 15px;
  color: #454545;
}
.task-info-wrap .e-empty-card {
  text-align: center;
  display: block !important;
  width: 100%;
}
.task-modal {
  overflow: hidden;
  border-radius: 5px;
  max-width: 90%;
  max-height: 95% !important;
}
.task-modal .sa_datepicker {
  background-color: transparent;
  margin-left: -10px;
} 
.input-icon {
  position: absolute;
  right: 15px;
  bottom: 10px;
  max-width: 18px;
  pointer-events: none;
}
.task-modal .sa_forms_design label {
  color: #616161;
}
.task-modal .sa_forms_design .mat-select, .task-modal .sa_forms_design input, .task-modal .sa_forms_design select, .task-modal .sa_forms_design textarea {
  border: 2px solid #eeeeee;
}
.task-modal .sa_forms_design .mat-select:focus, .task-modal .sa_forms_design input:focus, .task-modal .sa_forms_design select:focus, .task-modal .sa_forms_design textarea:focus {
  border-color: rgb(13 142 127 / 50%);
}
.file-upload {
  padding: 20px 10px;
  text-align: center;
  border: 1px dashed #0d8e7f;
  position: relative;
  background-color: #f7fbfe;
  border-radius: 5px;
}
.file-upload input {
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.task-modal .file-upload label {
  display: inline-block;
  width: auto;
  padding: 0;
  color: #2b8e7f;
  text-decoration: underline;
  cursor: pointer;
}
.file-upload p {
  font-size: 14px;
  color: #616161;
  margin: 0;
}
.files-list {
  margin-top: 10px;
}
.files-list .single-file {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  border: dashed 1px #979797;
  margin-bottom: 1rem;
  display: flex;
  flex-grow: 1;
}
.files-list .single-file .delete {
  display: flex;
  margin-left: 0.5rem;
  cursor: pointer;
  align-self: flex-end;
}
.files-list .single-file .name {
  font-size: 14px;
  font-weight: 500;
  color: #353f4a;
  margin: 0;
}
.files-list .single-file .size {
  font-size: 12px;
  font-weight: 500;
  color: #a4a4a4;
  margin: 0;
  margin-bottom: 0.25rem;
}
.files-list .single-file .info {
  width: 100%;
}
.file-icon i {
  font-size: 42px;
  margin-right: 15px;
  color: #d0d0d0;
}
.progress-cont {
  height: 7px;
  width: 100%;
  border-radius: 4px;
  background-color: #d3ebe8;
  position: relative;

}
.progress {
  width: 0;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 4px;
  background-color: #33a59e;
  transition: 0.5s all;
}
/* .task-modal .e-footer-content {
  display: none;
} */


.show{
  display: block;
}

@media screen and (max-width: 1919px) {
  .sa-pull-right.kanban {
    right: 17%;
  }
}
@media screen and (max-width: 1280px) {
  .sa-pull-right.kanban {
    right: 18%;
  }
}
@media screen and (max-width: 960px) {
  .task-manager-wrap {
    position: relative;
  }
  .sa-pull-right.kanban {
    top: 60px;
    left: 265px;
    right: auto;
  }
}
@media screen and (max-width: 767px) {
  .sa-pull-right.kanban {
    top: 30px;
    left: 20px;
    position: absolute;
    z-index: 9;
  }
  .task-manager-wrap.mat-card {
    padding-top: 70px;
  }
  .task-manager-wrap.mat-card .mat-card-content {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 575px) {
  .task-info-wrap .e-kanban.e-device .e-swimlane-header .e-swimlane-header-toolbar {
    margin-bottom: 15px;
  }
  .task-info-wrap .e-kanban {
    background: transparent;
  }
}

.group_buttons>button{
  margin-left: 10px;
  margin-right: 10px;
  width: 50%;
}

.group_buttons{
  display: flex;
  justify-content: center;
}

.sa_datepicker {
  position: relative;
  width: auto;
  display: inline-block;
  margin-left: 0px;
  box-shadow: none;
  border: 0;
  background-color: #f5f5fb;
  padding: 3px 10px;
  height: 30px;
  border-radius: 4px;
}