.header_filters.tasks {
  flex-direction: row-reverse !important;
}
.e-kanban .e-card-footer-css {
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 16px;
  width: 16px;
  margin-right: 8px;
}
.e-kanban .e-improvement {
  background-image: url(https://syncfusion.atlassian.net/secure/viewavatar?size=medium&avatarId=15507&avatarType=issuetype);
}
.e-kanban .e-story {
  background-image: url(https://syncfusion.atlassian.net/secure/viewavatar?size=medium&avatarId=15515&avatarType=issuetype);
}
.e-kanban .e-epic {
  background-image: url(https://syncfusion.atlassian.net/secure/viewavatar?size=medium&avatarId=15507&avatarType=issuetype);
}
.e-kanban .e-bug {
  background-image: url(https://syncfusion.atlassian.net/secure/viewavatar?size=medium&avatarId=15503&avatarType=issuetype);
}
.e-kanban .e-others {
  background-image: url(https://syncfusion.atlassian.net/images/icons/issuetypes/documentation.png);
}
.e-kanban .e-low {
  margin-right: auto;
  background-image: url(https://syncfusion.atlassian.net/images/icons/priorities/trivial.svg);
}
.e-kanban .e-high {
  margin-right: auto;
  background-image: url(https://syncfusion.atlassian.net/images/icons/priorities/major.svg);
}
.e-kanban .e-critical {
  margin-right: auto;
  background-image: url(https://syncfusion.atlassian.net/images/icons/priorities/critical.svg);
}
.e-kanban .e-release {
  margin-right: auto;
  background-image: url(https://syncfusion.atlassian.net/images/icons/priorities/critical.svg);
}
.e-kanban .e-normal {
  margin-right: auto;
  background-image: url(https://syncfusion.atlassian.net/images/icons/priorities/minor.svg);
}

.e-kanban .e-nancy-davloio,
.e-kanban .e-andrew-fuller,
.e-kanban .e-janet-leverling,
.e-kanban .e-steven-walker,
.e-kanban .e-michael-suyama,
.e-kanban .e-robert-king,
.e-kanban .e-margaret-hamilt {
  border-radius: 72px;
  height: 24px;
  width: 24px;
}

.date-options {
  left: 44px;
  position: absolute;
  top: 50px;
  width: 80%;
  background: #fff;
  box-shadow: 1px 2px 8px 2px #eee;
}

.dropdown-select {
  width: 100%;
  display: flex;
  align-items: center;
}

.dropdown-menu {
  width: 100%;
  border-radius: 4px;
  background: hsl(0, 0%, 97%);
  padding: 10px 8px 7px;
  cursor: pointer;
  font-size: 14px;
  color: #626262;
}

.dropdown-menu::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  border-radius: 100%;
  font-weight: 900;
  transform: none;
  border-width: 2px;
  height: 15px;
  width: 15px;
  line-height: 15px;
  text-align: center;
  color: #a8a8b0;
  float: right;
  transition: 0.3s ease-in-out;
}

.toggle-down::after {
  transform: rotate(180deg);
}
.sa-pull-right.kanban {
    width: 100% !important;
    display: block !important;
    text-align: right !important;
    margin-bottom: 10px;
    margin-right: 10px;
}
.content-wrapper.kanban{
    width: 100%;
    float: left;
}
.e-dlg-container.e-dlg-center-center {
  z-index: 10 !important;
}

.e-lib.e-dialog.e-control.e-kanban-dialog.e-dlg-modal.e-popup.e-popup-open {
    width: 500px !important;
    min-height: 440px;
}
table.editaddpopup tr td:first-child {
    width: 120px !important;
}
div.groupSelect {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    background: #d9ddd9;
    width: 73px;
    border: 1px solid #171a18;
    border-radius: 6px;
}
.groupSelect label input {
    display: none;
}
.groupSelect.active {
    background: #434a44;
    color: #ffffff;
}
table.editaddpopup select {
    padding: 9px 0;
    border: 0px solid;
    border-bottom: 1px solid #767070;
}

.e-popup.e-popup-open .e-footer-content button{
    font-size: 16px;
    text-transform: uppercase;
    color: #FFF;
    background-image: linear-gradient(14deg, #17a5aa 0%, #18a689 100%);
    box-shadow: none !important;
    border: 0;
    font-family: 'Gilroy-Medium';
    border-radius: 5px;
    height: 35px;
}
.e-dialog .e-dlg-header-content {
    border-bottom: none;
    padding: 5px 10px 0 0;
    padding-left: 0;
    border-left: 5px solid #18a689;
    margin: 8px 0 0 0;
}
div.e-dlg-header {
    padding-left: 15px;
}
tr.Due_Date {
    position: relative;
}
.Due_Date input {
    border-bottom: 1px solid #5a5656;
    padding: 10px 0;
}
.Due_Date button.mat-icon-button {
    position: absolute;
    top: 0;
    right: 0;
}

.e-card.e-template.e-droppable.e-lib.e-draggable {
    background: #fff;
    border-radius: 6px;
    border: 1px solid #cecece!important;
}

.e-content-row td.e-content-cells {
    background: #ebebeb !important;    
}

.e-kanban .e-kanban-table .e-header-cells {
    background-color: #ebebeb;
    border-radius: 0;
}
.e-kanban .e-kanban-table .e-header-cells {
    background-color: #ebebeb;
    border-radius: 0;
    box-shadow: 0px -2px 1px inset #f5f5fb;
}
div.groupSelect label {
    width: 100%;
    display: block;
    padding: 5px;
    cursor: pointer;
}
.e-dlg-closeicon-btn {
  display: none;
}
button.e-control.e-btn.e-lib.e-flat.e-dialog-delete {
    float: right;
}
button.e-control.e-btn.e-lib.e-flat.e-dialog-cancel {
    float: left;
}
.e-tooltip-wrap.e-popup {
    background-color: #f5f4f4;
}
table.card-template-wrap.warning::before {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    z-index: 999999999;
    content: '';
    right: 0;
    border-top: 10px solid red;
    border-left: 10px solid transparent;
    border-right: 10px solid red;
    border-bottom: 10px solid transparent;
}

.e-card-content td h3 {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: bold;
}
.cardDescription {
    min-height: 43px;
}