<input
  type="button"
  id="clinic_initiate"
  (click)="initiate_clinic()"
  [style.display]="'none'"
/>
<mat-card
  class="task-manager-wrap header-bg-shadow"
>
  <div class="sa-pull-right kanban" *ngIf="user_type == 2">
    <button
      ejs-button
      id="addNew"
      class="e-dialog-add mat-raised-button mat-gray"
      (click)="addClick()"
    >
      Create Task <img src="../../assets/images/add-button.png" alt="plus-icon"/>
    </button>
  </div>
  <mat-card-content>
    <div class="control-section">
      <div class="content-wrapper kanban task-info-wrap">
        <ejs-kanban
          #kanbanObj
          keyField="status"
          [dataSource]="dataManager"
          [cardSettings]="cardSettings"
          [dialogSettings]="dialogSettings"
          (actionComplete)="OnActionComplete($event)"
          (dialogOpen)="dialogOpen($event)"
          [swimlaneSettings]="swimlaneSettings"
        >
          <e-columns>
            <e-column *ngFor="let column of columns;" headerText={{column.headerText}} keyField='{{column.keyField}}'>
                <ng-template #template let-data>
                    <div class="header-template-wrap {{data.keyField}}">
                        <div class="header-task-count">2</div>
                        <div class="header-text">{{data.headerText}}</div>
                    </div>
                </ng-template>
            </e-column>
          </e-columns>

          <ng-template #cardSettingsTemplate let-data>
            <div class="e-card-content {{ checkIdOverdue(data) }}">
              <div class="card-template-header">
                <h3>{{ data.title }}</h3>
                <img src="../../assets/images/drag-dots.png" alt=""/>
              </div>
              <div class="cardDescription">
                {{
                  (data.description | slice: 0:100) +
                    (data.description.length > 100 ? "..." : "")
                }}
              </div>
            </div>
          </ng-template>

          <ng-template #dialogSettingsTemplate let-data>
            <table class="editaddpopup">
              <tbody>
                <tr class="hide">
                  <td class="e-label">ID</td>
                  <td>
                    <div class="e-float-input e-control-wrapper">
                      <input
                        id="Id"
                        name="Id"
                        type="text"
                        class="e-field"
                        value="{{ data.id }}"
                        disabled
                      />
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="e-label">Group</td>
                  <td>
                    <div
                      class="groupSelect"
                      *ngFor="let option of assigneeGroup"
                      [ngClass]="option.id === assignTo ? 'active' : ''"
                    >
                      <label for="{{ option.idval }}">
                        <input
                          [disabled]="user_type != 2"
                          type="radio"
                          class="e-field"
                          id="{{ option.idval }}"
                          name="assign"
                          (change)="radioChange($event)"
                          [checked]="option.id === assignTo"
                          value="{{ option.id }}"
                        />
                        {{ option.name }}
                      </label>
                    </div>
                    <input
                      id="AssignTo"
                      class="e-field hide"
                      type="hidden"
                      name="assign_to"
                      [value]="assignTo"
                    />
                  </td>
                </tr>
                <tr *ngIf="assignTo === 1">
                  <td class="e-label">All Clinics</td>
                  <td>
                    <select
                      [disabled]="user_type != 2"
                      id="Clinics"
                      class="e-field"
                      name="clinic_id"
                      ngModel="{{ data.clinic_id }}"
                    >
                      <option [value]="null">All Clinic</option>
                      <option
                        *ngFor="let clinicData of clinicsData"
                        value="{{ clinicData.id }}"
                      >
                        {{ clinicData.clinicName }}
                      </option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td class="e-label">Title</td>
                  <td>
                    <div class="e-float-input e-control-wrapper">
                      <input
                        id="Title"
                        name="title"
                        type="text"
                        class="e-field"
                        value="{{ data.title }}"
                        [readonly]="user_type != 2"
                      />
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="e-label">Description</td>
                  <td>
                    <div class="e-float-input e-control-wrapper">
                      <textarea
                        id="Description"
                        name="description"
                        type="text"
                        class="e-field"
                        [readonly]="user_type != 2"
                        >{{ data.description }}</textarea
                      >
                    </div>
                  </td>
                </tr>

                <tr *ngIf="assignTo == '3'">
                  <td class="e-label">Assignee</td>
                  <td>
                    <select
                      [disabled]="user_type != 2"
                      id="AssigneeData"
                      class="e-field"
                      name="assignee_user"
                      ngModel="{{ data.assignee_user }}"
                    >
                      <option
                        value="{{ user.id }}"
                        *ngFor="let user of assigneeData"
                      >
                        {{ user.name }}
                      </option>
                    </select>
                  </td>
                  <input
                    id="Clinicids"
                    type="hidden"
                    class="e-field"
                    name="clinic_id"
                    [value]="clinic_id"
                  />
                </tr>
                <tr *ngIf="assignTo === 4">
                  <td class="e-label">Assignee Group</td>
                  <td>
                    <select
                      [disabled]="user_type != 2"
                      id="AssigneeGroupData"
                      class="e-field"
                      name="assignee_group"
                      ngModel="{{ data.assignee_group }}"
                    >
                      <option
                        value="{{ grupData.id }}"
                        *ngFor="let grupData of assigneeGroupData"
                      >
                        {{ grupData.name }}
                      </option>
                    </select>
                  </td>
                  <input
                    id="Clinicids"
                    type="hidden"
                    class="e-field"
                    name="clinic_id"
                    [value]="clinic_id"
                  />
                </tr>
                <tr class="Due_Date">
                  <td class="e-label">Due Date</td>
                  <td *ngIf="user_type == 2">
                    <!-- <input
                      id="DueDate"
                      name="due_date"
                      class="e-field"
                      [value]="date1.value"
                      matInput
                      [matDatepicker]="picker"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker  #picker></mat-datepicker> -->

                    <input
                      id="DueDate"
                      name="due_date"
                      value="{{ data.due_date | date: 'M/d/y' }}"
                      class="
                      sa_datepicker
                        e-field
                        datepicker-calendar-icon
                        filter_custom filter
                      "
                      autocomplete="false"
                      ngxDaterangepickerMd
                      [closeOnAutoApply]="true"
                      [autoApply]="true"
                      [singleDatePicker]="true"
                      [linkedCalendars]="true"
                    />
                    
                  </td>
                  <td *ngIf="user_type != 2">
                    <input
                      id="DateDue"
                      name="due_date"
                      type="text"
                      class="e-field"
                      value="{{ data.due_date | date: 'M/d/y' }}"
                      readonly
                    />
                  </td>
                </tr>
                <!-- <tr *ngIf="user_type != 2">
                  <td class="e-label">Due Date</td>
                  <td>
                    <input
                      id="DateDue"
                      name="due_date"
                      type="text"
                      class="e-field"
                      value="{{ data.due_date | date: shortDate }}"
                      readonly
                    />
                  </td>
                </tr> -->
                <tr [ngClass]="data.id ? '' : 'hide'">
                  <td class="e-label">Status</td>
                  <td>
                    <select
                      id="Status"
                      class="e-field"
                      name="status"
                      ngModel="{{ data.status }}"
                    >
                      <option
                        value="{{ status }}"
                        *ngFor="let status of statusData"
                      >
                        {{ status }}
                      </option>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </ejs-kanban>
      </div>
    </div>
  </mat-card-content>
</mat-card>
