<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> Customisations </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-card-content>

    <form [formGroup]="form" class="basic-form sa_forms_design" (ngSubmit)="onSubmit()">
      <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutGap.md="0px" fxLayoutGap.sm="0px" fxLayoutGap.xs="0">
        <h4 class="clinic-settings-form-title">Morning Huddle</h4>
        <div class="clinic-setting-form flx-width" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
          <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutGap.md="20px" fxLayoutGap.sm="20px" fxLayoutGap.xs="0">
            <div fxFlex="calc(15% - 10px)" fxFlex.md="calc(29% - 10px)" fxFlex.sm="calc(29% - 10px)" fxFlex.xs="100">
              <div class="sa-form-group mh-align">
                <label _ngcontent-gxr-c371="">Xray Overdue <div class="info-button">
                    <div class="info-icon-container">
                      <img [tooltip]="this.constants.tipXrayOverdue" src="../assets/images/info-icon.png"
                        alt="info-icon" class="info-icon" />
                    </div>
                  </div></label>
                <mat-slide-toggle fxFlex.md="30" fxFlex.xs="100" checked="{{ xray_overdue_enable }}"
                  name="xray_overdue_enable" (change)="toggleMH($event, 'xray_overdue_enable')">
                  <span *ngIf="xray_overdue_enable"><strong>Enabled</strong></span>
                  <span *ngIf="!xray_overdue_enable"><strong>Disabled</strong></span>
                </mat-slide-toggle>
              </div>
            </div>
            <div fxFlex="calc(15% - 10px)" fxFlex.md="calc(29% - 10px)" fxFlex.sm="calc(29% - 10px)" fxFlex.xs="100">
              <div class="sa-form-group mh-align">
                <!-- <label _ngcontent-gxr-c371="">Xray Overdue</label> -->
                <input type="number" min="0" placeholder="" [formControl]="form.controls['xray_months']"
                  [(ngModel)]="xrayMonths" />
                <span>months</span>
                <small *ngIf="
                    form.controls['xray_months'].hasError('required') &&
                    form.controls['xray_months'].touched
                  " class="text-danger support-text mh-error-align">Field is Required.</small>
              </div>
            </div>
            <div fxFlex="calc(15% - 10px)" fxFlex.md="calc(29% - 10px)" fxFlex.sm="calc(29% - 10px)" fxFlex.xs="100">
            </div>
            <div fxFlex="calc(15% - 10px)" fxFlex.md="calc(29% - 10px)" fxFlex.sm="calc(29% - 10px)" fxFlex.xs="100">
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutGap.md="20px" fxLayoutGap.sm="20px" fxLayoutGap.xs="0">
            <div fxFlex="calc(15% - 10px)" fxFlex.md="calc(29% - 10px)" fxFlex.sm="calc(29% - 10px)" fxFlex.xs="100">
              <div class="sa-form-group mh-align">
                <label _ngcontent-gxr-c371="">OPG Overdue <div class="info-button">
                    <div class="info-icon-container">
                      <img [tooltip]="this.constants.tipOPGOverdue" src="../assets/images/info-icon.png" alt="info-icon"
                        class="info-icon" />
                    </div>
                  </div></label>
                <mat-slide-toggle fxFlex.md="30" fxFlex.xs="100" checked="{{ opg_overdue_enable }}"
                  name="opg_overdue_enable" (change)="toggleMH($event, 'opg_overdue_enable')">
                  <span *ngIf="opg_overdue_enable"><strong>Enabled</strong></span>
                  <span *ngIf="!opg_overdue_enable"><strong>Disabled</strong></span>
                </mat-slide-toggle>
              </div>
            </div>
            <div fxFlex="calc(15% - 10px)" fxFlex.md="calc(29% - 10px)" fxFlex.sm="calc(29% - 10px)" fxFlex.xs="100">
              <div class="sa-form-group mh-align">
                <!-- <label _ngcontent-gxr-c371="">OPG Overdue</label> -->
                <input type="number" min="0" placeholder="" [formControl]="form.controls['opg_months']"
                  [(ngModel)]="opgMonths" />
                <span>months

                </span>
                <small *ngIf="
                    form.controls['opg_months'].hasError('required') &&
                    form.controls['opg_months'].touched
                  " class="text-danger support-text mh-error-align">Field is Required.</small>
              </div>
            </div>
            <div fxFlex="calc(15% - 10px)" fxFlex.md="calc(29% - 10px)" fxFlex.sm="calc(29% - 10px)" fxFlex.xs="100">
            </div>
            <div fxFlex="calc(15% - 10px)" fxFlex.md="calc(29% - 10px)" fxFlex.sm="calc(29% - 10px)" fxFlex.xs="100">
            </div>

          </div>
          <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutGap.md="0px" fxLayoutGap.sm="0px" fxLayoutGap.xs="0">
            <div fxFlex="calc(24% - 10px)" fxFlex.md="calc(49% - 10px)" fxFlex.sm="calc(49% - 10px)" fxFlex.xs="100">
              <div class="sa-form-group mh-align">
                <label _ngcontent-gxr-c371="">Overdue Recalls <div class="info-button">
                    <div class="info-icon-container">
                      <img [tooltip]="this.constants.tipRecallCode" src="../assets/images/info-icon.png" alt="info-icon"
                        class="info-icon" />
                    </div>
                  </div></label>
                <mat-slide-toggle fxFlex.md="30" fxFlex.xs="100" checked="{{ recall_overdue_enable }}"
                  name="recall_overdue_enable" (change)="toggleMH($event, 'recall_overdue_enable')">
                  <span *ngIf="recall_overdue_enable"><strong>Enabled</strong></span>
                  <span *ngIf="!recall_overdue_enable"><strong>Disabled</strong></span>
                </mat-slide-toggle>
              </div>
            </div>
            <div fxFlex="calc(24% - 10px)" fxFlex.md="calc(49% - 10px)" fxFlex.sm="calc(49% - 10px)" fxFlex.xs="100">
              <div class="sa-form-group mh-align">
                <label _ngcontent-gxr-c371="">Recall Code 1 </label>
                <input type="number" min="0" placeholder="" [formControl]="form.controls['recall_codes1']"
                  [(ngModel)]="recallCode1" />

                <small *ngIf="
                    form.controls['recall_codes1'].hasError('required') &&
                    form.controls['recall_codes1'].touched
                  " class="text-danger support-text mh-error-align">Field is Required.</small>
              </div>
            </div>

            <div fxFlex="calc(25% - 10px)" fxFlex.md="calc(49% - 10px)" fxFlex.sm="calc(49% - 10px)" fxFlex.xs="100">
              <div class="sa-form-group mh-align">
                <label _ngcontent-gxr-c371="">Recall Code 2 </label>
                <input type="number" min="0" placeholder="" [formControl]="form.controls['recall_codes2']"
                  [(ngModel)]="recallCode2" />
                <small *ngIf="
                    form.controls['recall_codes2'].hasError('required') &&
                    form.controls['recall_codes2'].touched
                  " class="text-danger support-text mh-error-align">Field is Required.</small>
              </div>
            </div>

            <div fxFlex="calc(24% - 10px)" fxFlex.md="calc(49% - 10px)" fxFlex.sm="calc(49% - 10px)" fxFlex.xs="100">
              <div class="sa-form-group mh-align">
                <label _ngcontent-gxr-c371="">Recall Code 3</label>
                <input type="number" min="0" placeholder="" [formControl]="form.controls['recall_codes3']"
                  [(ngModel)]="recallCode3" />
                <small *ngIf="
                    form.controls['recall_codes3'].hasError('required') &&
                    form.controls['recall_codes3'].touched
                  " class="text-danger support-text mh-error-align">Field is Required.</small>
              </div>
            </div>


          </div>
         
          <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutGap.md="0px" fxLayoutGap.sm="0px" fxLayoutGap.xs="0">
            <div fxFlex="calc(24% - 10px)" fxFlex.md="calc(49% - 10px)" fxFlex.sm="calc(49% - 10px)" fxFlex.xs="100">
              <div class="sa-form-group mh-align">
                <label _ngcontent-gxr-c371="">Overdue Labs <div class="info-button">
                    <div class="info-icon-container">
                      <img [tooltip]="this.constants.labCode" src="../assets/images/info-icon.png" alt="info-icon"
                        class="info-icon" />
                    </div>
                  </div></label>
                <mat-slide-toggle fxFlex.md="30" fxFlex.xs="100" checked="{{ lab_overdue_enable }}"
                  name="lab_overdue_enable" (change)="toggleMH($event, 'lab_overdue_enable')">
                  <span *ngIf="lab_overdue_enable"><strong>Enabled</strong></span>
                  <span *ngIf="!lab_overdue_enable"><strong>Disabled</strong></span>
                </mat-slide-toggle>
              </div>
            </div>
            <div fxFlex="calc(24% - 10px)" fxFlex.md="calc(49% - 10px)" fxFlex.sm="calc(49% - 10px)" fxFlex.xs="100">
              <div class="sa-form-group mh-align">
                <label _ngcontent-gxr-c371="">Lab Code 1</label>
                <input type="text" maxlength="1" placeholder="" [formControl]="form.controls['lab_code1']"
                  [(ngModel)]="labCode1" />
                <small *ngIf="
                    form.controls['lab_code1'].hasError('required') &&
                    form.controls['lab_code1'].touched
                  " class="text-danger support-text mh-error-align">Field is Required.</small>
              </div>
            </div>
            <div fxFlex="calc(24% - 10px)" fxFlex.md="calc(49% - 10px)" fxFlex.sm="calc(49% - 10px)" fxFlex.xs="100">
              <div class="sa-form-group mh-align">
                <label _ngcontent-gxr-c371="">Lab Code 2</label>
                <input type="text" maxlength="1" placeholder="" [formControl]="form.controls['lab_code2']"
                  [(ngModel)]="labCode2" />
                <small *ngIf="
                    form.controls['lab_code2'].hasError('required') &&
                    form.controls['lab_code2'].touched
                  " class="text-danger support-text mh-error-align">Field is Required.</small>
              </div>
            </div>
            <div fxFlex="calc(24% - 10px)" fxFlex.md="calc(49% - 10px)" fxFlex.sm="calc(49% - 10px)" fxFlex.xs="100">
            </div>

          </div>
          <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutGap.md="0px" fxLayoutGap.sm="0px" fxLayoutGap.xs="0">
            <div fxFlex="calc(24% - 10px)" fxFlex.md="calc(49% - 10px)" fxFlex.sm="calc(49% - 10px)" fxFlex.xs="100">
              <div class="sa-form-group mh-align">
                <label _ngcontent-gxr-c371="">Status Codes <div class="info-button">
                    <div class="info-icon-container">
                      <img [tooltip]="this.constants.statusCode" src="../assets/images/info-icon.png" alt="info-icon"
                        class="info-icon" />
                    </div>
                  </div></label>
                <mat-slide-toggle fxFlex.md="30" fxFlex.xs="100" checked="{{ status_codes_enable }}"
                  name="status_codes_enable" (change)="toggleMH($event, 'status_codes_enable')">
                  <span *ngIf="status_codes_enable"><strong>Enabled</strong></span>
                  <span *ngIf="!status_codes_enable"><strong>Disabled</strong></span>
                </mat-slide-toggle>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gray_area">
        <div class="working-days">
          <h4 class="clinic-settings-form-title">Dashboards</h4>

          <div class="clinic-setting-form" fxLayout="row wrap" fxLayoutGap="20px" fxLayoutGap.md="0px"
            fxLayoutGap.sm="0px" fxLayoutGap.xs="0">

            <div fxFlex="calc(49% - 10px)" fxFlex.md="calc(49% - 10px)" fxFlex.sm="calc(49% - 10px)" fxFlex.xs="100">
              <div class="sa-form-group sa-group">
                <label>New Patients
                  <div class="info-button">
                    <div class="info-icon-container">
                      <img [tooltip]="this.constants.tipNewPatients" src="../assets/images/info-icon.png"
                        alt="info-icon" class="info-icon" />
                    </div>
                  </div>
                </label>

                <select [formControl]="form.controls['new_patients']" [(ngModel)]="newPatients">
                  <option value="0">Treatment Provider</option>
                  <option value="1">Main Provider</option>
                </select>
              </div>
            </div>
            <div fxFlex="calc(49% - 10px)" fxFlex.md="calc(49% - 10px)" fxFlex.sm="calc(49% - 10px)" fxFlex.xs="100">
              <div class="sa-form-group sa-group">
                <label>Recall Rate
                  <div class="info-button">
                    <div class="info-icon-container">
                      <img [tooltip]="this.constants.tipCustomisationsRecallRate" src="../assets/images/info-icon.png"
                        alt="info-icon" class="info-icon" />
                    </div>
                  </div>
                </label>

                <select [formControl]="form.controls['recall_rate_default']" [(ngModel)]="recall_rate_default">
                  <option value="0">Status Code</option>
                  <option value="1">Default</option>
                </select>
              </div>
            </div>


          </div>
        </div>
      </div>
      <div class="sa-form-group-btn">
        <button class="save-button" type="submit" [disabled]="!form.valid">
          Save
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-expansion-panel>