<!--div fxLayout="row wrap" class="header_filters" >

        <div fxFlex.lg="48" fxFlex.xs="100" fxFlex="48" class="header_first_select">

              <div class="vertical_center_header_content">

                  <div class="sa_mat_select_topbar">

                    <mat-form-field>
                    
                            <mat-select class="external_clinic"  [value] ="selectedClinic" [(ngModel)]="selectedClinic" (ngModelChange)="loadClinicid($event)">
                                
                                <mat-option *ngFor="let clinicData of clinicsData" [value]="clinicData.id">
                               
                                    {{clinicData.clinicName}}

                                </mat-option>

                            </mat-select>

                        </mat-form-field>

                  </div>
              </div>
          </div>
       </div-->
