<!-- ============================================================== -->
<!-- Card Grid-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
              <mat-card-title>In-office Payment Plans | {{patientname | titlecase}} <button class="sa-pull-right mat-raised-button mat-gray"  (click) = "goBack()">Back</button>&nbsp;<button class="sa-pull-right mat-raised-button mat-gray mr-15" mat-raised-button (click)="openDialog()" >Add More Plan</button></mat-card-title>
               <!-- ============================================================== -->
                <!-- column -->
                <!-- ============================================================== -->
             
                <div fxLayout="row wrap">
                    <!-- Card column -->
                    <div fxFlex.gt-sm="100%" fxFlex="100" class="sa_mattabs_design sa_matforms_design">

                            <mat-tab-group dynamicHeight>
                         
                        <!-- Plan Details tab -->
                              <mat-tab label=" Payment Plans/History">
                               
                                   
                         <ngx-datatable #table class='material responsive-datatable' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                  [rowHeight]="'auto'" [limit]="10" [rows]='rows'>
                             <!--ngx-datatable-column prop="sr" name="sr">
                               <ng-template let-column="column" ngx-datatable-header-template>
                              <span>Id</span>
                            </ng-template>
                              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                <span>
                                  {{rowIndex + 1}}
                                </span>
                              </ng-template>
                            </ngx-datatable-column-->
                            <ngx-datatable-column prop="plan_name" name="plan_name">
                               <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
                              <span (click)="sort()">Plan Name</span>
                            </ng-template>
                              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                                <span >
                                  {{value}}
                                </span>
                                    </ng-template>
                            </ngx-datatable-column>
                      
                             <ngx-datatable-column prop="start_date" name="start_date">
                               <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
                              <span (click)="sort()">Start Date</span>
                            </ng-template>
                              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                                <span >
                                    {{value | date: 'dd-MM-yyyy'}}
                                </span>
                               
                              </ng-template>
                            </ngx-datatable-column>
                      
                            <ngx-datatable-column prop="total_amount" name="total_amount">
                              <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
                             <span (click)="sort()">Amount</span>
                           </ng-template>
                             <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                               <span >
                                 $ {{value}}
                               </span>
                              
                             </ng-template>
                           </ngx-datatable-column>

                           <ngx-datatable-column prop="amount_paid" name="amount_paid">
                            <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
                           <span (click)="sort()">Paid</span>
                         </ng-template>
                           <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                             <span >
                              $ {{value}}
                             </span>
                            
                           </ng-template>
                         </ngx-datatable-column>
                      
                         <ngx-datatable-column prop="amount_balance" name="amount_balance">
                          <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
                         <span (click)="sort()">Balance</span>
                       </ng-template>
                         <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                           <span >
                            $ {{value}}
                           </span>
                          
                         </ng-template>
                       </ngx-datatable-column>
                    
                       <ngx-datatable-column prop="patient_status" name="patient_status">

                        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
                       <span (click)="sort()">Patient Status</span>
                     </ng-template>
                       <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                         <span >
                           {{value}}
                         </span>
                        
                       </ng-template>
                     </ngx-datatable-column>
                        

                     <ngx-datatable-column name="id">
                      <ng-template let-column="column" ngx-datatable-header-template>
                     <span>Actions</span>
                   </ng-template>
                     <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value" style="width:266px!important;">
                       <a class="action_btn golden" title= 'Patients Details' (click) = "invoiceDialog()"><i class="ti-eye  m-r-10"></i></a>
                       <button class="action_btn danger" mat-menu-item (click) = "deleteInofficeMembersPlan(rowIndex)">
                      <i class="ti-trash text-danger m-r-10"></i></button>
                     </ng-template>
                   </ngx-datatable-column>

                  </ngx-datatable>

                            </mat-tab>

                      <!-- Contract Upload tab -->
                                <mat-tab label="Contract Upload">
                             
                                  <form *ngIf="form" [formGroup]="form" class="basic-form" (ngSubmit)="onSubmit()">
                                    <div class="bd_UpoadImage" fxFlex.gt-md="100" fxFlex="100">
                                        <label>Upload Agreement</label><br>
                                        <div class="upload-btn">
                                            <span>Choose file</span>
                                            <input class="" type="file" placeholder="" name= "file" id="file" (change)="uploadImage($event.target.files)">
                                            <input type='hidden'  placeholder="" id="imageURL" >
                                        </div>
                                                          
                                     </div>
                               
                                   <p>
                                      <button mat-raised-button color="dc">Save</button>
                                   </p>
                                   </form>
                                  <p *ngIf="contract_url; ">
                                    Download Agreement
                                    <a mat-raised-button class="contractupload" color="accent" target="_blank" href="{{contract_url}}">Download</a>
                                </p>
                                </mat-tab>


                            </mat-tab-group>
                       </div>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
</div>
 