@import '../../../../../../assets/layout/styles/layout/mixin';

.prod-per-clinic-pie-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  @include respond-from('big-desktop') {
    max-height: 320px;
  }

  @include respond-to('big-desktop') {
    max-height: auto;
  }
}
