<div class="inner-pages">
  <header id="header" class="sa-ste">
         <div class="container-fluid sa-cf">
            <nav class="navbar navbar-expand-lg navbar-light navbar-main">
               <a class="navbar-brand logo" href="#">
              <img class="d-none d-md-block logo-color" src="../../assets/images/home/logo.png" alt="logo"> 
              <img class="d-block d-md-none logo-white" src="../../assets/images/home/logo-white.png" alt="logo white"> 
            </a>
               <button class="navbar-toggler navbar-toggler-mob" type="button" onclick="openNav()">
                  <div class="openMenu"> <span class="navbar-toggler-line line-first"></span> <span class="navbar-toggler-line line-second"></span> <span class="navbar-toggler-line line-third"></span></div>
               </button>
               <div id="myNav" class="overlay menu">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                  <div class="overlay-content">
                     <ul class="navbar-nav navbar-nav-main ml-auto">
                       <li class="nav-item"> <a class="nav-link" href="/subscription">Subscription</a> </li>
                      <li class="nav-item active"> <a class="nav-link" href="/xero">Xero Integration</a> </li>
                        <li class="nav-item active"> <a class="nav-link" href="/support">Support</a> </li>
                      <li class="nav-item"> <a class="nav-link btn btn-login"  href="/login">Login</a> </li>
                     </ul>
                  </div>
               </div>
            </nav>
         </div>
      </header>
      <section class="xero-plus-jeeve">
         <div class="container">
            <div class="row justify-content-center align-items-center">
            <div class="col-md-9">
               <div class="pull-left sa-col-12">
                    <div class="sa_internal_pages_text">
                     <div class="sa-faq-items-list">
                        <div class="faq-item sa-shadow01">
                           <div class="row">
                              <div class="col-md-12">
                                  <h2>Getting Started</h2>
                              <p>Take full advantage of our Finances dashboard by synchronising your Xero data with Jeeve Analytics. </p>
                              <div class="pull-left sa-col-12">
                                    <img class="btn-img" src="../../assets/images/home/xero.png">
                              </div>
                              <p>To start the sync process, simply click the “Connect to Xero” button located at the top of the Finances dashboard. </p>
                              <p>Xero will ask you to authorise Jeeve Analytics to access your account. Login to your Xero account, select your organisation and click allow access.</p>
                              <p>Once connected, your Xero data will be available for display in your Finance Jeeve Analytics dashboard within 24 hours.</p>
                                <div class="pull-left sa-col-12">
                                    <img class="table-img pull-left" src="../../assets/images/home/connect.png">
                                 </div>
                              <p>Our Xero integration is a one-way synchronisation. We use data from your profit/loss report, expenses and categories to improve your analytics experience and show you how your dental practice is performing compared to industry standards.</p>
                               <p>Our Xero integration is a one-way synchronisation. We use data from your profit/loss report, expenses and categories to improve your analytics experience and show you how your dental practice is performing compared to industry standards.</p>
                               
                              </div>
                           </div>   
                        </div>
                     </div>
                  </div>

                  <div class="inner_page_gray_section sa_internal_pages_text sacol01">
                     <div class="row justify-content-center align-items-center">
                        <div class="col-md-12">
                              <h2>FAQ - Frequently Asked Questions</h2>
                        </div>
                     </div>
                        
                  </div> 
                  <div class="sa_internal_pages_text">
                     <div class="sa-faq-items-list">
                        <div class="faq-item sa-shadow01">
                           <div class="row">
                              <div class="col-md-12">
                                 <a data-toggle="collapse" href="#faq1" class="faq-question collapsed">How do I connect Jeeve Analytics to Xero?<i class="fas fa-caret-down"></i><i class="fas fa-caret-left"></i></a>
                              </div>
                           </div>
                           <div class="row"> 
                              <div class="col-lg-12">
                                 <div id="faq1" class="panel-collapse collapse">
                                    <div class="faq-answer">
                                       <p>
                                         Please see our “Getting Started” section at the top of this page. You will be sync’ing with Xero in no time!
                                       </p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        
                        <div class="faq-item sa-shadow01">
                           <div class="row">
                              <div class="col-md-12">
                                 <a data-toggle="collapse" href="#faq2" class="faq-question collapsed">Why do I need to connect Jeeve Analytics to Xero?<i class="fas fa-caret-down"></i><i class="fas fa-caret-left"></i></a>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-lg-12">
                                 <div id="faq2" class="panel-collapse collapse ">
                                    <div class="faq-answer">
                                       <p>
                                          Jeeve Analytics synchronises information from your profit/loss reports, categories and invoices. We use this information with our custom designed algorithms to give you an overall snapshot of your practice’s health. By integrating with Xero, we can provide accurate analysis of how your practice is really performing. 
                                       </p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        
                        <div class="faq-item sa-shadow01">
                           <div class="row">
                              <div class="col-md-12">
                                 <a data-toggle="collapse" href="#faq3" class="faq-question collapsed">When and how does the Xero data sync occur?<i class="fas fa-caret-down"></i><i class="fas fa-caret-left"></i></a>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-lg-12">
                                 <div id="faq3" class="panel-collapse collapse ">
                                    <div class="faq-answer">
                                       <p>
                                          Data synchronisation from Xero will occur once daily. This happens automatically in the background – you do not need to do anything to synchronise your Xero data with Jeeve Analytics.
                                       </p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        
                        <div class="faq-item sa-shadow01">
                           <div class="row">
                              <div class="col-md-12">
                                 <a data-toggle="collapse" href="#faq4" class="faq-question collapsed">My Xero data isn’t updating – what should I do? <i class="fas fa-caret-down"></i><i class="fas fa-caret-left"></i></a>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-lg-12">
                                 <div id="faq4" class="panel-collapse collapse ">
                                    <div class="faq-answer">
                                       <p>
                                          If you are experiencing an issue with your Xero data, please contact the Jeeve Analytics support team.
                                       </p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        
                        <div class="faq-item sa-shadow01">
                           <div class="row">
                              <div class="col-md-12">
                                 <a data-toggle="collapse" href="#faq5" class="faq-question collapsed">How do I disconnect from Xero?<i class="fas fa-caret-down"></i><i class="fas fa-caret-left"></i></a>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-lg-12">
                                 <div id="faq5" class="panel-collapse collapse ">
                                    <div class="faq-answer">
                                       <p>
                                          You can disconnect from Xero by selecting “Clinics” on the left hand menu, then selecting ‘settings’ on the clinic you would like to disconnect. Click the “Disconnect from Xero” button. Note that by doing this we will be unable to synchronise your data from Xero and some Jeeve Analytics charts will be unavailable.
                                       </p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                  </div>
               </div>
            </div>
         </div>
         </div>
      </section>
    
      <!-- Return to Top -->
      <footer>
         <div class="container">
            <div class="footerLogo"> <img src="../../assets/images/home/footer-logo.png"> </div>
                 <div class="row">
               <div class="col-md-4 col-sm-6">
                  <div class="widget mb-4 mb-md-0">
                     <h6>Navigation</h6>
                     <ul class="nav flex-column primary-hover">
                        <li class="nav-item"><a class="nav-link" href="/subscription">Subscription</a></li>
                        <li class="nav-item"><a class="nav-link" href="/xero">Xero Integration</a></li>
                        <li class="nav-item"><a class="nav-link" href="/faq">FAQ</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div class="widget mb-4 mb-sm-0">
                     <h6>Social</h6>
                     <ul class="nav flex-column primary-hover">
                        <li class="nav-item"><a class="nav-link" href="#">Facebook</a></li>
                        <li class="nav-item"><a class="nav-link" hr  ef="#">Twitter</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Linkedin</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div class="widget bg-grad widget-form mb-4 mb-sm-0">
                     <h6>Newsletter</h6>
                     <div class="form-group mb-0">
                        <input class="form-control" type="email" placeholder="Your Email Address">
                        <p class="mb-3">We will  not disclose your details with others and spam your inbox.</p>
                        <button class="btn btn-main btn-block mb-0">Subcsribe</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="copyright-section text-center">
            <div class="container">© 2018 Jeeve analytics - 2018  All right Reserved</div>
         </div>
      </footer>
   </div>