<div class="chart-container">
  <mat-icon
    [tooltip]="toolTip"
    matTooltipPosition="below"
    color="primary"
    class="help-tip"
    fontIcon="help"></mat-icon>
  <mat-icon
    *ngIf="enableIcon$ | async"
    matTooltipPosition="below"
    color="primary"
    [ngClass]="'table-info-icon' + (showTopValues?' active': '')"
    (click)="toggleShowTopValues()"
    fontIcon="troubleshoot"></mat-icon>
  <div class="chart-title" style="padding: 10px 30px">
    <span> {{chartName$ | async}} </span>
    <img width="35px" height="35px" src="assets/jeeve/images/new-release.png" />
    <!-- <mat-icon fontIcon="fiber_new" style="color:#ffaf33"></mat-icon> -->
  </div>
  <div class="chart-content">
    <div class="canvas-wrapper chart-box">
      <div class="chart-header">
        <button
            *ngFor="let chartName of chartNames"
            (click)="switchChartName(chartName)"
            [ngClass]="{ active: chartName == (chartName$ | async) }">
            {{ chartName }}
          </button>
      </div>
      <div class="chart-gauge prod-by-postcode">
        <spin-loader *ngIf="isLoading$ | async; else chartElem"></spin-loader>
        <ng-template #chartElem>
          <canvas
            *ngIf="!(isLoading$ | async) && hasData"
            baseChart
            [datasets]="datasets"
            [labels]="labels"
            [legend]="legend$ | async"
            [type]="chartType$ | async"
            [options]="chartOptions$ | async">
          </canvas>
          <spin-loader
            class="empty-placeholder"
            *ngIf="!hasData"
            [disableSpin]="true">
            You have no data in the selected period
          </spin-loader>
        </ng-template>
      </div>
      <div></div>
    </div>
  </div>
</div>
