<!-- ============================================================== -->
<!-- Grid-->
<!-- ============================================================== -->


<div class="sa_dashboard_inner_content">
   <div class="">
<div class="sa_dentist_graphs_area sa_health_screen_area">    
    <div class="heading_section" style="padding:0; width:100%;">
  <div fxLayout="row wrap" fxLayoutGap="1%">
         <div fxFlex.lg="38" fxFlex.md="38" fxFlex.sm="100" fxFlex.xs="100" fxFlex="38" >
            <div class="dashboard_title2" style="margin-top:12px; "><i class="fas fa-user-tie"></i>&nbsp;&nbsp;Membership Plans</div>
         </div>
         <div fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="100" fxFlex.xs="100" fxFlex="20"  >
             <div class="custom_date2">
                 <mat-form-field>
                  <input matInput [matDatepicker]="dp" [formControl]="date">
                  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                   <mat-datepicker #dp
                     startView="multi-year" startView="year"
                     (yearSelected)="chosenYearHandler($event)"
                     (monthSelected)="chosenMonthHandler($event, dp)"
                     panelClass="example-month-picker">
                   </mat-datepicker>
                    </mat-form-field>
                </div>
             </div>
               <div fxFlex.lg="18" fxFlex.md="18" fxFlex.sm="100" fxFlex.xs="100" fxFlex="18"  >

              </div>
               
              <div fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="100" fxFlex.xs="100" fxFlex="20"  >
                 <div class="sa_mat_select_topbar sa_pull-right" style="margin-top:12px; margin-bottom:20px;">

                    <mat-form-field>
                            <mat-select class="external_clinic"  [value] ="selectedClinic" [(ngModel)]="selectedClinic" (ngModelChange)="loadClinicid($event)">
                                
                                <mat-option *ngFor="let clinicData of clinicsData" [value]="clinicData.id">
                               
                                    {{clinicData.clinicName}}

                                </mat-option>

                            </mat-select>

                        </mat-form-field>

                  </div> 
              </div>

                </div>
 </div>
    <div fxLayout="row wrap" >
      <div fxFlex.lg="70" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="70" >
          <div class="sa_flexbg sa_designbg" style="width:auto;">
        <mat-card  class="dentistProduction sa_no_tabs_area">
          <mat-card-content class="sa_matcard_content">
              <div class="sa_grid_ico">
                  <i class="fas fa-users"></i>
              </div>
              <div class="sa_grid_text">
                  <span class="grid_title">{{totalMembers}}</span>
                  <span class="grid_title2">Total Active Members</span>
              </div>
          </mat-card-content>
        </mat-card>
       <mat-card  class="dentistProduction sa_no_tabs_area">
          <mat-card-content class="sa_matcard_content">

              <div class="sa_grid_ico">
                  <i class="fas fa-user-plus"></i>
              </div>
              <div class="sa_grid_text">
                  <span class="grid_title">{{newMembersThisMonth}}</span>
                  <span class="grid_title2">New Members {{selectedMonthYear}}</span>
              </div>
          </mat-card-content>
        </mat-card>
          </div>

            <div class="sa_flexbg sa_designbg" style="width:auto;">
              <mat-card  class="dentistProduction sa_no_tabs_area">
                  <mat-card-content class="sa_matcard_content">
                      <div class="sa_grid_ico">
                          <i class="fas fa-dollar-sign"></i>
                      </div>
                      <div class="sa_grid_text">
                          <span class="grid_title">${{totalFees| number:'1.0-2'}}</span>
                          <span class="grid_title2">Total Fees Collected</span>
                      </div>
                  </mat-card-content>
              </mat-card>
              <mat-card class="dentistProduction sa_no_tabs_area">
                  <mat-card-content class="sa_matcard_content">
                      <div class="sa_grid_ico">
                          <i class="fas fa-coins"></i>
                      </div>
                      <div class="sa_grid_text">
                          <span class="grid_title">${{totalFeesThisMonth| number:'1.0-2'}}</span>
                          <span class="grid_title2">Fees Collected {{selectedMonthYear}}</span>
                      </div>
                  </mat-card-content>
              </mat-card>

          </div>

  </div>

    <div fxFlex.lg="30" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="30" class="sa_flexbg sa_invitation" style="margin-right:0;">
        <mat-card  class="dentistProduction sa_no_tabs_area">
          <mat-card-content class="sa_matcard_content">
            <div fxLayout="row wrap" >
                <div fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="100" >
                        <div class="sa_graph_text">
                            <div class="invitation_title_area">
                                <div class="sa_grid_ico"><i class="fas fa-envelope"></i></div>
                                <span>Total Invites Sent  {{conversionRateActive+conversionRateInactive}}</span>
                            </div>
                            <!--span class="graph_title">Invitation</span-->
                            <div class="graph_values">
                               <span class="graph_text"> <span class="graph_clr" style="background:#00A289"></span>{{conversionRateActive}} Accepted </span>
                            </div>
                            <div class="graph_values">
                               <span class="graph_text"> <span class="graph_clr" style="background:#003858"></span>{{conversionRateInactive}} Pending </span>
                            </div>
                            <div class="graph_lastline" style="margin-bottom:30px;">
                                <span class="graph_text"><b>Conversion Rate : {{conversionPercentage| number:'1.0-0'}} % </b></span>
                            </div>
                        </div>
                </div>
                <div fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="100" >

                  <div style="height: 250px">
                    <canvas #myCanvas baseChart class="chart"
                    [data]="conversionRateData"
                      [labels]="conversionRateLabels"
                      [legend]="false"
                      [options]="doughnutChartOptions"
                      [chartType]="doughnutChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)" [colors]="doughnutChartColors"></canvas>
                    </div>
                </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
</div>
<div fxLayout="row wrap" >
    <div fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="100" >
        <div class="dashboard_title2"><i class="fas fa-dollar-sign"></i>&nbsp;&nbsp;Payment Plans</div>
    </div>
    <div fxFlex.lg="39" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="39" class="sa_flexbg sa_designbg v2">
        <mat-card  class="dentistProduction sa_no_tabs_area">
            <mat-card-content class="sa_matcard_content">
                <div class="sa_grid_ico2">
                    <i class="fas fa-tags"></i>
                </div>
                <div class="sa_grid_text">
                    <span class="grid_titlem">{{totalPlans}}</span>
                    <span class="grid_title2">Total Active Plans</span>
                </div>
            </mat-card-content>
        </mat-card>
            <mat-card  class="dentistProduction sa_no_tabs_area">
                <mat-card-content class="sa_matcard_content">
                    <div class="sa_grid_ico2">
                        <i class="fas fa-tags"></i>
                    </div>
                    <div class="sa_grid_text">
                        <span class="grid_titlem">{{newPlansThisMonth}}</span>
                        <span class="grid_title2">New Plans {{selectedMonthYear}}</span>
                    </div>
                </mat-card-content>
            </mat-card>
     </div>
     <div fxFlex.lg="39" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="39" class="sa_flexbg sa_designbg v2" >
            <mat-card  class="dentistProduction sa_no_tabs_area">
                <mat-card-content class="sa_matcard_content">
                    <div class="sa_grid_ico2">
                        <i class="fas fa-dollar-sign"></i>
                    </div>
                    <div class="sa_grid_text">
                        <span class="grid_titlem">${{totalFeesInoffice}}</span>
                        <span class="grid_title2">Total Fees Collected</span>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card  class="dentistProduction sa_no_tabs_area">
                <mat-card-content class="sa_matcard_content">
                    <div class="sa_grid_ico2">
                        <i class="fas fa-coins"></i>
                    </div>
                    <div class="sa_grid_text">
                        <span class="grid_titlem">${{totalFeesInofficeMonth}}</span>
                        <span class="grid_title2">Fees Collected {{selectedMonthYear}}</span>
                    </div>
                </mat-card-content>
            </mat-card>
     </div>     
     <div fxFlex.lg="20" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="20" class="sa_flexbg sa_designbg v2 single-mat-card" style="margin-right:0;">
            <mat-card  class="dentistProduction sa_no_tabs_area">
                <mat-card-content class="sa_matcard_content">
                    <div class="sa_grid_ico2">
                        <i class="fas fa-tags"></i>
                    </div>
                    <div class="sa_grid_text">
                        <span class="grid_titlem">{{totalPlansOverdue}}</span>
                        <span class="grid_title2">Overdue Plans</span>
                    </div>
                </mat-card-content>
            </mat-card>
     </div>
</div>
</div>
</div> 