<!-- ============================================================== -->
<!-- Grid-->
<!-- ============================================================== -->
<!-- <div fxLayout="row wrap">
    <div class="sa_heading_bar">
        <div fxFlex.gt-sm="85" fxFlex.gt-xs="100" fxFlex="100" class="">
            <h4><span class="page_title">Clinician Procedures &#38; Referrals</span></h4>
        </div>
        <app-headerright class="app-headerright"></app-headerright>

        <div fxFlex.gt-sm="18" fxFlex.gt-xs="100" fxFlex="100" class="">
            <div class="vertical_center_header_content">
                <div class="sa_select_outer">
                    <select class="sa_select"  [(ngModel)]="selectedDentist" (ngModelChange)="loadDentist($event)">
                        <option value ="all">All Dentist( {{dentistCount}} )</option>
                        <option *ngFor="let dentist of dentists" [value]="dentist.providerId"> {{dentist.name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="sa_dashboard_inner_content">
   <div class="sa_card gridshadow">
    <div fxLayout="row wrap">

        <div fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="100">
             <div class="sa_tabs_design">
              <div class="custom_date">
              <input class="filter_custom filter sa_datepicker" id='sa_datepicker' value="" (click)="filterDate('custom')" />
              <ngx-daterangepicker-material (rangeClicked)="rangeClicked($event)" class="customRange"  id="customRange" (choosedDate)="choosedDate($event)" [style.display]="'none'"></ngx-daterangepicker-material></div>
            </div>
        </div>
  </div>
</div>

<div class="sa_dentist_graphs_area sa_health_screen_area">
  <div fxLayout="row wrap" >
  <div fxFlex.lg="32" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="32" class="sa_flexbg sa_designbg">
    <mat-card  class="dentistProduction sa_no_tabs_area">
      <mat-card-content class="sa_matcard_content">
       
          <mat-card-title class="text-center">Total Members (active)
          </mat-card-title>
         <span>{{totalMembers}}</span>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.lg="32" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="32" class="sa_flexbg sa_designbg">

    <mat-card  class="dentistProduction sa_no_tabs_area">
      <mat-card-content class="sa_matcard_content">
       
          <mat-card-title class="text-center">New Members this month
          </mat-card-title>
          <span>{{newMembersThisMonth}}</span>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.lg="33" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="33" class="sa_flexbg sa_designbg">

    <mat-card  class="dentistProduction sa_no_tabs_area">
      <mat-card-content class="sa_matcard_content">
       
          <mat-card-title class="text-center">Total Fees Collected
          </mat-card-title>
          <span>${{totalFees}}</span>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div fxLayout="row wrap" >
  <div fxFlex.lg="24" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="24" class="sa_flexbg">

    <mat-card  class="dentistProduction sa_no_tabs_area">
      <mat-card-content class="sa_matcard_content">
       
          <mat-card-title class="text-center">Fees Collected this month
          </mat-card-title>
          <span>${{totalFeesThisMonth}}</span>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.lg="24" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="24" class="sa_flexbg">

    <mat-card  class="dentistProduction sa_no_tabs_area">
      <mat-card-content class="sa_matcard_content">
       
          <mat-card-title class="text-center">Conversion Rate (invites sent vs accepted as percentage)
          </mat-card-title>
          <span>{{conversionRate}}</span>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.lg="24" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="24" class="sa_flexbg">

     <mat-card  class="dentistProduction sa_no_tabs_area">
      <mat-card-content class="sa_matcard_content">
       
          <mat-card-title class="text-center">Total Plans (active)</mat-card-title>
          <span>{{totalPlans}}</span>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.lg="24" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="24" class="sa_flexbg">

     <mat-card  class="dentistProduction sa_no_tabs_area">
      <mat-card-content class="sa_matcard_content">
       
          <mat-card-title class="text-center">New Plans this month</mat-card-title>
          <span>{{newPlansThisMonth}}</span>
      </mat-card-content>
    </mat-card>
  </div>

</div>
<div fxLayout="row wrap" >
  
  <div fxFlex.lg="32" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="32" class="sa_flexbg">

    <mat-card  class="dentistProduction sa_no_tabs_area">
      <mat-card-content class="sa_matcard_content">
       
          <mat-card-title class="text-center">Total Fees Collected</mat-card-title>
          <span>${{totalFeesInoffice}}</span>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.lg="32" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="32" class="sa_flexbg">

    <mat-card  class="dentistProduction sa_no_tabs_area">
      <mat-card-content class="sa_matcard_content">
       
          <mat-card-title class="text-center">Fees Collected this month</mat-card-title>
          <span>${{totalFeesInofficeMonth}}</span>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.lg="33" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="33" class="sa_flexbg">

    <mat-card  class="dentistProduction sa_no_tabs_area">
      <mat-card-content class="sa_matcard_content">
       
          <mat-card-title class="text-center">Overdue Plans</mat-card-title>
          <span>{{totalPlansOverdue}}</span>
      </mat-card-content>
    </mat-card>
  </div>

</div>

</div>
</div> 