<div class="chart-container">
  <mat-icon
    [tooltip]="toolTip"
    matTooltipPosition="below"
    color="primary"
    class="help-tip"
    fontIcon="help"></mat-icon>
  <div class="chart-title">
    <span> Conversion Predictor Ratio </span>
  </div>
  <div class="chart-content">
    <div class="canvas-wrapper chart-box">
      <div class="active-toggle">
        <button
          mat-flat-button
          *ngIf="
            (visibility$ | async) === 'indirect to large direct fillings';
            else elem1
          "
          (click)="setVisibility('indirect to large direct fillings')"
          color="primary">
          {{
            (isLargeOrSmall$ | async)
              ? 'Indirect to Large Direct'
              : 'Indirect to Large Direct Fillings'
          }}
        </button>
        <ng-template #elem1>
          <button
            mat-stroked-button
            (click)="setVisibility('indirect to large direct fillings')">
            {{
              (isLargeOrSmall$ | async)
                ? 'Indirect to Large Direct'
                : 'Indirect to Large Direct Fillings'
            }}
          </button>
        </ng-template>

        <button
          (click)="setVisibility('rct to extraction')"
          *ngIf="(visibility$ | async) === 'rct to extraction'; else elem2"
          color="primary"
          mat-flat-button>
          RCT to Extraction
        </button>
        <ng-template #elem2>
          <button
            (click)="setVisibility('rct to extraction')"
            mat-stroked-button>
            RCT to Extraction
          </button>
        </ng-template>

        <button
          (click)="setVisibility('rct conversion')"
          *ngIf="(visibility$ | async) === 'rct conversion'; else elem3"
          color="primary"
          mat-flat-button>
          RCT Conversion
        </button>
        <ng-template #elem3>
          <button (click)="setVisibility('rct conversion')" mat-stroked-button>
            RCT Conversion
          </button>
        </ng-template>
      </div>
      <div class="chart-gauge predictor-ratio-gauge">
        <spin-loader
          *ngIf="isLoading$ | async; else chartElem"
          [disableSpin]="false"></spin-loader>
        <ng-template #chartElem>
          <canvas
            *ngIf="!(isLoading$ | async) && hasData"
            baseChart
            [datasets]="datasets"
            [labels]="labels"
            [legend]="true"
            type="bar"
            [options]="chartOptions$ | async">
          </canvas>
          <spin-loader
            class="empty-placeholder"
            *ngIf="!hasData"
            [disableSpin]="true">
            {{ noDataAlertMessage$ | async }}
          </spin-loader>
        </ng-template>
      </div>
      <div class="chart-foot" *ngIf="!(isTrend$ | async)">
        <div *ngIf="!(isMultipleClinic$ | async); else otherEl">
          <h3>{{ predictorRatioValue }}</h3>
          <span>{{ durationLabel$ | async }} Average</span>
        </div>
        <ng-template #otherEl>
          <div>
            <h3>{{ multifulRatio }}</h3>
            <span>{{ durationLabel$ | async }} Average</span>
          </div>
        </ng-template>
        <div *ngIf="(duration$ | async) !== 'custom'">
          <h3>
            {{ predictorRatioPrev }}
          </h3>
          <span>{{ durationTrendLabel$ | async }} Average</span>
        </div>
      </div>
    </div>
  </div>
</div>
