.predictor-ratio-gauge {
  min-height: 420px;
}

.active-toggle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  button {
      height: 28px !important;
      width: 44%;
      font-size: 12px;
      font-weight: 400;
      font-family: Gilroy-Regular;
  }
}

