@import '../../assets/layout/styles/layout/mixin';
.setup-card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 35px;
  padding: 35px 25px;
  // background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><polygon points="50,0 100,50 50,100 0,50" fill="%23009688"/></svg>'); // SVG background
  // background-size: cover; // Ensure the SVG covers the entire div
  .setup-card {
    padding: 15px;
    .setup-card-header {
      justify-content: center;
    }
    .setup-card-title {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 700;
      text-align: center;
    }
    .setup-card-subtitle {
      font-size: 1rem;
      font-weight: 400;
      text-align: center;
      padding: 10px 0;
    }
    .clinics-table {
      border: 1px solid rgb(229 231 235);
      border-radius: 0.5rem;
      padding-top: 10px;
      padding-bottom: 10px;
      .mat-column-name {
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.25rem;
      }
    }
    table {
      width: 100%;
      .chip-success {
        background-color: aquamarine;
        color: white;
      }
      .chip-pending {
        background-color: lightpink;
        color: white;
      }
      .chip-warn {
        // background-color: navajowhite;
        color: white;
      }
    }
    .setup-card-actions {
      margin-top: 25px;
      display: flex;
      justify-content: right;
      button {
        font-size: 1rem;
        font-weight: 700;
      }
    }
  }

  .setup-card-box {
    flex: 3;
    display: flex;
    justify-content: center;
  }

  .bg img {
    // max-width: 400px;
  }

  .bg {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include respond-from('mid-desktop') {
      display: none;
    }
  }
}
