<div class="dashboard-header-box">
  <date-range-menu class="date-range-container"></date-range-menu>
</div>
<div *ngIf="(clinicId$ | async) !== null" class="dashboard-content-box">
  <fuGetConversion
    [toolTip]="getChartTip(57) | async"
    class="chart-33"></fuGetConversion>
  <fuGetFollowupCompletion
    [toolTip]="getChartTip(59) | async"
    class="chart-33"></fuGetFollowupCompletion>
  <fuGetOutcome
    [toolTip]="getChartTip(56) | async"
    class="chart-33"></fuGetOutcome>
  <fuGetConversionPerUser
    [toolTip]="getChartTip(58) | async"
    class="chart-50"></fuGetConversionPerUser>
  <fuGetPerUser
    [toolTip]="getChartTip(55) | async"
    class="chart-50"></fuGetPerUser>
</div>
