.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 90%;
}
.selectTipCon{
  width: 250px !important;
}
.selectTipCon .mat-select-value {
    max-width: 250px;
    width: 100%;
}
.selectTipCon .mat-select-arrow-wrapper {
    display: none !important;
}
.hideTip {
  display: none;
}