<!-- ============================================================== -->
<!-- Card Grid-->
<!-- ============================================================== -->
<div class="sa_dentist_graphs_area sa_profile_setting">
   <mat-card >
      <div fxLayout="row wrap" class="sa_forms_design" fxLayoutGap="2%">
         <!-- Card column -->
         <div fxFlex.gt-xs="49" fxFlex="100" >
            <mat-card-content >
               <div class="basic_details_form">
                  <div fxLayout="row wrap">
                     <div fxFlex.gt-sm="100%" fxFlex="100" >
                        <form [formGroup]="formSettings"  (ngSubmit)="onSubmitBasic()">
                        <div fxLayout="row wrap" fxLayoutGap="2%">
                           <div fxFlex.gt-md="190px" fxFlex="100" class="">
                              <div fxLayout="row wrap" class="sa-image_upload_area bd_UpoadImage" >
                                 <div class="clinic_logo"><img  src="{{imageURL}}"  width="150" height="150" *ngIf="imageURL"><img  src="/assets/images/gPZwCbdS.jpg"  width="150" height="150" *ngIf="!imageURL"> </div>
                                 <div class="bd_UpoadImage" fxFlex.gt-md="100" fxFlex="100">
                                    <div class="upload-btn" style="background:#18a689; color:#fff; border-radius:4px; font-weight:500;">
                                       <span>Choose file</span>
                                       <input class="" type="file" placeholder="" name= "file" id="file" (change)="uploadImage($event.target.files)"  accept=".png, .jpg, .jpeg,.gif">
                                       <input type='hidden'  placeholder="" id="imageURL" [(ngModel)]= "imageURL" [ngModelOptions]="{standalone: true}">
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div fxFlex>
                              <mat-card-title>Basic Details</mat-card-title>
                              <!-- column -->
                              <div fxLayout="coloum wrap">
                                 <div fxFlex.gt-md="100" fxFlex="100" class="sa-form-group" style="margin-right:0px!important;">
                                    <label>Display Name</label>
                                    <input formControlName="displayName" placeholder="" id="displayName" [(ngModel)]= "displayName" [formControl]="formSettings.controls['displayName']">
                                    <small *ngIf="formSettings.controls['displayName'].hasError('required') && formSettings.controls['displayName'].touched" class="text-danger support-text">Display Name Is Required.</small>
                                 </div>
                                 <div fxFlex.gt-md="100" fxFlex="100" class="sa-form-group">
                                    <label>Email</label>
                                    <input formControlName="email" placeholder="" id="email" [formControl]="formSettings.controls['email']" [(ngModel)]= "email" [readonly]="true" class="readonly_form">
                                    <small *ngIf="formSettings.controls['email'].hasError('pattern') && formSettings.controls['email'].touched" class="text-danger support-text">Please enter valid email.</small>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div fxLayout="row wrap" fxLayoutGap="20px">
                           <div fxFlex.gt-md="100" fxFlex="100" class="">
                              <mat-card-actions>
                                 <button mat-raised-button class="sa-pull-right " color="dc" type="submit" [disabled]="!formSettings.valid">Submit</button>
                              </mat-card-actions>
                              <!-- column -->
                           </div>
                        </div>
                        <!-- column -->
                        </form>
                            
                     </div>
                  </div>
               </div>
            </mat-card-content>
         </div>
         <div fxFlex.gt-xs="49" fxFlex="100" >
            <mat-card-content style="min-height:100px;">
               <div class="ChangePassword-section">
                  <mat-card-title class="mat-card-title" style="margin:10px 0">Change Password</mat-card-title>
                  <form [formGroup]="form" class="basic-form change-password-form" (ngSubmit)="onSubmitPassword()">
                  <div fxLayout="row wrap">
                     <div class="sa-form-group" fxFlex="100" style="margin-right:0;">
                        <label>Current Password</label>
                        <input  type="password" placeholder="" [formControl]="form.controls['currentPassword']" [(ngModel)]= "currentPassword">
                        <small *ngIf="old_password_error" class="text-danger support-text">Wrong current password .</small>
                     </div>
                  </div>
                  <div fxLayout="row wrap" fxLayoutGap="2%">
                     <!-- column -->
                     <div class="sa-form-group" fxFlex.gt-md="49" fxFlex="100">
                        <label>New Password</label>
                        <input  type="password" placeholder="" [formControl]="form.controls['newPassword']" [(ngModel)]="newPassword">
                        <small *ngIf="form.controls['newPassword'].hasError('required') && form.controls['newPassword'].touched" class="text-danger support-text">You must include password.</small>
                        <small *ngIf="form.controls['newPassword'].hasError('minlength') && form.controls['newPassword'].touched" class="text-danger support-text">Password should contain minimum 10 characters.</small>
                        <small *ngIf="form.controls['newPassword'].hasError('pattern') && !form.controls['newPassword'].hasError('minlength') && form.controls['newPassword'].touched" class="text-danger support-text">Password must contain one lowercase letter,one uppercase letter, alphanumeric and one special character.</small>
                     </div>
                     <div class="sa-form-group" fxFlex.gt-md="49" fxFlex="100">
                        <label>Repeat Password</label>
                        <input  type="password" placeholder="" [formControl]="form.controls['repeatPassword']" [(ngModel)]="repeatPassword">
                        <small *ngIf="confirm_password_error" class="text-danger support-text">{{confirm_password_text}}</small>
                     </div>
                  </div>
                  <div fxLayout="row wrap" fxLayoutGap="20px" style="margin-top:30px;">
                     <div fxFlex.gt-md="100" fxFlex="100" >
                        <small  class="text-success support-text">{{successtext}}</small>
                        <mat-card-actions class="sa-pull-right">
                           <button mat-raised-button color="dc" type="submit" [disabled]="!form.valid">Submit</button>
                        </mat-card-actions>
                     </div>
                  </div>
                  <small *ngIf="errorLogin" class="text-danger support-text">{{errortext}}</small>
                  
                  <!-- column -->
                  </form>  
               </div>
            </mat-card-content>
         </div>
      </div>
   </mat-card>
   
   <!--mat-card>
      <div fxLayout="column"  class="sa_forms_design payment_full_info" fxLayoutGap="2%">
         <div fxFlex.gt-sm="100%" fxFlex="100" >
			 <mat-card-title class="mat-card-title text-center" style="margin:10px 0"> Upload your default contract </mat-card-title>
            <mat-card-content fxLayout.lt-lg="column" style="min-height:100px;">
			   
				<div fxFlex.gt-sm="100" fxFlex.gt-sm="100" fxFlex="100" class="cart_button text-center" >
                  <div class="button_contractor">
					 <button class="mat-raised-button mat-gray upload_buttons" mat-raised-button (click)="openDialog()"> Upload default contract</button>
                  </div>
               </div>
            </mat-card-content>
         </div>
      </div>
   </mat-card-->
   
   
   
   <mat-card >
      <div fxLayout="column"  class="sa_forms_design payment_full_info" fxLayoutGap="2%">
         <div fxFlex.gt-sm="100%" fxFlex="100" >
			 <mat-card-title class="mat-card-title text-center" style="margin:10px 0">Update Card Details</mat-card-title>
            <mat-card-content fxLayout.lt-lg="column" style="min-height:100px;">
				
				<div fxFlex.gt-sm="35" fxFlex="100" class="update_card_sec " >  
                 <div  class="last_payment_sec">
					 <div class="detail_last_payment" >
						<strong><i class="fas fa-exclamation-triangle"></i> Failed Invoice ID :</strong> in_1GlTreEuY4RZrUtgmfEuAp5y					</div>
					<div class="detail_last_payment">
						<strong><i class="far fa-credit-card"></i> Current Card :</strong> xxxx-xxxx-xxxx-{{last4}}</div>
					</div>
               </div>
			   
				<div fxFlex.gt-sm="30" fxFlex.gt-sm="30" fxFlex="100" class="cart_button text-center" >
                  <div class="sa_payment_left_area">
                     <a (click)="retryPayment()" class="btn-round mat-raised-button mat-dc" *ngIf="last_invoic_id">Retry Payment </a>
                     <span  class="btn-round mat-raised-button mat-dc" *ngIf="!last_invoic_id">No Pending Invoices </span>
                  </div>
               </div>
			   
               
               <div fxFlex.gt-sm="35" fxFlex="100" class="card_fields">
                  <div class="sa_mattabs_design sa_matforms_design sa_payment_form">
                     <div class="iframe_main">
                        <div class="fieldset">
                           <div id="example3-card-number" class="field empty iframe_design"></div>
                           <div class="two_iframe_areas">
                              <div id="example3-card-expiry" class="field empty third-width iframe_design "></div>
                              <div id="example3-card-cvc" class="field empty third-width iframe_design"></div>
                           </div>
                           <div class="fieldset text-center">  
                              <button type="button" mat-raised-button style="margin-top: 15px" class="btn btn-primary mat-dc"  (click) = "buy()">Pay Now</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </mat-card-content>
         </div>
      </div>
   </mat-card>
   
 

</div>