<div class="sa_login_blur" style="filter:blur(20px)!important; position:absolute; width:100%; min-height: 100vh;
display: flex;
background-size: cover;
align-items: center;"></div>

<!-- 
<div class="sa_internal_header">
        <img class="" src="../assets/images/logo-text.png"> 
    </div> -->

<!-- <img class="login_abso_logo" src="../assets/images/logo-text-white.png"> -->
<div class="login-register" style="height:auto; min-height:100vh;  padding:20px; ">

        <mat-card  style="margin:10px auto; max-width:1040px;  width:100%; background:transparent;" >
            <mat-card-content class="gradient_bg">
                <div class="gradient_inner">
                <h4 _ngcontent-c2="" class="spl_headings" style="margin-bottom:20px;">Thank You</h4>
                <!-- ============================================================== -->
                <!-- column -->
                <!-- ============================================================== -->
                    <!-- Card column -->
                    <div fxLayout="row wrap">
                        <div class="sa_blogs_grid">
                            <div class="sa_blogs_inner_text">
                                <div class="email_animation"><img style="width:210px;" src="/assets/images/email.gif"></div>
                                <h2>Thank you for Registering with {{clinicName}}!</h2>
                                <p>We have sent you an email for Confirmation. <br> <br>Your Subscription is now active.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

</div>


