<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Jeeve Analytics</title>
<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="http://localhost/jeeveanalytics/client2/src/assets/styles/bootstrap.min.css">
<link rel="stylesheet" href="http://localhost/jeeveanalytics/client2/src/assets/styles/steps.css">
</head>
<body>
<section>
<div class="container-fluid">
  <div class="row justify-content-center">
  <div id="carouselExampleCaptions" class="carousel slide carousel-dashboard" data-ride="carousel">
    <div class="carousel-inner">
      <a class="btn skip-btn" href="#">Skip</a>
         <div class="carousel-item active clinician-analysis-item">
          
        <div class="image-dash">
        <img src="http://localhost/jeeveanalytics/client2/src/assets/images/dashboard/img1.jpg" class="d-block w-100" alt="Slider"></div>
        <div class="carousel-caption-dash step-one">

          <div class="intro-step-btn greenBg steps">
              <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
              <span class="ripple greenBg"></span>
              <span class="ripple greenBg"></span>
              <span class="ripple greenBg"></span>
              <span class="steps-count">1</span>
          </div>
              <div class="carousel-caption-text">
          <p class="m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        </div>
        <div class="carousel-caption-dash step-two">
          <div class="intro-step-btn greenBg steps">
              <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
              <span class="ripple greenBg"></span>
              <span class="ripple greenBg"></span>
              <span class="ripple greenBg"></span>
              <span class="steps-count">2</span>
          </div>
              <div class="carousel-caption-text">
          <p class="m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>
        </div>
      </div> 
       <div class="carousel-item clinician-analysis-item">
        <div class="image-dash">
        <img src="http://localhost/jeeveanalytics/client2/src/assets/images/dashboard/img1-1.jpg" class="d-block w-100" alt="Slider"></div>
        <div class="carousel-caption-dash step-three">
          <div class="intro-step-btn greenBg steps">
              <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
              <span class="ripple greenBg"></span>
              <span class="ripple greenBg"></span>
              <span class="ripple greenBg"></span>
              <span class="steps-count">3</span>
          </div>
              <div class="carousel-caption-text">
          <p class="m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        </div>
        <div class="carousel-caption-dash step-four">
          <div class="intro-step-btn greenBg steps">
              <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
              <span class="ripple greenBg"></span>
              <span class="ripple greenBg"></span>
              <span class="ripple greenBg"></span>
              <span class="steps-count">4</span>
          </div>
              <div class="carousel-caption-text">
          <p class="m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>
        </div>
      </div> 
       <div class="carousel-item clinic-goals-item">
        <div class="image-dash">
        <img src="http://localhost/jeeveanalytics/client2/src/assets/images/dashboard/img2.jpg" class="d-block w-100" alt="Slider"></div>
        <div class="carousel-caption-dash step-one">
          <div class="intro-step-btn greenBg steps">
              <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
              <span class="ripple greenBg"></span>
              <span class="ripple greenBg"></span>
              <span class="ripple greenBg"></span>
              <span class="steps-count">1</span>
          </div>
              <div class="carousel-caption-text">
          <p class="m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        </div>
        <div class="carousel-caption-dash step-two">
          <div class="intro-step-btn greenBg steps">
              <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
              <span class="ripple greenBg"></span>
              <span class="ripple greenBg"></span>
              <span class="ripple greenBg"></span>
              <span class="steps-count">2</span>
          </div>
              <div class="carousel-caption-text">
          <p class="m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>
        </div>
        <div class="carousel-caption-dash step-three">
          <div class="intro-step-btn greenBg steps">
              <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
              <span class="ripple greenBg"></span>
              <span class="ripple greenBg"></span>
              <span class="ripple greenBg"></span>
              <span class="steps-count">3</span>
          </div>
              <div class="carousel-caption-text">
          <p class="m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
        </div>
        </div>
      </div>  
      <div class="carousel-item data-upload-item">
        <div class="image-dash">
        <img src="http://localhost/jeeveanalytics/client2/src/assets/images/dashboard/data-upload.jpg" class="d-block w-100" alt="Slider"></div>
        <div class="carousel-caption-dash step-one">
          <div class="intro-step-btn greenBg steps">
              <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
              <span class="ripple greenBg"></span>
              <span class="ripple greenBg"></span>
              <span class="ripple greenBg"></span>
              <span class="steps-count">1</span>
          </div>
              <div class="carousel-caption-text">
          <p class="m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        </div>
        <div class="carousel-caption-dash step-two">
          <div class="intro-step-btn greenBg steps">
              <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
              <span class="ripple greenBg"></span>
              <span class="ripple greenBg"></span>
              <span class="ripple greenBg"></span>
              <span class="steps-count">2</span>
          </div>
              <div class="carousel-caption-text">
          <p class="m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>
        </div>
        <div class="carousel-caption-dash step-three">
          <div class="intro-step-btn greenBg steps">
              <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
              <span class="ripple greenBg"></span>
              <span class="ripple greenBg"></span>
              <span class="ripple greenBg"></span>
              <span class="steps-count">3</span>
          </div>
              <div class="carousel-caption-text">
          <p class="m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
        </div>
        </div>
      </div> 
        <div class="carousel-item data-upload-item-two">
        <div class="image-dash">
        <img src="http://localhost/jeeveanalytics/client2/src/assets/images/dashboard/data-upload2.jpg" class="d-block w-100" alt="Slider"></div>
        <div class="carousel-caption-dash step-one">
          <div class="intro-step-btn greenBg steps">
              <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
              <span class="ripple greenBg"></span>
              <span class="ripple greenBg"></span>
              <span class="ripple greenBg"></span>
              <span class="steps-count">4</span>
          </div>
              <div class="carousel-caption-text">
          <p class="m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        </div>
        <div class="carousel-caption-dash step-two">
          <div class="intro-step-btn greenBg steps">
              <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
              <span class="ripple greenBg"></span>
              <span class="ripple greenBg"></span>
              <span class="ripple greenBg"></span>
              <span class="steps-count">5</span>
          </div>
              <div class="carousel-caption-text">
          <p class="m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>
        </div>
      </div>  




    </div>
    <div class="text-center arrow-section">
    <a class="carousel-control-prev-new" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <
    </a>
    <a class="carousel-control-next-new" href="#carouselExampleCaptions" role="button" data-slide="next">
      >
    </a>
  </div>
  </div>
</div>

</div>
</section>


<!-- Optional JavaScript --> 
<!-- jQuery first, then Popper.js, then Bootstrap JS --> 
<script type="text/javascript" src="http://localhost/jeeveanalytics/client2/src/assets/js/jquery-3.1.0.js" ></script> 
<script type="text/javascript" src="http://localhost/jeeveanalytics/client2/src/assets/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="http://localhost/jeeveanalytics/client2/src/assets/js/script.js"></script> 

     
</body>
</html>