<mat-form-field appearance="outline" subscriptSizing="dynamic" [className]="disabled?'input-disabled':''">
    <mat-label *ngIf="!!label">{{label}}</mat-label>
    <mat-select [formControl]="controlData" multiple>
        <!-- Search Box -->
        <mat-option>
            <ngx-mat-select-search [formControl]="searchControl" placeholderLabel="Search..."
                noEntriesFoundLabel="'No results found'"></ngx-mat-select-search>
        </mat-option>
        <!-- Options -->
        <mat-option *ngFor="let item of searchedItems" [value]="item.value">{{item.label ?? item.value}}</mat-option>
    </mat-select>
</mat-form-field>