@import '../../../../../../assets/layout/styles/layout/mixin';
.ca-num-new-patients-chart {
  gap: 15px !important;
}

.ca-num-new-patients-graph {
  max-height: 500px;
  min-height: 350px;
  flex: 1;
  width: 100%;
}
