<div class="chart-container">
    <mat-icon
        [tooltip]="toolTip"
        matTooltipPosition="below"
        color="primary"
        class="help-tip"
        fontIcon="help"
    ></mat-icon>
    <div class="chart-title">
        Expenses
    </div>
    <div class="chart-content">
        <div class="expense-trend-chart">
            <spin-loader *ngIf="isLoading$ | async; else chartElem"></spin-loader>
            <ng-template #chartElem>
                <canvas
                    *ngIf="datasets.length > 0 && datasets[0].data.length > 0 && isConnectedWith$ | async"
                    baseChart
                    [datasets]="datasets"
                    [labels]="labels"
                    [options]="stackedChartOptions"
                    [legend]="false"
                    type="bar"
                >
                </canvas>
                <spin-loader class="empty-placeholder" *ngIf="!(isConnectedWith$ | async)" [disableSpin]="true">
                    Please connect to Xero/MYOB to display this chart
                </spin-loader>
                <spin-loader class="empty-placeholder" *ngIf="!(datasets.length > 0 && datasets[0].data.length > 0) && !(isLoading$ | async)" [disableSpin]="true">
                    You have no data in the selected period
                </spin-loader>                
            </ng-template>
        </div>
    </div>
</div>