<div class="AddUserPopup"> 
<h1 mat-dialog-title>Edit User</h1>
<div mat-dialog-content class="sa_forms_design">
  <div class="sa-form-group">
    <label>Display Name</label>
    <input tabindex="1" [(ngModel)]="data.display_name"  class="mat-form-control" required="true"placeholder="">
  </div>
  <div class="sa-form-group">
    <label>Email</label>
    <input matInput type="email" tabindex="1" [(ngModel)]="data.email"  class="mat-form-control" required="true"placeholder="">
  </div>
  <div class="sa-form-group">
    <label>Select User Type</label>
     <select required="true" class="sa_select mat-form-control" name="user_type" [(ngModel)]="data.user_type" (ngModelChange)="loadDentist($event)">
      <option value ="3">Practice Manager</option>
      <option value ="4">Clinician</option>
      <option value ="5">Staff</option>
   </select> 
</div>
 <div class="sa-form-group">
    <label>Select Clinics</label>
     <mat-select [formControl]="selectedClinics" multiple (openedChange)="clinicSelect($event)">
    <mat-option *ngFor="let clinics of data.clinics" [value]="clinics.id">{{clinics.clinicName}}</mat-option>
  </mat-select>
</div>

<div class="sa-form-group" *ngIf="show_dentist == true">
<div  *ngFor="let clinicProviders of selectedClinicProviders; let i=index">
  <span>{{clinicProviders.clinicName}}</span>
  <span>  
    <select (ngModelChange)="selectedDentist($event,i,clinicProviders.id)" [(ngModel)]="dentist_id" class="sa_select sa_select_set_roles mat-form-control" name="dentist_id" required="true" *ngIf="clinicProviders.dentists.length>0">
      <option *ngFor="let dentist of clinicProviders.dentists" value ="{{dentist.providerId}}">{{dentist.name}}</option>
   </select>
   <span *ngIf="clinicProviders.dentists.length<=0"> No Dentist Found</span>
  </span>
</div>

</div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="save(data)"  tabindex="2" class="mat-raised-button mat-dc">Ok</button>
  <button mat-button (click)="onNoClick()" tabindex="-1" class="mat-raised-button mat-gray">No Thanks</button>
</div>
</div>