<div class="AddUserPopup"> 
<h1 mat-dialog-title>Edit User</h1>
<div mat-dialog-content class="sa_forms_design">
  <div class="sa-form-group">
    <label>Display Name</label>
    <input tabindex="1" [(ngModel)]="userData.display_name"  class="mat-form-control" required="true"placeholder="">
  </div>
  <div class="sa-form-group">
    <label>Select Role</label>
     <select required="true" class="sa_select mat-form-control" name="user_type" [(ngModel)]="userData.user_type" (ngModelChange)="loadDentist($event)">
      <option value ="6" *ngIf="loginUserType == '2' && userData.user_type != '7'">Owner</option>
      <option value ="7" *ngIf=" userData.user_type == '7' ">Consultant</option>
      <option value ="3" *ngIf=" userData.user_type != '7'">Practice Manager</option>
      <option value ="4" *ngIf=" userData.user_type != '7'">Clinician</option>
      <option value ="5" *ngIf=" userData.user_type != '7'">Staff</option>
   </select> 
</div>
 <div class="sa-form-group">
    <label>Select Clinics</label>
     <mat-select #matSelect [formControl]="selectedClinics" multiple (openedChange)="clinicSelect($event)">
    <mat-option *ngFor="let clinics of data.clinics" [value]="clinics.id">{{clinics.clinicName}}</mat-option>
    <button class="mat-raised-button mat-dc float-right addUserSelectClinicBtn" (click)="matSelect.close()">OK</button>
  </mat-select>
</div>

<div class="sa-form-group" *ngIf="show_dentist == true">
<div  *ngFor="let clinicProviders of selectedClinicProviders; let i=index">
  <label>{{clinicProviders.clinicName}}</label>
  <span>  
    <select (change)="selectedDentist($event.target.value,i,clinicProviders.id)" class="sa_select sa_select_set_roles mat-form-control sa_selectDentist" name="dentist_id" required="true" *ngIf="clinicProviders.config_dentists.length>0">
      <option value ="0">Select Dentist</option>
      <option *ngFor="let dentist of clinicProviders.config_dentists" [selected] = " selectedDentistList.includes('clinic'+clinicProviders.id+'-'+dentist.providerId)"  value ="{{dentist.providerId}}">{{dentist.name}}</option>
   </select>
   <span *ngIf="clinicProviders.config_dentists.length<=0"> No Dentist Found</span>
  </span>
</div>

</div>
<div class="sa-form-group" *ngIf="userData.user_type != '7'">
  <mat-checkbox class="example-margin" [checked]="userData.status == 1"  (change)="changeStatus($event.checked)"> {{ userData.status == 1 ? "Active":"Active"}}
    </mat-checkbox>
</div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" tabindex="-1" class="mat-raised-button mat-gray">Cancel</button>
  <button mat-button (click)="save(userData)"  tabindex="2" class="mat-raised-button mat-dc">Ok</button>
</div>
</div>