/*.lds-roller div::after {
    background: black;
}
.spinner {
    position: relative;
    background: none;
}
::ng-deep .mat-select-panel{
    min-width: 100% !important;
}
::ng-deep .cdk-overlay-pane {
    transform: none !important;
}
*/
/*
.user_add .mat-select-arrow {
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
}
*/

.AddUserPopup{
    text-align :left !important;;
}
.AddUserPopup .mat-select-trigger{
    width: 106% !important;
}
.AddUserPopup .mat-select-arrow{
    border: 0px solid !important;
}
.AddUserPopup .sa_select{
    cursor: pointer;
}