
<!-- ============================================================== -->
<!-- Grid-->
<!-- ============================================================== -->
 
  <select class="sa_select internal_dentist"  [(ngModel)]="selectedDentist" (ngModelChange)="loadDentist($event)"  [style.display]="'none'">
                     <option value ="all">All Dentist</option>
                    <option *ngFor="let dentist of dentists" [value]="dentist.providerId"> {{dentist.name}}</option>
                </select> 
                <input type="button" id="dentist_initiate" (click) = "initiate_dentist()"  [style.display]="'none'">
                <input type="text" id="page_title" value="Clinician Procedures & Referrals" [style.display]="'none'">
<div class="sa_dashboard_inner_content">
   <div class="sa_card gridshadow">
    <div fxLayout="row wrap">

      <div fxFlex.lg="68" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="68">
         <div class="sa_tabs_design"><span class="filter_w active filter sa_filter_span" (click)="filterDate('w')">This Week</span><span (click)="filterDate('m')" class="filter_m filter sa_filter_span">This Month</span><span class="filter_q filter sa_filter_span" (click)="filterDate('q')">This Quarter</span><span (click)="filterDate('lq')" class="filter_lq filter sa_filter_span">Last Quarter</span><span (click)="filterDate('cytd')" class="filter_cytd filter sa_filter_span">Current YTD</span><span (click)="filterDate('fytd')" class="filter_fytd filter sa_filter_span">Financial YTD</span>
          <div class="custom_date">
          <input class="filter_custom filter sa_datepicker" id='sa_datepicker' value="" (click)="filterDate('custom')" />
           <ngx-daterangepicker-material (rangeClicked)="rangeClicked($event)" class="customRange"  id="customRange" (choosedDate)="choosedDate($event)" [style.display]="'none'"></ngx-daterangepicker-material></div>
        </div>
      </div>
 <div fxFlex.lg="16" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="16"> 
           <div class="onofftoogle2">
          <span class="trend_mode_title">Target:</span>
              <mat-button-toggle-group #group = "matButtonToggleGroup"  name="fontStyle" class="trendToggle sa_toogle_group2" aria-label="Font Style" >
                  <mat-button-toggle checked value = "off" class = "toggle_off toggle_filter" (click)="goalToggle('off')">
                  <span>Off</span>
               </mat-button-toggle>
               <mat-button-toggle value = "average" class = "toggle_average toggle_filter" (click)="goalToggle('average')">
                  <span>Average</span>
               </mat-button-toggle>
               <mat-button-toggle value = "goal" class = "toggle_goal toggle_filter" (click)="goalToggle('goal')">
                  <span>Goal</span>
               </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
      </div>
     <div fxFlex.lg="16" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="16">
         <div class="onofftoogle">
          <span class="trend_mode_title">Trend Mode:</span>
              <mat-button-toggle-group #group = "matButtonToggleGroup"  name="fontStyle" class="trendToggle sa_toogle_group" aria-label="Font Style" >
               <mat-button-toggle checked value = "off" class = "target_off target_filter" (click)="toggleFilter('off')">
               <span>Off</span>
               </mat-button-toggle>
               <mat-button-toggle value = "current" class = "target_current target_filter" (click)="toggleFilter('current')">
                  <span>Current</span>
               </mat-button-toggle>
               <mat-button-toggle value = "historic" class = "target_historic target_filter" (click)="toggleFilter('historic')">
                  <span>Historic</span>
               </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
      </div>

  </div>
</div>

<div class="sa_dentist_graphs_area">
<div fxLayout="row wrap">
  <div fxFlex.sm="100" fxFlex.xs="100" fxFlex="100" class="sa_flex_transparent">
    {{startDate| date}}- {{endDate| date}}
</div>

  <!-- Column-->
  <div fxFlex.lg="49" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="49" class="sa_flexbg items_predictor md_mrn" >
    <mat-card class="itemsPredictor">
      <mat-card-content class="sa_matcard_content">
        <span *ngIf="showTrend == false" class="referral1Tool referral sa_inc_dec_arrows trend_arrow" matTooltip= "{{trendText}} : {{prevWorkTimeTotal}}"><img class="trend_ico" src="../assets/images/trend_{{prevWorkTimeTooltip}}.png"></span>
        <mat-card-title class="text-center">Utilisation Rate

          <div class="sa_box_title_right_buttons">
               <!--  <button mat-icon-button ><i class="fas fa-expand"></i></button>
                <button mat-icon-button [matMenuTriggerFor]="menu"><i class="fas fa-ellipsis-h"></i></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Save Image</button>
                    <button mat-menu-item>Download PDF</button>
                </mat-menu> -->
            </div>
         
        </mat-card-title>
         <div  style="height: 300px">
        <canvas *ngIf="showTrend == false && workTimeLabels.length > 0" #myCanvas baseChart [datasets]="workTimeData" [labels]="workTimeLabels" [options]="stackedChartOptions" 
          [chartType]="stackedChartType" (chartHover)="chartHovered($event)" [legend]="false" [colors]="predictedChartColors" (chartClick)="chartClicked($event)">
        </canvas>
        <img src='../assets/images/nodata02.png' *ngIf="showTrend == false && workTimeLabels.length <= 0" class="blankChart"> 

         <canvas *ngIf="showTrend == true && wtaChartTrendLabels.length > 0" #myCanvas baseChart [datasets]="wtaChartTrend" [labels]="wtaChartTrendLabels" [options]="stackedChartOptions" 
          [chartType]="stackedChartType" (chartHover)="chartHovered($event)" [legend]="false" [colors]="predictedChartColors" (chartClick)="chartClicked($event)">
        </canvas>
        <img src='../assets/images/nodata02.png' *ngIf="showTrend == true && wtaChartTrendLabels.length <= 0" class="blankChart"> 

      </div>
       <div *ngIf="showTrend == false && workTimeLabels.length > 0" fxLayout="row wrap" class="m-t-40 predicted_main predicted1 sa_chart_details_sec">
                    <div fxFlex.gt-sm="30%" fxFlex.gt-xs="30%" fxFlex="100" class="text-center">
                   <!--    <mat-progress-bar mode="determinate" value="80" color="accent"></mat-progress-bar> -->
                        <h3 class="m-0 font-light">{{workTimeTotal | number }}%</h3>
                        <small>Current average</small>
                    </div>
                    <div fxFlex.gt-sm="30%" fxFlex.gt-xs="30%" fxFlex="100" class="text-center">
            <!--           <mat-progress-bar mode="determinate" value="80" color="accent"></mat-progress-bar> -->
                        <h3 class="m-0 font-light">{{prevWorkTimeTotal | number }}%</h3>
                        <small>Previous Average</small>
                    </div>
                    <div fxFlex.gt-sm="30%" fxFlex.gt-xs="30%" fxFlex="100" class="text-center">
            <!--           <mat-progress-bar mode="determinate" value="80" color="accent"></mat-progress-bar> -->
                        <h3 class="m-0 font-light">{{workTimeGoal | number }}%</h3>
                        <small>Goal</small>
                    </div>
                </div> 
      </mat-card-content>
    </mat-card>
  </div>
 <div fxFlex.lg="50" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="50" class="sa_flexbg referral_clinicians last">
    <mat-card>
      <mat-card-content class="sa_matcard_content"> 
         <span *ngIf="showTrend == false" class="referral1Tool referral sa_inc_dec_arrows trend_arrow" matTooltip= "{{trendText}} : {{ftaPrevTotal}}"><img class="trend_ico" src="../assets/images/trend_{{ftaTooltip}}.png"></span>
        <mat-card-title class="text-center">FTA ratio (%)
            <div class="sa_box_title_right_buttons">
                <!-- <button mat-icon-button ><i class="fas fa-expand"></i></button>
                <button mat-icon-button [matMenuTriggerFor]="menu"><i class="fas fa-ellipsis-h"></i></button>
                <mat-menu #menu="matMenu">
                   <button mat-menu-item>Save Image</button>
                    <button mat-menu-item>Download PDF</button>
                </mat-menu> -->
            </div>  
        </mat-card-title>
          <div class="chart">
          <div *ngIf="showTrend == false && ftaTotal> 0" style="height: 190px">
          <ngx-gauge class="singleRatio" [type]="gaugeType"
           [value]="ftaTotal" 
           [thick]="gaugeThick"  
           [foregroundColor]="foregroundColor"
           [append]="gaugeAppendText"
           [max] = "ftaGoal"
           [cap] ="cap"
           [size] = "size">
          </ngx-gauge>
      </div>
        <img src='../assets/images/nodata02.png' *ngIf="showTrend == false && ftaTotal <= 0" class="blankChart"> 

       <div *ngIf="showTrend == true && ftaChartTrendLabels.length > 0" style="height: 300px">
          <canvas #myCanvas baseChart [datasets]="ftaChartTrend" [labels]="ftaChartTrendLabels" [options]="stackedChartOptions" 
          [chartType]="lineChartType" (chartHover)="chartHovered($event)" [legend]="false" [colors]="predictedChartColors" (chartClick)="chartClicked($event)">
        </canvas>
      </div>

      </div>
          <div *ngIf="showTrend == false && ftaTotal> 0"  fxLayout="row wrap" class="m-t-40 sa_chart_details_sec pieChartDetails">
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">{{ftaTotal | number:'1.0-0'}}%</h3>
                        <small>Current</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">{{ftaPrevTotal | number:'1.0-0'}}%</h3>
                        <small>Previous</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">{{ftaGoal | number:'1.0-0'}}%</h3>
                        <small>Goal</small>
                    </div>
                </div>       
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.lg="49" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="49" class="sa_flexbg referral_clinicians">
    <mat-card>
      <mat-card-content class="sa_matcard_content"> 
         <span *ngIf="showTrend == false" class="referral1Tool referral sa_inc_dec_arrows trend_arrow" matTooltip= "{{trendText}} : {{utaPrevTotal}}"><img class="trend_ico" src="../assets/images/trend_{{utaTooltip}}.png"></span>
        <mat-card-title class="text-center">UTA ratio (%)
            <div class="sa_box_title_right_buttons">
                <!-- <button mat-icon-button ><i class="fas fa-expand"></i></button>
                <button mat-icon-button [matMenuTriggerFor]="menu"><i class="fas fa-ellipsis-h"></i></button>
                <mat-menu #menu="matMenu">
                   <button mat-menu-item>Save Image</button>
                    <button mat-menu-item>Download PDF</button>
                </mat-menu> -->
            </div>  
        </mat-card-title>
          <div class="chart">
          <div *ngIf="showTrend == false && utaTotal>0" style="height: 190px">
          <ngx-gauge class="singleRatio" [type]="gaugeType"
           [value]="utaTotal" 
           [thick]="gaugeThick"  
           [foregroundColor]="foregroundColor"
           [append]="gaugeAppendText"
           [max] = "utaGoal"
           [cap] ="cap"
           [size] = "size">
          </ngx-gauge>
      </div>
        <img src='../assets/images/nodata02.png' *ngIf="showTrend == false && utaTotal <= 0" class="blankChart"> 

       <div *ngIf="showTrend == true && utaChartTrendLabels.length > 0" style="height: 300px">
      <canvas #myCanvas baseChart [datasets]="utaChartTrend" [labels]="utaChartTrendLabels" [options]="stackedChartOptions" 
          [chartType]="lineChartType" (chartHover)="chartHovered($event)" [legend]="false" [colors]="predictedChartColors" (chartClick)="chartClicked($event)">
        </canvas>
      </div>
        <img src='../assets/images/nodata02.png' *ngIf="showTrend == true && utaChartTrendLabels.length <= 0" class="blankChart"> 

      </div>
          <div *ngIf="showTrend == false && utaTotal>0" fxLayout="row wrap" class="m-t-40 sa_chart_details_sec pieChartDetails">
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">{{utaTotal | number:'1.0-0'}}%</h3>
                        <small>Current</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">{{utaPrevTotal | number:'1.0-0'}}%</h3>
                        <small>Previous</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">{{utaGoal | number:'1.0-0'}}%</h3>
                        <small>Goal</small>
                    </div>
                </div>       
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Column--> 
<div fxFlex.lg="49" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="49" class="sa_flexbg referral_clinicians">
    <mat-card>
      <mat-card-content class="sa_matcard_content"> 
         <span *ngIf="showTrend == false" class="referral1Tool referral sa_inc_dec_arrows trend_arrow" matTooltip= "{{trendText}} : {{ticksPrevTotal}}"><img class="trend_ico" src="../assets/images/trend_{{ticksTooltip}}.png"></span>
        <mat-card-title class="text-center">Number of Ticks
            <div class="sa_box_title_right_buttons">

            </div>  
        </mat-card-title>
          <div class="chart">
          <div *ngIf="showTrend == false && ticksTotal>0" style="height: 190px">
          <ngx-gauge class="singleRatio" [type]="gaugeType"
           [value]="ticksTotal" 
           [thick]="gaugeThick"  
           [foregroundColor]="foregroundColor"
           [cap] ="cap"
           [max] = "ticksTotal"
           [size] = "size">
          </ngx-gauge>
      </div>
        <img src='../assets/images/nodata02.png' *ngIf="showTrend == false && ticksTotal<=0" class="blankChart"> 

      <div *ngIf="showTrend == true && tickChartTrendLabels.length > 0" style="height: 300px">
      <canvas #myCanvas baseChart [datasets]="tickChartTrend" [labels]="tickChartTrendLabels" [options]="stackedChartOptionsticks" 
          [chartType]="stackedChartType" (chartHover)="chartHovered($event)" [legend]="false" [colors]="predictedChartColors" (chartClick)="chartClicked($event)">
        </canvas>
      </div>
        <img src='../assets/images/nodata02.png'*ngIf="showTrend == true && tickChartTrendLabels.length <= 0"class="blankChart"> 

      </div>
          <div fxLayout="row wrap" class="m-t-40 sa_chart_details_sec pieChartDetails" *ngIf="showTrend == false && ticksTotal>0">
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">{{ticksTotal | number:'1.0-0'}}</h3>
                        <small>Current</small>
                    </div>
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">{{ticksPrevTotal | number:'1.0-0'}}</h3>
                        <small>Previous</small>
                    </div>
                </div>       
      </mat-card-content>
    </mat-card>
  </div>
  
</div>
</div>
</div><canvas #myCanvas baseChart [style.display]="'none'"></canvas>