.header_filters.frontdesk  { flex-direction: row-reverse !important }

.utiTablecon {
    height: 330px;
    width: 100%;
    overflow: hidden; 
}
table.utiTable {
    width: 100%;
}
table.utiTable tbody {

}
.utiTable thead tr th {
    text-align: left;
    font-size: 13px;
}
.utiTable tbody tr td {
    padding: 5px;
    font-size: 13px;
}

.fa-margin{
    margin-right: 10px;
}
.fa-margin-color{
    margin-right: 10px; color: #1aa591;
}
.chart-utilisation-rate{
    height: 330px; 
    width: 100%;
}
.chart-recall-rate{
    height: 190px;
    width: 100%;
}
.chart-recall-rate-trend{
    height: 300px;
    width: 100%;
}
.chart-utilisation-rate.utigraph{
    height: 285px; 
}