<div class="sa_dashboard_inner_content">
    <div class="sa_first_section">

<mat-tab-group>

	<!-- Dentist Performance Tab --> 	
	<mat-tab label="Dentist Performance">
 		<input type="button" id="clinic_initiate" (click) = "initiate_clinic()"  [style.display]="'none'">
 			<div fxLayout="row wrap" >
				<div fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="50" fxFlex="33" class="sa_flexbg" [ngClass]="">
 					<div class="mat-form-field-infix">
 						<input class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored ng-untouched ng-pristine ng-valid" matinput="" placeholder="" type="number" max="7" min="1" value="1"  id="setPreviousDay">
 					</div>
 				</div>
 				<div fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="50" fxFlex="33" class="sa_flexbg" [ngClass]="">
 					<mat-card-actions class="mat-card-actions">
 						<button  color="primary"  type="submit" class="mat-raised-button mat-primary" (click) = "initiate_clinic()">
 							<span class="mat-button-wrapper">Search</span>
 						</button>
 					</mat-card-actions>
 				</div>
 				<div fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="50" fxFlex="33" class="sa_flexbg" [ngClass]="">
 					<strong> {{ production.date | date: 'fullDate' }} </strong>
 				</div>
 			</div>
		<!-- Top Cards -->
		<div>

			<div class="sa_dentist_graphs_area sa_profit_bar">
				<div fxLayout="row wrap" >
					<div fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="100" fxFlex.xs="100" fxFlex="33" class="sa_flexbg" [ngClass]="">
						<mat-card class="dentistProduction sa_hccard">
							<mat-card-content class="sa_matcard_content">
								<mat-card-title class="">
									<img class="trend_ico" src="../assets/images/trend_up.png" *ngIf="production.goal < production.total" >
									<img class="trend_ico" src="../assets/images/trend_down.png" *ngIf="production.goal > production.total">  
									Production
									<div class="change_value">
										<span class="range_icon" *ngIf="production.goal < production.total">
											<i class="fa fa-plus"></i>
										</span>
										<span class="range_icon" *ngIf="production.goal > production.total">
											<i class="fa fa-minus"></i>
										</span>${{ getdifference(production.total,production.goal) }}
									</div>
								</mat-card-title>
								<div class="ttl_value">${{ production.total}}</div>
								<!-- <div class="ttl_value_left">$ {{ production.goal}}</div> -->
							</mat-card-content>
						</mat-card>
						<div class="graph_image" ></div>
					</div>

					<div fxFlex.lg="32" fxFlex.md="32" fxFlex.sm="100" fxFlex.xs="100" fxFlex="32" class="sa_flexbg" [ngClass]="" >
						<mat-card  class="treatmentPlan sa_hccard">
							<mat-card-content class="sa_matcard_content">
								<mat-card-title class="text-center">
									<img class="trend_ico" src="../assets/images/trend_up.png" *ngIf="recallRate.goal < recallRate.rate">
									 <img class="trend_ico" src="../assets/images/trend_down.png" *ngIf="recallRate.goal > recallRate.rate">
									 Rebook Recall Rate
									<div class="change_value">
										<span class="range_icon" *ngIf="recallRate.goal < recallRate.rate">
											<i class="fa fa-plus"></i>
										</span>
										<span class="range_icon" *ngIf="recallRate.goal > recallRate.rate">
											<i class="fa fa-minus"></i>
										</span>{{ getdifference(recallRate.rate,recallRate.goal) }}%
									</div>
								</mat-card-title>
								<div class="ttl_value">{{ recallRate.rate}}%</div>
								<!-- <div class="ttl_value_left">{{ recallRate.goal}}%</div> -->
							</mat-card-content>
						</mat-card>
						<div class="graph_image" ></div>
					</div>

					<div fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="100" fxFlex.xs="100" fxFlex="33" class="sa_flexbg last"  [ngClass]="">
						<mat-card  class="noPatients sa_hccard">
							<mat-card-content class="sa_matcard_content">
								<mat-card-title class="text-center">
									<img class="trend_ico" src="../assets/images/trend_up.png" *ngIf="treatmentRate.goal < treatmentRate.total">
									<img class="trend_ico" src="../assets/images/trend_down.png" *ngIf="treatmentRate.goal > treatmentRate.total">
									Rebook Treatment Rate
									<div class="change_value">
										<span class="range_icon" *ngIf="treatmentRate.goal < treatmentRate.total">
											<i class="fa fa-plus"></i>
										</span>
										<span class="range_icon" *ngIf="treatmentRate.goal > treatmentRate.total">
											<i class="fa fa-minus"></i>
										</span> {{ getdifference(treatmentRate.total, treatmentRate.goal) }}%
									</div>
								</mat-card-title>
								<div class="ttl_value">{{ treatmentRate.total}}%</div>
							<!-- 	<div class="ttl_value_left">${{ treatmentRate.goal}}</div> -->
							</mat-card-content>
						</mat-card>
						<div class="graph_image" ></div>
					</div>
				</div>                                                                                                        
			</div>
		</div>
		<!-- Top Cards -->

		<!-- Dentist List -->

				


						
				<div class="DentistListSecRow" >
					<table>
						<thead>
							<tr>
								<th>Doctor Name</th>
								<th>Production</th>
								<th>Recall Rate</th>
								<th>Prebook Rate</th>
							</tr>
						</thead>
						<tbody>
						<tr *ngFor="let dentist of dentistList | keyvalue">
							<td>
								<span class="title">{{ getFirstLetter(dentist.value.name) }}</span>									
								<span class="name">{{ dentist.value.name }}</span></td>
							<td>
								<h5>Production</h5>
								<span class="gotMark">${{ dentist.value.production.total}}</span>									
								<span class="goal">Goal: ${{ dentist.value.production.goal}}</span>	</td>
							<td>
								<h5>Recall Rate</h5>
								<span class="gotMark">{{ dentist.value.recall.rate}}%</span>									
								<span class="goal">Goal: {{ dentist.value.recall.goal}}%</span>	
							</td>
							<td>
									<h5>Prebook Rate</h5>
									<span class="gotMark">{{ dentist.value.treatment.total}}%</span>								
									<span class="goal">Goal: {{ dentist.value.treatment.goal}}%</span>	
							</td>
							<td></td>
						</tr>
						</tbody>
					</table>

					<!-- 	<div class="cardsCon"  >
						<mat-card  class="noPatients sa_hccard">
							<mat-card-content class="sa_matcard_content">
								<div class="left">
																		
								</div>
								<div class="right">
									<div>
																						
									</div>
									<div>
										<h5>Recall Rate</h5>
										<span class="gotMark">{{ dentist.value.recall.rate}}%</span>									
										<span class="goal">Goal: {{ dentist.value.recall.goal}}%</span>													
									</div>
									<div>
										<h5>Prebook Rate</h5>
										<span class="gotMark">{{ dentist.value.treatment.total}}%</span>									
										<span class="goal">Goal: {{ dentist.value.treatment.goal}}%</span>													
									</div>
								</div>								
							</mat-card-content>
						</mat-card>
					</div>	 -->						
				</div>	
	
		

	</mat-tab>
	<!-- Dentist Performance Tab -->


	<!-- Dentist Performance Tab --> 	
	<mat-tab label="Patient Schedule">

	</mat-tab>
	<!-- Dentist Performance Tab -->


	<!-- Dentist Performance Tab --> 	
	<mat-tab label="Front Desk">

	</mat-tab>
	<!-- Dentist Performance Tab -->


	<!-- Dentist Performance Tab --> 	
	<mat-tab label="Actions">

	</mat-tab>
	<!-- Dentist Performance Tab -->

</mat-tab-group>

</div></div>