.DentistListSecRow mat-card.noPatients.sa_hccard.mat-card {
    background-color: #fff !important;
    padding: 10px !important;
    float: left;
    width: 95%;
    margin: 8px 8px;
}

.DentistListSecRow .left {
    float: left;
    width: 45%;
    display: block;
}
.DentistListSecRow .right {
    float: left;
    width: 53%;
}
.left span.title {
      width: 65px;
    display: block;
    padding-top: 21px;
    border: 1px solid #18A6B6;
    margin: 4px 0 5px 0;
    border-radius: 52%;
    text-align: center;
    height: 65px;
    background: #18A689;
    color: #fff;
}
.left span.title {
    width: 65px;
    display: block;
    padding-top: 21px;
    border: 1px solid;
    margin: 4px 0 5px 0;
    border-radius: 52%;
    text-align: center;
    height: 65px;
}
.right h5 {
    margin: 10px 0 4px 0;
    font-size: 15px;
    font-weight: 500;
}
span.gotMark {
    width: 100%;
    display: block;
    color: green;
}
span.green_title {
    padding: 4px 10px;
    text-align: center;
    margin: 0;
}
.sa_first_section .mat-tab-body-wrapper {
    padding: 10px 0;
}
.right > div {
    border-bottom: 1px dotted #cecece;
}
.right > div:last-child {
    border-bottom: 0px dotted #cecece;
}

.cardsCon.ng-star-inserted {
    width: 25%;
    float: left;
}

.mat-form-field-infix {
    border-bottom: 1px solid #000;
    width: 100%;
}

.active {
    background-color: #eee;
}

