<div class="sa_dashboard_inner_content morning-huddle">

<mat-tab-group>

	<!-- Dentist Performance Tab --> 	
	<mat-tab label="Dentist Performance">
 		<input type="button" id="clinic_initiate" (click) = "initiate_clinic()"  [style.display]="'none'">
 			<div class="morning-huddle-date">
				 					<mat-form-field>
  <mat-label>Select Date</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
 				
 					<strong> {{ production.date | date: 'fullDate' }} </strong>
 				
 			</div>
		<!-- Top Cards -->
		<div>

			<div class="sa_dentist_graphs_area sa_profit_bar dentist-performance">
				<div fxLayout="row wrap" fxLayoutGap="20px">
					<div fxFlex="calc(33% - 10px)" class="sa_flexbg mh-matcard mh-matcard-down" [ngClass]="">
						<mat-card class="dentistProduction sa_hccard">
							<mat-card-content class="sa_matcard_content">
								<div class="card-icon"><span class="material-icons">room_preferences</span></div>
								<mat-card-title class="">
									 <div class="ttl_value">${{ production.total}}</div>
								<!-- <div class="ttl_value_left">$ {{ production.goal}}</div> -->
									Production
								</mat-card-title>
							</mat-card-content>
						</mat-card>
						<div class="graph_image" >
							<div class="change_value">
										<span class="range_icon" *ngIf="production.goal < production.total">
											<i class="fa fa-plus"></i>
										</span>
										<span class="range_icon" *ngIf="production.goal > production.total">
											<i class="fa fa-minus"></i>
										</span>${{ getdifference(production.total,production.goal) }}
									</div>
							</div>
					</div>

					<div fxFlex="calc(33% - 10px)" class="sa_flexbg mh-matcard mh-matcard-down" [ngClass]="" >
						<mat-card  class="treatmentPlan sa_hccard">
							<mat-card-content class="sa_matcard_content">
								<div class="card-icon"><i class="fab fa-rev"></i></div>
								<mat-card-title class="text-center">
									<div class="ttl_value">{{ recallRate.rate}}%</div>
								<!--	<img class="trend_ico" src="../assets/images/trend_up.png" *ngIf="recallRate.goal < recallRate.rate">
									 <img class="trend_ico" src="../assets/images/trend_down.png" *ngIf="recallRate.goal > recallRate.rate"> -->
									 Rebook Recall Rate
								</mat-card-title>
								<!-- <div class="ttl_value_left">{{ recallRate.goal}}%</div> -->
							</mat-card-content>
						</mat-card>
						<div class="graph_image" >
							<div class="change_value">
										<span class="range_icon" *ngIf="recallRate.goal < recallRate.rate">
											<i class="fa fa-plus"></i>
										</span>
										<span class="range_icon" *ngIf="recallRate.goal > recallRate.rate">
											<i class="fa fa-minus"></i>
										</span>{{ getdifference(recallRate.rate,recallRate.goal) }}%
							</div>
						</div>
					</div>

					<div fxFlex="calc(33% - 10px)" class="sa_flexbg last mh-matcard mh-matcard-up"  [ngClass]="">
						<mat-card  class="noPatients sa_hccard">
							<mat-card-content class="sa_matcard_content">
								<div class="card-icon"><span class="material-icons">medical_services</span></div>
								<mat-card-title class="text-center">
								<div class="ttl_value">{{ treatmentRate.total}}%</div>
									Rebook Treatment Rate
								</mat-card-title>
								
							<!-- 	<div class="ttl_value_left">${{ treatmentRate.goal}}</div> -->
							</mat-card-content>
						</mat-card>
						<div class="graph_image" >
							<div class="change_value">
										<span class="range_icon" *ngIf="treatmentRate.goal < treatmentRate.total">
											<i class="fa fa-plus"></i>
										</span>
										<span class="range_icon" *ngIf="treatmentRate.goal > treatmentRate.total">
											<i class="fa fa-minus"></i>
										</span> {{ getdifference(treatmentRate.total, treatmentRate.goal) }}%
							</div>
						</div>
					</div>
				</div>                                                                                                        
			</div>
		</div>
		<!-- Top Cards -->

		<!-- Dentist List -->

<div class="DentistListSecRow mh-table">
<table mat-table [dataSource]="dentistList" class="mat-elevation-z8">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="production">
    <th mat-header-cell *matHeaderCellDef> Production Total </th>
    <td mat-cell *matCellDef="let element"> ${{element.production.total}} 
    <span class="goal">Goal: ${{ element.production.goal}}</span> </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="recall">
    <th mat-header-cell *matHeaderCellDef> Recall Rate </th>
    <td mat-cell *matCellDef="let element"> {{element.recall.rate}}% 
    <span class="goal">Goal: ${{ element.recall.goal}}</span>
</td>
  </ng-container>
 <ng-container matColumnDef="treatment">
    <th mat-header-cell *matHeaderCellDef> Recall Rate </th>
    <td mat-cell *matCellDef="let element"> {{element.treatment.total}}%
    <span class="goal">Goal: ${{ element.treatment.goal}}</span>
     </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>








					<!-- <table class="table">
						<thead>
							<tr>
								<th>Doctor Name</th>
								<th>Production</th>
								<th>Recall Rate</th>
								<th>Prebook Rate</th>
							</tr>
						</thead>
						<tbody>
						<tr *ngFor="let dentist of dentistList | keyvalue">
							<td>
								<span class="title">{{ getFirstLetter(dentist.value.name) }}</span>									
								<span class="name">{{ dentist.value.name }}</span></td>
							<td>
								<span class="gotMark">${{ dentist.value.production.total}}</span>									
								<span class="goal">Goal: ${{ dentist.value.production.goal}}</span>	</td>
							<td>
								<span class="gotMark">{{ dentist.value.recall.rate}}%</span>									
								<span class="goal">Goal: {{ dentist.value.recall.goal}}%</span>	
							</td>
							<td>
									<span class="gotMark">{{ dentist.value.treatment.total}}%</span>								
									<span class="goal">Goal: {{ dentist.value.treatment.goal}}%</span>	
							</td>
							<td></td>
						</tr>
						</tbody>
					</table>
 -->
					<!-- 	<div class="cardsCon"  >
						<mat-card  class="noPatients sa_hccard">
							<mat-card-content class="sa_matcard_content">
								<div class="left">
																		
								</div>
								<div class="right">
									<div>
																						
									</div>
									<div>
										<h5>Recall Rate</h5>
										<span class="gotMark">{{ dentist.value.recall.rate}}%</span>									
										<span class="goal">Goal: {{ dentist.value.recall.goal}}%</span>													
									</div>
									<div>
										<h5>Prebook Rate</h5>
										<span class="gotMark">{{ dentist.value.treatment.total}}%</span>									
										<span class="goal">Goal: {{ dentist.value.treatment.goal}}%</span>													
									</div>
								</div>								
							</mat-card-content>
						</mat-card>
					</div>	 -->						
				</div>	


	</mat-tab>
	<!-- Dentist Performance Tab -->


	<!-- Dentist Performance Tab --> 	
	<mat-tab label="Patient Schedule">
		Tab 2
	</mat-tab>
	<!-- Dentist Performance Tab -->


	<!-- Dentist Performance Tab --> 	
	<mat-tab label="Front Desk">
		Tab 3
	</mat-tab>
	<!-- Dentist Performance Tab -->


	<!-- Dentist Performance Tab --> 	
	<mat-tab label="Reminders">

Tab 4
	</mat-tab>
	<!-- Dentist Performance Tab -->



	<mat-tab label="Followups">
		Tab 5
	</mat-tab>
	<!-- Dentist Performance Tab -->




</mat-tab-group>


</div>