.w-100 {
  width: 100%;
}

.header_filters.flex_direct_mar { flex-direction: row-reverse !important }
.no-found-data{
  margin: 0 !important;
  max-width: 100%;
  background-size: auto 100%;
  padding: 0;
  height: 100%;
  min-height: 100px;

  p{
    margin: 0;
    position: absolute;
    left: 50%;
    width: 100%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 18px;
  }

}

.hccard-container {
  @media screen and (min-width: 991px) {
    max-width: 340px !important;  
    justify-content: space-between !important;  
  }
}

