<div class="chart-container">
  <mat-icon
    [tooltip]="toolTip"
    matTooltipPosition="below"
    color="primary"
    class="help-tip"
    fontIcon="help"></mat-icon>
  <ng-template [ngIf]="showTopValues" [ngIfElse]="disabledIconBtn">
    <mat-icon
      matTooltipPosition="below"
      color="primary"
      class="table-info-icon"
      (click)="toggleShowTopValues()"
      fontIcon="troubleshoot"></mat-icon>
  </ng-template>
  <ng-template #disabledIconBtn>
    <mat-icon
      matTooltipPosition="below"
      class="table-info-icon"
      (click)="toggleShowTopValues()"
      fontIcon="troubleshoot"></mat-icon>
  </ng-template>
  <div class="chart-title">
    <span> Revenue Per Procedure </span>
  </div>
  <div class="chart-content">
    <div class="canvas-wrapper chart-box">
      <div class="chart-gauge rev-per-procedure-gauge">
        <spin-loader *ngIf="isLoading$ | async; else chartElem"></spin-loader>
        <ng-template #chartElem>
          <canvas
            *ngIf="!(isLoading$ | async) && hasData"
            baseChart
            [datasets]="datasets"
            [labels]="labels"
            [legend]="false"
            type="bar"
            [options]="chartOptions">
          </canvas>
          <spin-loader
            class="empty-placeholder"
            *ngIf="!hasData"
            [disableSpin]="true">
            You have no revenue in the selected period
          </spin-loader>
        </ng-template>
      </div>
    </div>
  </div>
</div>
