<div class="chart-container">
    <mat-icon
        [matTooltip]="toolTip"
        matTooltipPosition="below"
        color="primary"
        class="help-tip"
        fontIcon="help"
    ></mat-icon>
    <div class="chart-title">
        Production Per Visit
    </div>
    <div class="chart-content">
        <div class="prod-per-visit-trend-chart">
            <spin-loader *ngIf="isLoading$ | async; else chartElem"></spin-loader>
                <ng-template #chartElem>
                    <canvas
                        *ngIf="datasets.length > 0 && datasets[0].data.length > 0"
                        baseChart
                        [datasets]="datasets"
                        [labels]="labels"
                        [options]="chartOptions$ | async"
                        [legend]="false"
                        type="line"
                    ></canvas>
                    <spin-loader *ngIf="!(datasets.length > 0 && datasets[0].data.length > 0) && !(isLoading$ | async)" [disableSpin]="true">
                        You have no data in the selected period
                    </spin-loader>
                </ng-template>
        </div>
    </div>
</div>