<div class="sa_login_blur" style="background:url('../../assets/images/background/login-register_60.jpg')!important; background-size:cover!important; filter:blur(20px)!important; position:absolute; width:100%; min-height: 100vh;
display: flex;
background-size: cover;
align-items: center;"></div>
<img class="login_abso_logo" src="../assets/images/logo-text-white.png">
<div class="login-register" style="background-image:url(assets/images/background/login-register.jpg); height:auto; min-height:100vh;  padding:20px; ">

        <mat-card style="margin:10px auto; max-width:1400px;  width:100%;">
            <mat-card-content>
                <h4 _ngcontent-c2="" class="m-t-0">Patient Plan Details</h4>
                <!-- ============================================================== -->
                <!-- column -->
                <!-- ============================================================== -->
                    <!-- Card column -->
                    <div class="sa_mattabs_design sa_matforms_design">
                        <div fxLayout="row wrap" fxLayoutGap="2%">
                        <div fxFlex.gt-sm="35" fxFlex="100" class="">
                        <div class="sa_add_members">
                            <div class="sa_add_members_inner">
                                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                    <h1 mat-dialog-title>Add Member</h1>
                                    <div mat-dialog-content>
                                        <mat-form-field>
                                            <input matInput tabindex="1"  [formControl]="form.controls['name']" placeholder="Name">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <input matInput tabindex="1"  [formControl]="form.controls['age']" placeholder="Age">
                                        </mat-form-field>

                                        <mat-radio-group class="gender"  [formControl]="form.controls['gender']">
                                            <mat-radio-button class="gender" value="male">
                                                Male
                                            </mat-radio-button>
                                            <mat-radio-button class="gender" value="female">
                                                Female
                                            </mat-radio-button>
                                        </mat-radio-group>
                                        <!--  <input type="file" (change)="onChange($event)"> -->
                                    </div>
                                    <div mat-dialog-actions>
                                        <button mat-raised-button color="dc" class="btn-block btn-lg m-t-20 m-b-20" type="submit" [disabled]="!form.valid">Add</button>
                                    </div>
                                </form>
                            </div>

                            <div mat-dialog-actions class="sa_payment_btn">
                                <a (click)="openCheckout()" class="text-info link btn-block btn-lg mat-raised-button">Pay ${{patient_amount}}</a>
                            </div>



                        </div>
                        </div>

                        <div fxFlex.gt-sm="63" fxFlex="100" class="sa_mattabs_design sa_matforms_design">
                            <table class="sa_plan_show">
                                <tr>
                                    <th>Plan</th>
                                    <td>{{plan_name}}</td>
                                </tr>
                                <tr>
                                    <th>No. of Members</th>
                                    <td>{{total_subpatient+1}}</td>
                                </tr>
                                <tr>
                                    <th>Payment Amount</th>
                                    <td>${{patient_amount}}</td>
                                </tr>
                            </table>
                            <ngx-datatable #table class='material responsive-datatable sa_userstable' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                           [rowHeight]="'auto'" [limit]="10" [rows]='rows'>
                                <ngx-datatable-column prop="sr" name="sr">
                                    <ng-template let-column="column" ngx-datatable-header-template>
                                        <span>Id</span>
                                    </ng-template>
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                <span>
                                  {{rowIndex + 1}}
                                </span>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column prop="sub_patients_name" name="sub_patients_name">
                                    <ng-template let-column="column" ngx-datatable-header-template>
                                        <span>Name</span>
                                    </ng-template>
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                                <span >
                                  {{value}}
                                </span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column prop="sub_patients_age" name="sub_patients_age">
                                    <ng-template let-column="column" ngx-datatable-header-template>
                                        <span>Age</span>
                                    </ng-template>
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                                <span >
                                  {{value}}
                                </span>

                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column prop="sub_patients_gender" name="sub_patients_gender">
                                    <ng-template let-column="column" ngx-datatable-header-template>
                                        <span>Gender</span>
                                    </ng-template>
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                               <span >
                                 {{value}}
                               </span>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>



                    </div>

                </div>

            </mat-card-content>
        </mat-card>

</div>


