<!-- ============================================================== -->
<!-- Card Grid-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
               
                <mat-card-title> Patient Plan Details | {{mainpatientname | titlecase}}</mat-card-title>
               <!-- ============================================================== -->
                <!-- column -->
                <!-- ============================================================== -->
                <div fxLayout="row wrap">
                    <!-- Card column -->
                    <div fxFlex.gt-sm="100%" fxFlex="100" class="sa_mattabs_design sa_matforms_design">

                            <mat-tab-group dynamicHeight>
                         
                        <!-- Plan Details tab -->
                              <mat-tab label="Plan Details">
                                <form>                                
                                  <table>
                                      <tr>
                                          <th>Plan</th>
                                          <td>&nbsp;&nbsp;</td>
                                          <td>{{plan_name}}</td>
                                        </tr>
                                        <tr>
                                            <th>No. of Members</th>
                                            <td>&nbsp;&nbsp;</td>
                                            <td>{{total_subpatient}}</td>
                                          </tr>
                                    <tr>
                                      <th>Payment Amount</th>
                                      <td>&nbsp;&nbsp;</td>
                                      <td>${{patient_amount}}</td>
                                    </tr>
                                  
                                    <tr>
                                      <th>&nbsp;</th>
                                     </tr>
                                   </table>
                                </form>

                                   
                         <ngx-datatable #table class='material responsive-datatable' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                  [rowHeight]="'auto'" [limit]="10" [rows]='rows'>
                             <ngx-datatable-column prop="sr" name="sr">
                               <ng-template let-column="column" ngx-datatable-header-template>
                              <span>Id</span>
                            </ng-template>
                              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                <span>
                                  {{rowIndex + 1}}
                                </span>
                              </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="sub_patients_name" name="sub_patients_name">
                               <ng-template let-column="column" ngx-datatable-header-template>
                              <span>Name</span>
                            </ng-template>
                              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                                <span >
                                  {{value}}
                                </span>
                                    </ng-template>
                            </ngx-datatable-column>
                      
                             <ngx-datatable-column prop="sub_patients_age" name="sub_patients_age">
                               <ng-template let-column="column" ngx-datatable-header-template>
                              <span>Age</span>
                            </ng-template>
                              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                                <span >
                                  {{value}}
                                </span>
                               
                              </ng-template>
                            </ngx-datatable-column>
                      
                            <ngx-datatable-column prop="sub_patients_gender" name="sub_patients_gender">
                              <ng-template let-column="column" ngx-datatable-header-template>
                             <span>Gender</span>
                           </ng-template>
                             <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                               <span >
                                 {{value}}
                               </span>
                              
                             </ng-template>
                           </ngx-datatable-column>
                      
                        
                          </ngx-datatable>

                            </mat-tab>

                        <!-- Benefits Used tab -->
                          <mat-tab label="Benefits Used">

                              <ngx-datatable #table class='material responsive-datatable' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                      [rowHeight]="'auto'" [limit]="10" [rows]='benefit'>
                                 <ngx-datatable-column prop="sr" name="sr">
                                   <ng-template let-column="column" ngx-datatable-header-template>
                                  <span>Id</span>
                                </ng-template>
                                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                    <span>
                                      {{rowIndex + 1}}
                                    </span>
                                  </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column prop="treatmentName" name="treatmentName">
                                   <ng-template let-column="column" ngx-datatable-header-template>
                                  <span>Treatment Name</span>
                                </ng-template>
                                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                                    <span >
                                      {{value}}
                                    </span>
                                        </ng-template>
                                </ngx-datatable-column>
                          
                                 <ngx-datatable-column prop="percentage" name="percentage">
                                   <ng-template let-column="column" ngx-datatable-header-template>
                                  <span>Percentage</span>
                                </ng-template>
                                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                                    <span >
                                      {{value}} %
                                    </span>
                                   
                                    <mat-progress-bar mode="determinate" value={{value}}></mat-progress-bar>
                                  </ng-template>
                                </ngx-datatable-column>
                          
                                <ngx-datatable-column prop="percentage" name="percentage">
                                  <ng-template let-column="column" ngx-datatable-header-template>
                                 <span>Status</span>
                               </ng-template>
                                 <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                                   <span *ngIf="value=='100.00'" >
                                    Completed
                                   </span>
                                   <span *ngIf="value!=='100.00'" >
                                    In-Process
                                   </span>
                                  
                                  
                                 </ng-template>
                               </ngx-datatable-column>
                          
                               <ngx-datatable-column prop="performed_date" name="performed_date">
                                <ng-template let-column="column" ngx-datatable-header-template>
                               <span>Completion Date</span>
                             </ng-template>
                               <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                              
                                <span>
                                   {{value | date: 'dd-MM-yyyy'}}
                                 </span>
                                
                               </ng-template>

                             </ngx-datatable-column>
                            
                             <ngx-datatable-column name="id">
                              <ng-template let-column="column" ngx-datatable-header-template>
                             <span>Actions</span>
                           </ng-template>
                             <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value" style="width:266px!important;">
                               <a class="action_btn golden" (click)="openDialog(rowIndex)" title= 'Patients Details'><i class="ti-settings  m-r-10"></i></a>
                               <button class="action_btn danger" mat-menu-item (click) = "deleteBenefitsUsed(rowIndex)">
                              <i class="ti-trash text-danger m-r-10"></i></button>
                             </ng-template>
                           </ngx-datatable-column>

                              </ngx-datatable>
    
                                </mat-tab>

                      <!-- Contract Upload tab -->
                                <mat-tab label="Contract Upload">
                             
                                  <form [formGroup]="form" class="basic-form" (ngSubmit)="onSubmit()">
                                    <div class="bd_UpoadImage" fxFlex.gt-md="100" fxFlex="100">
                                        <label>Upload Agreement</label><br>
                                        <div class="upload-btn">
                                            <span>Choose file</span>
                                            <input class="" type="file" placeholder="" name= "file" id="file" (change)="uploadImage($event.target.files)">
                                            <input type='hidden'  placeholder="" id="imageURL" >
                                        </div>
                                                          
                                     </div>
                               
                                   <p>
                                      <button mat-raised-button color="dc">Save</button>
                                   </p>
                                   </form>
                                  <p *ngIf="contract_url; else empty">
                                    Download Agreement
                                    <a mat-raised-button class="contractupload" color="accent" target="_blank" href="{{contract_url}}">Download</a>
                                </p>
                                </mat-tab>

                    <!-- Payment History tab -->

                          <mat-tab label="Payment History">
                                 
                           <ngx-datatable #table class='material responsive-datatable' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                  [rowHeight]="'auto'" [limit]="10" [rows]='payment'>
                             <ngx-datatable-column prop="sr" name="sr">
                               <ng-template let-column="column" ngx-datatable-header-template>
                              <span>Id</span>
                            </ng-template>
                              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                <span>
                                  {{rowIndex + 1}}
                                </span>
                              </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="customer_id" name="customer_id">
                               <ng-template let-column="column" ngx-datatable-header-template>
                              <span>Customer ID</span>
                            </ng-template>
                              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                                <span >
                                  {{value}}
                                </span>
                                    </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column prop="subscr_id" name="subscr_id">
                              <ng-template let-column="column" ngx-datatable-header-template>
                             <span>Subscriber ID</span>
                           </ng-template>
                             <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                               <span >
                                 {{value}}
                               </span>
                                   </ng-template>
                           </ngx-datatable-column>

                             <ngx-datatable-column prop="invoice_date" name="invoice_date">
                               <ng-template let-column="column" ngx-datatable-header-template>
                              <span>Invoice Date</span>
                            </ng-template>
                              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                                <span >
                                  {{value | date: 'dd-MM-yyyy'}}
                                </span>
                               
                              </ng-template>
                            </ngx-datatable-column>
                      
                            <ngx-datatable-column prop="payment_plan_name" name="payment_plan_name">
                              <ng-template let-column="column" ngx-datatable-header-template>
                             <span>Plan </span>
                           </ng-template>
                             <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                               <span >
                                 {{payment_plan_name}}
                               </span>
                              
                             </ng-template>
                           </ngx-datatable-column>


                            <ngx-datatable-column prop="amount" name="amount">
                              <ng-template let-column="column" ngx-datatable-header-template>
                             <span>Amount</span>
                           </ng-template>
                             <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                               <span >
                                 {{value}}
                               </span>
                              
                             </ng-template>
                           </ngx-datatable-column>
                      

                            <ngx-datatable-column prop="payment_status" name="payment_status">
                              <ng-template let-column="column" ngx-datatable-header-template>
                             <span>Payment Status</span>
                           </ng-template>
                             <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                               <span >
                                 {{value}}
                               </span>
                              
                             </ng-template>
                           </ngx-datatable-column>
                      
                        
                          </ngx-datatable>

                                </mat-tab>

                            </mat-tab-group>
                       </div>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
</div>
 