<!-- ============================================================== -->
<!-- Card Grid-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-card>
            <mat-card-content>

                <mat-card-title> Patient Plan Details | {{mainpatientname | titlecase}}
         <button class="sa-pull-right mat-raised-button mat-gray" (click) = "goBack()">Back</button>
         <button class="sa-pull-right mat-raised-button danger" mat-menu-item (click) = "deletePatients()">Delete</button></mat-card-title>
               <!-- ============================================================== -->
                <!-- column -->
                <!-- ============================================================== -->
                <div fxLayout="row wrap" style="width:100%;">

                    <!-- Card column -->
                    <div fxFlex.gt-sm="100" fxFlex="100" class="sa_mattabs_design sa_matforms_design">

                            <mat-tab-group dynamicHeight>

                        <!-- Plan Details tab -->
                              <mat-tab label="Plan Details">
                                   <div fxLayout="row wrap" class="row-tablePD" fxLayoutGap="2%" >

                                    <div fxFlex.gt-sm="49" fxFlex class="sa_mattabs_design sa_matforms_design sa_table_evenodd">
                                <form>
                                  <table class="green_table">
                                      <tr>
                                          <th>Plan</th>

                                          <td>{{plan_name}}</td>
                                        </tr>
                                        <tr>
                                            <th>No. of Members</th>

                                            <td>{{total_subpatient}}</td>
                                          </tr>
                                          <tr>
                                            <th>Status</th>

                                            <td>{{patient_status}}</td>
                                          </tr>
                                           <tr>
                                            <th>Preventative Appointments</th>

                                            <td>{{preventative_frequency}}</td>
                                          </tr>
                                          <tr>
                                            <th>Amount Paid</th>

                                            <td>$ {{patient_amount}}</td>
                                          </tr>
                                          <tr>
                                            <th>Plan Cost</th>

                                            <td>$ {{totalAmount}}</td>
                                          </tr>
                                          <tr>
                                            <th>Payment Period</th>
                                            <td>{{planLength}}</td>
                                          </tr>
                                   </table>
                                </form>

                                <h3 style="margin-top:0px;" class="sb_title">Plan Members</h3>
                         <ngx-datatable #table class='material responsive-datatable' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rows'>

                            <ngx-datatable-column prop="sub_patients_name" name="sub_patients_name">
                               <ng-template let-column="column" ngx-datatable-header-template>
                              <span>Name</span>
                            </ng-template>
                              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                                <span >
                                  {{value}}
                                </span>
                                    </ng-template>
                            </ngx-datatable-column>

                             <ngx-datatable-column prop="sub_patients_dob" name="sub_patients_dob">
                               <ng-template let-column="column" ngx-datatable-header-template>
                              <span>Date of Birth</span>
                            </ng-template>
                              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                                <span >
                                  {{value| date:'dd-mm-y'}}
                                </span>

                              </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column prop="sub_patients_gender" name="sub_patients_gender">
                              <ng-template let-column="column" ngx-datatable-header-template>
                             <span>Gender</span>
                           </ng-template>
                             <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                               <span >
                                 {{value}}
                               </span>

                             </ng-template>
                           </ngx-datatable-column>
                          </ngx-datatable>
                        </div>



                     <div fxFlex.gt-sm="49" fxFlex class="sa_mattabs_design sa_matforms_design">

                         <input type ="button" value="Log Appointment" class="sa-pull-right mat-raised-button sa-pull-right mat-green" (click)="log_appointment()" *ngIf="preventative_count<preventative_frequency">
                         <div style="color:#fff;" *ngIf="preventative_count>=preventative_frequency" class="sa-pull-right mat-raised-button golden mat-menu-item">All Preventative Appointments have been Used</div>

                         <h3 style="float:left; margin-top:15px; display:block; width:100%;" class="sb_title">Benefits Used</h3>
                         <ngx-datatable #table class='material responsive-datatable appointment_logintable' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                  [rowHeight]="'auto'" [limit]="10" [rows]='rowsAppointments'>
                            <ngx-datatable-column >
                               <ng-template let-column="column" ngx-datatable-header-template>
                              <span>Treatment</span>
                            </ng-template>
                              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                                <span >
                                 Preventative Appointment
                                </span>
                                    </ng-template>
                            </ngx-datatable-column>
                             <ngx-datatable-column prop="completion_date" name="completion_date">
                               <ng-template let-column="column" ngx-datatable-header-template>
                              <span>Completion Date</span>
                            </ng-template>
                              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                                <span >
                                  {{value}}
                                </span>
                              </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column  prop="id" name="id">
                              <ng-template let-column="column" ngx-datatable-header-template>
                              <span>Action</span>
                             </ng-template>
                             <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                               <span class="action_btn danger">
                                <i class="fas fa-times link_btn" (click) ="deleteAppointment(value)"></i>
                               </span>
                             </ng-template>
                           </ngx-datatable-column>
                          </ngx-datatable>
                        </div>
                        </div>
                            </mat-tab>
                        <mat-tab label="Patient Details ">
                        <div fxFlex.gt-sm="100%" fxFlex="100" class="sa_mattabs_design sa_matforms_design">
                                <h1 mat-dialog-title>Update Patient Details</h1>
                        <form [formGroup]="formPatient"  (ngSubmit)="onSubmitPatientDetails()">
                        <div mat-dialog-content class="sa_forms_design">

                          <div fxLayout="row wrap" fxLayoutGap="2%">
                             <div fxFlex.gt-md="49" fxFlex="100" class="sa-form-group">
                               <label>Patient Name</label>
                                    <input tabindex="1" [(ngModel)]="patient_name" [formControl]="formPatient.controls['patient_name']" placeholder=""  class="form-control-dialog" required="true">
                                 <small *ngIf="formPatient.controls['patient_name'].hasError('required') && formPatient.controls['patient_name'].touched" class="text-danger support-text">Patient Name is required.</small>
                             </div>
                             <div fxFlex.gt-md="49" fxFlex="100" class="sa-form-group">
                                  <label>Patient Address</label>
                                   <input tabindex="1" [(ngModel)]="patient_address" [formControl]="formPatient.controls['patient_address']" placeholder="" class="form-control-dialog" required="true">
                                  <small *ngIf="formPatient.controls['patient_address'].hasError('required') && formPatient.controls['patient_address'].touched" class="text-danger support-text">Patient Address is required.</small>
                             </div>
                           </div>

                          <div fxLayout="row wrap" fxLayoutGap="2%">
                             <div fxFlex.gt-md="49" fxFlex="100" class="sa-form-group">
                               <label>Patient Dob</label>
                                   <input tabindex="1" type="date" [(ngModel)]="patient_dob" [formControl]="formPatient.controls['patient_dob']" placeholder="" class="form-control-dialog" required="true">

                                 <small *ngIf="formPatient.controls['patient_dob'].hasError('required') && formPatient.controls['patient_dob'].touched" class="text-danger support-text">Patient DOB is required.</small>
                             </div>
                              <div fxFlex.gt-md="49" fxFlex="100" class="sa-form-group">
                               <label>Gender</label>
                                  <mat-select name ="value" tabindex="1" [(ngModel)]= "patient_gender" [formControl]="formPatient.controls['patient_gender']" class="form-control-dialog" required="true">
                                  <mat-option value="MALE">MALE</mat-option>
                                  <mat-option value="FEMALE">FEMALE</mat-option>
                                  </mat-select>
                                 <small *ngIf="formPatient.controls['patient_gender'].hasError('required') && formPatient.controls['patient_gender'].touched" class="text-danger support-text">Patient Gender is required.</small>
                             </div>
                          <!--    <div fxFlex.gt-md="49" fxFlex="100" class="sa-form-group">
                                  <label>Patient Age</label>
                                  <input tabindex="1" type="number" min="0" [(ngModel)]="patient_age" [formControl]="formPatient.controls['patient_age']" placeholder="" class="form-control-dialog" required="true">

                                  <small *ngIf="formPatient.controls['patient_age'].hasError('required') && formPatient.controls['patient_age'].touched" class="text-danger support-text">Patient Age is required.</small>
                             </div> -->
                           </div>

                          <div fxLayout="row wrap" fxLayoutGap="2%">

                             <div fxFlex.gt-md="49" fxFlex="100" class="sa-form-group">
                                  <label>Phone Number</label>

                                  <input tabindex="1" type="number" min="0" [(ngModel)]="patient_phone_no" [formControl]="formPatient.controls['patient_phone_no']" placeholder="" class="form-control-dialog" oninput="this.value = this.value.slice(0,10);" required="true">

                                  <small *ngIf="formPatient.controls['patient_phone_no'].hasError('required') && formPatient.controls['patient_phone_no'].touched" class="text-danger support-text">Patient Phone No is required.</small>
                             </div>
                              <div fxFlex.gt-md="49" fxFlex="100" class="sa-form-group">
                               <label>Home Phone Number</label>
                                 <input tabindex="1" type="number" min="0" [(ngModel)]="patient_home_phno"  [formControl]="formPatient.controls['patient_home_phno']" placeholder="" class="form-control-dialog" oninput="this.value = this.value.slice(0,10);" required="true">

                                 <small *ngIf="formPatient.controls['patient_home_phno'].hasError('required') && formPatient.controls['patient_home_phno'].touched" class="text-danger support-text">Patient Home No is required.</small>
                             </div>
                           </div>

                          <div fxLayout="row wrap" fxLayoutGap="2%">

                             <div fxFlex.gt-md="49" fxFlex="100" class="sa-form-group">
                                  <label>Status</label>
                                  <mat-select name ="value" tabindex="1" [(ngModel)]= "patient_status" [formControl]="formPatient.controls['patient_status']" class="form-control-dialog" required="true">
                                  <mat-option value="ACTIVE">ACTIVE</mat-option>
                                  <mat-option value="INACTIVE">INACTIVE</mat-option>
                                  </mat-select>
                             </div>
                           </div>

                      </div>
                      <div mat-dialog-actions class="sa-pull-right">
                       <button mat-raised-button color="green" class="m-t-20 " [disabled]="!formPatient.valid" type="submit" >Submit</button>
                      </div>
                    </form>
                        </div>
                            </mat-tab>
                    <!-- Payment History tab -->

                          <mat-tab label="Payment History">
                           <ngx-datatable #table class='material responsive-datatable' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                  [rowHeight]="'auto'" [limit]="10" [rows]='payment'>
                             <ngx-datatable-column prop="sr" name="sr">
                               <ng-template let-column="column" ngx-datatable-header-template>
                              <span>Id</span>
                            </ng-template>
                              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                <span>
                                  {{rowIndex + 1}}
                                </span>
                              </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="customer_id" name="customer_id">
                               <ng-template let-column="column" ngx-datatable-header-template>
                              <span>Customer ID</span>
                            </ng-template>
                              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                                <span >
                                  {{value}}
                                </span>
                                    </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column prop="subscr_id" name="subscr_id">
                              <ng-template let-column="column" ngx-datatable-header-template>
                             <span>Subscriber ID</span>
                           </ng-template>
                             <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                               <span >
                                 {{value}}
                               </span>
                                   </ng-template>
                           </ngx-datatable-column>

                             <ngx-datatable-column prop="invoice_date" name="invoice_date">
                               <ng-template let-column="column" ngx-datatable-header-template>
                              <span>Invoice Date</span>
                            </ng-template>
                              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                                <span >
                                  {{value | date: 'dd-MM-yyyy'}}
                                </span>

                              </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column prop="payment_plan_name" name="payment_plan_name">
                              <ng-template let-column="column" ngx-datatable-header-template>
                             <span>Plan </span>
                           </ng-template>
                             <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                               <span >
                                 {{payment_plan_name}}
                               </span>

                             </ng-template>
                           </ngx-datatable-column>


                            <ngx-datatable-column prop="amount" name="amount">
                              <ng-template let-column="column" ngx-datatable-header-template>
                             <span>Amount</span>
                           </ng-template>
                             <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                               <span >
                                 {{value}}
                               </span>

                             </ng-template>
                           </ngx-datatable-column>


                            <ngx-datatable-column prop="payment_status" name="payment_status">
                              <ng-template let-column="column" ngx-datatable-header-template>
                             <span>Payment Status</span>
                           </ng-template>
                             <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                               <span >
                                 {{value}}
                               </span>
                             </ng-template>
                           </ngx-datatable-column>
                          </ngx-datatable>
                                </mat-tab>
                            </mat-tab-group>
                       </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
