<mat-card class="roles_users">
    <mat-card-content>
        <mat-card-title>Treatments <div class="sa-pull-right"><button class="mat-raised-button mat-gray mr-15" mat-raised-button (click)="openDialog()">Add Treatment</button></div>
        </mat-card-title>

        <mat-form-field>
            <input matInput type='text' class="form-control" placeholder='Type to filter Treatments List...' (keyup)='updateFilter($event)'
            />
        </mat-form-field>
        <ngx-datatable #table class='material responsive-datatable' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
            [rowHeight]="'auto'" [limit]="10" [rows]='rows'>
       <ngx-datatable-column name="Sr">
         <ng-template let-column="column" ngx-datatable-header-template>
        <span>Id</span>
      </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span>
            {{value}}
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="treatmentName">
         <ng-template let-column="column" ngx-datatable-header-template>
        <span>Treatment Name</span>
      </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <span title="Double click to edit" (dblclick)="enableEditing(rowIndex,'treatmentName')" *ngIf="!editing[rowIndex + '-treatmentName']">
            {{value}}
          </span>
          <input autofocus (blur)="updateValue($event, 'treatmentName', rowIndex)" *ngIf="editing[rowIndex+ '-treatmentName']" type="text" [value]="value"
          />
        </ng-template>
      </ngx-datatable-column>
       <!--ngx-datatable-column name="Email">
       
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <span title="Double click to edit" (dblclick)="enableEditing(rowIndex,'email')" *ngIf="!editing[rowIndex + '-email']">
            {{value}}
          </span>
          <input autofocus (blur)="updateValue($event, 'email', rowIndex)" *ngIf="editing[rowIndex+ '-email']" type="text" [value]="value"
          />
        </ng-template>
      </ngx-datatable-column-->
       <ngx-datatable-column name="treatmentStatus">
         <ng-template let-column="column" ngx-datatable-header-template>
        <span>Treatment Status</span>
      </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <span >
            {{value}}
          </span>
          <input autofocus (blur)="updateValue($event, 'contactName', rowIndex)" *ngIf="editing[rowIndex+ '-treatmentStatus']" type="text" [value]="value"
          />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <span>
            {{value| date}}
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="id">
         <ng-template let-column="column" ngx-datatable-header-template>
        <span>Actions</span>
      </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value" style="width:266px!important;">
           
          <a mat-raised-button (click)="openupdateDialog(rowIndex)" data-id={{value}} class="action_btn golden" title= 'Edit Treatment Details'><i class="ti-eye "></i></a>
          <button class="action_btn danger" mat-menu-item (click) = "deleteTreatment(rowIndex)">
         <i class="ti-trash text-danger"></i></button>
        </ng-template>
      </ngx-datatable-column>
        </ngx-datatable>
    </mat-card-content>
</mat-card>