<div class="chart-container">
  <mat-icon
    [tooltip]="toolTip"
    matTooltipPosition="below"
    color="primary"
    class="help-tip"
    fontIcon="help"></mat-icon>
  <div class="chart-title">
    <mat-icon
      *ngif="!(isTrend$ | async)"
      [matTooltip]="
        (durationTrendLabel$ | async) +
        ': ' +
        (totalVisitsPrev | number: '1.0-0')
      "
      [color]="trendingIcon == 'trending_up' ? 'primary' : 'warn'"
      [fontIcon]="trendingIcon"></mat-icon>
    <span> Total Visits </span>
  </div>
  <div class="chart-content">
    <div class="canvas-wrapper chart-box">
      <div class="chart-gauge total-visits-gauge">
        <spin-loader *ngIf="isLoading$ | async; else mainElem"></spin-loader>
        <ng-template #mainElem>
          <ngx-gauge
            *ngIf="
              !(isLoading$ | async) &&
              !(isMultipleClinic$ | async) &&
              (hasData$ | async) &&
              !(isTrend$ | async)
            "
            type="arch"
            [value]="totalVisitsVal"
            [thick]="20"
            foregroundColor="#4ccfae"
            backgroundColor="#f4f0fa"
            cap="round"
            size="250"
            [max]="maxTotalVisitsGoal">
          </ngx-gauge>
          <canvas
            #mkTotalVisits
            *ngIf="
              !(isLoading$ | async) &&
              ((isTrend$ | async) || (isMultipleClinic$ | async)) &&
              (hasData$ | async)
            "
            baseChart
            [datasets]="datasets"
            [labels]="labels"
            [legend]="legend$ | async"
            type="bar"
            [options]="chartOptions$ | async"
            [colors]="lineChartColors">
          </canvas>

          <spin-loader
            class="empty-placeholder"
            *ngIf="!(hasData$ | async)"
            [disableSpin]="true">
            You have no visits in the selected period
          </spin-loader>
        </ng-template>
      </div>
      <div class="chart-foot" *ngIf="!(isTrend$ | async)">
        <div>
          <h3>{{ totalVisitsVal | number: '1.0-0' }}</h3>
          <span>{{ durationLabel$ | async }}</span>
        </div>
        <div>
          <h3>{{ totalVisitsPrev | number: '1.0-0' }}</h3>
          <span>{{ durationTrendLabel$ | async }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
