<section class="agenda-graphs" *ngIf="hasGaugeChart || hasBarChart || hasStackChart || hasError">
    <mat-card>
        <mat-card-title class="header">
             <section class="meeting_card_header_graphs">
                 {{chart_heading}}
                 <span class="chart-date-range"><i class="fas fa-calendar"></i> {{showStartDate}} - {{showEndDate}} </span>
             </section>
         </mat-card-title>
         <hr>
        <mat-card-content >
            <section class="chart">
                <section *ngIf="gaugeGraphsTotal > 0 && hasGaugeChart" class="chart-recall-rate-graphs">
                     <ngx-gauge class="singleRatio" [type]="gaugeType" [value]="gaugeGraphsTotal" [thick]="gaugeThick"
                       [foregroundColor]="foregroundColor" [backgroundColor]="backgroundColor" [cap]="cap"
                       [append]="(item.agenda_chart_id == 25) ? '' : gaugeAppendText" [size]="size">
                     </ngx-gauge>
                </section>
               
                <section *ngIf="productionTotal > 0 && hasBarChart" class="div-pro-coll-show-graphs">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                      [legend]="barChartLegend" [chartType]="'bar'" [options]="barOptions"
                      [colors]="barChartColors">
                    </canvas> 
                </section>
                <section *ngIf="productionTotal > 0 && hasStackChart" class="div-pro-coll-show-graphs">
                  <canvas #myCanvas baseChart [datasets]="perUserData" [labels]="perUserLabels"
                        [options]="stackedChartOptions" [chartType]="'bar'" 
                        [legend]="true" [colors]="IPcolors">
                  </canvas>
                </section>
                <section *ngIf="gaugeGraphsTotal <= 0 && hasGaugeChart || productionTotal <= 0 && hasBarChart || productionTotal <= 0 && hasStackChart || hasError">
                  <section class="sa_nodata_div">
                  </section>
                  <p *ngIf="!hasError" class="chart-placeholder-text">{{noDataText}}</p>
                  <p *ngIf="hasError" class="chart-placeholder-text-error">{{errorText}}</p>
                </section>
            </section>
        </mat-card-content>
        <mat-card-footer>
            <section class="card-footer">
                <section fxLayout="row wrap" fxLayoutAlign="center center" class="m-t-40 sa_chart_details_sec_graphs pieChartDetails">
                  <section *ngIf="hasGaugeChart" fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="text-center">
                    <h3 *ngIf="showNormal" class="m-0 value-num">{{gaugeGraphsTotal | number:'1.0-0'}}</h3>
                    <h3 *ngIf="!showNormal" class="m-0 value-num">{{gaugeGraphsTotal | number:'1.0-0'}}%</h3>
                    <small>Current</small>
                  </section>

                  <section *ngIf="hasBarChart" fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="text-center">
                    <h3 *ngIf="!hasPercentBarChart && item.agenda_chart_id != 55" class="m-0 value-num">${{productionTotal | number:'1.0-0'}}</h3>
                    <h3 *ngIf="hasPercentBarChart && item.agenda_chart_id != 55" class="m-0 value-num">{{productionTotal | number:'1.0-0'}}%</h3>
                    <h3 *ngIf="item.agenda_chart_id == 55" class="m-0 value-num">{{productionTotal | number:'1.0-0'}}</h3>
                    <small *ngIf="item.agenda_chart_id != 55" >Current Average</small>
                    <small *ngIf="item.agenda_chart_id == 55" >Current</small>
                  </section>

                  <section *ngIf="hasStackChart" fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="text-center">
                    <h3 *ngIf="!hasPercentBarChart && !showNormal" class="m-0 value-num">${{productionTotal | number:'1.0-0'}}</h3>
                    <h3 *ngIf="hasPercentBarChart && !showNormal" class="m-0 value-num">{{productionTotal | number:'1.0-0'}}%</h3>
                    <h3 *ngIf="showNormal" class="m-0 value-num">{{productionTotal | number:'1.0-0'}}</h3>
                    <small *ngIf="!showNormal" >Current Average</small>
                    <small *ngIf="showNormal" >Current</small>
                  </section>
                </section>
              </section>
        </mat-card-footer>
    </mat-card>
</section>