.DentistListSecRow td input[readonly] {
  border-color: transparent;
  background-color: transparent;
}

.jeeveProviderIdDrop {
  width: 180px;
}

.info-button {
  display: inline-block;
  padding: 0 6px;
}

.mat-column-chart {
  flex: 0 0 10% !important;
  width: 60% !important;
}

/* .info-icon {
    width: 100% !important;
} */
.mat-column-id {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-configuration {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.dashmargin {
  margin-top: 60px;
}
