.sa_matcard_content .partner-title{
    font-size: 23px !important;
    padding: 10px 0;
}
mat-card-content.exclusive-partner-con{
    text-align: center;
}
.sa_matcard_content .exclusive-partner-title {
    font-size: 30px !important;
    padding: 20px 0 10px;
    flex-flow: column;
}

.top-logo {
    width: 90px;
    height: 60px;
    margin: 15px auto 0;
    border: 1px solid #cecece;
}
.below-partner-con {
    padding: 20px  5px;
    position: relative;
    box-shadow: 2px 3px 5px  #cecece;
}
.top-text {
    font-size: 15px;
    padding: 10px 0px;
    text-align: center;
}

.seprator {
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
}

.below-category {
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
}

.hoover-text-partner {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2c605d;
    top: 0px;
    left: 0;
    opacity: 0.95;
    text-align: justify;
    padding: 20px;
    color: #ffffff;
    cursor: pointer;
    overflow: hidden;
}
.below-partner-con:hover .hoover-text-partner{
    display: block;
}
.below-partner-images {
    border: 1px solid #cecece;
    margin-top: 50px;
}

.mat-card .mat-card-content .partner-con {
    padding: 18% 0 0 10% !important;
}

.margintp-0{
    margin-top: 0px !important;
}
.paddingtp-0{
    padding-top: 0px !important;
}