.lds-roller div::after {
    background: black;
}
.spinner {
    position: relative;
    background: none;
}

.cdk-overlay-container .mat-dialog-container{width:400px!important;  max-width:400px!important; min-width:400px!important;} 

.hide1{
	display:none
}
.hide2{
	display:none
}