<mat-card>
    <mat-card-content>
        <mat-card-title>Patients Listing   <button class="sa-pull-right mat-raised-button sa-pull-right mat-gray" (click) = "goBack()">Back</button><button class="sa-pull-right mat-raised-button mat-gray mr-15" mat-raised-button (click)="openDialog()">Invite New Member</button></mat-card-title>

        <mat-form-field>
            <input matInput type='text' class="form-control" placeholder='Type to filter Patient name...' (keyup)='updateFilter($event)'
            />
        </mat-form-field>
        <ngx-datatable #table class='material responsive-datatable'  [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rows'>
   <a href="abcdtesting">
       <ngx-datatable-column prop="id" name="id">
         <ng-template let-column="column" ngx-datatable-header-template>
        <span>Id</span>
      </ng-template>

        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
     
          <span >
               {{rowIndex+1}}
          </span>
  
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="patient_name" name="patient_name">
         <ng-template let-column="column" ngx-datatable-header-template>
        <span>Patient Name</span>
      </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <span >
            {{value}}
          </span>
              </ng-template>
      </ngx-datatable-column>

</a>
  <ngx-datatable-column prop="planName" name="planName">
         <ng-template let-column="column" ngx-datatable-header-template>
        <span>Plan Name</span>
      </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <span >
            {{value}}
          </span>
              </ng-template>
  </ngx-datatable-column>

<!-- CODE FOR CHANGE PLAN NAME -->

      <!-- <ngx-datatable-column prop="planName" name="planName">
        <ng-template let-column="column" ngx-datatable-header-template>
      <span>Plan Name</span>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
        <span title="Double click to edit" (dblclick)="enableEditing(rowIndex,'planName')" *ngIf="!editing[rowIndex + '-planName']">
          {{value}}
    
        </span>
            <div *ngIf="editing[rowIndex+ '-planName']" >
              <select  (change)="updateValue($event, 'member_plan_id', rowIndex)"  >
                <option *ngFor="let plan of membersplan" [value]="plan.id" [selected]="plan.id == row.member_plan_id ? true : null">{{plan.planName}} </option>
              </select>
            </div>
            
        </ng-template>
      </ngx-datatable-column> -->


  <!--      <ngx-datatable-column prop="patient_address" name="patient_address">
         <ng-template let-column="column" ngx-datatable-header-template>
        <span>Address</span>
      </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <span >
            {{value}}
          </span>
         
        </ng-template>
      </ngx-datatable-column> -->

     <!--  <ngx-datatable-column prop="patient_dob" name="patient_dob">
        <ng-template let-column="column" ngx-datatable-header-template>
       <span>DOB</span>
     </ng-template>
       <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
         <span >
           {{value}}
         </span>
        
       </ng-template>
     </ngx-datatable-column> -->

  
          <ngx-datatable-column prop="patient_age" name="patient_age">
            <ng-template let-column="column" ngx-datatable-header-template>
          <span>Age</span>
        </ng-template>
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            <span >
              {{value}}
            </span>
           
          </ng-template>
        </ngx-datatable-column>


              <ngx-datatable-column prop="patient_gender" name="patient_gender">
                <ng-template let-column="column" ngx-datatable-header-template>
              <span>Gender</span>
            </ng-template>
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                <span >
                  {{value}}
                </span>
                  </ng-template>
            </ngx-datatable-column>


            <ngx-datatable-column prop="patient_email" name="patient_email">
              <ng-template let-column="column" ngx-datatable-header-template>
            <span>Email</span>
            </ng-template>
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
              <span >
                {{value}}
              </span>
              
            </ng-template>
            </ngx-datatable-column>

<!-- 
        <ngx-datatable-column prop="patient_phone_no" name="patient_phone_no">
          <ng-template let-column="column" ngx-datatable-header-template>
        <span>Phone No.</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <span >
            {{value}}
          </span>
         
        </ng-template>
        </ngx-datatable-column> -->

<!-- 
        <ngx-datatable-column prop="patient_home_phno" name="patient_home_phno">
          <ng-template let-column="column" ngx-datatable-header-template>
        <span>Home Phone No.</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <span >
            {{value}}
          </span>
             </ng-template>
        </ngx-datatable-column> -->

      <ngx-datatable-column prop="patient_status" name="patient_status">
        <ng-template let-column="column" ngx-datatable-header-template>
      <span>Subscription Status</span>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
        <!-- <span title="Double click to edit" (dblclick)="enableEditing(rowIndex,'patient_status')" *ngIf="!editing[rowIndex + '-patient_status']"> -->
          {{value}}
        <!-- </span> -->
        <!-- <select id="statusFilter" *ngIf="editing[rowIndex+ '-patient_status']" (change)="updateValue($event, 'patient_status', rowIndex)">
         <option value="ACTIVE" [selected]="row.patient_status =='ACTIVE' ? true : null" >ACTIVE</option>
          <option value="INACTIVE" [selected]="row.patient_status =='INACTIVE' ? true : null">INACTIVE</option>
        </select> -->
       </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column name="id">
         <ng-template let-column="column" ngx-datatable-header-template>
        <span>Actions</span>
      </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value" style="width:266px!important;">
          <a [routerLink]="['/patient-info',value]" class="action_btn golden" title= 'Patients Details'><i class="ti-eye  m-r-10"></i></a>
          <a class="action_btn golden" (click)="openUpdateDialog(value)" title= 'Update Patient'><i class="ti-settings  m-r-10"></i></a>
          <button class="action_btn danger" mat-menu-item (click) = "deletePatients(rowIndex)">
         <i class="ti-trash text-danger m-r-10"></i></button>
        </ng-template>
      </ngx-datatable-column>
      
        </ngx-datatable>
    </mat-card-content>
</mat-card>