
<input type="button" id="clinic_initiate" (click) = "initiate_clinic()"  [style.display]="'none'">
<mat-card>
    <mat-card-content>
      <!--  <div class="warning_message" *ngIf="!connectedStripe">Your stripe account is not connected</div> -->
        <div class="main_title_outer" style="margin-bottom:0;">
            <div class="main_title_withbtn">
                <mat-card-title><span class="main-title">Memberships</span></mat-card-title>
            </div>
            <div class="title_btn" style="margin-bottom:10px;">
                <div fxLayout="row wrap" fxLayoutGap="2%">

                    <div fxFlex.gt-xs="360px" fxFlex="100"  style="text-align:right;" >
                        <button style="margin-bottom:10px;" class="mat-raised-button mat-gray" mat-raised-button (click)="openExportDialog()" *ngIf="clinic_id > 0">Export Payments</button>

                        <button style="margin-bottom:10px;"  class="mat-raised-button mat-green" mat-raised-button (click)="openDialog()" [disabled]="!connectedStripe">Invite New Member </button>
                    </div>
                </div>
            </div>
         </div>
         <div fxLayout="row wrap" fxLayoutGap="2%" fxLayoutGap.xs="" class="top-filter">           
                <div fxFlex="25" fxFlex.sm="49" fxFlex.xs="100">
                        <div class="filter_status">
                            <mat-form-field >
                                <mat-label>Filter by Status</mat-label>
                                <mat-select [(ngModel)]="StatusSelected" (ngModelChange)="statusFilter()">
                                    <mat-option  value="">Select All</mat-option>
                                    <mat-option  value="ACTIVE">Active</mat-option>
                                    <mat-option  value="INACTIVE">Inactive</mat-option>
                                    <mat-option  value="CANCELLED">Cancelled</mat-option>
                                    <mat-option  value="DEFAULTER">Overdue</mat-option>
                                    <mat-option  value="INCOMPLETE">Incomplete</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                  </div>
                  <div fxFlex="25" fxFlex.sm="49" fxFlex.xs="100">
                <mat-form-field>
                    <input matInput type='text' class="form-control" placeholder='Type to filter Patient name...' (keyup)='updateFilter($event)'
                           autocomplete="off"/>
                </mat-form-field>
            </div>
          </div>
          
      <div class="ngx_datatable_scroll_div mat-table">
        <ngx-datatable #table class='material responsive-datatable datatable-middle rdt_1600px'  [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rows'  [reorderable]="true" [messages]="{emptyMessage: 'You have no members',totalMessage: 'total'}">
      <ngx-datatable-column prop="patient_name" name="patient_name">
         <ng-template let-column="column" ngx-datatable-header-template  let-sort="sortFn">
        <span (click)="sort()">Patient Name</span>
      </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <span >
            <span class="datatable_label">Patient Name : </span>{{value}}
          </span>
        </ng-template>
      </ngx-datatable-column>
       <ngx-datatable-column prop="additional_members" name="additional_members" [width] = "250">
         <ng-template let-column="column" ngx-datatable-header-template  let-sort="sortFn">
        <span (click)="sort()">Additional Family Members</span>
      </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <span >
            <span class="datatable_label">Additional Family Members : </span>{{value}}
          </span>
              </ng-template>
      </ngx-datatable-column>
        <ngx-datatable-column prop="planName" name="planName">
        <ng-template let-column="column" ngx-datatable-header-template  let-sort="sortFn">
        <span (click)="sort()">Plan Name</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <span>
            <span class="datatable_label">Plan Name : </span>{{value}}
          </span>
      </ng-template>
      </ngx-datatable-column>
          <ngx-datatable-column prop="patient_dob" name="patient_dob" [sortable]="true">
            <ng-template let-column="column" ngx-datatable-header-template  let-sort="sortFn">
          <span (click)="sort()">Date Of Birth</span>
        </ng-template>
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            <span >
              <span class="datatable_label">Date Of Birth : </span>{{value| date:'dd-MM-y':'UTC +10'}}
            </span>

          </ng-template>
        </ngx-datatable-column>
            <ngx-datatable-column prop="patient_email" name="patient_email" [width] = "220">
              <ng-template let-column="column" ngx-datatable-header-template  let-sort="sortFn">
            <span (click)="sort()">Email</span>
            </ng-template>
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
              <span class="datatableEmail">
                <span class="datatable_label">Email : </span>{{value}}
              </span>
            </ng-template>
            </ngx-datatable-column>
      <ngx-datatable-column  prop="patient_status">
        <ng-template let-column="column" ngx-datatable-header-template let-row="row" let-rowIndex="rowIndex" let-sort="sortFn" let-sortDir="sortDir">
      <span class="subStatus" (click)="sort($event, sortDir, sortFn)">Status</span>

      </ng-template>
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"  let-row="row" let-value="value">

       <span class="datatable_label">Status : </span> 
         <mat-chip-list>
            <mat-chip color="primary" selected *ngIf="value == 'ACTIVE'">{{value}}</mat-chip>
            <mat-chip color="warn" selected *ngIf="value == 'INACTIVE'">{{value}}</mat-chip> 
            <mat-chip color="warn" selected *ngIf="value == 'CANCELLED'">{{value}}</mat-chip> 
            <mat-chip color="warn" selected *ngIf="value == 'DEFAULTER'">OVERDUE</mat-chip> 
            <mat-chip color="warn" selected *ngIf="value == 'INCOMPLETE'">INCOMPLETE</mat-chip> 

         </mat-chip-list>

       </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="id" >
         <ng-template let-column="column" ngx-datatable-header-template  let-sort="sortFn">
        <span (click)="sort()">Actions</span>
      </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value" >
          <a [routerLink]="['/members-details',value]" class="action_btn sa-pull-right patient_detail_edit textonly" title='View Patients Details'  *ngIf="value != ''"> <span class="material-icons">edit</span> </a>
          <a (click) = "change_plan(rows[rowIndex]['id'], rows[rowIndex]['member_plan_id'], rows[rowIndex]['planLength'])" class="action_btn sa-pull-right patient_detail_edit textonly" title='Change Plan'  *ngIf="value != '' && rows[rowIndex]['patient_status'] != 'CANCELLED' && rows[rowIndex]['patient_status'] != 'DEFAULTER'"> <span class="material-icons">description</span> </a>
          <a class="action_btn text-danger sa-pull-right patient_detail_edit textonly" title= 'Delete Patient' (click) = "delete_invite(rows[rowIndex]['invite_id'])" *ngIf="value == ''">  <span class="material-icons">delete</span> </a>
          <a class="action_btn sa-pull-right patient_detail_edit textonly" title= 'Resend Invite' (click) = "resend_invite(rows[rowIndex]['patient_name'],rows[rowIndex]['patient_email'])" *ngIf="value == ''"> <span class="material-icons">restore_page</span></a>
        </ng-template>
      </ngx-datatable-column>
        </ngx-datatable>
    </div>
    </mat-card-content>
</mat-card>