@import '../../../../assets/layout/styles/layout/mixin';

.fd-chart {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: calc(33.3% - 10px);
  // @include respond-from('big-desktop') {
  //   width: calc(33.3% - 10px);
  // }

  @include respond-from('tablet-portrait') {
    width: 100%;
  }
}
