<!-- ============================================================== -->
<!-- Grid-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
  <div class="sa_heading_bar">
      <div fxFlex.gt-sm="85" fxFlex.gt-xs="100" fxFlex="100" class="">
          <h4><span class="page_title">Clinician Procedures &#38; Referrals</span></h4>
       </div>
<div fxFlex.gt-sm="18" fxFlex.gt-xs="100" fxFlex="100" style="margin-right:1%;">
          <div class="vertical_center_header_content">

            <mat-form-field>
                    <mat-select placeholder="Select Clinic">
                        <mat-option *ngFor="let clinicData of clinicsData" [value]="clinicData.id">
                            {{clinicData.clinicName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


          </div>
      </div>

       <div fxFlex.gt-sm="18" fxFlex.gt-xs="100" fxFlex="100" class="">
          <div class="vertical_center_header_content">
            <div class="sa_select_outer">
                <select class="sa_select"  [(ngModel)]="selectedDentist" (ngModelChange)="loadDentist($event)">
                     <option value ="all">All Dentist( {{dentistCount}} )</option>
                    <option *ngFor="let dentist of dentists" [value]="dentist.providerId"> {{dentist.name}}</option>
                </select> 
            </div>
          </div>
       </div>
  </div>
</div>  

<div class="sa_dashboard_inner_content">
   <div class="sa_card gridshadow">
    <div fxLayout="row wrap">
      <div fxFlex.gt-sm="80" fxFlex.gt-xs="100" fxFlex="100">
         <div class="sa_tabs_design"><span class="filter_w active filter" (click)="filterDate('w')">This Week</span><span (click)="filterDate('m')" class="filter_m filter">This Month</span><span class="filter_q filter" (click)="filterDate('q')">This Quarter</span><span (click)="filterDate('lq')" class="filter_lq filter">Last Quarter</span><span (click)="filterDate('cytd')" class="filter_cytd filter">Current YTD</span><span (click)="filterDate('fytd')" class="filter_fytd filter">Financial YTD</span>
          <div class="custom_date">
          <input class="filter_custom filter sa_datepicker" value="" (click)="filterDate('custom')" />
           <ngx-daterangepicker-material (rangeClicked)="rangeClicked($event)" class="customRange" (choosedDate)="choosedDate($event)" [style.display]="'none'"></ngx-daterangepicker-material></div>
        </div>
      </div>

      <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100" class="trend_toggle">
          <mat-button-toggle-group #group = "matButtonToggleGroup"  name="fontStyle" class="trendToggle sa_toogle_group" aria-label="Font Style">
           <mat-button-toggle checked value = "off" class = "target_off" (click)="toggleFilter('off')">
              <span>Off</span>
           </mat-button-toggle>
           <mat-button-toggle value = "current" class = "target_current" (click)="toggleFilter('current')">
              <span>Current</span>
           </mat-button-toggle>
           <mat-button-toggle value = "historic" class = "target_historic" (click)="toggleFilter('historic')">
              <span>Historic</span>
           </mat-button-toggle>
        </mat-button-toggle-group> 
      </div>


      
  </div>
</div>

<div class="sa_dentist_graphs_area">
<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="sa_flex_transparent">
    {{startDate| date}}- {{endDate| date}}
</div>

  <!-- Column-->
  <div fxFlex.gt-sm="65" fxFlex.gt-xs="100" fxFlex="100" class="sa_flexbg items_predictor" >
    <mat-card class="itemsPredictor">
      <mat-card-content class="sa_matcard_content">
        <mat-card-title class="text-center">Items Predictor Analysis 

           <a href="#"><i class="fas fa-ellipsis-h"></i></a>
           <a href="#"><i class="fas fa-expand"></i></a>
         
        </mat-card-title>
         <div  style="height: 300px">
        <canvas #myCanvas baseChart [datasets]="stackedChartData" [labels]="stackedChartLabels" [options]="stackedChartOptions" [legend]="false"
          [chartType]="lineChartType" (chartHover)="chartHovered($event)" [colors]="stackedChartColors" (chartClick)="chartClicked($event)">
        </canvas>
      </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="itemsPredictorSingle" [style.display]="'none'" >
      <mat-card-content>
        <mat-card-title>Items Predictor Analysis </mat-card-title>
          <div class="chart" *ngIf="itemPredictedChartLabels.length > 0">
             <div  style="height: 300px">
        <canvas baseChart [datasets]="itemPredictedChartData" [labels]="itemPredictedChartLabels" [options]="stackedChartOptions" [legend]="false"
          [chartType]="lineChartType" (chartHover)="chartHovered($event)" [colors]="lineChartColors" (chartClick)="chartClicked($event)">
        </canvas>
      </div>
      </div>
      </mat-card-content>
    </mat-card>
  </div>
 <div fxFlex.gt-sm="34" fxFlex.gt-xs="100" fxFlex="100" class="sa_flexbg referral_clinicians last">
    <mat-card>
      <mat-card-content class="sa_matcard_content">
        <mat-card-title class="text-center">Referrals To Other Clinicians

                <a href="#"><i class="fas fa-ellipsis-h"></i></a>
                <a href="#"><i class="fas fa-expand"></i></a>

        </mat-card-title>
         <div fxLayout="row wrap" class="">
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="text-center">
                        <small class="sa_tab_btn Internal active" (click) = "changePieReferral('Internal')">Internal</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="text-center">
                        <small class="sa_tab_btn External" (click) = "changePieReferral('External')">External</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="text-center">
                        <small class="sa_tab_btn Combined" (click) = "changePieReferral('Combined')">Combined</small>
                    </div>
                </div>
          <div class="chart" *ngIf="pieChartLabels.length > 0">
             <div  style="height: 190px">
        <canvas *ngIf="showInternal == true" baseChart [data]="pieChartData1" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"  [options]="pieChartOptions" [colors]="doughnutChartColors">
        </canvas>
         <canvas *ngIf="showExternal == true" baseChart [data]="pieChartData2" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)" [options]="pieChartOptions" [colors]="doughnutChartColors">
        </canvas>
         <canvas *ngIf="showCombined == true" baseChart [data]="pieChartData3" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)" [options]="pieChartOptions" [colors]="doughnutChartColors">
        </canvas>
      </div>
      </div>
          <div fxLayout="row wrap" class="m-t-40">
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">{{pieChartInternalTotal | number:'1.0-0'}}</h3>
                        <small>Internal Ref</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">{{pieChartExternalTotal | number:'1.0-0'}}</h3>
                        <small>External Ref</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">{{pieChartCombinedTotal | number:'1.0-0'}}</h3>
                        <small>Referrals</small>
                    </div>
                </div>       
      </mat-card-content>
    </mat-card>
  </div>
 
  <!-- Column--> 
  <div fxFlex.gt-sm="48" fxFlex.gt-xs="100" fxFlex="100" class="sa_flexbg predictor_ratio">
    <mat-card class="ratioPredictor">
      <mat-card-content class="sa_matcard_content">
        <mat-card-title class="text-center">Predictor Ratio
              <a href="#"><i class="fas fa-ellipsis-h"></i></a>
              <a href="#"><i class="fas fa-expand"></i></a>
          
        </mat-card-title>
         <div  style="height: 350px">
        <canvas baseChart class="chart"
          [datasets]="predictedChartData"
          [labels]="predictedChartLabels"
          [options]="barChartOptions"
          [legend]="stackedChartLegend"
          [chartType]="stackedChartType"
          [colors]="lineChartColors"></canvas>
          </div>
            <div fxLayout="row wrap" class="m-t-40 predicted1">
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
                   <!--    <mat-progress-bar mode="determinate" value="80" color="accent"></mat-progress-bar> -->
                        <h3 class="m-0 font-light">{{predictedTotalAverage1 | number:'1.0-0'}}</h3>
                        <small>Average</small>
                    </div>
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
            <!--           <mat-progress-bar mode="determinate" value="80" color="accent"></mat-progress-bar> -->
                        <h3 class="m-0 font-light">--</h3>
                        <small>Previous Average</small>
                    </div>
                </div> 
            <div fxLayout="row wrap" class="m-t-40 predicted2" [style.display]="'none'">
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">{{predictedTotalAverage2 | number:'1.0-0'}}</h3>
                        <small>Average</small>
                    </div>
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">--</h3>
                        <small>Previous Average</small>
                    </div>
                </div> 
            <div fxLayout="row wrap" class="m-t-40 predicted3" [style.display]="'none'">
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">{{predictedTotalAverage3 | number:'1.0-0'}}</h3>
                        <small>Average</small>
                    </div>
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">--</h3>
                        <small>Previous Average</small>
                    </div>
                </div>             
      </mat-card-content>
    </mat-card>
    <mat-card class="ratioPredictorSingle" [style.display]="'none'" >
      <mat-card-content>
        <mat-card-title class="text-center">Predictor Ratio</mat-card-title>
         <div fxLayout="row wrap" class="">
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <small class="sa_tab_btn active" (click) = "changeDentistPredictor('1')">Crown to Large Filling</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <small class="sa_tab_btn" (click) = "changeDentistPredictor('2')">Extraction to RCT</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <small class="sa_tab_btn" (click) = "changeDentistPredictor('3')">RCT Conversion</small>
                    </div>
                </div>
             <div  style="height: 250px">

        <ngx-gauge [type]="gaugeType"
           [value]="gaugeValuePredicted" 
           [label]="gaugeLabelPredicted"  
           [thick]="gaugeThick"  
           [foregroundColor]="foregroundColor"
           [cap] ="cap"
           [prepend]="gaugePrependText"
           [size] = "size">
          </ngx-gauge>
        </div>
            <div fxLayout="row wrap" class="m-t-40 predicted1">
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">{{predictedDentistTotal | number:'1.0-0'}}</h3>
                        <small>Current</small>
                    </div>
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">--</h3>
                        <small>Previous</small>
                    </div>
                </div>            
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Column-->
  <div fxFlex.gt-sm="51" fxFlex.gt-xs="100" fxFlex="100" class="sa_flexbg last revenue_proceedure">
    <mat-card class="revenueProceedure">
      <mat-card-content class="sa_matcard_content">
        <mat-card-title class="text-center">Total Revenue Per Procedure
           <a href="#"><i class="fas fa-ellipsis-h"></i></a>
           <a href="#"><i class="fas fa-expand"></i></a>
         

        </mat-card-title>
         <div  style="height: 400px">
        <canvas baseChart class="chart"
          [datasets]="proceedureChartData"
          [labels]="proceedureChartLabels"
          [options]="proceedureChartOptions"
          [legend]="false"
          [chartType]="proceedureChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"  [colors]="lineChartColors"></canvas>
        </div>
        
      </mat-card-content>
    </mat-card>
    <mat-card class="revenueProceedureSingle" [style.display]="'none'">
      <mat-card-content>
        <mat-card-title class="text-center">Total Revenue Per Procedure</mat-card-title>
         <div style="height: 250px">
        <canvas baseChart class="chart"
          [datasets]="proceedureDentistChartData"
          [labels]="proceedureDentistChartLabels"
          [options]="proceedureChartOptions"
          [legend]="false"
          [chartType]="proceedureChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"  [colors]="lineChartColors"></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
   
  
</div>
</div>
</div>