
<!-- ============================================================== -->
<!-- Grid-->
<!-- ============================================================== -->
 
  <select class="sa_select internal_dentist"  [(ngModel)]="selectedDentist" (ngModelChange)="loadDentist($event)"  [style.display]="'none'">
                     <option value ="all">All Dentist</option>
                    <option *ngFor="let dentist of dentists" [value]="dentist.providerId"> {{dentist.name}}</option>
                </select> 
                <input type="button" id="dentist_initiate" (click) = "initiate_dentist()"  [style.display]="'none'">
                 <input type="button" id="clinic_initiate" (click) = "initiate_clinic()"  [style.display]="'none'">
                <input type="text" id="page_title" value="Clinician Procedures & Referrals" [style.display]="'none'">
<div class="sa_dashboard_inner_content sa_dentist_graphs_area">
   <div class="sa_card gridshadow">
    <div class="dashboard-top-header" fxLayout="row wrap" fxLayoutGap="0px" fxLayoutGap.md="0" fxLayoutGap.sm="0" fxLayoutGap.xs="0">

      <div fxFlex>
         <div class="sa_tabs_design"> <span class="filter_w active filter sa_filter_span" (click)="filterDate('w')">This Week</span><span (click)="filterDate('m')" class="filter_m filter sa_filter_span">This Month</span><span class="filter_q filter sa_filter_span" (click)="filterDate('q')">This Quarter</span><span (click)="filterDate('lq')" class="filter_lq filter sa_filter_span">Last Quarter</span><span (click)="filterDate('cytd')" class="filter_cytd filter sa_filter_span">Current YTD</span><span (click)="filterDate('fytd')" class="filter_fytd filter sa_filter_span">Financial YTD</span>
              <div class="custom_date">
              <input class="filter_custom filter sa_datepicker" id='sa_datepicker' value="" />
              <ngx-daterangepicker-material  class="customRange"  id="customRange" (choosedDate)="choosedDate($event)" [style.display]="'none'" [locale]="{applyLabel: 'ok', displayFormat: 'DD-MM-YYYY',firstDay: 1}"></ngx-daterangepicker-material></div>
            </div>
      </div>

     <div class="dh-target">
         <div class="onofftoogle" [style.display]="'none'">
          <span class="trend_mode_title">Trend Mode:</span>
              <mat-button-toggle-group #group = "matButtonToggleGroup"  name="fontStyle" class="trendToggle sa_toogle_group" aria-label="Font Style" >
               <mat-button-toggle checked value = "off" class = "target_off target_filter" (click)="toggleFilter('off')">
                  <span>Off</span>
               </mat-button-toggle>
               <mat-button-toggle value = "current" class = "target_current target_filter" (click)="toggleFilter('current')">
                  <span>Current</span>
               </mat-button-toggle>
               <mat-button-toggle value = "historic" class = "target_historic target_filter" (click)="toggleFilter('historic')">
                  <span>Historic</span>
               </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
      </div>

  </div>
</div>

<div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutGap.md="0" fxLayoutGap.sm="0" fxLayoutGap.xs="0">
  <div fxFlex="100" fxFlex.sm="100" fxFlex.xs="100" class="sa_flex_transparent">
    {{startDate}}- {{endDate}}
</div>

  <!-- Column-->
  <div fxFlex="calc(49% - 10px)" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" class="sa_flexbg items_predictor md_mrn" >
    <mat-card class="itemsPredictor sa_no_tabs_area">
      <mat-card-content class="sa_matcard_content">
        <mat-card-title class="text-center">Item Predictor 
          <div class="sa_box_title_right_buttons">
            </div>
        </mat-card-title>
          
<div class="Item_Predictor_clinicianproceedures">
       <div  style="height: 300px" *ngIf="stackedChartDataMax > 0">
        <canvas #myCanvas baseChart [datasets]="stackedChartData" [labels]="stackedChartLabels" [options]="stackedChartOptions" 
          [chartType]="stackedChartType" (chartHover)="chartHovered($event)" [legend]="true" [colors]="IPcolors" (chartClick)="chartClicked($event)">
        </canvas>
       </div>
     </div>
     <div *ngIf="stackedChartDataMax <= 0 && buildChartLoader == false" class="sa_nodata_div">
              <h4>No Data</h4>
              <p></p>
          </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="itemsPredictorSingle sa_no_tabs_area" [style.display]="'none'" >
      <mat-card-content class="sa_matcard_content">

          <mat-card-title class="text-center">Item Predictor

              <div class="sa_box_title_right_buttons">
                            </div>

          </mat-card-title>


          <div class="chart" *ngIf="itemPredictedChartDataMax > 0">
             <div  style="height: 300px">
        <canvas baseChart [datasets]="itemPredictedChartData" [labels]="itemPredictedChartLabels" [options]="stackedChartOptions" [legend]="false"
          [chartType]="lineChartType" (chartHover)="chartHovered($event)" [colors]="stackedChartColors" (chartClick)="chartClicked($event)">
        </canvas>
      </div>
      </div>
      <div *ngIf="itemPredictedChartDataMax <= 0 && buildChartDentistLoader == false" class="sa_nodata_div">
              <h4>No Data</h4>
              <p></p>
          </div>

      </mat-card-content>
    </mat-card>
    <div *ngIf="buildChartLoader == true" class="loader_container loader_container_middle"><img class="loader_ico" src="../assets/images/720.gif"><div class="loader-text">Calculating...</div></div>
    <div *ngIf="buildChartDentistLoader == true" class="loader_container loader_container_middle"><img class="loader_ico" src="../assets/images/720.gif"><div class="loader-text">Calculating...</div></div>
  </div>
 <div fxFlex="calc(49% - 10px)" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" class="sa_flexbg referral_clinicians last">
    <mat-card>
      <mat-card-content class="sa_matcard_content"> 
         <span *ngIf="trendText" class="referral1Tool referral sa_inc_dec_arrows trend_arrow" matTooltip= "{{trendText}} : {{pieChartInternalPrevTotal}}"><img class="trend_ico" src="../assets/images/trend_{{pieChartInternalPrevTooltip}}.png"></span>
            <span *ngIf="trendText" class="referral2Tool referral sa_inc_dec_arrows trend_arrow" matTooltip="{{trendText}} : {{pieChartExternalPrevTotal}}" [style.display]="'none'"><img class="trend_ico" src="../assets/images/trend_{{pieChartExternalPrevTooltip}}.png"></span>
            <span *ngIf="trendText" class="referral3Tool referral sa_inc_dec_arrows trend_arrow" matTooltip="{{trendText}} : {{pieChartCombinedPrevTotal}}" [style.display]="'none'"><img class="trend_ico" src="../assets/images/trend_{{pieChartCombinedPrevTooltip}}.png"></span>
        <mat-card-title class="text-center">Clinician Referrals

            <div class="sa_box_title_right_buttons">
                <!-- <button mat-icon-button ><i class="fas fa-expand"></i></button>
                <button mat-icon-button [matMenuTriggerFor]="menu"><i class="fas fa-ellipsis-h"></i></button>
                <mat-menu #menu="matMenu">
                   <button mat-menu-item>Save Image</button>
                    <button mat-menu-item>Download PDF</button>
                </mat-menu> -->
            </div>  
        </mat-card-title>
         <div fxLayout="row wrap" class="sa_tabs_main_sec sa_tabs_clinician_referrals">
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="text-center">
                        <small class="sa_tab_btn referall_btn Combined active" (click) = "changePieReferral('Combined')">All</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="text-center">
                        <small class="sa_tab_btn referall_btn Internal" (click) = "changePieReferral('Internal')">Internal</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="text-center">
                        <small class="sa_tab_btn referall_btn External" (click) = "changePieReferral('External')">External</small>
                    </div>
                    
                </div>
          <div class="chart" >
             <div  style="height: 190px">
        <canvas *ngIf="showInternal == true && pieChartDataMax1 > 0" baseChart [data]="pieChartData1" [labels]="pieChartLabels1" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"  [legend] = "true" [options]="pieChartOptions" [colors]="doughnutChartColors">
        </canvas>
         <div *ngIf="pieChartDataMax1 <= 0 && showInternal == true "class="sa_nodata_div">
              <h4>No Data</h4>
              <p></p>
          </div>
 
         <canvas *ngIf="showExternal == true && pieChartDataMax2 > 0" baseChart [data]="pieChartData2" [labels]="pieChartLabels2" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)" [options]="pieChartOptions" [colors]="doughnutChartColors">
        </canvas>
         <div *ngIf="pieChartDataMax2 <= 0 && showExternal == true" class="sa_nodata_div">
              <h4>No Data</h4>
              <p></p>
          </div>
       
         <canvas *ngIf="showCombined == true  && pieChartDataMax3 > 0" baseChart [data]="pieChartData3" [labels]="pieChartLabels3" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)" [options]="pieChartOptions" [colors]="doughnutChartColors">
        </canvas>
      <div *ngIf="pieChartDataMax3 <= 0 && showCombined == true" class="sa_nodata_div">
              <h4>No Data</h4>
              <p></p>
          </div>
         <canvas *ngIf="showTrend == true && stackedChartTrendDataMax > 0" baseChart [datasets]="stackedChartTrendData" [labels]="stackedChartTrendLabels" [options]="stackedChartOptions" [legend]="false"
          [chartType]="stackedChartType" (chartHover)="chartHovered($event)" [colors]="stackedChartColors" (chartClick)="chartClicked($event)"></canvas>
<div *ngIf="stackedChartTrendDataMax <= 0 && showTrend == true" class="sa_nodata_div">
              <h4>No Data</h4>
              <p></p>
          </div>
      </div>
      </div>

          <div *ngIf="toggleChecked == false" fxLayout="row wrap" class="m-t-40 sa_chart_details_sec pieChartDetails">
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">{{pieChartInternalTotal | number:'1.0-0'}}</h3>
                        <small>Internal</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">{{pieChartExternalTotal | number:'1.0-0'}}</h3>
                        <small>External</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">{{pieChartCombinedTotal | number:'1.0-0'}}</h3>
                        <small>Total</small>
                    </div>
                </div>       
      </mat-card-content>
    </mat-card>
  </div>
 
  <!-- Column--> 
  <div  fxFlex="calc(50% - 10px)" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" class="sa_flexbg predictor_ratio predictor_ratio_vertical">
    <mat-card class="ratioPredictor">
      <mat-card-content class="sa_matcard_content">
        <mat-card-title class="text-center">
            Predictor Ratio
            <div class="sa_box_title_right_buttons">

            </div>
        </mat-card-title>
         <div fxLayout="row wrap" class="predictor_ratio_main sa_tabs_main_sec">
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <small class="sa_tab_btn prmain1 active" (click) = "changeDentistPredictorMain('1')">Crown to Large Filling</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <small class="sa_tab_btn prmain2" (click) = "changeDentistPredictorMain('2')">Extraction to RCT</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <small class="sa_tab_btn prmain3" (click) = "changeDentistPredictorMain('3')">RCT Conversion</small>
                    </div>
                </div>

         <div  style="height: 350px" >
        <canvas baseChart class="chart" 
          [datasets]="predictedstackedChartData"
          [labels]="predictedstackedChartLabels"
          [options]="stackedChartOptions"
          [legend]="false"
          [options]="stackedChartOptions" 
          [chartType]="stackedChartType" (chartHover)="chartHovered($event)" [legend]="true" [colors]="IPcolors" (chartClick)="chartClicked($event)"></canvas>
          </div>

          <!-- <div *ngIf="(predictedMax <= 0 || predictedMax == ''  ) && buildChartPredictorLoader == false" class="sa_nodata_div">
              <h4>No Data</h4>
              <p></p>
          </div> -->
            <div fxLayout="row wrap" class="m-t-40 predicted_main predicted1 sa_chart_details_sec" >
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
                   <!--    <mat-progress-bar mode="determinate" value="80" color="accent"></mat-progress-bar> -->
                        <h3 class="m-0 font-light">{{crowns}}:{{large_fillings}}</h3>
                        <small *ngIf="currentText != ''">{{currentText}} Average</small>
                        <small *ngIf="currentText == ''">Average</small>
                    </div>
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center" *ngIf="duration!= 'custom'">
            <!--           <mat-progress-bar mode="determinate" value="80" color="accent"></mat-progress-bar> -->
                        <h3 class="m-0 font-light">{{crowns_ta}}:{{large_fillings_ta}}</h3>
                        <small *ngIf="trendText != ''">{{trendText}} Average</small>
                        <small *ngIf="trendText == ''">Previous Average</small>
                    </div>
                </div> 
            <div fxLayout="row wrap" class="m-t-40 predicted_main predicted2 sa_chart_details_sec" [style.display]="'none'"  >
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">{{extractions}}:{{root_canals}}</h3>
                        <small *ngIf="currentText != ''">{{currentText}} Average</small>
                        <small *ngIf="currentText == ''">Average</small>
                    </div>
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center" *ngIf="duration!= 'custom'">
                        <h3 class="m-0 font-light">{{extractions_ta}}:{{root_canals_ta}}</h3>
                        <small *ngIf="trendText != ''">{{trendText}} Average</small>
                        <small *ngIf="trendText == ''">Previous Average</small>
                    </div>
                </div> 
            <div fxLayout="row wrap" class="m-t-40 predicted_main predicted3 sa_chart_details_sec" [style.display]="'none'"  >
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">{{rct_completed}}:{{rct_started}}</h3>
                       <small *ngIf="currentText != ''">{{currentText}} Average</small>
                        <small *ngIf="currentText == ''">Average</small>
                    </div>
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center" *ngIf="duration!= 'custom'">
                        <h3 class="m-0 font-light">{{rct_completed}}:{{rct_started_ta}}</h3>
                       <small *ngIf="trendText != ''">{{trendText}} Average</small>
                        <small *ngIf="trendText == ''">Previous Average</small>
                    </div>
                </div>             
      </mat-card-content>
    </mat-card>
    <mat-card class="ratioPredictorSingle" [style.display]="'none'" >
      <mat-card-content class="sa_matcard_content">
          <mat-card-title class="text-center">
            Predictor Ratio 
              <div class="sa_box_title_right_buttons">
                  <!-- <button mat-icon-button ><i class="fas fa-expand"></i></button>
                  <button mat-icon-button [matMenuTriggerFor]="menu"><i class="fas fa-ellipsis-h"></i></button>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item>Save Image</button>
                      <button mat-menu-item>Download PDF</button>
                  </mat-menu> -->
              </div>
          </mat-card-title>
         <div fxLayout="row wrap" class="predictor_ratio sa_tabs_main_sec">
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <small class="sa_tab_btn pr1 active" (click) = "changeDentistPredictor('1')">Crown to Large Filling</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <small class="sa_tab_btn pr2" (click) = "changeDentistPredictor('2')">Extraction to RCT</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <small class="sa_tab_btn pr3" (click) = "changeDentistPredictor('3')">RCT Conversion</small>
                    </div>
                </div>


          <div  style="height: 250px"  *ngIf="toggleChecked == false && gaugeValuePredicted>0">
          <ngx-gauge class="singleRatio"  [type]="gaugeType"
           [value]="gaugeValuePredicted" 
           [label]="gaugeLabelPredicted"  
           [thick]="gaugeThick"  
           [max] = "predictedDentistTotal"
           [foregroundColor]="foregroundColor"
           [cap] ="cap"
           [size] = "size"
           [duration]= "gaugeDuration">
          </ngx-gauge>
        </div>
         <div *ngIf="toggleChecked == false && gaugeValuePredicted<=0 && buildChartPredictorDentistLoader == false" class="sa_nodata_div">
              <h4>No Data</h4>
              <p></p>
          </div> 
        <div  style="height: 250px" *ngIf="toggleChecked == true &&  ratioChartDataMax>0">
           <canvas  class="trendRatio" baseChart [datasets]="ratioChartData" [labels]="ratioChartLabels" [options]="stackedChartOptions" [legend]="false"
          [chartType]="stackedChartType" (chartHover)="chartHovered($event)" [colors]="stackedChartColors" (chartClick)="chartClicked($event)">
        </canvas>
      </div>
      <div *ngIf="toggleChecked == true && ratioChartDataMax<=0" class="sa_nodata_div">
              <h4>No Data</h4>
              <p></p>
          </div> 

            <div fxLayout="row wrap" class="m-t-40 predicted1 sa_chart_details_sec predictorRatioDetails" *ngIf="toggleChecked == false" >
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">{{predictedDentistTotal | number:'1.0-0'}}</h3>
                        <small *ngIf="currentText != ''">{{currentText}}</small>
                        <small *ngIf="currentText == ''">Current</small>
                    </div>
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center" *ngIf="duration!= 'custom'">
                        <h3 class="m-0 font-light">{{predictedDentistPrevTotal | number:'1.0-0'}}</h3>
                        <small *ngIf="trendText != ''">{{trendText}}</small>
                        <small *ngIf="trendText == ''">Previous</small>
                    </div>
                </div>            
      </mat-card-content>
    </mat-card>
    <div *ngIf="buildChartPredictorLoader == true" class="loader_container loader_container_middle"><img class="loader_ico" src="../assets/images/720.gif"><div class="loader-text">Calculating...</div></div>
    <div *ngIf="buildChartPredictorDentistLoader == true" class="loader_container loader_container_middle"><img class="loader_ico" src="../assets/images/720.gif"><div class="loader-text">Calculating...</div></div>
  </div>
  <!-- Column-->
  <div  *ngIf="toggleChecked == false" fxFlex="calc(50% - 10px)" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" class="sa_flexbg last revenue_proceedure">
    <mat-card class="revenueProceedure sa_no_tabs_area">
      <mat-card-content class="sa_matcard_content">
        <mat-card-title class="text-center">Total Revenue Per Procedure
            <div class="sa_box_title_right_buttons">
               <!--  <button mat-icon-button ><i class="fas fa-expand"></i></button>
                <button mat-icon-button [matMenuTriggerFor]="menu"><i class="fas fa-ellipsis-h"></i></button>
                <mat-menu #menu="matMenu">
                      <button mat-menu-item>Save Image</button>
                    <button mat-menu-item>Download PDF</button>
                </mat-menu> -->
            </div>
        </mat-card-title>
          
<div class="Item_Predictor_TotalRevenue">
         <div  style="height: 400px" *ngIf="proceedureChartLabels.length>0">
        <canvas baseChart class="chart" 
          [datasets]="proceedureChartData"
          [labels]="proceedureChartLabels"
          [options]="proceedureChartOptions"
          [legend]="false"
          [chartType]="proceedureChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"  [colors]="preoceedureChartColors"></canvas>
        </div>
      </div>
        <img src='../assets/images/nodata02.png' *ngIf="proceedureChartLabels.length <= 0 && buildChartProceedureLoader == false" class="blankChart"> 
        
      </mat-card-content>
    </mat-card>
    <mat-card class="revenueProceedureSingle" [style.display]="'none'">
      <mat-card-content class="sa_matcard_content">
          <mat-card-title class="text-center">Total Revenue Per Procedure
              <div class="sa_box_title_right_buttons">
                  <!-- <button mat-icon-button ><i class="fas fa-expand"></i></button>
                  <button mat-icon-button [matMenuTriggerFor]="menu"><i class="fas fa-ellipsis-h"></i></button>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item>Save Image</button>
                      <button mat-menu-item>Download PDF</button>
                  </mat-menu> -->
              </div>
          </mat-card-title>


         <div style="height: 400px"  *ngIf="proceedureDentistChartLabels.length>0">
        <canvas baseChart class="chart" 
          [datasets]="proceedureDentistChartData"
          [labels]="proceedureDentistChartLabels"
          [options]="proceedureChartOptions"
          [legend]="false"
          [chartType]="proceedureChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"  [colors]="preoceedureChartColors"></canvas>
        </div>
        <div *ngIf="proceedureDentistChartLabels.length <= 0 && buildChartProceedureDentistLoader == false" class="sa_nodata_div">
              <h4>No Data</h4>
              <p></p>
          </div>
      </mat-card-content>
    </mat-card>
    <div *ngIf="buildChartProceedureLoader == true" class="loader_container loader_container_middle"><img class="loader_ico" src="../assets/images/720.gif"><div class="loader-text">Calculating...</div></div>
     
  </div>
</div>

</div><canvas #myCanvas baseChart [style.display]="'none'" [datasets]="chartData1" [labels]="chartLabels1" [chartType]="stackedChartType"></canvas>