<h1 mat-dialog-title>SMS Template</h1>
<div mat-dialog-content>
  <div style="display:flex;gap:4px;">
    <div class="sa-form-group-wrapper">
      <div class="sa-form-group">
        <select [formControl]="type" class="sa_select mat-form-control">
          <option value="review">Review</option>
          <option value="campaign">Campaign</option>
        </select>
      </div>
    </div>
    <div class="sa-form-group-wrapper" style="flex: 1">
      <div class="sa-form-group">
        <input matInput [formControl]="name" placeholder="Name" required />
      </div>
    </div>
  </div>


  <div style="margin: 10px 0">
    <mat-chip-list>
      <mat-chip
        ><span #keyClinicName draggable="true">Clinic Name</span></mat-chip
      >
      <mat-chip
        ><span #keyPatientName draggable="true">Patient Name</span></mat-chip
      >
      <mat-chip
        *ngIf="type.value === 'review'"
        ><span #keyGoogleLink draggable="true">Google Link</span></mat-chip
      >
    </mat-chip-list>
  </div>
  <div class="sa-form-group-wrapper">
    <mat-form-field floatLabel="never">
      <mat-label>SMS Template</mat-label>
      <textarea
        matInput
        [formControl]="msg_template"
        rows="7"
        required></textarea>
    </mat-form-field>
  </div>
  <br />
</div>
<div mat-dialog-actions class="justify-between">
  <button mat-button class="mat-raised-button mat-gray" (click)="onNoClick()">
    Cancel
  </button>
  <button
    class="mat-raised-button mat-dc"
    mat-button
    (click)="onSubmitClick($event)"
    [disabled]="!isValid || isWaitingResponse"
    cdkFocusInitial>
    Save
  </button>
</div>
