.close-icon {
  margin-top: 5px;
  margin-right: 5px;
}
.header-title {
  margin-bottom: 10px;
  h1 {
    margin-bottom: 0 !important;
  }
  span {
    font-size: 11px;
    padding-left: 24px;
  }
}

.form-field {
  width: 100%;
}


.patient-info {
  font-size: 14px;
}

.sms-form {
  display: flex; flex-direction: column; gap: 15px; width: 550px;
}

.phone-f {
  display: flex; flex-direction: column;height: 100%; border: 5px solid whitesmoke; padding: 10px; border-radius: 20px;
  .phone-h-box {
    display: flex; justify-content: center; margin-bottom: 10px;
    .phone-h {
      width: 40px;
      height: 7px;
      background-color: whitesmoke;
      border-radius: 5px;
    }
  }
  
  
  .phone-s {
    border: 3px solid whitesmoke; padding: 10px; border-radius: 15px; height: 100%;
    .phone-m {
      margin-right: 26px;
      font-size: 14px;
      background: #e0e0e0;
      padding: 8px;
      border-radius: 10px;
      white-space: pre;
      text-wrap: auto;
    }
  }
}

