<div class="dialog-header">
  <div class="header-title">
    <h1 mat-dialog-title>Start Campaign</h1>
    <span>({{ remainCredits }} remaining)</span>
  </div>

  <mat-icon class="close-icon" (click)="onNoClick()">close</mat-icon>
</div>
<div mat-dialog-content>
  <div style="display: flex; gap: 15px">
    <div class="sms-form">
      <mat-form-field class="form-field">
        <mat-label>Message Template</mat-label>
        <mat-select
          [disabled]="loadingData"
          [(value)]="selectedTmpMsg"
          (selectionChange)="onChangeReviewMsg()">
          <mat-option value="">
            No selected
          </mat-option>
          <mat-option *ngFor="let msgT of msgTemplates" [value]="msgT.id">
            {{ msgT.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field" [hintLabel]="'Max ' + availableMsgLength + ' characters'">
        <mat-label>SMS Text</mat-label>
        <textarea
          [disabled]="loadingData"
          matInput
          [formControl]="sms_text"
          rows="7"
          [maxlength]="availableMsgLength"></textarea>
        <mat-hint align="end"
          >{{ sms_text.value.length }} / 800, {{ numMessage }}
          {{
            numMessage == 0 || numMessage > 1 ? 'messages' : 'message'
          }}</mat-hint>
      </mat-form-field>
    </div>
    <div style="width: 350px;">
      <div class="phone-f">
        <div class="phone-h-box">
          <div class="phone-h"></div>
        </div>
        <div  class="phone-s">
          <div *ngIf="composedTextForFirstPatient && composedTextForFirstPatient.length > 0" class="phone-m">
            {{composedTextForFirstPatient}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>

  </div>

  <p class="patient-info">Total Patients: {{data.patients.length}}</p>
  <p class="patient-info">Total Credits: {{numTotalMessage}}</p>
</div>
<div mat-dialog-actions class="justify-between">
  <button mat-button class="mat-raised-button mat-gray" (click)="onNoClick()">
    Cancel
  </button>
  <button
    mat-button
    class="mat-raised-button mat-dc"
    mat-button
    (click)="onSubmitClick($event)"
    [disabled]="disabledSubmit()"
    >
    {{'Send'}} To {{ data.patients.length}} Patients
  </button>
</div>
