<div class="dashboard-header-box">
  <date-range-menu class="date-range-container"></date-range-menu>
  <div class="toggle-section">
    <compare-mode-toggle *ngIf="isEnableCompare$ | async"></compare-mode-toggle>
    <average-mode-toggle
      *ngIf="
        isAverageToggleVisible$ | async;
        else trendModeToggleBlock
      "></average-mode-toggle>
    <ng-template #trendModeToggleBlock
      ><trend-mode-toggle></trend-mode-toggle
    ></ng-template>
  </div>
</div>
<div *ngIf="(clinicId$ | async) !== null" class="dashboard-content">
  <div class="dashboard-row">
    <caProduction-chart *ngIf="(prodChartTip$ | async) !== null" [toolTip]="prodChartTip$ | async" class="chart-33" />
    <caHourlyRate-chart 
      *ngIf="getChartTip$(CaChartIDs.hourlyRate) | async" 
      [toolTip]="getChartTip$(CaChartIDs.hourlyRate) | async" class="chart-33" />
    <caNumNewPatients-chart
      *ngIf="getChartTip$(CaChartIDs.newPatients) | async"
      [toolTip]="getChartTip$(CaChartIDs.newPatients) | async" class="chart-33" />
  </div>
  <div class="dashboard-row">
    <caTxPlanAvgFees-chart
      *ngIf="(txPlanAvgTooltip$ | async) !== null"
      [toolTip]="txPlanAvgTooltip$ | async"
      class="dashboard-chart50" />
    <caTxPlanCompRate-chart
      *ngIf="getChartTip$(CaChartIDs.txPlanCompleteRate) | async"
      [toolTip]="getChartTip$(CaChartIDs.txPlanCompleteRate) | async"
      class="dashboard-chart50" />
  </div>
  <div class="dashboard-row">
    <caRecallRate-chart
      *ngIf="(recallRateTooltip$ | async) !== null"
      [toolTip]="recallRateTooltip$ | async"
      class="dashboard-chart50" />
    <caNumComplaints-chart
      *ngIf="getChartTip$(CaChartIDs.numComplaints) | async"
      [toolTip]="getChartTip$(CaChartIDs.numComplaints) | async"
      class="dashboard-chart50" />
  </div>
</div>
