<div class="dashboard-header-box">
  <date-range-menu class="date-range-container"></date-range-menu>
  <div class="toggle-section">
    <average-mode-toggle *ngIf="isAllDentist$ | async"></average-mode-toggle>
    <trend-mode-toggle *ngIf="!(isAllDentist$ | async)"></trend-mode-toggle>
    <compare-mode-toggle *ngIf="isEnableCompare$ | async"></compare-mode-toggle>
  </div>
</div>
<div *ngIf="(clinicId$ | async) !== null" class="dashboard-content-box">
  <caProduction-chart [toolTip]="getChartTip(1) | async" class="ca-chart" />
  <caHourlyRate-chart [toolTip]="getChartTip(7) | async" class="ca-chart" />
</div>
