<div class="dashboard-header-box">
  <date-range-menu class="date-range-container"></date-range-menu>
  <div class="toggle-section">
    <compare-mode-toggle *ngIf="isEnableCompare$ | async"></compare-mode-toggle>
    <average-mode-toggle
      *ngIf="
        isAverageToggleVisible$ | async;
        else trendModeToggleBlock
      "></average-mode-toggle>
    <ng-template #trendModeToggleBlock
      ><trend-mode-toggle></trend-mode-toggle
    ></ng-template>
  </div>
</div>
<div *ngIf="(clinicId$ | async) !== null" class="dashboard-content-box">
  <caProduction-chart [toolTip]="prodChartTip$ | async" class="chart-33" />
  <caHourlyRate-chart [toolTip]="getChartTip(7) | async" class="chart-33" />
  <caNumNewPatients-chart [toolTip]="getChartTip(8) | async" class="chart-33" />
  <caTxPlanAvgFees-chart
    [toolTip]="txPlanAvgTooltip$ | async"
    class="chart-50" />
  <caTxPlanCompRate-chart
    [toolTip]="getChartTip(2) | async"
    class="chart-50" />
  <caRecallRate-chart
    [toolTip]="recallRateTooltip$ | async"
    class="chart-50" />
  <caNumComplaints-chart
    [toolTip]="getChartTip(6) | async"
    class="chart-50" />
</div>
