<div class="chart-container">
  <mat-icon
    [tooltip]="toolTip"
    matTooltipPosition="below"
    color="primary"
    class="help-tip"
    fontIcon="help"
  ></mat-icon>
  <div class="chart-title">Total Discounts</div>
  <div class="chart-content">
    <div class="total-discount-trend-chart">
      <spin-loader
        class="empty-placeholder"
        *ngIf="isComingSoon; else enabledChart"
        [disableSpin]="true"
      >
        Coming Soon...
      </spin-loader>
      <ng-template #enabledChart>
        <spin-loader *ngIf="isLoading$ | async; else chartElem"></spin-loader>
        <ng-template #chartElem>
          <spin-loader
            class="empty-placeholder"
            *ngIf="!hasData; else chartElem01"
            [disableSpin]="true"
          >
            You have no data in the selected period
          </spin-loader>
          <ng-template #chartElem01>
            <canvas
              baseChart
              [datasets]="datasets"
              [labels]="labels"
              [options]="chartOptions$ | async"
              [legend]="legend$ | async"
              [type]="chartType$ | async"
            >
            </canvas>
          </ng-template>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>
