@import url("../../assets/styles/home/bootstrap.min.css");
@import url("../../assets/styles/home/all.min.css");
@import url("../../assets/styles/home/style.css");
@import url("../../assets/styles/home/responsive.css");

.save-button.bottom[disabled] {
    cursor: default;
    opacity: 1;
}
.bg-color-img{
    background:#0e3459;
}
.img-margin{
    top: 50px;
}
.xero.align{
    float:none;
    text-align: center;
}
.footer-align{
    text-align: center;
}