<link rel="stylesheet" href="http://localhost/jeeveanalytics/client2/src/assets/styles/home/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="http://localhost/jeeveanalytics/client2/src/assets/styles/home/all.min.css" />
<link rel="stylesheet" href="http://localhost/jeeveanalytics/client2/src/assets/styles/home/style.css">
<link rel="stylesheet" href="http://localhost/jeeveanalytics/client2/src/assets/styles/home/responsive.css">
<header id="header" class="sa-ste">
         <div class="container-fluid sa-cf">
            <nav class="navbar navbar-expand-lg navbar-light navbar-main">
               <a class="navbar-brand logo" href="/home">
           <img class="d-none d-md-block logo-color" src="http://localhost/jeeveanalytics/client2/src/assets/images/home/logo.png" alt="logo"> 
           <img class="d-block d-md-none logo-white" src="http://localhost/jeeveanalytics/client2/src/assets/images/home/logo-white.png" alt="logo white"> 
         </a>
               <button class="navbar-toggler navbar-toggler-mob" type="button" onclick="openNav()">
                  <div class="openMenu"> <span class="navbar-toggler-line line-first"></span> <span class="navbar-toggler-line line-second"></span> <span class="navbar-toggler-line line-third"></span></div>
               </button>
               <div id="myNav" class="overlay menu">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                  <div class="overlay-content">
                     <ul class="navbar-nav navbar-nav-main ml-auto">
                        <li class="nav-item"> <a class="nav-link" [routerLink]="['/','subscription']">Subscription</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="#">Xero Integration</a> </li>
                        <li class="nav-item"> <a class="nav-link btn btn-login"  [routerLink]="['/','login']">Login</a> </li>
                     </ul>
                  </div>
               </div>
            </nav>
         </div>
      </header>
      <section class="xero-plus-jeeve">
         <div class="container">
            <div class="row justify-content-center align-items-center">
               <div class="col-xl-7 col-lg-6 col-md-12">
                  <img class="img-responsive" src="http://localhost/jeeveanalytics/client2/src/assets/images/home/xero-plus-jeeve.png" alt="">
               </div>
               <div class="col-xl-5 col-lg-6 col-md-12 xero-plus-jeeve-contnt">
                  <h2 class="title">Use Jeeve + Xero to manage your small business in the cloud</h2>
                  <p class="paragraph-line">Jeeve is a simple, easy to use and invoicing system. It's all online and is suited for small </p>
                  <a class="btn btn-primary mb-2 ml-1 mr-1" href="#">Jeeve</a>
                  <a class="btn btn-primary mb-2 ml-1 mr-1" href="#">Try Xero for Free</a>
               </div>
            </div>
         </div>
      </section>
      <section class="features">
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <div class="features-box">
                     <div>
                        <span><img src="http://localhost/jeeveanalytics/client2/src/assets/images/home/connecting.png" alt=""></span>
                        <p>Jeeve is fully integrated with Xero
                           Further improve the workflow of your sales data by connecting with Xero
                        </p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="features-box">
                     <div>
                        <span><img src="http://localhost/jeeveanalytics/client2/src/assets/images/home/calculator.png" alt=""></span>
                        <p>Bills paid in Jeeve are automatically imported into Xero
                           Xero Displays your realtime balance
                        </p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="features-box">
                     <div>
                        <span><img src="http://localhost/jeeveanalytics/client2/src/assets/images/home/automatically.png" alt=""></span>
                        <p>Sales records are cleverly matched to your customer records in Xero
                           Automatically match products orders
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="laptop-section">
         <div class="container">
            <div class="row justify-content-center align-items-center">
               <div class="col-xl-7 col-md-6 bg-round">
                  <img src="http://localhost/jeeveanalytics/client2/src/assets/images/home/laptop-dashboard.png" alt="" class="img-responsive">
               </div>
               <div class="col-xl-5 col-md-6">
                  <h2>More about Jeeve</h2>
                  <p>Jeeve is the best place to handle all of your business needs giving you amazing features to help your business thrive.</p>
                  <ul>
                     <li>Complete your filing in less time with our automated filing feature</li>
                     <li>Submit your files and reports for online validation and proofing</li>
                     <li>Keep your cash flowing with automated invoicing</li>
                  </ul>
                  <a class="btn mt-3 btn-primary" href="#">Jeeve</a>
               </div>
            </div>
         </div>
      </section>
      <section class="video-section">
         <div class="container">
            <div class="row justify-content-center align-items-center">
               <div class="col-md-5 video-text text-center">
                  <h2 class="mb-3">More About Jeeve + Xero</h2>
                  <p>Learn more about how this integration can benefit your business</p>
               </div>
               <div class="col-md-7">
                  <div class="video-iframe">
                     <iframe width="560" height="315" src="https://www.youtube.com/embed/hAiWuEab7fw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="what-is-xero">
         <div class="container">
            <h2>What is Xero?</h2>
            <p>Xero is world-leading online accounting software built for small business</p>
            <div class="row mt-5">
               <div class="col-md-6">
                  <div class="box-text sa-ste">
          <span class="counting">1</span>
                     Get a real-time view of your cashflow. Log in anytime, anywhere on your Mac, PC, tablet or phone to get a real-time view of your cash flow. It’s small business accounting software that’s simple, smart and occasionally magical.
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="box-text sa-ste">
          <span class="counting">2</span>
                     Get paid faster with online invoicing. Send online invoices to your customers - and get updated when they’re opened.
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="box-text sa-ste">
          <span class="counting">3</span>
                     Run your business on the go. Use our mobile app to reconcile, send invoices, or create expense claims - from anywhere.
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="box-text sa-ste">
          <span class="counting">4</span>
                     Reconcile in seconds. Xero imports and categorises your latest bank transactions. Just click ok to reconcile.
                  </div>
               </div>
            </div>
            <a class="btn btn-primary" href="#">Try Xero for Free</a>
         </div>
      </section>
      <div class="clearfix"></div>
    
      <section class="get-started">
         <div class="container">
            <h2>"I Love Jeeve + Xero Together"</h2>
            <p>"These two applications work together perfectly. I can't imagine running my business without them. "</p>
            <div class="stars mb-3">
               <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            </div>
            <h5><strong>Xero Marketplace Rating</strong></h5>
            <a class="btn btn-white btn-primary mt-4 ml-1 mr-1" href="#">Jeeve</a>
            <a class="btn btn-white btn-primary mt-4 ml-1 mr-1" href="#">Try Xero for Free</a>
         </div>
      </section>
    
      <section class="conections">
         <div class="container">
            <div class="inner-box row">
              
               <div class="graphs">
                  <table class="table-borderless mx-auto">
                     <thead>
                        <tr>
                           <th scope="col" class="text-center" width="100"> <a class="navbar-brand display-2 font-weight-bold"><img src="http://localhost/jeeveanalytics/client2/src/assets/images/home/logo-white.png" alt=""></a></th>
                           <th scope="col" class="text-center"></th>
                           <th scope="col" class="text-center" width="100"><img src="http://localhost/jeeveanalytics/client2/src/assets/images/home/Xero-Logo.png" alt="xero logo" ></th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td class="text-center" height="60">Customer</td>
                           <td class="text-center font-weight-bold data-direction-td"><img src="http://localhost/jeeveanalytics/client2/src/assets/images/home/arrow_right.png" alt=""></td>
                           <td class="text-center">Contacts</td>
                        </tr>
                        <tr>
                           <td class="text-center" height="60">Region</td>
                           <td class="text-center font-weight-bold" width="100"><img src="http://localhost/jeeveanalytics/client2/src/assets/images/home/arrow_left.png" alt=""></td>
                           <td class="text-center">Categories</td>
                        </tr>
                        <tr>
                           <td class="text-center" height="60">Sales</td>
                           <td class="text-center font-weight-bold" width="100"><img src="http://localhost/jeeveanalytics/client2/src/assets/images/home/arrow.png" alt=""></td>
                           <td class="text-center">Invoices</td>
            </tr>
                     </tbody>
                  </table>
               </div>
          <div class="text-conections">
                  <h2>More about how Jeeve and Xero Integrate</h2>
                  <p>Two way data syncing ensure your back office and accounting teams are always up to date. giving you realtime oversight of how your business is doing.</p>
                  <p>Syncing data is effortless and realtime, drive your business and always be in control of your business data.</p>
               </div>
            </div>
         </div>
      </section>
    
    
      <!-- Return to Top -->
      <footer>
         <div class="container">
            <div class="footerLogo"> <img src="http://localhost/jeeveanalytics/client2/src/assets/images/home/footer-logo.png"> </div>
            <div class="row">
               <div class="col-md-3 col-sm-6">
                  <div class="widget mb-4 mb-md-0">
                     <h6>Navigation</h6>
                     <ul class="nav flex-column primary-hover">
                        <li class="nav-item"><a class="nav-link" href="#">Product</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Results</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Company</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div class="widget mb-4 mb-md-0">
                     <h6>Featured</h6>
                     <ul class="nav flex-column primary-hover">
                        <li class="nav-item"><a class="nav-link" href="#">Improve Team Performance</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Improve Patient Care</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Increase Practice Profitability</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-2 col-sm-6">
                  <div class="widget mb-4 mb-sm-0">
                     <h6>Social</h6>
                     <ul class="nav flex-column primary-hover">
                        <li class="nav-item"><a class="nav-link" href="#">Facebook</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Twitter</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Linkedin</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Youtube</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="widget bg-grad widget-form mb-4 mb-sm-0">
                     <h6>Newsletter</h6>
                     <div class="form-group mb-0">
                        <input class="form-control" type="email" placeholder="Your Email Address">
                        <p class="mb-3">We will  not disclose your details with others and spam your inbox.</p>
                        <button class="btn btn-main btn-block mb-0">Subcsribe</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="copyright-section text-center">
            <div class="container">© 2018 Jeeve analytics - 2018  All right Reserved</div>
         </div>
      </footer>
      <!-- Optional JavaScript --> 
      <!-- jQuery first, then Popper.js, then Bootstrap JS --> 
      <script type="text/javascript" src="js/jquery-3.1.0.js" ></script> 
      <script type="text/javascript" src="js/bootstrap.min.js"></script> 
      <script type="text/javascript" src="js/script.js"></script> 
      <script>
         $(document).ready(function(){
             $('ul.list-circles-point li').click(function(){
              var target = $(this).attr("data-target");
               $('.list-circles-point li').removeClass("active");
               $('.testimonial-text').removeClass("active");
               $('.testimonial-img').removeClass("active");
         
               $(this).addClass("active");
               $(target).addClass("active");
           });
         
         
               $('.testimonial-img').click(function(){
                var target = $(this).attr("data-target");
                var target2 = $(this).attr("data-targets");
                 $('.list-circles-point li').removeClass("active");
                 $('.testimonial-text').removeClass("active");
                 $('.testimonial-img').removeClass("active");
         
                 $(target2).addClass("active");
                 $(target).addClass("active");
             });
         
         
         });
      </script>
      <script type="text/javascript">
         $(document).ready(function () {
         window.scrollTo(0,0);
         });
      </script>
      <script>
         function openNav() {
           document.getElementById("myNav").style.width = "100%";
         }
         
         function closeNav() {
           document.getElementById("myNav").style.width = "0%";
         }
      </script>
     