<div class="inner-pages">
 <header id="header" class="sa-ste">
         <div class="container-fluid sa-cf">
            <nav class="navbar navbar-expand-lg navbar-light navbar-main">
               <a class="navbar-brand logo" href="#">
              <img class="d-none d-md-block logo-color" src="../../assets/images/home/logo.png" alt="logo"> 
              <img class="d-block d-md-none logo-white" src="../../assets/images/home/logo-white.png" alt="logo white"> 
            </a>
               <button class="navbar-toggler navbar-toggler-mob" type="button" onclick="openNav()">
                  <div class="openMenu"> <span class="navbar-toggler-line line-first"></span> <span class="navbar-toggler-line line-second"></span> <span class="navbar-toggler-line line-third"></span></div>
               </button>
               <div id="myNav" class="overlay menu">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                  <div class="overlay-content">
                     <ul class="navbar-nav navbar-nav-main ml-auto">
                      <li class="nav-item active"> <a class="nav-link" href="/xero">Xero Integration</a> </li>
                      <li class="nav-item"> <a class="nav-link btn btn-login"  href="/login">Login</a> </li>
                     </ul>
                  </div>
               </div>
            </nav>
         </div>
      </header>
      <section class="xero-plus-jeeve">
         <div class="container">
            <div class="row justify-content-center align-items-center">
               <div class="col-xl-4 col-lg-5 col-md-12">
                  <div class="xero-plus-jeeve-contnt">
                  <h2 class="title">Our Xero Partnership</h2>
                  <p class="paragraph-line">Jeeve Analytics is a business intelligence suite that bridges the divide between practice management system, accountant and owner. Our integration with Xero provides you with all the tools you need to identify weaknesses and boost your practice's performance.</p>
                  <div class="mb-4 text-center">
                  <a class="btn btn-green mb-2 ml-1 mr-1" target="_blank" href="{{ saleSite }}">Sign Up Now</a>
                  <a class="btn btn-primary mb-2 ml-1 mr-1" target="_blank" href="https://www.xero.com/signup/?xtid={{xeroVar}}">Try Xero for Free</a>
                  </div>
                  <div class="text-center">
                  <img class="img-responsive img-xero-plus-jeeve" src="../../assets/images/home/xero-plus-jeeve.png" alt="">
               </div>
               </div>
                  
               </div>
               <div class="col-xl-8 col-lg-7 col-md-12">
                  <div class="xero-plus-jeeve-rightImg">
                     <span class="plus-sign"> + </span>
                     <div class="row">
                        <div class="col-sm-6 col-sm-6-left">
                  <img class="img-responsive leftScreenshot" src="../../assets/images/home/myapp-screenshot.png" alt="myapp-screenshot"></div>
                  
                  <div class="col-sm-6 col-sm-6-right">
                  <img class="img-responsive rightScreenshot" src="../../assets/images/home/cafe-screenshot.png" alt="cafe-screenshot">
               </div>
                  </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="features">
         <div class="container">
            <div class="row justify-content-md-center">
               <div class="col-md-4">
                  <div class="features-box">
                     <div>
                        <span><img src="../../assets/images/home/connecting.png" alt=""></span>
                        <p>Jeeve Analytics fills the space between day to day practice management and your annual visit to the accountant. Our business driven analytic tools offer you real insights into the true performance of your practice.
                        </p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="features-box">
                     <div>
                        <span><img src="../../assets/images/home/calculator.png" alt=""></span>
                        <p>Fully integrated with Xero, we provide guidance on how your business is tracking to industry standards and show you exactly where you can improve.                           
                        </p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="features-box">
                     <div>
                        <span><img src="../../assets/images/home/automatically.png" alt=""></span>
                        <p>Cloud based and updated in real-time, Jeeve Analytics helps you track the metrics that are key to the success of your practice.
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="laptop-section">
         <div class="container">
            <div class="row justify-content-center align-items-center">
               <div class="col-xl-7 col-md-6 bg-round">
                  <img src="../../assets/images/home/laptop-dashboard.png" alt="" class="img-responsive">
               </div>
               <div class="col-xl-5 col-md-6">
                  <h2>Why Jeeve Analytics?</h2>
                  <p>Jeeve Analytics was made by dentists, for dentists.</p>
                  <ul>
                     <li>We understand what is important and have designed a product that provides very detailed breakdowns of statistics and our own custom designed KPI's and algorithms.</li>
                     <li>Our Xero integration takes analytics to the next level, allowing you to finally combine your PMS with your accounting system for a 'single pane of glass' dashboard.</li>
                  </ul>
                  <a class="btn mt-3 btn-primary" href="{{ saleSite }}">Sign Up Now</a>
               </div>
            </div>
         </div>
      </section>
      <!--section class="video-section">
         <div class="container">
            <div class="row justify-content-center align-items-center">
               <div class="col-md-5 video-text text-center">
                  <h2 class="mb-3">More About Jeeve + Xero</h2>
                  <p>Learn more about how this integration can benefit your business</p>
               </div>
               <div class="col-md-7">
                  <div class="video-iframe">
                     <iframe width="560" height="315" src="https://www.youtube.com/embed/hAiWuEab7fw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
               </div>
            </div>
         </div>
      </section-->
      <section class="what-is-xero">
         <div class="container">
            <h2>What is Xero?</h2>
            <p>Xero is world-leading online accounting software built for small business</p>
            <div class="row mt-5">
               <div class="col-md-6">
                  <div class="box-text sa-ste">
              <span class="counting">1</span>
                     Get a real-time view of your cashflow. Log in anytime, anywhere on your Mac, PC, tablet or phone to get a real-time view of your cash flow. It’s small business accounting software that’s simple, smart and occasionally magical.
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="box-text sa-ste">
              <span class="counting">2</span>
                     Get paid faster with online invoicing. Send online invoices to your customers - and get updated when they’re opened.
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="box-text sa-ste">
              <span class="counting">3</span>
                     Run your business on the go. Use our mobile app to reconcile, send invoices, or create expense claims - from anywhere.
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="box-text sa-ste">
              <span class="counting">4</span>
                     Reconcile in seconds. Xero imports and categorises your latest bank transactions. Just click ok to reconcile.
                  </div>
               </div>
            </div>
            <a class="btn btn-primary" href="https://www.xero.com/signup/?xtid={{xeroVar}}">Try Xero for Free</a>
         </div>
      </section>
      <div class="clearfix"></div>
     
       <section class="get-started">
         <div class="container">
            <h2>"I Love Jeeve + Xero Together"</h2>
            <p>"These two applications work together perfectly. I can't imagine running my business without them. "</p>
            <div class="stars mb-3">
               <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            </div>
            <h5><strong>Xero Marketplace Rating</strong></h5>
            <a class="btn btn-white btn-primary mt-4 ml-1 mr-1" target="_blank" href="{{ saleSite }}">Jeeve</a>
            <a class="btn btn-white btn-primary mt-4 ml-1 mr-1" target="_blank" href="https://www.xero.com/signup/?xtid={{xeroVar}}">Try Xero for Free</a>
         </div>
      </section>
     
      <section class="conections">
         <div class="container">
            <div class="inner-box sacol">
              <div class="row">
               <div class="col-md-5 bg-color-img">
               <div class="graphs">
                  <div class="graphs_inner">
                     <img src="../../assets/images/home/xero_image.jpg" alt="" >
                     <!-- <div class="row">
                        <div class="col-md-12">
                           <img style="width:100px; margin:0 0 50px 0;" src="../../assets/images/home/Xero-Logo.png" alt="xero logo" >
                        </div>
                        <div class="col-md-4 span_area">
                           <span>Reports</span> 
                           <span>Invoices</span>
                           <span>Categories</span>
                        </div>
                        <div class="col-md-4">
                           <img style="max-width:114%; margin-top:9px" src="../../assets/images/home/3arrow.png" alt="">
                        </div>
                        <div class="col-md-4">
                           <img style="margin-top:35px;" src="../../assets/images/home/logo-white.png" alt="">
                        </div>
                     </div> -->
                  </div>
               </div>
               </div>
               <div class="col-md-7">
                 <!--<table class="table-borderless mx-auto">
                   <thead>
                     <tr>
                        <th scope="col" class="text-center" width="100"></th>
                        <th scope="col" class="text-center"></th>
                        <th scope="col" class="text-center" width="100"> <a class="navbar-brand display-2 font-weight-bold"></a></th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr>
                        <td class="text-center" height="60">Reports</td>
                        <td class="text-center font-weight-bold data-direction-td"><img src="../../assets/images/home/arrow_right.png" alt=""></td>
                        <td class="text-center">Reports</td>
                     </tr>
                     <tr>
                        <td class="text-center" height="60">Invoices</td>
                        <td class="text-center font-weight-bold" width="100"><img src="../../assets/images/home/arrow_right.png" alt=""></td>
                        <td class="text-center">Invoices</td>
                     </tr>
                     <tr>
                        <td class="text-center" height="60">Categories</td>
                        <td class="text-center font-weight-bold" width="100"><img src="../../assets/images/home/arrow_right.png" alt=""></td>
                        <td class="text-center">Categories</td>
                     </tr>
                   </tbody>
                 </table> -->
               
                  <div class="text-conections">
                    <h2>Why are Jeeve Analytics and Xero the perfect match?</h2>
                     <p>Jeeve Analytics analyses all the key information from your Xero reports automatically, directly from Xero's API to ensure you always have the latest data available.</p>
                     <p>Our financial dashboards display all the key metrics from your PMS and Xero, offering you a clear snapshot of the health of your practice.</p> 
                     <p>Jeeve Analytics reads data from your Xero account (one-way), and does not write anything back to your Xero account. This flow is shown in the image to the left.</p>
                  </div>
               </div>
               </div>
             
            </div>
         </div>
      </section>

      <section class="conections">
         <div class="container">
            <div class="inner-box sacol">
              <div class="row">
               <div class="col-md-5 img-margin">
               <div class="graphs xero align">
                  <div class="graphs_inner">
                    <!-- <button disabled class="save-button bottom" >Connect to Xero<img class="fast-forward-icon" src="../../assets/images/fast_forward_arrows.png" alt="" />
                     </button> -->
                     <img class="img-responsive img-xero-plus-jeeve" src="../../assets/images/home/xero-plus-jeeve.png" alt="">
                  </div>
               </div>
               </div>
               <div class="col-md-7">         
                  <div class="text-conections">
                    <h2>How can I connect Jeeve Analytics to Xero?</h2>
                     <p>Connecting Jeeve Analytics to Xero is simple - you will be reviewing your Practice Management and Accounting data in one portal within a few clicks! Simply click on "Connect To Xero" in our apps settings and login with your Xero credentials to provide authorisation. That's it - you are up and running!</p> 
                      <p>For more information on connecting to Xero, please <a href="https://jeeve.crunch.help/jeeve-analytics/how-do-i-connect-to-xero-myob" target="_blank">click here</a></p>
                  </div>
               </div>
               </div>
             
            </div>
         </div>
      </section>
     
    
      <!-- Return to Top -->
      <footer>
         <div class="container footer-align">
            <div class="footerLogo"> <img src="../../assets/images/home/footer-logo.png"> </div>
            <div class="row">
               <div class="col-md-6 col-sm-6">
                  <div class="widget mb-4 mb-md-0">
                     <h6>Navigation</h6>
                     <ul class="nav flex-column primary-hover">
                        <li class="nav-item"><a class="nav-link" href="/xero">Xero Integration</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-6 col-sm-6">
                  <div class="widget mb-4 mb-sm-0">
                     <h6>Social</h6>
                     <ul class="nav flex-column primary-hover">
                           <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/jeevesolutions" target="_blank">Facebook</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/jeevesolutions/" target="_blank">Instagram</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/company/jeeve-solutions" target="_blank">Linkedin</a></li>
                     </ul>
                  </div>
               </div>
             <!--   <div class="col-md-4 col-sm-6">
                  <div class="widget bg-grad widget-form mb-4 mb-sm-0">
                     <h6>Newsletter</h6>
                     <div class="form-group mb-0">
                        <input class="form-control" type="email" placeholder="Your Email Address">
                        <p class="mb-3">We will  not disclose your details with others and spam your inbox.</p>
                        <button class="btn btn-main btn-block mb-0">Subcsribe</button>
                     </div>
                  </div>
               </div> -->
            </div>
         </div>
         <div class="copyright-section text-center">
            <div class="container">© {{currentYear}} Jeeve analytics - {{currentYear}}  All right Reserved</div>
         </div>
      </footer>
   </div>
      <!-- Optional JavaScript --> 
      <!-- jQuery first, then Popper.js, then Bootstrap JS --> 
      <script type="text/javascript" src="js/script.js"></script> 
      <script>
         $(document).ready(function(){
             $('ul.list-circles-point li').click(function(){
              var target = $(this).attr("data-target");
               $('.list-circles-point li').removeClass("active");
               $('.testimonial-text').removeClass("active");
               $('.testimonial-img').removeClass("active");
         
               $(this).addClass("active");
               $(target).addClass("active");
           });
         
         
               $('.testimonial-img').click(function(){
                var target = $(this).attr("data-target");
                var target2 = $(this).attr("data-targets");
                 $('.list-circles-point li').removeClass("active");
                 $('.testimonial-text').removeClass("active");
                 $('.testimonial-img').removeClass("active");
         
                 $(target2).addClass("active");
                 $(target).addClass("active");
             });
         
         
         });
      </script>
      <script type="text/javascript">
         $(document).ready(function () {
         window.scrollTo(0,0);
         });
      </script>
      <script>
         function openNav() {
           document.getElementById("myNav").style.width = "100%";
         }
         
         function closeNav() {
           document.getElementById("myNav").style.width = "0%";
         }
      </script>