<div class="dialog-header">
  <h1 mat-dialog-title>Add Review Credits</h1>
  <mat-icon aria-hidden="false" (click)="onNoClick()">close</mat-icon>
</div>
<div mat-dialog-content>
  <div style="min-width: 450px; padding-right: 24px">
    <mat-stepper
      [linear]="true"
      #stepper
      (selectionChange)="selectionChange($event)">
      <mat-step>
        <form [formGroup]="numberOfCreditsFormGroup">
          <ng-template matStepLabel>Number of Credits</ng-template>
          <div style="margin-top: 10px">
            <p *ngIf="data && data.notify_msg" style="color: red !important">
              {{ data.notify_msg }}
            </p>
            <mat-form-field floatLabel="never">
              <mat-label>Enter number of Review credits to purchase</mat-label>
              <input matInput type="number" formControlName="credits" />
              <mat-error
                *ngIf="
                  numberOfCreditsFormGroup.controls['credits'].hasError(
                    'required'
                  )
                ">
                Please enter a valid number of Review credits to purchase
              </mat-error>
            </mat-form-field>
            <div class="cost-summary">
              <div>Cost Per Message: {{ data.costPerSMS | currency }}</div>
              <div style="line-height: 1.6; text-align: right">
                Subtotal: {{ subTotalAmount | currency }} <br />
                GST: {{ subTotalAmount * 0.1 | currency }} <br />
                <strong>Total: {{ subTotalAmount * 1.1 | currency }}</strong>
                <br />
              </div>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step label="Complete the payment">
        <div id="payment-element">
          Loading... Please wait for a sec!
          <!-- a Stripe Element will be inserted here. -->
        </div>
        <div class="payment-summary">
          Subtotal: {{ subTotalAmount | currency }}<br />
          GST: {{ taxAmount | currency }} <br />
          <strong>Total: {{ totalAmount | currency }}</strong
          ><br />
        </div>
        <!-- Used to display form errors -->
        <div id="card-errors" role="alert"></div>
        <div *ngIf="!disabledSubmit" style="margin-top: 10px">
          <button mat-icon-button matStepperPrevious>
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    mat-stroked-button
    class="mat-dc"
    mat-button
    *ngIf="isReadyToPay; else submitPaymentButton"
    [disabled]="
      numberOfCreditsFormGroup.controls['credits'].hasError('required')
    "
    (click)="nextPaymentForm(stepper)">
    Go to payment
  </button>
  <ng-template #submitPaymentButton>
    <button
      mat-stroked-button
      class="mat-dc"
      mat-button
      *ngIf="submitPaymentButton"
      [disabled]="disabledSubmit"
      (click)="onSubmitClick($event)"
      cdkFocusInitial>
      Submit Payment
    </button>
  </ng-template>
</div>
