<div class="chart-container">
    <mat-icon
        [tooltip]="toolTip"
        matTooltipPosition="below"
        color="primary"
        class="help-tip"
        fontIcon="help"
    ></mat-icon>
    <div class="chart-title">
        <mat-icon 
            *ngIf="(duration$ | async) != 'custom'"
            [color]="trendingIcon == 'trending_up'?'primary':'warn'" 
            [fontIcon]="trendingIcon"
            [matTooltip]="getTrendTip$ | async"
        ></mat-icon>
        <span>
            Total Discounts
        </span>
    </div>
    <div class="chart-content">
        <div class="canvas-wrapper chart-box">
            <div class="chart-gauge total-discount-gauge">
                <spin-loader *ngIf="isLoading$ | async; else chartElem"></spin-loader>
                <ng-template #chartElem>
                    <canvas
                        *ngIf="!(isLoading$ | async) && totalDiscountChartLabels.length > 0"
                        baseChart
                        [datasets]="datasets"
                        [labels]="totalDiscountChartLabels"
                        type="doughnut"
                        [legend]="legend$ | async"
                        [options]="pieChartOptions"
                        [plugins]="plugins$ | async"
                    >
                    </canvas>
                    <spin-loader class="empty-placeholder" *ngIf="totalDiscountChartLabels.length <= 0" [disableSpin]="true">
                        You have offered no discounts in the selected period
                    </spin-loader>
                </ng-template>
            </div>
            <div class="chart-foot">
                <div>
                    <h3>${{ totalDiscountChartTotal | number: '1.0-0' }}</h3>
                    <span>{{ durationLabel$ | async }}</span>
                </div>
                <div *ngIf="(duration$ | async) != 'custom'">
                    <h3>${{ totalDiscountChartTrendTotal | number: '1.0-0' }}</h3>
                    <span>{{ durationTrendLabel$ | async }}</span>
                </div>
            </div>
        </div>
    </div>
</div>