@import '../../../../../../assets/layout/styles/layout/mixin';
.ca-num-comp-chart {
  // max-height: 350px;
  gap: 15px !important;
}

.ca-num-comp-graph {
  min-height: 280px;
  flex: 1;
  width: 100%;
}

.dropdown-title {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-font {
  font-family: Gilroy-Bold !important;
  font-weight: 500 !important;
  line-height: 23px !important;
  color: #686d6c !important;
}
