<div class="chart-container">
  <mat-icon
    [tooltip]="toolTip"
    matTooltipPosition="below"
    color="primary"
    class="help-tip"
    fontIcon="help"></mat-icon>
  <mat-icon
    *ngIf="isTableIconVisible$ | async"
    [ngClass]="showTableInfo ? 'active' : ''"
    (click)="toggleTableInfo()"
    class="table-info-icon"
    fontIcon="table_rows_narrow" />
  <div class="chart-title">
    <mat-icon
      *ngIf="
        (duration$ | async) != 'custom' &&
        (!(isDentistMode$ | async) || !(isTrend$ | async))
      "
      [color]="trendingIcon == 'trending_up' ? 'primary' : 'warn'"
      [fontIcon]="trendingIcon"
      [matTooltip]="getTrendTip$ | async"></mat-icon>

    <span>No. Patient Complaints</span>
  </div>
  <div class="chart-content">
    <div class="canvas-wrapper chart-box ca-num-comp-chart">
      <div
        class="pa-table"
        *ngIf="showTableInfo && (isTableIconVisible$ | async); else graphElem">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Complaints</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let protbl of tableData">
              <td>{{ protbl.label }}</td>
              <td>{{ protbl.value | number: '1.0-0' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #graphElem>
        <div class="chart-gauge ca-num-comp-graph">
          <spin-loader *ngIf="isLoading$ | async; else chartElem"></spin-loader>
          <ng-template #chartElem>
            <ngx-gauge
              *ngIf="
                (isDentistMode$ | async) &&
                !(isTrend$ | async) &&
                (hasData$ | async)
              "
              type="arch"
              [value]="gaugeValue"
              [label]="gaugeLabel"
              [thick]="20"
              backgroundColor="#f4f0fa"
              foregroundColor="#4ccfae"
              [max]="maxGoal"
              cap="round"
              [duration]="2500"
              prepend=""
              [size]="300">
            </ngx-gauge>
            <canvas
              baseChart
              *ngIf="
                (!(isDentistMode$ | async) || (isTrend$ | async)) &&
                (hasData$ | async)
              "
              [datasets]="datasets"
              [labels]="labels"
              [legend]="chartLegend$ | async"
              [type]="chartType$ | async"
              [options]="chartOptions$ | async"
              [colors]="newpColors">
            </canvas>
            <spin-loader
              class="empty-placeholder"
              *ngIf="!(hasData$ | async)"
              [disableSpin]="true">
              You have no complaints in the selected period
            </spin-loader>
          </ng-template>
        </div>
      </ng-template>

      <div class="chart-foot" *ngIf="isEnableFooter$ | async">
        <div>
          <h3>{{ total }}</h3>
          <span>{{ durationLabel$ | async }}</span>
        </div>

        <div *ngIf="(duration$ | async) !== 'custom'">
          <h3>{{ prev }}</h3>
          <span>{{ durationTrendLabel$ | async }}</span>
        </div>
        <div *ngIf="goal >= 0 && (showGoals$ | async) == true">
          <h3 *ngIf="goal && (goalCount$ | async)">
            {{ goal * (goalCount$ | async) }}
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
