
<input type="button" id="clinic_initiate" (click) = "initiate_clinic()"  [style.display]="'none'">

<mat-card>
    <mat-card-content>
        <mat-card-title><span class="main-title">Defaulters</span> </mat-card-title>
   
        <mat-form-field>
            <input matInput type='text' class="form-control" placeholder='Type to filter Defaulters Name...' (keyup)='updateFilter($event)'/>
        </mat-form-field>
     
        <div class="ngx_datatable_scroll_div">
        <ngx-datatable #table class='material responsive-datatable rdt_1600px' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
            [rowHeight]="'auto'" [limit]="10" [rows]='rows'  [messages]="{emptyMessage: 'You have no defaulters.',totalMessage: 'total'}">

      <ngx-datatable-column  prop="patient_name" name="patient_name">
         <ng-template let-column="column" ngx-datatable-header-template>
        <span>Patient Name</span>
      </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            <span class="datatable_label">Patient Name : </span>{{value}}
       </ng-template>
      </ngx-datatable-column>
       <ngx-datatable-column prop="patient_email" name="patient_email">
         <ng-template let-column="column" ngx-datatable-header-template>
        <span>Patient Email</span>
      </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            <span class="datatable_label">Patient Email : </span>{{value}}
          </ng-template>
      </ngx-datatable-column>      
       <ngx-datatable-column prop="patient_phone_no" name="patient_phone_no">
         <ng-template let-column="column" ngx-datatable-header-template>
        <span>Contact Number</span>
      </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            <span class="datatable_label">Contact Number : </span>{{value}}
       </ng-template>
      </ngx-datatable-column>
       <ngx-datatable-column prop="plan_type" name="plan_type">
        <ng-template let-column="column" ngx-datatable-header-template>
       <span>Plan</span>
     </ng-template>
       <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
           <span class="datatable_label">Plan : </span><span *ngIf="value=='inoffice'">Payment Plan</span><span *ngIf="value=='manual'">Membership Plan</span>
       </ng-template>
     </ngx-datatable-column>
     <ngx-datatable-column prop="reminder_date" name="reminder_date">
        <ng-template let-column="column" ngx-datatable-header-template>
       <span>Reminder Sent on:</span>
     </ng-template>
       <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
           <span>{{value| date:'dd-MM-y'}}</span>
       </ng-template>
     </ngx-datatable-column>
       <ngx-datatable-column prop="reminder_date" name="reminder_date">
        <ng-template let-column="column" ngx-datatable-header-template>
       <span>Actions</span>
     </ng-template>
       <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <i _ngcontent-c15="" class="ti-email send_default" (click) = "sendDefaultersemail(rowIndex)"></i>
       </ng-template>
     </ngx-datatable-column>

        </ngx-datatable>
            </div>
    </mat-card-content>
</mat-card>