<!-- ============================================================== -->
<!-- Card Grid-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
 <div fxFlex.gt-sm="100" fxFlex="100">
  <mat-card>
  <mat-card-content>
  <mat-card-title> Payment Plans > {{plan_description | titlecase}}
   <!--     <button class="sa-pull-right mat-raised-button mat-gray" (click) = "goBack()">Back</button>
         <button class="sa-pull-right mat-raised-button danger" mat-menu-item (click) = "deletePatients()">Delete</button> -->

<button class="sa-pull-right mat-raised-button mat-gray"  (click) = "sendDefaultersemail(patient_name,patient_email,patient_id,id)" *ngIf="patient_status=='ACTIVE' && !trial"> Generate Update Card Link </button>
     
  </mat-card-title>
               <!-- ============================================================== -->
                <!-- column -->
                <!-- ============================================================== -->
<div fxLayout="row wrap" style="width:100%;">
                    <!-- Card column -->
 <div fxFlex.gt-sm="100" fxFlex="100" class="sa_mattabs_design sa_matforms_design">
 <mat-tab-group dynamicHeight>
                        <!-- Plan Details tab -->
    <mat-tab label="Plan Details">
         <div fxLayout="row wrap" class="row-tablePD" fxLayoutGap="2%" fxLayoutGap.md="0">
          <div fxFlex="49" fxFlex.md="100" class="sa_mattabs_design sa_matforms_design sa_table_evenodd">
      <form>
        <h3 style="margin-top:0px;" class="sb_title">Plan Details</h3>
        <table class="green_table">
              <tr>
                  <th>Patient Name</th>
                  <td>{{patient_name}}</td>
                </tr>
                <tr>
                  <th>Patient Email</th>
                  <td>{{patient_email}}</td>
                </tr>
                 <tr>
                  <th>Patient Date Of Birth</th>
                  <td>{{patient_dob| date:'dd-MM-y':'UTC +10'}}</td>
                </tr>
                <tr>
                  <th>Plan Description</th>
                  <td>{{plan_description}}</td>
                </tr>
                <tr>
                  <th>Plan Amount</th>
                  <td><span *ngIf="isDecimal(total_amount)"> {{total_amount  | currency: 'USD': 'symbol':'1.2-2'}} </span> <span  *ngIf="!isDecimal(total_amount)">{{total_amount| currency: 'USD': 'symbol':'1.0'}}</span></td>
                </tr>
                 <tr>
                  <th>Setup Fee</th>
                  <td><span *ngIf="isDecimal(setup_fee)"> {{setup_fee  | currency: 'USD': 'symbol':'1.2-2'}} </span> <span  *ngIf="!isDecimal(setup_fee)">{{setup_fee| currency: 'USD': 'symbol':'1.0'}}</span></td>
                </tr>
                 <tr>
                  <th>Total Amount</th>
                  <td><span *ngIf="isDecimal(total_amount + setup_fee)"> {{total_amount + setup_fee  | currency: 'USD': 'symbol':'1.2-2'}} </span> <span  *ngIf="!isDecimal(total_amount + setup_fee)">{{total_amount + setup_fee| currency: 'USD': 'symbol':'1.0'}}</span></td>
                </tr>
                <tr>
                  <th>Deposited Amount</th>
                  <td><span *ngIf="isDecimal(deposite_amount)"> {{deposite_amount  | currency: 'USD': 'symbol':'1.2-2'}} </span> <span *ngIf="!isDecimal(deposite_amount)">{{deposite_amount| currency: 'USD': 'symbol':'1.0'}}</span></td>
                </tr>
                <tr>
                  <th>Outstanding Amount</th>
                  <td><span *ngIf="isDecimal(balance_amount)"> {{balance_amount  | currency: 'USD': 'symbol':'1.2-2'}} </span> <span *ngIf="!isDecimal(balance_amount)">{{balance_amount| currency: 'USD': 'symbol':'1.0'}}</span></td>
                </tr>
                <tr>
                  <th>Payment Frequency</th>
                  <td>{{payment_frequency|titlecase}}</td>
                </tr>
                   <tr>
                  <th>Payment Duration</th>
                  <td>{{duration}}</td>
                </tr>
                  <tr>
                  <th>{{payment_frequency| titlecase}} Payment</th>
                  <td><span *ngIf="isDecimal(monthly_weekly_payment)"> {{monthly_weekly_payment  | currency: 'USD': 'symbol':'1.2-2'}} </span> <span  *ngIf="!isDecimal(monthly_weekly_payment)">{{monthly_weekly_payment| currency: 'USD': 'symbol':'1.0'}}</span></td>
                </tr>
                <tr>
                  <th>Start Date</th>
                  <td><span *ngIf="start_date">{{start_date | date:'dd-MM-y':'UTC +10'}}</span><span *ngIf="!start_date">Plan Not Started</span></td>
                </tr>
                <tr>
                  <th>Next Payment Date</th>
                  <td><span *ngIf="start_date">{{due_date | date:'dd-MM-y':'UTC +10'}}</span><span *ngIf="!start_date">Plan Not Started</span></td>
                </tr>
         </table>
      </form>
    </div>
      <div fxFlex="49" fxFlex.md="100" class="sa_mattabs_design sa_matforms_design">
          <h3 style="float:left; margin-top:0px; display:block; width:100%;" class="sb_title">Subscription Details</h3>
                      <div class="responsive_table_main">
                          <table class="tabs_table responsive_table">
                                    <thead>
                                        <tr>
                                            <th>Subscription Id</th>
                                            <th>Amount</th>                                            
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Cancelled On</th>
                                            <th>Status</th>
                                            <th>Frequency</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let data of subscrData">
                                    <tr *ngIf="!(patient_status == 'INCOMPLETE' && data.status=='canceled')" >
                                        <td><span class="res_table_label">Subscription id : </span> {{data.id }}</td>
                                        <td><span class="res_table_label">Amount :</span>
                                          <span *ngIf="isDecimal(data.plan.amount/100)">{{ data.plan.amount/100 | currency: 'USD': 'symbol':'1.2-2'}}</span>
                                          <span *ngIf="!isDecimal(data.plan.amount/100)">{{ data.plan.amount/100 | currency: 'USD': 'symbol':'1.0'}}</span>
                                        </td>
                                        <td><span class="res_table_label">Start Date :</span> {{data.created * 1000| date:'dd-MM-y':'UTC +10'}}</td>
                                        <td><span class="res_table_label">End Date : </span> {{data.cancel_at * 1000| date:'dd-MM-y':'UTC +10'}}</td>
                                        <td><span class="res_table_label">Cancelled On : </span> <span  *ngIf="data.canceled_at != null && data.status!='active' ">{{data.canceled_at * 1000| date:'dd-MM-y':'UTC +10'}}</span></td>
                                        <td><span class="res_table_label">Status : </span> {{data.status| titlecase }}</td>
                                        <td><span class="res_table_label">Frequency :</span> {{data.plan.interval| titlecase }}ly</td>
                                    </tr>                                   
                                    </tbody>
                               </table>
                             </div>
                        </div>
 </div>
</mat-tab>
<!-- Payment History tab -->
  <mat-tab label="Payment History">

     <table class="tabs_table responsive_table">
                                    <thead>
                                        <tr>
                                            <th>Customer ID</th>
                                            <th>Subscriber ID</th>
                                            <th>Invoice Date</th>
                                            <th>Total Paid</th>
                                            <th>Payment Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let data of payment" [ngClass]="{'hide-row': data.total_paid<=0}" >

                                        <td><span class="res_table_label">Customer ID : </span> {{data.customer_id}}</td>
                                        <td><span class="res_table_label">Subscriber ID : </span> {{data.subscriptionId}}</td>
                                        <td><span class="res_table_label">Invoice Date : </span> {{data.created_at| date:'dd-MM-y':'UTC +10'}}</td>
                                        <td><span class="res_table_label">Amount : </span><span *ngIf="isDecimal(data.total_paid)"> {{data.total_paid  | currency: 'USD': 'symbol':'1.2-2'}} </span> <span  *ngIf="!isDecimal(data.total_paid)">{{data.total_paid| currency: 'USD': 'symbol':'1.0'}}</span></td>
                                        <td><span class="res_table_label">Payment Status : </span> 
                                        <mat-chip-list>
                                          <mat-chip color="primary" selected *ngIf="data.paid == '1'">PAID</mat-chip>
                                          <mat-chip color="warn" selected *ngIf="data.paid == '0'">FAILED</mat-chip> 
                                        </mat-chip-list>
                                        </td>
                                    </tr>
                                    <tr *ngIf="payment.length==0||payment.length==''"><td colspan="6">No Data to Display</td></tr>
                                    </tbody>
                                </table>
         
</mat-tab>
<mat-tab label="Contract Upload">                 
  <div   class="sa_forms_design payment_full_info" >
         <div fxLayout="row column" fxLayoutGap="20px" fxLayoutGap.xs="0px" class="payment_contract_responsive" >
            <div fxFlex="calc(50% - 10px)" fxFlex.xs="100">
                <div class="download">
                 <div class="agreement-thumbnail" *ngIf="uploadedSignedContract;">
                  <img src="../assets/images/contract.png"><br>
                    <a mat-raised-button class="contractupload" color="gray" target="_blank" href="{{uploadedSignedContract}}"><i class="fas fa-cloud-download-alt"></i> Download Contract</a>
                   </div>
               </div>
             </div>
                <div  fxFlex="calc(50% - 10px)" fxFlex.xs="100" class="payment_info_screen">
                    <form [formGroup]="form" class="basic-form" (ngSubmit)="onSubmit()">
                      <div class="bd_UpoadImage uploadsignedContract">
                          <label>Upload Agreement</label>
                          <div class="upload-btn">
                              <span>Choose file</span>
                              <input class="contractFile" type="file" placeholder="" name= "file" id="file" (change)="uploadImage($event.target.files)">
                              <input type='hidden'  placeholder="" id="imageURL" >
                          </div>         
                       </div>

                   <div class="preview">
                 <p *ngIf="previewSignedContract;">
                    <a mat-raised-button class="contractupload" color="dc" target="_blank" href="{{previewSignedContract}}">Preview Uploaded Contract</a>
                    <span class="material-icons" (click)="deleteSignedDocImage()">delete_forever</span>
                   </p>
               </div> 

                  <!--button mat-raised-button color="dc" class="sa-pull-right" [disabled]="imagepreviewURL=='' || imagepreviewURL==null">Save</button-->
                
            </form>
          </div>
           <!--  <div fxFlex.gt-sm="100%" fxFlex="50" class="display_50">
              <div fxFlex="25" class="download">
              </div>

                <div fxFlex="25" class="download">
                 <p *ngIf="uploadedSignedContract; else empty">
                    <a mat-raised-button class="contractupload" color="dc" target="_blank" *ngIf ="imageURL!=''" href="{{uploadedSignedContract}}">Download Contract</a>
                   </p>
               </div>
            

             </div> -->
              

        </div>  
        </div>   
      </mat-tab>
     </mat-tab-group>
    </div>
   </div>
  </mat-card-content>
 </mat-card>
</div>
</div>
