<div class="chart-container">
  <mat-icon
    [tooltip]="toolTip"
    matTooltipPosition="below"
    color="primary"
    class="help-tip"
    fontIcon="help"></mat-icon>
  <div class="chart-title">
    <div>Expenses</div>
    <button
      *ngIf="selectedData.length > 1 && !(isMultipleClinic$ | async)"
      (click)="openExpensesDialog()"
      mat-flat-button
      color="primary">
      Show More
    </button>
  </div>
  <div class="chart-content expenses-content">
    <spin-loader
      class="empty-placeholder"
      *ngIf="isComingSoon; else enabledChart"
      [disableSpin]="true">
      Coming Soon...
    </spin-loader>
    <ng-template #enabledChart>
      <div class="expenses-ngx-chart">
        <spin-loader
          class="empty-placeholder"
          *ngIf="!(isConnectedWith$ | async); else chartEle"
          [disableSpin]="true">
          Please connect to Xero/MYOB to display this chart
        </spin-loader>
  
        <ng-template #chartEle>
          <spin-loader
            class="empty-placeholder"
            *ngIf="!isFullMonths; else ce0"
            [disableSpin]="true">
            Please select a date range consisting of full months to view
            Accounting charts
          </spin-loader>
          <ng-template #ce0>
            <spin-loader
              *ngIf="isLoading$ | async; else chartElem0"></spin-loader>
            <ng-template #chartElem0>
              <spin-loader
                class="empty-placeholder"
                *ngIf="!(hasData$ | async); else chartElem2"
                [disableSpin]="true">
                No expenses found for the selected period
              </spin-loader>
              <ng-template #chartElem2>
                <canvas
                  *ngIf="isMultipleClinic$ | async; else singleChart"
                  baseChart
                  [datasets]="datasets"
                  [labels]="labels"
                  [options]="labelBarOptionsMultiPercentage"
                  [legend]="false"
                  type="bar"></canvas>
                <ng-template #singleChart>
                  <ngx-charts-pie-chart
                    [view]="[500, 320]"
                    [scheme]="colorScheme"
                    [trimLabels]="true"
                    [maxLabelLength]="15"
                    [results]="selectedData"
                    [legend]="false"
                    [explodeSlices]="isExplodeSlices"
                    [labels]="isShowLabels"
                    [arcWidth]="arcWidth"
                    [doughnut]="isDoughnut"
                    [gradient]="isGradient"
                    [tooltipDisabled]="isTooltipDisabled"
                    [tooltipText]="pieTooltipText"
                    [labelFormatting]="pieLabelText">
                  </ngx-charts-pie-chart>
                </ng-template>
              </ng-template>
            </ng-template>
          </ng-template>
        </ng-template>
      </div>
      <div class="benchmarks-content">
        <h6>Industry Benchmarks</h6>
        <span><b>Dentist:</b> 35-40%</span><br />
        <span><b>Lab Fees:</b> 2-4%</span><br />
        <span><b>Consumables:</b> 6-8%</span><br />
        <span><b>Advertising:</b> 2-5%</span><br />
        <span><b>Rent:</b> 4-8%</span><br />
        <span><b>Wages (non-clinical):</b> 18-23%</span><br />
        <span><b>EBITDA (profit):</b> 5-25%</span>
      </div>
    </ng-template>

  </div>
</div>
