<div class="inner-pages">
  <header id="header" class="sa-ste">
    <div class="container-fluid sa-cf">
      <nav class="navbar navbar-expand-lg navbar-light navbar-main">
        <a class="navbar-brand logo" href="#">
          <img
            class="d-none d-md-block logo-color"
            src="../../assets/images/home/logo.png"
            alt="logo"
          />
          <img
            class="d-block d-md-none logo-white"
            src="../../assets/images/home/logo-white.png"
            alt="logo white"
          />
        </a>
        <button
          class="navbar-toggler navbar-toggler-mob"
          type="button"
          onclick="openNav()"
        >
          <div class="openMenu">
            <span class="navbar-toggler-line line-first"></span>
            <span class="navbar-toggler-line line-second"></span>
            <span class="navbar-toggler-line line-third"></span>
          </div>
        </button>
        <div id="myNav" class="overlay menu">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
            >&times;</a
          >
          <div class="overlay-content">
            <ul class="navbar-nav navbar-nav-main ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/xero">Xero Integration</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-login" href="/login">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <div class="mainCon">
    <div class="banner">
      <h1>Jeeve Signup</h1>
    </div>
    <div class="know-more">
      <h2><span id="under-line-exp">WANT TO KNOW MORE?</span></h2>
      <p>
        Please enter your details below and a member of the Jeeve team will be
        in touch to discuss how we can get you up and running!
      </p>
    <!--   <p>
        <button class="xero-btn" href="display:void()" (click)="">
          Sign In With Xero
        </button>
      </p> -->
    </div>
    <div class="sign-form">
      <div class="sign-form-inner">
        <div
          class="ml-form-embed"
          data-account="2348549:w4o2f2u2e9"
          data-form="2732798:t5y8o8"
        ></div>
      </div>
    </div>
  </div>

  <!-- Return to Top -->
  <footer>
    <div class="container" style="text-align: center">
      <div class="footerLogo">
        <img src="../../assets/images/home/footer-logo.png" />
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="widget mb-4 mb-md-0">
            <h6>Navigation</h6>
            <ul class="nav flex-column primary-hover">
              <li class="nav-item">
                <a class="nav-link" href="/xero">Xero Integration</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="widget mb-4 mb-sm-0">
            <h6>Social</h6>
            <ul class="nav flex-column primary-hover">
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="https://www.facebook.com/jeevesolutions"
                  target="_blank"
                  >Facebook</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="https://www.instagram.com/jeeve_solutions/"
                  target="_blank"
                  >Instagram</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="https://www.linkedin.com/company/jeeve-solutions"
                  target="_blank"
                  >Linkedin</a
                >
              </li>
            </ul>
          </div>
        </div>
        <!--  <div class="col-md-4 col-sm-6">
                  <div class="widget bg-grad widget-form mb-4 mb-sm-0">
                     <h6>Newsletter</h6>
                     <div class="form-group mb-0">
                        <input class="form-control" type="email" placeholder="Your Email Address">
                        <p class="mb-3">We will  not disclose your details with others and spam your inbox.</p>
                        <button class="btn btn-main btn-block mb-0">Subcsribe</button>
                     </div>
                  </div>
               </div> -->
      </div>
    </div>
    <div class="copyright-section text-center">
      <div class="container">
        © 2021 Jeeve analytics - 2021 All right Reserved
      </div>
    </div>
  </footer>
</div>
