@import '../../../../assets/layout/styles/layout/mixin';

.finance-page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  .date-range-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  @include respond-from('tablet-portrait') {
    // flex-direction: column;
    // justify-content: flex-start;
    gap: 15px;
  }

  .mat-tab {
    padding: 0 !important;
  }
}

.finance-chart-content {
  background-color: #fafafa;
  padding: 15px;
  height: calc(100vh - 142px);
  overflow-y: auto;

  @include respond-from('desktop') {
    height: calc(100vh - 160px);
  }

  @include respond-from('tablet-landscape') {
    height: calc(100vh - 220px);
  }

  @include respond-from('tablet-portrait') {
    height: calc(100vh - 210px);
  }  

  @include respond-from('phone') {
    height: calc(100vh - 245px);
  }
}


