@import '../../../../assets/layout/styles/layout/mixin';

.finance-page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  @include respond-from('phone') {
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
  }

  .mat-tab {
    padding: 0 !important;
  }
}

.finance-chart-content {
  background-color: #fafafa;
  padding: 15px;
  height: calc(100vh - 135px);
  overflow-y: auto;

  @include respond-from('desktop') {
    height: calc(100vh - 165px);
  }

  @include respond-from('tablet-landscape') {
    height: calc(100vh - 202px);
  }

  @include respond-from('tablet-portrait') {
    height: calc(100vh - 240px);
  }  

  @include respond-from('phone') {
    height: calc(100vh - 365px);
  }
}


