@import '../../../../assets/layout/styles/layout/mixin';

.finance-page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include respond-from('phone') {
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
  }

  .mat-tab {
    padding: 0 !important;
  }
}

.finance-chart-content {
  background-color: #fafafa;
  padding: 15px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  .chart-list{
    gap: 15px;
    display: flex;
    flex-direction: column;
  }
  .stats-card-list {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: space-around;
    @include respond-from('phone') {
      flex-direction: column;
    }
    .stats-card-finance {
      flex: 1;
    }
  }
  .chart-row{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    gap: 15px;
    @include respond-from('tablet-landscape') {
      flex-direction: column;
    }
    .expenses-chart {
      flex: 2;
      display: flex;
      flex-direction: column;
    }

    .prod-per-clinic-chart, .prod-per-visit-chart, .total-discount-chart {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .prod-collection-chart {
      flex: 1;
    }
  }
}


