<div class="setJeeveNames">
  <h1 mat-dialog-title class="mat-dialog-title">Set Jeeve Names</h1>
  <div mat-dialog-content class="sa_forms_design">
    <div class="sa-form-group lable-set-jeeve-names">
      <label>Jeeve Id 1</label>
    </div>
    <div
      class="sa-form-group input-set-jeeve-names"
      *ngIf="data.jeeveNames[(startid + 1).toString()] != 'undefined'"
    >
      <input
        placeholder="Clinician Name"
        name="jeeve_names"
        (keyup)="updatevalue($event,1)"
        value="{{data.jeeveNames[(startid + 1).toString()]}}"
      />
    </div>
    <div
      class="sa-form-group input-set-jeeve-names"
      *ngIf="data.jeeveNames[(startid + 1).toString()] == 'undefined'"
    >
      <input
        placeholder="Clinician Name"
        name="jeeve_names"
        (keyup)="updatevalue($event,1)"
        value=""
      />
    </div>
  </div>
  <div mat-dialog-content class="sa_forms_design">
    <div class="sa-form-group lable-set-jeeve-names">
      <label>Jeeve Id 2</label>
    </div>
    <div
      class="sa-form-group input-set-jeeve-names"
      *ngIf="data.jeeveNames[(startid + 2).toString()] != 'undefined'"
    >
      <input
        placeholder="Clinician Name"
        name="jeeve_names"
        (keyup)="updatevalue($event,2)"
        value="{{data.jeeveNames[(startid + 2).toString()]}}"
      />
    </div>
    <div
      class="sa-form-group input-set-jeeve-names"
      *ngIf="data.jeeveNames[(startid + 2).toString()] == 'undefined'"
    >
      <input
        placeholder="Clinician Name"
        name="jeeve_names"
        (keyup)="updatevalue($event,2)"
        value=""
      />
    </div>
  </div>
  <div mat-dialog-content class="sa_forms_design">
    <div class="sa-form-group lable-set-jeeve-names">
      <label>Jeeve Id 3</label>
    </div>
    <div
      class="sa-form-group input-set-jeeve-names"
      *ngIf="data.jeeveNames[(startid + 3).toString()] != 'undefined'"
    >
      <input
        placeholder="Clinician Name"
        name="jeeve_names"
        (keyup)="updatevalue($event,3)"
        value="{{data.jeeveNames[(startid + 3).toString()]}}"
      />
    </div>
    <div
      class="sa-form-group input-set-jeeve-names"
      *ngIf="data.jeeveNames[(startid + 3).toString()] == 'undefined'"
    >
      <input
        placeholder="Clinician Name"
        name="jeeve_names"
        (keyup)="updatevalue($event,3)"
        value=""
      />
    </div>
  </div>
  <div mat-dialog-content class="sa_forms_design">
    <div class="sa-form-group lable-set-jeeve-names">
      <label>Jeeve Id 4</label>
    </div>
    <div
      class="sa-form-group input-set-jeeve-names"
      *ngIf="data.jeeveNames[(startid + 4).toString()] != 'undefined'"
    >
      <input
        placeholder="Clinician Name"
        name="jeeve_names"
        (keyup)="updatevalue($event,4)"
        value="{{data.jeeveNames[(startid + 4).toString()]}}"
      />
    </div>
    <div
      class="sa-form-group input-set-jeeve-names"
      *ngIf="data.jeeveNames[(startid + 4).toString()] == 'undefined'"
    >
      <input
        placeholder="Clinician Name"
        name="jeeve_names"
        (keyup)="updatevalue($event,4)"
        value=""
      />
    </div>
  </div>
  <div mat-dialog-content class="sa_forms_design">
    <div class="sa-form-group lable-set-jeeve-names">
      <label>Jeeve Id 5</label>
    </div>
    <div
      class="sa-form-group input-set-jeeve-names"
      *ngIf="data.jeeveNames[(startid + 5).toString()] != 'undefined'"
    >
      <input
        placeholder="Clinician Name"
        name="jeeve_names"
        (keyup)="updatevalue($event,5)"
        value="{{data.jeeveNames[(startid + 5).toString()]}}"
      />
    </div>
    <div
      class="sa-form-group input-set-jeeve-names"
      *ngIf="data.jeeveNames[(startid + 5).toString()] == 'undefined'"
    >
      <input
        placeholder="Clinician Name"
        name="jeeve_names"
        (keyup)="updatevalue($event,5)"
        value=""
      />
    </div>
  </div>
  <div mat-dialog-content class="sa_forms_design">
    <div class="sa-form-group lable-set-jeeve-names">
      <label>Jeeve Id 6</label>
    </div>
    <div
      class="sa-form-group input-set-jeeve-names"
      *ngIf="data.jeeveNames[(startid + 6).toString()] != 'undefined'"
    >
      <input
        placeholder="Clinician Name"
        name="jeeve_names"
        (keyup)="updatevalue($event,6)"
        value="{{data.jeeveNames[(startid + 6).toString()]}}"
      />
    </div>
    <div
      class="sa-form-group input-set-jeeve-names"
      *ngIf="data.jeeveNames[(startid + 6).toString()] == 'undefined'"
    >
      <input
        placeholder="Clinician Name"
        name="jeeve_names"
        (keyup)="updatevalue($event,6)"
        value=""
      />
    </div>
  </div>
  <div mat-dialog-content class="sa_forms_design">
    <div class="sa-form-group lable-set-jeeve-names">
      <label>Jeeve Id 7</label>
    </div>
    <div
      class="sa-form-group input-set-jeeve-names"
      *ngIf="data.jeeveNames[(startid + 7).toString()] != 'undefined'"
    >
      <input
        placeholder="Clinician Name"
        name="jeeve_names"
        (keyup)="updatevalue($event,7)"
        value="{{data.jeeveNames[(startid + 7).toString()]}}"
      />
    </div>
    <div
      class="sa-form-group input-set-jeeve-names"
      *ngIf="data.jeeveNames[(startid + 7).toString()] == 'undefined'"
    >
      <input
        placeholder="Clinician Name"
        name="jeeve_names"
        (keyup)="updatevalue($event,7)"
        value=""
      />
    </div>
  </div>
  <div mat-dialog-content class="sa_forms_design">
    <div class="sa-form-group lable-set-jeeve-names">
      <label>Jeeve Id 8</label>
    </div>
    <div
      class="sa-form-group input-set-jeeve-names"
      *ngIf="data.jeeveNames[(startid + 8).toString()] != 'undefined'"
    >
      <input
        placeholder="Clinician Name"
        name="jeeve_names"
        (keyup)="updatevalue($event,8)"
        value="{{data.jeeveNames[(startid + 8).toString()]}}"
      />
    </div>
    <div
      class="sa-form-group input-set-jeeve-names"
      *ngIf="data.jeeveNames[(startid + 8).toString()] == 'undefined'"
    >
      <input
        placeholder="Clinician Name"
        name="jeeve_names"
        (keyup)="updatevalue($event,8)"
        value=""
      />
    </div>
  </div>
  <div mat-dialog-content class="sa_forms_design">
    <div class="sa-form-group lable-set-jeeve-names">
      <label>Jeeve Id 9</label>
    </div>
    <div
      class="sa-form-group input-set-jeeve-names"
      *ngIf="data.jeeveNames[(startid + 9).toString()] != 'undefined' "
    >
      <input
        placeholder="Clinician Name"
        name="jeeve_names"
        (keyup)="updatevalue($event,9)"
        value="{{data.jeeveNames[(startid + 9).toString()]}}"
      />
    </div>
    <div
      class="sa-form-group input-set-jeeve-names"
      *ngIf="data.jeeveNames[(startid + 9).toString()] == 'undefined' "
    >
      <input
        placeholder="Clinician Name"
        name="jeeve_names"
        (keyup)="updatevalue($event,9)"
        value=""
      />
    </div>
  </div>
  <div mat-dialog-actions class="justify-between">
    <button mat-button (click)="onNoClick()" tabindex="-1" class="mat-raised-button mat-gray">
      Cancel
    </button>
    <button
      [disabled]="update"
      (click)="save(data)"
      tabindex="2"
      class="mat-raised-button mat-dc float-right"
    >
      Save
    </button>
  </div>
</div>
