

<input type="button" id="clinic_initiate" (click) = "initiate_clinic()"  [style.display]="'none'">
<mat-card>
    <mat-card-content>
        <mat-card-title><span class="main-title">In-Office Payment Plans</span>

          <button class="sa-pull-right mat-raised-button mat-gray mr-15" mat-raised-button (click)="openDialog()" *ngIf="clinic_id > 0">Add Payment Plan</button></mat-card-title>
           <div class="filter_status">
          <mat-form-field>
            <mat-label>Filter by Status</mat-label>
            <mat-select [(ngModel)]="StatusSelected" (ngModelChange)="statusFilter()">
              <mat-option  value="">Select All</mat-option>

              <mat-option  value="ACTIVE">Active</mat-option>
              <mat-option  value="INACTIVE">Inactive</mat-option>
              <mat-option  value="COMPLETED">Completed</mat-option>
              <mat-option  value="OVERDUE">Overdue</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-form-field>
            <input matInput type='text' class="form-control" placeholder='Type to filter by Patient name...' (keyup)='updateFilter($event)'
            />
        </mat-form-field>
        <ngx-datatable #table class='material responsive-datatable responsive-datatableH' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
            [rowHeight]="'auto'" [limit]="10" [rows]='rows' >
      <ngx-datatable-column  name="patient_name"  prop="patient_name">
         <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
        <span (click)="sort()">Patient Name</span>
      </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
             {{value}}
     </ng-template>
    </ngx-datatable-column>
       <ngx-datatable-column  name="plan_name"  prop="plan_name">
         <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
        <span (click)="sort()">Plan Name</span>
      </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
             {{value}}
     </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="patient_email" name="patient_email" class="minemail" [width] = "240">
         <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
        <span (click)="sort()">Email</span>
      </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
           <span class="setColumnValueWidth">{{value}}</span>
      </ng-template>
    </ngx-datatable-column>
     <ngx-datatable-column prop="total_amount" name="total_amount">
      <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
     <span (click)="sort()">Total Amount</span>
   </ng-template> 
     <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          $ {{value}}
      </ng-template>
   </ngx-datatable-column>
      <ngx-datatable-column prop="deposite_amount" name="deposite_amount">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
           <span (click)="sort()">Deposit Amount</span>
        </ng-template>
       <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          $ {{value}}
        </ng-template>
     </ngx-datatable-column>
       <ngx-datatable-column prop="balance_amount" name="balance_amount">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
           <span (click)="sort()">Outstanding Amount</span>
        </ng-template>
       <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          $ {{value}}
        </ng-template>
     </ngx-datatable-column>
   
      <ngx-datatable-column prop="patient_status" name="patient_status">
      <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
     <span (click)="sort()">Status</span>
   </ng-template>
     <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
        {{value}}
      </ng-template>
   </ngx-datatable-column>
   <ngx-datatable-column prop="start_date" name="start_date">
      <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
     <span (click)="sort()">Start Date</span>
   </ng-template>
     <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
        {{value | date:'dd-MM-yyyy'}}
      </ng-template>
   </ngx-datatable-column>
      <ngx-datatable-column name="id">
         <ng-template let-column="column" ngx-datatable-header-template>
        <span>Actions </span>
      </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value" style="width:266px!important;">
            <a [routerLink]="['/in-office-detail',value]" class="action_btn golden sa-pull-right mat-gray patient_detail_edit textonly" title= 'In-office History'>View</a>
          <!--   <a class="action_btn golden" (click)="openUpdateDialog(value)" title= 'Update Patient'><i class="ti-settings "></i></a> -->
          <button class="action_btn danger" mat-menu-item (click) = "deletePlan(rowIndex)">
         <i class="ti-trash text-danger"></i></button>
        </ng-template>
      </ngx-datatable-column>
        </ngx-datatable>
    </mat-card-content>
</mat-card>
