

<input type="button" id="clinic_initiate" (click) = "initiate_clinic()"  [style.display]="'none'">
<mat-card>
    <mat-card-content>
        <!--  <div class="warning_message" *ngIf="!connectedStripe">Your stripe account is not connected</div> -->
        <div class="main_title_outer">
            <div class="main_title_withbtn">
                <mat-card-title><span class="main-title">Payment Plans</span></mat-card-title>
            </div>
             <div class="title_btn" style="margin-bottom:10px;">
                <div fxLayout="row wrap" fxLayoutGap="2%">
                   
                    <div fxFlex.gt-xs="360px" fxFlex="100" style="text-align:right;" >
                        <button style="margin-bottom:10px;" class="mat-raised-button mat-gray" mat-raised-button (click)="openExportDialog()" *ngIf="clinic_id > 0">Export Payments</button>
                        <button style="margin-bottom:10px;" class="mat-raised-button mat-green" mat-raised-button (click)="openDialog()"[disabled]="!connectedStripe">Add Payment Plan</button>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutGap.xs="0" class="top-filter">            
                 <div fxFlex="25" fxFlex.sm="48" fxFlex.xs="100">
                        <div class="filter_status">
                            <mat-form-field >
                                <mat-label>Filter by Status</mat-label>
                                <mat-select [(ngModel)]="StatusSelected" (ngModelChange)="statusFilter()">
                                   <mat-option  value="">Select All</mat-option>
                                  <mat-option  value="ACTIVE">Active</mat-option>
                                  <mat-option  value="INACTIVE">Inactive</mat-option>
                                  <mat-option  value="COMPLETED">Completed</mat-option>
                                  <mat-option  value="OVERDUE">Overdue</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                <div fxFlex="25" fxFlex.sm="48" fxFlex.xs="100">
                <mat-form-field>
                    <input matInput type='text' class="form-control" placeholder='Type to filter Patient name...' (keyup)='updateFilter($event)'
                           autocomplete="off"/>
                </mat-form-field>
            </div>
          </div>
          
        <div class="ngx_datatable_scroll_div">
        <ngx-datatable #table class='material datatable-middle responsive-datatable rdt_1600px'  [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
            [rowHeight]="'auto'" [limit]="10" [rows]='rows' [messages]="{emptyMessage: 'You have no payment plans',totalMessage: 'total'}">
      <ngx-datatable-column  name="patient_name"  prop="patient_name">
         <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
        <span (click)="sort()">Patient Name</span>
      </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            <span class="datatable_label">Patient Name : </span>{{value}}
     </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column  name="plan_description"  prop="plan_description">
         <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
        <span (click)="sort()">Plan Description</span>
      </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            <span class="datatable_label">Plan Description : </span>{{value}}
     </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="patient_email" name="patient_email" class="minemail" [width] = "240">
         <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
        <span (click)="sort()">Email</span>
      </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
           <span class="setColumnValueWidth"><span class="datatable_label">Email : </span>{{value}}</span>
      </ng-template>
    </ngx-datatable-column>
     <ngx-datatable-column prop="total_amount" name="total_amount">
      <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
     <span (click)="sort()">Total Amount</span>
   </ng-template> 
     <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
         <span class="datatable_label">Total Amount : </span> <span *ngIf="isDecimal(value)"> {{value  | currency: 'USD':true:'1.2-2'}} </span> <span  *ngIf="!isDecimal(value)">{{value| currency: 'USD':true:'1.0'}}</span>
      </ng-template>
   </ngx-datatable-column>
       <ngx-datatable-column prop="balance_amount" name="balance_amount">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
           <span (click)="sort()">Outstanding Amount</span>
        </ng-template>
       <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
           <span class="datatable_label">Outstanding Amount : </span><span *ngIf="isDecimal(value)"> {{value  | currency: 'USD':true:'1.2-2'}} </span> <span  *ngIf="!isDecimal(value)">{{value| currency: 'USD':true:'1.0'}}</span>
        </ng-template>
     </ngx-datatable-column>
      <ngx-datatable-column prop="payment_status" name="payment_status">
      <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
     <span (click)="sort()">Status</span>
   </ng-template>
<ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
         <span class="datatable_label">Status : </span> 
         <mat-chip-list>
           <mat-chip color="primary" selected *ngIf="value == 'COMPLETED'">{{value}}</mat-chip>
            <mat-chip color="primary" selected *ngIf="value == 'ACTIVE'">{{value}}</mat-chip>
            <mat-chip color="warn" selected *ngIf="value == 'INACTIVE'">{{value}}</mat-chip> 
         </mat-chip-list>
      </ng-template>
   </ngx-datatable-column>
      <ngx-datatable-column name="id" [width] ="200">
      <ng-template let-column="column" ngx-datatable-header-template>
        <span>Actions </span>
      </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value" >
            <a [routerLink]="['/patient-paymentinfo',rows[rowIndex].inoffice_paymentID]" class="action_btn sa-pull-right patient_detail_edit textonly" title= 'In-office History'><span class="material-icons">edit</span></a>
          <button class="action_btn text-danger" mat-menu-item (click) = "deletePlan(rowIndex)" *ngIf="user_type !=3 && user_type !=4" title= 'Delete Plan'> 
         <span class="material-icons">delete</span></button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
    </div>
    </mat-card-content>
</mat-card>
