<select class="sa_select internal_dentist" [(ngModel)]="selectedDentist" (ngModelChange)="loadDentist($event)"
  [style.display]="'none'">
  <option value="all">All Dentist</option>
  <option *ngFor="let dentist of dentists" [value]="dentist.providerId"> {{dentist.name}}</option>
</select>
<input type="button" id="dentist_initiate" (click)="initiate_dentist()" [style.display]="'none'">
<input type="button" id="clinic_initiate" (click)="initiate_clinic()" [style.display]="'none'">
<input type="text" id="page_title" value="Finances" [style.display]="'none'">
<div class="sa_dashboard_inner_content sa_dentist_graphs_area">
  <div class="sa_card topbar-strip">
    <div class="dashboard-top-header" fxLayout="row wrap" fxLayoutGap="0px" fxLayoutGap.md="0" fxLayoutGap.sm="0"
      fxLayoutGap.xs="0">
      <div fxFlex>
        <app-date-menu-bar #dateBar (filter)="filterDate($event)" (changeDate)="choosedDate($event)">
        </app-date-menu-bar>
      </div>
      <div class="dh-target">
        <div class="onofftoogle">
          <span class="trend_mode_title">Trend:</span>
          <mat-button-toggle-group #group="matButtonToggleGroup" name="fontStyle"
            class="trendToggle sa_toogle_group2 toggle_switcher" aria-label="Font Style" [disabled]="trendxero">
            <mat-button-toggle checked value="off" class="target_off target_filter" (click)="toggleFilter('off')">
              <span>Off</span>
            </mat-button-toggle>
            <mat-button-toggle value="current" class="target_current target_filter"  [disabled]="Apirequest <= 0?false:true"
            (click)="Apirequest <= 0?toggleFilter('current'):false">
              <span>Monthly</span>
            </mat-button-toggle>
            <mat-button-toggle value="historic" class="target_historic target_filter" 
            [disabled]="Apirequest <= 0?false:true" (click)="Apirequest <= 0?toggleFilter('historic'):false">
              <span>Annual</span>
            </mat-button-toggle>
          </mat-button-toggle-group>

        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div fxLayout="row wrap">
      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="sa_flex_transparent"> {{startDate}}- {{endDate}}
      </div>
    </div>

    <!-- Column-->
    <div class="nonTrendMode">
      <div class="pb-2" fxLayout="row wrap" fxLayoutGap="20px" fxLayoutGap.md="20px" fxLayoutGap.sm="0"
        fxLayoutGap.xs="0">

        <div fxFlex="calc(32% - 10px)" fxFlex.md="calc(32% - 10px)" fxFlex.sm="100" fxFlex.xs="100" class="md_mrn">
          <mat-card-content class="sa_matcard_content">
            <!-- column -->
            <div class="sa_main_grid_dashboard profit-yellow d-flex no-block align-items-center">

              <div class="stats-icon">
                <img src="../assets/images/net-profit-xero.png" alt />
                <i class="fas fa-chart-bar"></i>
              </div>
              <div *ngIf="productionstats == false" class="stats">
                <h3 class="m-0">Production</h3>
                <h1 class="m-0">
                  <div class="loader-text">Calculating...</div>
                </h1>
              </div>
              <div *ngIf="productionstats == true" class="stats">
                <h3 class="m-0">Production</h3>
                <h1 class="m-0">$ {{netProfitProductionVal | number:'1.0-0'}}</h1>
              </div>
              <div class="info-button">
                <div class="info-icon-container">
                  <img [tooltip]="this.constants.tipFinProduction" src="../assets/images/info-icon.png" alt="info-icon" class="info-icon" />
                </div>
              </div>

            </div>
          </mat-card-content>
        </div>
        <div fxFlex="calc(32% - 10px)" fxFlex.md="calc(32% - 10px)" fxFlex.sm="100" fxFlex.xs="100" class="md_mrn">
          <mat-card-content class="sa_matcard_content">
            <!-- column -->
            <div class="sa_main_grid_dashboard profit-purple d-flex no-block align-items-center">
              <ng-container *ngIf="(xeroConnect || myobConnect);else NoXeroConnectProfitValuePlaceholder">
                <div class="stats-icon">
                  <img src="../assets/images/net-profit.png" alt />
                  <i class="fas fa-chart-bar"></i>
                </div>
                <div *ngIf="netprofitstats == false" class="stats">
                  <h3 class="m-0">Net Profit</h3>
                  <h1 class="m-0">
                    <div class="loader-text">Calculating...</div>
                  </h1>
                </div>
                <div *ngIf="netprofitstats == true" class="stats">
                  <h3 class="m-0">Net Profit</h3>
                  <h1 class="m-0">${{netProfitVal | number:'1.0-0'}}</h1>
                </div>
                <div class="info-button">
                  <div class="info-icon-container">
                    <img [tooltip]="this.constants.tipNetProfit" src="../assets/images/info-icon.png" alt="info-icon"
                      class="info-icon" />
                  </div>
                </div>
              </ng-container>
              <ng-template #NoXeroConnectProfitValuePlaceholder>
                <div *ngIf="!xeroConnect && !myobConnect" class="w-100">
                  <div class="sa_nodata_div no-found-data ">
                    <p>Please connect to Xero/MYOB to display this chart</p>
                  </div>
                </div>
              </ng-template>

            </div>
          </mat-card-content>
        </div>

        <div fxFlex="calc(32% - 10px)" fxFlex.md="calc(32% - 10px)" fxFlex.sm="100" fxFlex.xs="100" class="last md_mrn">
          <mat-card-content class="sa_matcard_content">
            <!-- column -->
            <div class="sa_main_grid_dashboard profit-green d-flex no-block align-items-center">
              <ng-container *ngIf="(xeroConnect || myobConnect);else NoXeroConnectProfitPlaceholder">
                <div class="stats-icon">
                  <img src="../assets/images/net-profit-PMS.png" alt />
                  <i class="fas fa-chart-bar"></i>
                </div>
                <div *ngIf="netprofitpercentstats == false" class="stats">
                  <h3 class="m-0">Net Profit % </h3>
                  <h1 class="m-0">
                    <div class="loader-text">Calculating...</div>
                  </h1>
                </div>
                <div *ngIf="netprofitpercentstats == true" class="stats">
                  <h3 class="m-0">Net Profit % </h3>
                  <h1 class="m-0"> {{netProfitPmsVal | number:'1.0-0'}}%</h1>
                </div>
                <div class="info-button">
                  <div class="info-icon-container">
                    <img [tooltip]="this.constants.tipNetProfitPercent" src="../assets/images/info-icon.png" alt="info-icon"
                      class="info-icon" />
                  </div>
                </div>
              </ng-container>
              <ng-template #NoXeroConnectProfitPlaceholder>
                <div class="w-100">
                  <div class="sa_nodata_div no-found-data ">
                    <p>Please connect to Xero/MYOB to display this chart</p>
                  </div>
                </div>
              </ng-template>

            </div>
          </mat-card-content>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutGap.md="0px" fxLayoutGap.sm="0" fxLayoutGap.xs="0">
        <div fxFlex="calc(64% - 10px)" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" class="sa_flexbg md_mrn
expenses_card custom_ngx_cw01">
          <mat-card class="chart_card">
            <mat-card-content class="sa_matcard_content">
              <mat-card-title class="text-center"> Expenses<div class="info-icon-container">
                  <img [tooltip]="this.constants.tipExpenses" src="../assets/images/info-icon.png" alt="info-icon" class="info-icon" />
                </div>
              </mat-card-title>
              <div class="card-body">
                <div class="sa_chart_summary_flip_main">
                  <div class=" sa_chart_summary_flip">
                    <div class="chart sa_chart_flip sa_flip">

                      <div fxLayout="row wrap">
                        <div class="ngx-charts-fix" fxLayout="row" fxLayoutAlign="space-around center" fxFlex.lg="65"
                          fxFlex.xl="65" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="70">
                          <ng-container *ngIf="(xeroConnect || myobConnect);else NoExpensePlaceholder">
                            <ngx-charts-pie-chart fxFlexAlign="center"
                              *ngIf="pieChartLabels && pieChartLabels.length > 0"
                              class="chart-container sa_chart_custom" [view]="[500, 320]" [scheme]="colorScheme"
                              [trimLabels]="true" [maxLabelLength]="15" [results]="single" [legend]="false"
                              [explodeSlices]="explodeSlices" [labels]="showLabels" [arcWidth]="arcWidth"
                              [doughnut]="doughnut" [gradient]="gradient" [tooltipDisabled]="tooltipDisabled"
                              [tooltipText]="pieTooltipText"> </ngx-charts-pie-chart>
                            <div *ngIf="pieChartLabels && pieChartLabels.length <= 0 && categoryExpensesLoader == false"
                              class="no-data-placeholder">
                              <div class="sa_nodata_div">
                              </div>
                              <p class="chart-placeholder-text">No expenses found for the selected period</p>
                            </div>
                          </ng-container>
                          <ng-template #NoExpensePlaceholder>
                            <div class="d-flex align-center h-100" *ngIf="categoryExpensesLoader == false">
                              <div class="w-100">
                                <div class="sa_nodata_div no-found-data no-finance-expense-data">
                                  <p>Please connect to Xero/MYOB to display this chart</p>
                                </div>
                              </div>
                            </div>
                          </ng-template>
                        </div>
                        <div class="" fxFlex.lg="35" fxFlex.xl="35" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
                          fxFlex="30" fxFlexAlign="center">
                          <div class="sa_pie_chart_txtdata">
                            <h6>Industry Benchmarks</h6>
                            <span><b>Dentist:</b> 35-40%</span> <span><b>Lab Fees:</b> 2-4%</span>
                            <span><b>Consumables:</b> 6-8%</span> <span><b>Advertising:</b> 2-5%</span>
                            <span><b>Rent:</b> 4-8%</span> <span><b>Wages (non-clinical):</b> 18-23%</span>
                            <span><b>EBITDA (profit):</b> 5-25%</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sa_summary_flip sa_flip" *ngIf="pieChartLabels && pieChartLabels.length > 0">
                      <div class="sa_list_show" *ngFor="let a of pieChartData; let i = index"> <span
                          class="sa_clr_box sa_clr{{i}}m"></span> <span class="frl">{{pieChartLabels[i]}}</span> <span
                          class="frv">{{a | number:'1.0-0'}} ({{pieChartDataPercentres[i]}}%)</span> </div>
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="(xeroConnect || myobConnect) && categoryExpensesLoader == true"
                class="loader_container loader_container_middle">
                <img class="loader_ico" src="../assets/images/720.gif">
                <div class="loader-text">Calculating...</div>
              </div>
              <div *ngIf="!xeroConnect && !myobConnect" class="loader_container loader_container_middle">
                <div class="loader-text">
                  <h3>Please connect to Xero/MYOB to display this chart</h3>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <!-- <div fxFlex="calc(36% - 10px)" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
          class="total_val sa_flexbg predictor_ratio md_mrn last custom_ngx_cw07">
          <mat-card class="">
            <mat-card-content class="sa_matcard_content">

              <mat-card-title class="text-center">
                <div>
                  <span class="predicted3Tool sa_inc_dec_arrows trend_arrow" mat-icon-button
                    matTooltip="{{trendText}} : ${{productionTrendVal | number:'1.0-0'}}" *ngIf="trendText"><img
                      class="trend_ico" src="../assets/images/trend_{{productionTrendIcon}}.png"></span>
                  Production Per Visit
                </div>
                <div class="info-icon-container">
                  <img [tooltip]="this.constants.tipProdPerVisit" src="../assets/images/info-icon.png" alt="info-icon" class="info-icon" />
                </div>
              </mat-card-title>
              <div class="card-body clinician-center-chart">
                <div style="height: 200px; width: 100%;"
                  *ngIf="productionVal > 0 && finProductionPerVisitLoader == false">
                  <ngx-gauge class="productionVisit" [type]="gaugeType" [value]="productionVal" [thick]="gaugeThick"
                    [prepend]="gaugePrependText" [foregroundColor]="foregroundColor" [backgroundColor]="backgroundColor"
                    [cap]="cap" [size]="size"> </ngx-gauge>
                </div>
                <div *ngIf="productionVal <= 0 && finProductionPerVisitLoader == false" class="no-data-placeholder">
                  <div class="sa_nodata_div">
                  </div>
                  <p class="chart-placeholder-text">You have no production in the selected period</p>
                </div>
              </div>
              <div class="card-footer">
                <div fxLayout="row wrap" class="m-t-40 predicted1 sa_chart_details_sec" *ngIf="productionVal > 0">
                  <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
                    <h3 class="m-0 value-num">${{productionVal | number:'1.0-0'}}</h3>
                    <span class="value-text" *ngIf="currentText != ''">{{currentText}}</span>
                    <span class="value-text" *ngIf="currentText == ''">Current</span>
                  </div>
                  <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
                    <h3 class="m-0 value-num">${{productionTrendVal | number:'1.0-0'}}</h3>
                    <span class="value-text" *ngIf="trendText != ''">{{trendText}}</span>
                    <span class="value-text" *ngIf="trendText == ''">Previous</span>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <div *ngIf="finProductionPerVisitLoader == true" class="loader_container loader_container_middle"><img
              class="loader_ico" src="../assets/images/720.gif">
            <div class="loader-text">Calculating...</div>
          </div>
        </div> -->
        <div fxFlex="calc(36% - 10px)" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
        class="sa_flexbg predictor_ratio md_mrn  custom_ngx_cw02">
        <mat-card class="sa_no_tabs_area">
          <mat-card-content class="sa_matcard_content">
            <mat-card-title class="text-center">Production % Per Clinician
              <div class="info-icon-container">
                <img [tooltip]="this.constants.tipProdPercentPerClinician" src="../assets/images/info-icon.png" alt="info-icon" class="info-icon" />
              </div>
            </mat-card-title>
            <div class="card-body clinician-center-chart">
              <div class="chart w-100" *ngIf="productionChartData.length > 0 && showInternal == true">
                <div style="height: 280px; width: 100%;">
                  <canvas class="productionPercentage" #myCanvas baseChart [data]="productionChartData"
                    [labels]="productionChartLabels" [chartType]="productionChartType"
                    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"
                    [options]="pieChartOptions" [colors]="pieChartColors"></canvas>
                </div>
              </div>
              <div *ngIf="productionChartData.length <= 0 && finProductionByClinicianLoader == false"
                class="no-data-placeholder">
                <div class="sa_nodata_div">
                </div>
                <p class="chart-placeholder-text">You have no production in the selected period</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <div *ngIf="finProductionByClinicianLoader == true" class="loader_container loader_container_middle"><img
            class="loader_ico" src="../assets/images/720.gif">
          <div class="loader-text">Calculating...</div>
        </div>
      </div>


      </div>
      <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutGap.md="0px" fxLayoutGap.sm="0" fxLayoutGap.xs="0">
        <div fxFlex="calc(49% - 10px)" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
          class="total_val sa_flexbg predictor_ratio md_mrn custom_ngx_cw03">
          <mat-card class="">
            <mat-card-content class="sa_matcard_content">

              <mat-card-title class="text-center">
                <div>
                  <span class="predicted3Tool sa_inc_dec_arrows trend_arrow" mat-icon-button
                    matTooltip="{{trendText}} : ${{productionTrendVal | number:'1.0-0'}}" *ngIf="trendText"><img
                      class="trend_ico" src="../assets/images/trend_{{productionTrendIcon}}.png"></span>
                  Production Per Visit
                </div>
                <div class="info-icon-container">
                  <img [tooltip]="this.constants.tipProdPerVisit" src="../assets/images/info-icon.png" alt="info-icon" class="info-icon" />
                </div>
              </mat-card-title>
              <div class="card-body clinician-center-chart">
                <div style="height: 200px; width: 100%;"
                  *ngIf="productionVal > 0 && finProductionPerVisitLoader == false">
                  <ngx-gauge class="productionVisit" [type]="gaugeType" [value]="productionVal" [thick]="gaugeThick"
                    [prepend]="gaugePrependText" [foregroundColor]="foregroundColor" [backgroundColor]="backgroundColor"
                    [cap]="cap" [size]="size"> </ngx-gauge>
                </div>
                <div *ngIf="productionVal <= 0 && finProductionPerVisitLoader == false" class="no-data-placeholder">
                  <div class="sa_nodata_div">
                  </div>
                  <p class="chart-placeholder-text">You have no production in the selected period</p>
                </div>
              </div>
              <div class="card-footer">
                <div fxLayout="row wrap" class="m-t-40 predicted1 sa_chart_details_sec" *ngIf="productionVal > 0">
                  <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
                    <h3 class="m-0 value-num">${{productionVal | number:'1.0-0'}}</h3>
                    <span class="value-text" *ngIf="currentText != ''">{{currentText}}</span>
                    <span class="value-text" *ngIf="currentText == ''">Current</span>
                  </div>
                  <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
                    <h3 class="m-0 value-num">${{productionTrendVal | number:'1.0-0'}}</h3>
                    <span class="value-text" *ngIf="trendText != ''">{{trendText}}</span>
                    <span class="value-text" *ngIf="trendText == ''">Previous</span>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <div *ngIf="finProductionPerVisitLoader == true" class="loader_container loader_container_middle"><img
              class="loader_ico" src="../assets/images/720.gif">
            <div class="loader-text">Calculating...</div>
          </div>
        </div>
        <div fxFlex="calc(49% - 10px)" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
          class="sa_flexbg predictor_ratio md_mrn last custom_ngx_cw07">
          <mat-card class="">
            <mat-card-content class="sa_matcard_content">
              <mat-card-title class="text-center total-dicount-title">
                <span class="predicted3Tool sa_inc_dec_arrows trend_arrow" mat-icon-button
                  matTooltip="{{trendText}} : ${{totalDiscountChartTrendTotal | number:'1.0-0'}}" *ngIf="trendText">
                  <img class="trend_ico" src="../assets/images/trend_reverse_{{totalDiscountChartTrendIcon}}.png">
                </span>
                <span class="title">
                  Total Discounts
                </span>
                <div class="info-icon-container">
                  <img [tooltip]="this.constants.tipDiscounts" src="../assets/images/info-icon.png" alt="info-icon" class="info-icon" />
                </div>
              </mat-card-title>
              <div class="card-body chart-spacing">
                <div class="chart w-100"
                  *ngIf="totalDiscountChartData && totalDiscountChartData.length > 0 && showInternal == true">
                  <div style="height: 280px; width: 100%;">
                    <canvas class="totalDiscount" #myCanvas baseChart [data]="totalDiscountChartData"
                      [labels]="totalDiscountChartLabels" [chartType]="totalDiscountChartType"
                      (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" [legend]="false"
                      [options]="pieChartOptions2" [plugins]="totalDiscountPluginObservable$ | async"
                      [colors]="pieChartColors"> </canvas>
                  </div>
                </div>
                <div
                  *ngIf="totalDiscountChartData && totalDiscountChartData.length <= 0 && finTotalDiscountsLoader == false"
                  class="no-data-placeholder">
                  <div class="sa_nodata_div">
                  </div>
                  <p class="chart-placeholder-text">You have offered no discounts in the selected period</p>
                </div>
              </div>
              <div class="card-footer">
                <div fxLayout="row wrap" class="m-t-40 predicted1 sa_chart_details_sec"
                  *ngIf="totalDiscountChartLabels.length > 0">
                  <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
                    <h3 class="m-0 value-num">${{totalDiscountChartTotal | number:'1.0-0'}}</h3>
                    <span class="value-text" *ngIf="currentText != ''">{{currentText}}</span>
                    <span class="value-text" *ngIf="currentText == ''">Current</span>
                  </div>
                  <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
                    <h3 class="m-0 value-num">${{totalDiscountChartTrendTotal | number:'1.0-0'}}</h3>
                    <span class="value-text" *ngIf="trendText != ''">{{trendText}}</span>
                    <span class="value-text" *ngIf="trendText == ''">Previous</span>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <div *ngIf="finTotalDiscountsLoader == true" class="loader_container loader_container_middle"><img
              class="loader_ico" src="../assets/images/720.gif">
            <div class="loader-text">Calculating...</div>
          </div>
        </div>
        <!-- <div fxFlex="calc(49% - 10px)" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
          class="sa_flexbg predictor_ratio md_mrn  custom_ngx_cw04">
          <mat-card class="sa_no_tabs_area">
            <mat-card-content class="sa_matcard_content">
              <mat-card-title class="text-center">Current Overdues<div class="info-icon-container">
                  <img [tooltip]="this.constants.tipDiscounts" src="../assets/images/info-icon.png" alt="info-icon" class="info-icon" />
                </div>
              </mat-card-title>
              <div class="card-body chart-spacing">
                <div class="chart w-100">
                  <div style="height: 280px; width: 100%;"
                    *ngIf="totalOverdueAccountDataMax > 0 && showInternal == true">
                    <canvas class="totalOverdue" #myCanvas baseChart [data]="totalOverdueAccountData"
                      [labels]="totalOverdueAccountLabels" [chartType]="productionChartType"
                      (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"
                      [options]="pieChartOptions2" [plugins]="currentOverduePluginObservable$ | async"
                      [colors]="pieChartColors"> </canvas>
                  </div>
                  <div *ngIf="totalOverdueAccountDataMax <= 0 && finOverdueAccountsLoader == false"
                    class="no-data-placeholder">
                    <div class="sa_nodata_div">
                    </div>
                    <p class="chart-placeholder-text">You have no overdue invoices > 30 days</p>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div fxLayout="row wrap" class="m-t-40 predicted1 sa_chart_details_sec"
                  *ngIf="totalOverdueAccountDataMax > 0">
                  <div fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" fxFlex="100" class="text-center">
                    <h3 class="m-0 value-num">$ {{totalOverdueAccount | number:'1.0-0'}}</h3>
                    <span class="value-text">Current Overdues</span>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <div *ngIf="finOverdueAccountsLoader == true" class="loader_container loader_container_middle"><img
              class="loader_ico" src="../assets/images/720.gif">
            <div class="loader-text">Calculating...</div>
          </div>
        </div> -->
    
      </div>
      <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutGap.md="0" fxLayoutGap.sm="0" fxLayoutGap.xs="0">
        <div fxFlex="calc(100% - 10px)" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
          class="sa_flexbg predictor_ratio total_val md_mrn custom_ngx_cw05">
          <mat-card class="">
            <mat-card-content class="sa_matcard_content">
              <mat-card-title class="text-center">Total Production & Collection<div class="info-icon-container">
                  <img [tooltip]="this.constants.tipProdVsCollection" src="../assets/images/info-icon.png" alt="info-icon" class="info-icon" />
                </div>
              </mat-card-title>
              <div class="card-body">
                <div fxLayout="row wrap" fxLayoutGap="20px grid">
                  <div class="ngx-charts-fix " fxFlex.lg="55" fxFlex.xl="55" fxFlex.md="100" fxFlex.sm="100"
                    fxFlex.xs="100" fxFlex="60">
                    <div style="height: 330px;"
                      *ngIf="totalProductionCollectionMax > 0 && finTotalProductionLoader == false">
                      <canvas #myCanvas2 baseChart [datasets]="totalProductionCollection1"
                        [labels]="totalProductionCollectionLabel1" [options]="labelBarOptionsTC" [legend]="false"
                        [chartType]="stackedChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
                    </div>
                    <div *ngIf="totalProductionCollectionMax <= 0 && finTotalProductionLoader == false"
                      class="no-data-placeholder">
                      <div class="sa_nodata_div">
                      </div>
                      <p class="chart-placeholder-text">You have no production in the selected period</p>
                    </div>
                  </div>

                  <div fxFlexAlign="center" fxFlex.lg="45" fxFlex.xl="45" fxFlex.md="100" fxFlex.sm="100"
                    fxFlex.xs="100" fxFlex="40">
                    <div fxLayout="row wrap" fxLayoutGap="30px grid"
                      class="predicted1 sa_chart_details_sec production_collection"
                      *ngIf="totalProductionCollectionLabel1.length > 0">
                      <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="production">
                        <h4 class="m-0 no-boldText"><b>Production</b></h4>
                        <div fxLayout="row wrap" class="m-t-30" *ngIf="totalProductionCollectionLabel1.length > 0">
                          <div fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" fxFlex="100">
                            <div class="production-value">
                              <h3 class="m-0 value-num">$ {{totalProductionVal | number:'1.0-0'}}</h3>
                              <span class="value-text pink" *ngIf="currentText != ''">{{currentText}}</span>
                              <span class="value-text" *ngIf="currentText == ''">Current</span>
                            </div>
                            <div class="production-value">
                              <h3 class="m-0 value-num">$ {{totalProductionTrendVal | number:'1.0-0'}}</h3>
                              <span class="value-text" *ngIf="trendText != ''">{{trendText}}</span>
                              <span class="value-text" *ngIf="trendText == ''">Previous</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="collection">
                        <h4 class="m-0 no-boldText"><b>Collection
                            <!--({{collectionPercentageC| number:'1.0-0'}}%)-->
                          </b></h4>
                        <div fxLayout="row wrap" class="m-t-30" *ngIf="totalProductionCollectionLabel1.length > 0">
                          <div fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" fxFlex="100">
                            <div class="collection-value">
                              <h3 class="m-0 value-num">$ {{collectionVal | number:'1.0-0'}}</h3>
                              <span class="value-text green" *ngIf="currentText != ''">{{currentText}}</span>
                              <span class="value-text" *ngIf="currentText == ''">Current</span>
                            </div>
                            <div class="collection-value">
                              <h3 class="m-0 value-num">$ {{collectionTrendVal | number:'1.0-0'}}</h3>
                              <span class="value-text" *ngIf="trendText != ''">{{trendText}}</span>
                              <span class="value-text" *ngIf="trendText == ''">Previous</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </mat-card-content>
          </mat-card>
          <div *ngIf="finTotalProductionLoader == true" class="loader_container loader_container_middle"><img
              class="loader_ico" src="../assets/images/720.gif">
            <div class="loader-text">Calculating...</div>
          </div>
        </div>
        <!-- <div fxFlex="calc(36% - 10px)" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
          class="sa_flexbg predictor_ratio md_mrn  custom_ngx_cw02">
          <mat-card class="sa_no_tabs_area">
            <mat-card-content class="sa_matcard_content">
              <mat-card-title class="text-center">Production % Per Clinician
                <div class="info-icon-container">
                  <img [tooltip]="this.constants.tipProdPercentPerClinician" src="../assets/images/info-icon.png" alt="info-icon" class="info-icon" />
                </div>
              </mat-card-title>
              <div class="card-body clinician-center-chart">
                <div class="chart w-100" *ngIf="productionChartData.length > 0 && showInternal == true">
                  <div style="height: 280px; width: 100%;">
                    <canvas class="productionPercentage" #myCanvas baseChart [data]="productionChartData"
                      [labels]="productionChartLabels" [chartType]="productionChartType"
                      (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"
                      [options]="pieChartOptions" [colors]="pieChartColors"></canvas>
                  </div>
                </div>
                <div *ngIf="productionChartData.length <= 0 && finProductionByClinicianLoader == false"
                  class="no-data-placeholder">
                  <div class="sa_nodata_div">
                  </div>
                  <p class="chart-placeholder-text">You have no production in the selected period</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <div *ngIf="finProductionByClinicianLoader == true" class="loader_container loader_container_middle"><img
              class="loader_ico" src="../assets/images/720.gif">
            <div class="loader-text">Calculating...</div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="trendMode" [style.display]="'none'">
      <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutGap.md="0" fxLayoutGap.sm="0" fxLayoutGap.xs="0">
        <div fxFlex="calc(49% - 10px)" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
          class="sa_flexbg predictor_ratio md_mrn ">
          <mat-card class="">
            <mat-card-content class="sa_matcard_content">
              <mat-card-title class="text-center">{{ profitChartTitles[netProfitDisplayVal-1] }}<img alt="info-icon"
                  class="info-icon" src="../assets/images/info-icon.png">
              </mat-card-title>
              <div class="card-body">
                <div class="sa_tabs_main_sec">
                  <div fxLayout="row wrap" fxLayoutGap="20px grid">
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="text-center"> <small
                        class="sa_tab_btn profit_btn netProfit1 active" (click)="displayProfit('1')">Production</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="text-center"> <small
                        class="sa_tab_btn profit_btn netProfit2" (click)="displayProfit('2')">Net Profit</small> </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="text-center"> <small
                        class="sa_tab_btn profit_btn netProfit3" (click)="displayProfit('3')">Net Profit % </small>
                    </div>
                  </div>
                </div>
                <div style="height: 280px">
                  <canvas
                    *ngIf="netProfitDisplayVal == 1 && netProfitChartTrendLabels.length  > 0 && finNetProfitTrendLoader == false"
                    class="profit1 net_profit" baseChart [datasets]="netProfitPercentChartTrend"
                    [labels]="netProfitChartTrendLabels" [options]="labelBarOptionsSingleValue" [legend]="false"
                    [chartType]="lineChartType" (chartHover)="chartHovered($event)" [colors]="stackedChartColorsBar"
                    (chartClick)="chartClicked($event)"> </canvas>
                  <div
                    *ngIf="netProfitDisplayVal == 1 && netProfitChartTrendLabels.length  <= 0 && finNetProfitTrendLoader == false"
                    class="no-data-placeholder">
                    <div class="sa_nodata_div">
                    </div>
                    <p class="chart-placeholder-text">You have no production in the selected period</p>
                  </div>

                  <canvas *ngIf="netProfitDisplayVal == 2 && netProfitPmsChartTrendLabels.length  >0"
                    class="profit1 net_profit" baseChart [datasets]="netProfitChartTrend"
                    [labels]="netProfitPmsChartTrendLabels" [options]="labelBarOptionsSingleValue" [legend]="false"
                    [chartType]="lineChartType" (chartHover)="chartHovered($event)" [colors]="stackedChartColorsBar"
                    (chartClick)="chartClicked($event)"> </canvas>
                  <div
                    *ngIf="netProfitDisplayVal == 2  && netProfitPercentChartTrendLabels.length <=0 && finNetProfitPercentTrendLoader == false"
                    class="no-data-placeholder">
                    <div class="sa_nodata_div">
                    </div>
                    <p class="chart-placeholder-text">You have no net profit in the selected period</p>
                  </div>

                  <canvas *ngIf="netProfitDisplayVal == 3 && netProfitPmsChartTrendLabels.length  > 0" #myCanvas2
                    class="profit3 net_profit" baseChart [datasets]="netProfitPmsChartTrend"
                    [labels]="netProfitPmsChartTrendLabels" [options]="labelBarOptionsSingleValue" [legend]="false"
                    [chartType]="lineChartType" (chartHover)="chartHovered($event)" [colors]="stackedChartColorsBar"
                    (chartClick)="chartClicked($event)"> </canvas>
                  <div
                    *ngIf="netProfitDisplayVal == 3  && netProfitPmsChartTrendLabels.length  <=0 && finNetProfitPMSTrendLoader == false"
                    class="no-data-placeholder">
                    <div class="sa_nodata_div">
                    </div>
                    <p class="chart-placeholder-text">You have no net profit in the selected period</p>
                  </div>

                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <div *ngIf="finNetProfitTrendLoader == true && netProfitDisplayVal == 1"
            class="loader_container loader_container_middle"><img class="loader_ico" src="../assets/images/720.gif">
            <div class="loader-text">Calculating...</div>
          </div>
          <div *ngIf="finNetProfitPercentTrendLoader == true && netProfitDisplayVal == 2"
            class="loader_container loader_container_middle"><img class="loader_ico" src="../assets/images/720.gif">
            <div class="loader-text">Calculating...</div>
          </div>
          <div *ngIf="(!xeroConnect && !myobConnect) && netProfitDisplayVal == 2"
            class="loader_container loader_container_middle">
            <div class="loader-text">
              <h3>Please connect to Xero/MYOB to display this chart</h3>
            </div>
          </div>
          <div *ngIf="finNetProfitPMSTrendLoader == true && netProfitDisplayVal == 3"
            class="loader_container loader_container_middle"><img class="loader_ico" src="../assets/images/720.gif">
            <div class="loader-text">Calculating...</div>
          </div>
          <div *ngIf="(!xeroConnect && !myobConnect) && netProfitDisplayVal == 3"
            class="loader_container loader_container_middle">
            <div class="loader-text">
              <h3>Please connect to Xero/MYOB to display this chart</h3>
            </div>
          </div>
        </div>

        <div fxFlex="calc(49% - 10px)" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
          class="sa_flexbg predictor_ratio md_mrn">
          <mat-card class="">
            <mat-card-content class="sa_matcard_content">
              <mat-card-title class="text-center">Production Per Visit trend<div class="info-icon-container">
                  <img [tooltip]="this.constants.tipProdPerVisit" src="../assets/images/info-icon.png" alt="info-icon" class="info-icon" />
                </div>
              </mat-card-title>
              <div class="card-body">
                <div style="height: 320px;">
                  <canvas #myCanvas2 class="trendproductionVisit" *ngIf="productionVisitChartTrendLabels.length  > 0"
                    baseChart [datasets]="productionVisitChartTrend" [labels]="productionVisitChartTrendLabels"
                    [options]="labelBarOptionsSingleValue" [legend]="false" [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)" [colors]="stackedChartColorsBar"
                    (chartClick)="chartClicked($event)"></canvas>
                  <div *ngIf="productionVisitChartTrendLabels.length  <=0 && finProductionPerVisitTrendLoader == false"
                    class="no-data-placeholder">
                    <div class="sa_nodata_div">
                    </div>
                    <p class="chart-placeholder-text">You have no production in the selected period</p>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <div *ngIf="finProductionPerVisitTrendLoader == true" class="loader_container loader_container_middle"><img
              class="loader_ico" src="../assets/images/720.gif">
            <div class="loader-text">Calculating...</div>
          </div>
        </div>


      </div>

      <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutGap.md="0" fxLayoutGap.sm="0" fxLayoutGap.xs="0">
        <div fxFlex="calc(49% - 10px)" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
          class="sa_flexbg md_mrn expenses_card">
          <mat-card class="chart_card">
            <mat-card-content class="sa_matcard_content">
              <mat-card-title class="text-center">Expenses
                <div class="sa_box_title_right_buttons">

                </div>
              </mat-card-title>

              <div *ngIf="expensestrendstats == true" class="card-body sa_chart_summary_flip_main">
                <div class=" sa_chart_summary_flip">
                  <div class="chart sa_chart_flip sa_flip">
                    <div style="height: 280px;">
                      <canvas #myCanvas2 class="trendProductionPercentage"
                        *ngIf="expensesChartTrendLabels && expensesChartTrendLabels.length  > 0" baseChart
                        [datasets]="expensesChartTrend" [labels]="expensesChartTrendLabels"
                        [options]="stackedChartOptions" [legend]="false" [chartType]="stackedChartType"
                        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"> </canvas>

                      <div
                        *ngIf="expensesChartTrendLabels && expensesChartTrendLabels.length  <=0 && finNetProfitPercentTrendLoader == false"
                        class="no-data-placeholder">
                        <div class="sa_nodata_div">
                        </div>
                        <p class="chart-placeholder-text">No expenses found for the selected period</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <div *ngIf="(xeroConnect || myobConnect) && expensestrendstats == false"
            class="loader_container loader_container_middle"><img class="loader_ico" src="../assets/images/720.gif">
            <div class="loader-text">Calculating...</div>
          </div>
          <div *ngIf="!xeroConnect && !myobConnect" class="loader_container loader_container_middle">
            <div class="loader-text">
              <h3>Please connect to Xero/MYOB to display this chart</h3>
            </div>
          </div>
        </div>
        <div fxFlex="calc(49% - 10px)" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
          class="sa_flexbg predictor_ratio md_mrn">
          <mat-card class="">
            <mat-card-content class="sa_matcard_content">
              <mat-card-title class="text-center">Total Discounts <div class="info-icon-container">
                  <img [tooltip]="this.constants.tipDiscounts" src="../assets/images/info-icon.png" alt="info-icon" class="info-icon" />
                </div>
              </mat-card-title>
              <div class="card-body">
                <div style="height: 280px">
                  <canvas #myCanvas2 class="trendtotalDiscount"
                    *ngIf="discountsChartTrend1 && discountsChartTrend1.length  > 0 && finTotalDiscountsTrendLoader == false"
                    baseChart [datasets]="discountsChartTrend" [labels]="discountsChartTrendLabels"
                    [options]="labelBarOptionsSingleValue" [legend]="false" [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)" [colors]="stackedChartColorsBar"
                    (chartClick)="chartClicked($event)"> </canvas>
                  <div
                    *ngIf="discountsChartTrend1 && discountsChartTrend1.length <=0 && finTotalDiscountsTrendLoader == false"
                    class="no-data-placeholder">
                    <div class="sa_nodata_div">
                    </div>
                    <p class="chart-placeholder-text">You have offered no discounts in the selected period</p>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <div *ngIf="finTotalDiscountsTrendLoader == true" class="loader_container loader_container_middle"><img
              class="loader_ico" src="../assets/images/720.gif">
            <div class="loader-text">Calculating...</div>
          </div>


        </div>


      </div>
      <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutGap.md="0" fxLayoutGap.sm="0" fxLayoutGap.xs="0">

        <div fxFlex="calc(49% - 10px)" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
          class="sa_flexbg predictor_ratio md_mrn">
          <mat-card class="">
            <mat-card-content class="sa_matcard_content">
              <mat-card-title class="text-center">Total Production & Collection<div class="info-icon-container">
                  <img [tooltip]="this.constants.tipProdVsCollection" src="../assets/images/info-icon.png" alt="info-icon" class="info-icon" />
                </div>

              </mat-card-title>
              <div class="card-body">
                <div style="height: 280px">
                  <canvas class="trendtotalProduction"
                    *ngIf="totalProductionCollectionLabel && totalProductionCollectionLabel.length  > 0" baseChart
                    [datasets]="totalProductionCollection" [labels]="totalProductionCollectionLabel"
                    [options]="labelBarOptions" [legend]="true" [chartType]="stackedChartType"
                    (chartHover)="chartHovered($event)" [colors]="barChartColors" (chartClick)="chartClicked($event)">
                  </canvas>
                  <div
                    *ngIf="totalProductionCollectionLabel  && totalProductionCollectionLabel.length  <=0 && finCollectionTrendLoader == false"
                    class="no-data-placeholder">
                    <div class="sa_nodata_div">
                    </div>
                    <p class="chart-placeholder-text">You have no production in the selected period</p>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <div *ngIf="finCollectionTrendLoader == true" class="loader_container loader_container_middle"><img
              class="loader_ico" src="../assets/images/720.gif">
            <div class="loader-text">Calculating...</div>
          </div>
        </div>

        <div fxFlex="calc(49% - 10px)" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
          class="sa_flexbg predictor_ratio last md_mrn last">

          <mat-card class="">
            <mat-card-content class="sa_matcard_content">
              <mat-card-title class="text-center">Production % Per Clinician<div class="info-icon-container">
                  <img [tooltip]="this.constants.tipProdPercentPerClinician" src="../assets/images/info-icon.png" alt="info-icon" class="info-icon" />
                </div>
              </mat-card-title>
              <div class="card-body">
                <div style="height: 280px">
                  <canvas #myCanvas2 class="trendProductionPercentage" baseChart
                    *ngIf="productionChartTrendLabels && productionChartTrendLabels.length  > 0 && finProductionByClinicianTrendLoader == false"
                    [datasets]="productionChartTrend" [labels]="productionChartTrendLabels"
                    [options]="labelBarPercentOptionsStacked" [legend]="false" [chartType]="stackedChartType"
                    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"> </canvas>
                  <div
                    *ngIf="productionChartTrendLabels && productionChartTrendLabels.length  <=0 && finProductionByClinicianTrendLoader == false"
                    class="no-data-placeholder">
                    <div class="sa_nodata_div">
                    </div>
                    <p class="chart-placeholder-text">You have no production in the selected period</p>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <div *ngIf="finProductionByClinicianTrendLoader == true" class="loader_container loader_container_middle"><img
              class="loader_ico" src="../assets/images/720.gif">
            <div class="loader-text">Calculating...</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Column-->
  </div>
</div>
<canvas #myCanvas2 baseChart [style.display]="'none'" [datasets]="chartData1" [labels]="chartLabels1"
  [chartType]="productionChartType"></canvas>
<canvas #myCanvas baseChart [style.display]="'none'" [datasets]="chartData1" [labels]="chartLabels1"
  [chartType]="productionChartType"></canvas>