.jeeve-legacy-app {
  .align-center {
    align-items: center;
  }

  .h-100 {
    height: 100%;
  }
  .px-3 {
    padding-left: 2.3rem;
    padding-right: 2.3rem;
    padding-bottom: 6px;
  }

  .mat-card-content {
    &.sa_matcard_content {
      height: 100%;
    }
  }

  .sa_matcard_content {
    position: relative;
    .info-button {
      position: absolute;
      right: 16px;
      top: 16px;
      img {
        width: 15px;
      }
    }

    .total-dicount-title {
      justify-content: start;
      .title {
        flex-grow: 1;
      }
    }

    .chart-spacing {
      display: inline-flex;
      width: 100%;
      align-items: center;
      justify-content: space-around;
      padding-right: 32px;
    }

    .clinician-center-chart {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 8px;
      justify-content: center;
    }
  }

  .w-100 {
    width: 100%;
  }

  .no-found-data {
    margin: 0 !important;
    max-width: 100%;
    background-size: auto 100%;
    padding: 0;
    height: 100%;
    min-height: 100px;
    margin-bottom: -3px !important;

    p {
      margin: 0;
      position: absolute;
      left: 50%;
      width: 100%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 18px;
    }
  }

  @media (max-width: 991px) {
    .md_mrn {
      margin-bottom: 15px;
    }
  }

  .header_filters.finances {
    flex-direction: row-reverse !important;
  }
  .header_filters.multi {
    flex-direction: row-reverse !important;
  }

  .custom-tooltip-color {
    display: block;
    height: 15px;
    width: 15px;
    margin: 2px;
    border: 1px solid #ffffff;
  }
  .td-custom-tooltip-color {
    width: 10%;
  }

  .sa_matcard_content .info-button img.white-heart-icon {
    width: 25px !important;
  }
  .clinician-chart {
    height: 280px;
    width: 100%;
  }
  .chart-per-visit {
    height: 200px;
    width: 100%;
  }
  .chart-prod-coll {
    height: 330px;
  }
  .chart-clinician {
    height: 280px;
  }
  .chart-prod-pr-visit {
    height: 320px;
  }
  .btn-mar {
    margin-right: 10px;
  }
  .swal2-styled.swal2-confirm {
    background-color: #18a689;
  }
}
