<!-- ============================================================== -->
<!-- Grid-->
<!-- ============================================================== -->
<!-- <div fxLayout="row wrap">
  <div class="sa_heading_bar">
      <div fxFlex.gt-sm="85" fxFlex.gt-xs="100" fxFlex="100" class="">
          <h4><span class="page_title">Clinician Procedures &#38; Referrals</span></h4>
       </div>
      <div id="file">
</div>
<app-headerright class="app-headerright"></app-headerright>
    

       <div fxFlex.gt-sm="18" fxFlex.gt-xs="100" fxFlex="100" class="">
          <div class="vertical_center_header_content">
            <div class="sa_select_outer">
                <select class="sa_select"  [(ngModel)]="selectedDentist" (ngModelChange)="loadDentist($event)">
                     <option value ="all">All Dentist( {{dentistCount}} )</option>
                    <option *ngFor="let dentist of dentists" [value]="dentist.providerId"> {{dentist.name}}</option>
                </select> 
            </div>
          </div>
       </div>
  </div>
</div>   -->
 <select class="sa_select internal_dentist"  [(ngModel)]="selectedDentist" (ngModelChange)="loadDentist($event)"  [style.display]="'none'">1
                     <option value ="all">All Dentist</option>
                    <option *ngFor="let dentist of dentists" [value]="dentist.providerId"> {{dentist.name}}</option>
                </select> 
                <input type="button" id="dentist_initiate" (click) = "initiate_dentist()"  [style.display]="'none'">
                 <input type="button" id="clinic_initiate" (click) = "initiate_clinic()"  [style.display]="'none'">
                <input type="text" id="page_title" value="Finances" [style.display]="'none'">
<div class="sa_dashboard_inner_content">
   <div class="sa_card gridshadow">
    <div fxLayout="row wrap">

       <div fxFlex.lg="80" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="80">
         <div class="sa_tabs_design"><span class="filter_w active filter sa_filter_span" (click)="filterDate('w')">This Week</span><span (click)="filterDate('m')" class="filter_m filter sa_filter_span">This Month</span><span class="filter_q filter sa_filter_span" (click)="filterDate('q')">This Quarter</span><span (click)="filterDate('lq')" class="filter_lq filter sa_filter_span">Last Quarter</span><span (click)="filterDate('cytd')" class="filter_cytd filter sa_filter_span">Current YTD</span><span (click)="filterDate('fytd')" class="filter_fytd filter sa_filter_span">Financial YTD</span>
          <div class="custom_date">
          <input class="filter_custom filter sa_datepicker" id='sa_datepicker' value="" (click)="filterDate('custom')" />
           <ngx-daterangepicker-material (rangeClicked)="rangeClicked($event)" class="customRange"  id="customRange" (choosedDate)="choosedDate($event)" [style.display]="'none'" [locale]="{applyLabel: 'ok', format: 'MM-YYYY'}"></ngx-daterangepicker-material></div>
        </div>
      </div>


        <div fxFlex.lg="20" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="20">
            <div class="onofftoogle">
                <span class="trend_mode_title">Trend Mode</span>
                <mat-button-toggle-group #group = "matButtonToggleGroup"  name="fontStyle" class="trendToggle sa_toogle_group" aria-label="Font Style">
                    <mat-button-toggle checked value = "off" class = "target_off target_filter" (click)="toggleFilter('off')">
                        <span>Off</span>
                    </mat-button-toggle>
                    <mat-button-toggle value = "current" class = "target_current target_filter" (click)="toggleFilter('current')">
                        <span>Current</span>
                    </mat-button-toggle>
                    <mat-button-toggle value = "historic" class = "target_historic target_filter" (click)="toggleFilter('historic')">
                        <span>Historic</span>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>

  </div>
</div>

<div class="sa_dentist_graphs_area">
<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="sa_flex_transparent">
        {{startDate| date}}- {{endDate| date}}
    </div>
</div>

  <!-- Column-->
   <div class="nonTrendMode" fxLayout="row wrap">
<div fxFlex.lg="32" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="32" class="sa_main_grid_dashboard md_mrn">
        <div class="graph_abso"></div>

            <mat-card-content>
                <!-- column -->
                <div class="d-flex no-block align-items-center">
                    <div class="stats">
                       <h3 class="text-white m-0"><span class="predicted3Tool sa_inc_dec_arrows trend_arrow" mat-icon-button matTooltip="{{trendText}} : ${{netProfitTrendTotal | number:'1.0-2'}}" ><img class="trend_ico" src="../assets/images/trend_{{netProfitTrendIcon}}.png"></span>
                           Net Profit</h3>

                        <h1 class="text-white m-0">$ {{netProfitIcon}}{{netProfitVal | number:'1.0-0'}}</h1>
                    </div>
                    <!-- <div class="spark-count ml-auto"> <i class="fas fa-sort-amount-{{netProfitIcon}}-alt"></i></div> -->
                </div>
            </mat-card-content>

    </div>
    <div fxFlex.lg="33" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="33" class="sa_main_grid_dashboard md_mrn">
        <div class="graph_abso"></div>

            <mat-card-content>
                <!-- column -->
                <div class="d-flex no-block align-items-center">
                    <div class="stats">

                              <h3 class="text-white m-0"> <span class="predicted3Tool sa_inc_dec_arrows trend_arrow" mat-icon-button matTooltip="{{trendText}} : ${{netProfitPercentTrendTotal | number:'1.0-2'}}" ><img class="trend_ico" src="../assets/images/trend_{{netProfitPercentTrendIcon}}.png"></span> Net Profit % (Xero)</h3>
                        <h1 class="text-white m-0">{{netProfitPercentIcon}}{{netProfitPercentVal | number:'1.0-2'}}%</h1>
                    </div>
                    <!-- <div class="spark-count ml-auto"> <i class="fas fa-sort-amount-{{netProfitPercentIcon}}-alt"></i></div> -->
                </div>
            </mat-card-content>

    </div>
    <div fxFlex.lg="33" fxFlex.xl="33"  fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="33" class="sa_main_grid_dashboard last md_mrn">
        <div class="graph_abso"></div>

            <mat-card-content>
                <!-- column -->
                <div class="d-flex no-block align-items-center">
                    <div class="stats">
                      <h3 class="text-white m-0" ><span class="predicted3Tool sa_inc_dec_arrows trend_arrow" mat-icon-button matTooltip="{{trendText}} : ${{netProfitPmsTrendTotal | number:'1.0-2'}}" ><img class="trend_ico" src="../assets/images/trend_{{netProfitPmsTrendIcon}}.png"></span>
                          Net Profit % (PMS)</h3>
                        <h1 class="text-white m-0">{{netProfitPmsIcon}}{{netProfitPmsVal}}%</h1>
                    </div>
                    <!-- <div class="spark-count ml-auto"> <i class="fas fa-sort-amount-{{netProfitPmsIcon}}-alt"></i></div> -->
                </div>
            </mat-card-content>

    </div>
   
    <div fxFlex.lg="59" fxFlex.xl="59" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="59" class="sa_flexbg md_mrn
expenses_card custom_ngx_cw01" >
        <mat-card class="chart_card" >
            <mat-card-content class="sa_matcard_content">
              <span  class="predicted3Tool sa_inc_dec_arrows trend_arrow" mat-icon-button matTooltip="{{trendText}} : ${{expensescChartTrendTotal | number:'1.0-0'}}" ><img class="trend_ico" src="../assets/images/trend_{{expensescChartTrendIcon}}.png"></span>
                <mat-card-title class="text-center">Expenses
                    <div class="sa_box_title_right_buttons">
                        <button mat-icon-button (click) = "flipcard('expenses_card')" ><i class="fas fa-list-ul list_ico"></i><i class="fas fa-chart-line chart_ico"></i></button>
                        <!-- <button mat-icon-button ><i class="fas fa-expand"></i></button>
                        <button mat-icon-button [matMenuTriggerFor]="menu"><i class="fas fa-ellipsis-h"></i></button> 
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>Save Image</button>
                            <button mat-menu-item>Download PDF</button>
                        </mat-menu> -->
                    </div>
                </mat-card-title>

                <div class=" sa_chart_summary_flip_main">
                <div class=" sa_chart_summary_flip">
                    <div class="chart sa_chart_flip sa_flip">
                     
                       <!--      <canvas *ngIf="showInternal == true" baseChart
                                    [data]="pieChartData" [labels]="pieChartLabels"
                                    [chartType]="pieChartType" (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)"
                                    [options]="pieChartOptions" [colors]="[{backgroundColor: ['#17a2a6','#82edd8','#2C7294','#3c7cb7','#175088','#1fd6b1','#09b391','#168F7F']}]">                  
                            </canvas> -->
                             <div fxLayout="row wrap">
                            <div class="ngx-charts-fix " fxFlex.lg="69" fxFlex.xl="73" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="73">
         

                                <div style="margin:0 auto; display:table">
                                <ngx-charts-pie-chart *ngIf="pieChartLabels.length > 0"
                              class="chart-container sa_chart_custom"
                              [view]="[500]"
                              [scheme]="colorScheme"
                              [trimLabels] ="true"
                              [maxLabelLength] ="15"
                              [results]="single"
                              [animations]="animations"
                              [legend]="false"
                              [legendTitle]="legendTitle"
                              [explodeSlices]="explodeSlices"
                              [labels]="showLabels"
                              [doughnut]="doughnut"
                              [gradient]="gradient"
                              [tooltipDisabled]="tooltipDisabled"
                              [tooltipText]="pieTooltipText"
                            >
                            </ngx-charts-pie-chart>
                <div *ngIf="pieChartLabels.length <= 0 && categoryExpensesLoader == false" class="sa_nodata_div">
              <h4>No Data</h4>
              <p>Oops! Looks like we don't have any data to show you</p>
          </div>
                                </div>
                          </div>
                            <div class="" fxFlex.lg="30" fxFlex.xl="26" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="26">
                              <div class="sa_pie_chart_txtdata">
                                  <h6>Industry Benchmarks</h6>
                                <span><b>Dentist:</b> 35-40%</span>
                                <span><b>Lab Fees:</b> 2-4%</span>
                                <span><b>Consumables:</b> 6-8%</span>
                                <span><b>Advertising:</b> 2-5%</span>
                                <span><b>Rent:</b> 4-8%</span>
                                <span><b>Wages (non-clinical):</b> 18-23%</span>
                                <span><b>EBITDA (profit):</b> 5-25%</span>
                              </div>
                            </div>
                                              
                                          </div>
                    </div>
                    <div class="sa_summary_flip sa_flip" *ngIf="pieChartLabels.length > 0">
                        <div class="sa_list_show"*ngFor="let a of pieChartData; let i = index">
                            <span class="sa_clr_box sa_clr{{i}}m"></span>
                            <span class="frl">{{pieChartLabels[i]}}</span>
                            <span class="frv">{{a | number:'1.0-2'}} ({{pieChartDataPercentres[i]}} %)</span>
                        </div>
                    </div>
                </div>
                </div>
            </mat-card-content>
        </mat-card>
         <div *ngIf="categoryExpensesLoader == true" class="loader_container loader_container_middle"><img class="loader_ico" src="../assets/images/720.gif"><div class="loader-text">Calculating...</div></div>
    </div>

  <div fxFlex.lg="40" fxFlex.xl="40" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="40" class="sa_flexbg predictor_ratio md_mrn last custom_ngx_cw02">
    
    <mat-card class="sa_no_tabs_area" >
      <mat-card-content class="sa_matcard_content">
        <span  class="predicted3Tool sa_inc_dec_arrows trend_arrow" mat-icon-button matTooltip="{{trendText}} : ${{productionChartTrendTotal | number:'1.0-0'}}" ><img class="trend_ico" src="../assets/images/trend_{{productionChartTrendIcon}}.png"></span>
          <mat-card-title class="text-center">% of Production By Clinician
              <div class="sa_box_title_right_buttons">
                  <!-- <button mat-icon-button ><i class="fas fa-expand"></i></button>
                  <button mat-icon-button [matMenuTriggerFor]="menu"><i class="fas fa-ellipsis-h"></i></button>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item>Save Image</button>
                      <button mat-menu-item>Download PDF</button>
                  </mat-menu> -->
              </div>
          </mat-card-title>
         

<div class="chart" *ngIf="productionChartLabels.length > 0">
             <div  style="height: 280px">
        <canvas class="productionPercentage" #myCanvas *ngIf="showInternal == true" baseChart [data]="productionChartData" [labels]="productionChartLabels" [chartType]="productionChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"  [options]="pieChartOptions" [colors]="[{backgroundColor: ['#17a2a6','#82edd8','#2C7294','#3c7cb7','#175088','#1fd6b1','#09b391','#168F7F']}]">
        </canvas>
      </div>
      </div>
      <div *ngIf="productionChartLabels.length <= 0 && finProductionByClinicianLoader == false" class="sa_nodata_div">
              <h4>No Data</h4>
              <p>Oops! Looks like we don't have any data to show you</p>
          </div>        
      </mat-card-content>
    </mat-card>
     <div *ngIf="finProductionByClinicianLoader == true" class="loader_container loader_container_middle"><img class="loader_ico" src="../assets/images/720.gif"><div class="loader-text">Calculating...</div></div>
  </div>
    <div fxFlex.lg="49" fxFlex.xl="49" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="49" class="sa_flexbg predictor_ratio md_mrn custom_ngx_cw03">
    
    <mat-card class="" >
      <mat-card-content class="sa_matcard_content">
         <span  class="predicted3Tool sa_inc_dec_arrows trend_arrow" mat-icon-button matTooltip="{{trendText}} : ${{totalDiscountChartTrendTotal | number:'1.0-0'}}" ><img class="trend_ico" src="../assets/images/trend_{{totalDiscountChartTrendIcon}}.png"></span>
          <mat-card-title class="text-center">Total Discounts
              <div class="sa_box_title_right_buttons">
                  <!-- <button mat-icon-button ><i class="fas fa-expand"></i></button>
                  <button mat-icon-button [matMenuTriggerFor]="menu"><i class="fas fa-ellipsis-h"></i></button>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item>Save Image</button>
                      <button mat-menu-item>Download PDF</button>
                  </mat-menu> -->
              </div>
          </mat-card-title>
         

<div class="chart" *ngIf="totalDiscountChartLabels.length > 0">
             <div  style="height: 280px">
        <canvas class="totalDiscount" #myCanvas *ngIf="showInternal == true" baseChart [data]="totalDiscountChartData" [labels]="totalDiscountChartLabels" [chartType]="totalDiscountChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)" [options]="pieChartOptions2" [colors]="[{backgroundColor: ['#17a2a6','#82edd8','#2C7294','#3c7cb7','#175088','#1fd6b1','#09b391','#168F7F']}]">
        </canvas>
      </div>
      </div>
      <div *ngIf="totalDiscountChartLabels.length <= 0 && finTotalDiscountsLoader == false" class="sa_nodata_div">
              <h4>No Data</h4>
              <p>Oops! Looks like we don't have any data to show you</p>
          </div>   

            <div fxLayout="row wrap" class="m-t-40 predicted1 sa_chart_details_sec" *ngIf="totalDiscountChartLabels.length > 0">
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">${{totalDiscountChartTotal | number:'1.0-0'}}</h3>
                        <small *ngIf="currentText != ''">{{currentText}}</small>
                        <small *ngIf="currentText == ''">Current</small>

                    </div>
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">${{totalDiscountChartTrendTotal | number:'1.0-0'}}</h3>
                         <small *ngIf="trendText != ''">{{trendText}}</small>
                        <small *ngIf="trendText == ''">Previous</small>

                    </div>
                </div>            
      </mat-card-content>
    </mat-card>
     <div *ngIf="finTotalDiscountsLoader == true" class="loader_container loader_container_middle"><img class="loader_ico" src="../assets/images/720.gif"><div class="loader-text">Calculating...</div></div>
  </div>
      <div fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="50" class="sa_flexbg predictor_ratio md_mrn last custom_ngx_cw04">
    
    <mat-card class="sa_no_tabs_area" >
      <mat-card-content class="sa_matcard_content">
      <span class="predicted3Tool sa_inc_dec_arrows trend_arrow" mat-icon-button matTooltip="{{trendText}} : ${{totalOverdueTrendAccount | number:'1.0-0'}}" ><img class="trend_ico" src="../assets/images/trend_{{totalOverdueTrendIcon}}.png"></span>
          <mat-card-title class="text-center">Overdue Accounts
              <div class="sa_box_title_right_buttons">
                  <!-- <button mat-icon-button ><i class="fas fa-expand"></i></button>
                  <button mat-icon-button [matMenuTriggerFor]="menu"><i class="fas fa-ellipsis-h"></i></button>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item>Save Image</button>
                      <button mat-menu-item>Download PDF</button>
                  </mat-menu> -->
              </div>
          </mat-card-title>
<div class="chart" >
          

             <div  style="height: 280px" *ngIf="totalOverdueAccountDataMax > 0">
        <canvas class="totalOverdue" #myCanvas *ngIf="showInternal == true" baseChart [data]="totalOverdueAccountData" [labels]="totalOverdueAccountLabels" [chartType]="productionChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"  [options]="pieChartOptions2" [colors]="[{backgroundColor: ['#17a2a6','#82edd8','#2C7294','#3c7cb7','#175088','#1fd6b1','#09b391','#168F7F']}]">
        </canvas>
      </div>
<div *ngIf="totalOverdueAccountDataMax <= 0 && finOverdueAccountsLoader == false" class="sa_nodata_div">
              <h4>No Data</h4>
              <p>Oops! Looks like we don't have any data to show you</p>
          </div>
      </div>
            <div fxLayout="row wrap" class="m-t-40 predicted1 sa_chart_details_sec" *ngIf="totalOverdueAccountDataMax > 0">
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">$ {{totalOverdueAccount | number:'1.0-0'}}</h3>
                        <small *ngIf="currentText != ''">{{currentText}}</small>
                        <small *ngIf="currentText == ''">Current</small>
                    </div>
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">$ {{totalOverdueTrendAccount | number:'1.0-0'}}</h3>
                       <small *ngIf="trendText != ''">{{trendText}}</small>
                        <small *ngIf="trendText == ''">Previous</small>
                    </div>
                </div>            
      </mat-card-content>
    </mat-card>
    <div *ngIf="finOverdueAccountsLoader == true" class="loader_container loader_container_middle"><img class="loader_ico" src="../assets/images/720.gif"><div class="loader-text">Calculating...</div></div>
  </div>
 <div fxFlex.lg="65" fxFlex.xl="65" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="65" class="sa_flexbg predictor_ratio total_val md_mrn custom_ngx_cw05">
    
    <mat-card class="" >
      <mat-card-content class="sa_matcard_content">
          <mat-card-title class="text-center">Total Production & Collection
              <div class="sa_box_title_right_buttons">
                  <!-- <button mat-icon-button ><i class="fas fa-expand"></i></button>
                  <button mat-icon-button [matMenuTriggerFor]="menu"><i class="fas fa-ellipsis-h"></i></button>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item>Save Image</button>
                      <button mat-menu-item>Download PDF</button>
                  </mat-menu> -->
              </div>
          </mat-card-title>

           <div fxLayout="row wrap" class="m-t-20 sa_combine_title">
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center no-boldText">
                        <h5 class="m-0 font-light"><span class="predicted3Tool sa_inc_dec_arrows trend_arrow" mat-icon-button matTooltip="{{trendText}} : ${{totalProductionTrendVal | number:'1.0-0'}}" ><img class="trend_ico" src="../assets/images/trend_{{totalProductionTrendIcon}}.png"></span>Production</h5>
                    </div>
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center no-boldText">
                        <h5 class="m-0 font-light"><span class="predicted3Tool sa_inc_dec_arrows trend_arrow" mat-icon-button matTooltip="{{trendText}} : ${{collectionTrendVal | number:'1.0-0'}}" ><img class="trend_ico" src="../assets/images/trend_{{collectionTrendIcon}}.png"></span>Collection</h5>
                    </div>
                </div>  
          

       <div *ngIf="totalProductionCollectionLabel1.length > 0" style="height: 180px">
     <canvas #myCanvas2 baseChart [datasets]="totalProductionCollection1" [labels]="totalProductionCollectionLabel1" [options]="labelBarOptionsTC" [legend]="false"
          [chartType]="stackedChartTypeHorizontal" (chartHover)="chartHovered($event)" [colors]="preoceedureChartColors" 
          (chartClick)="chartClicked($event)"></canvas>
      <!--   <ngx-gauge class="totalProduction" [type]="gaugeType"
           [value]="totalProductionVal" 
           [label]="totalProductionLabel"  
           [thick]="gaugeThick"  
           [foregroundColor]="foregroundColor2"
           [cap] ="cap"
           [prepend]="gaugePrependText"
           [size] = "size">
          </ngx-gauge> -->
        </div>

       <div *ngIf="totalProductionCollectionLabel1.length <= 0 && finTotalProductionLoader == false" class="sa_nodata_div">
              <h4>No Data</h4>
              <p>Oops! Looks like we don't have any data to show you</p>
          </div>
        <div fxLayout="row wrap" class="m-t-40 predicted1" *ngIf="totalProductionCollectionLabel1.length > 0">
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
                         <h4 class="m-0 font-light no-boldText"><b>Production</b></h4>
                    </div>
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
                         <h4 class="m-0 font-light no-boldText"><b>Collection ({{collectionPercentageC}}%)</b></h4>
                    </div>
                </div>   
            <div fxLayout="row wrap" class="m-t-20 predicted1 sa_chart_details_sec" *ngIf="totalProductionCollectionLabel1.length > 0">
                    <div fxFlex.gt-sm="25%" fxFlex.gt-xs="25%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">$ {{totalProductionVal | number:'1.0-0'}}</h3>
                        <small *ngIf="currentText != ''">{{currentText}}</small>
                        <small *ngIf="currentText == ''">Current</small>
                    </div>
                    <div fxFlex.gt-sm="25%" fxFlex.gt-xs="25%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">$ {{totalProductionTrendVal | number:'1.0-0'}}</h3>
                        <small *ngIf="trendText != ''">{{trendText}}</small>
                        <small *ngIf="trendText == ''">Previous</small>
                    </div>
                     <div fxFlex.gt-sm="25%" fxFlex.gt-xs="25%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">$ {{collectionVal | number:'1.0-0'}}</h3>
                        <small *ngIf="currentText != ''">{{currentText}}</small>
                        <small *ngIf="currentText == ''">Current</small>
                    </div>
                    <div fxFlex.gt-sm="25%" fxFlex.gt-xs="25%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">$ {{collectionTrendVal | number:'1.0-0'}}</h3>
                        <small *ngIf="trendText != ''">{{trendText}}</small>
                        <small *ngIf="trendText == ''">Previous</small>
                    </div>
                </div>            
      </mat-card-content>
    </mat-card>
    <div *ngIf="finTotalProductionLoader == true" class="loader_container loader_container_middle"><img class="loader_ico" src="../assets/images/720.gif"><div class="loader-text">Calculating...</div></div>
  </div>
  <!--  <div fxFlex.lg="33" fxFlex.xl="33" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="33" class="sa_flexbg predictor_ratio md_mrn custom_ngx_cw06">
    
    <mat-card class="" >
      <mat-card-content class="sa_matcard_content">
      <span class="predicted3Tool sa_inc_dec_arrows trend_arrow" mat-icon-button matTooltip="{{trendText}} : ${{collectionTrendVal | number:'1.0-0'}}" ><img class="trend_ico" src="../assets/images/trend_{{collectionTrendIcon}}.png"></span>
          <mat-card-title class="text-center">Collection
              <div class="sa_box_title_right_buttons">
                  <!-- <button mat-icon-button ><i class="fas fa-expand"></i></button>
                  <button mat-icon-button [matMenuTriggerFor]="menu"><i class="fas fa-ellipsis-h"></i></button>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item>Save Image</button>
                      <button mat-menu-item>Download PDF</button>
                  </mat-menu> -->
          <!--    </div>
          </mat-card-title>
          <h1 class="text-black m-0 sa_cart_title">$ {{collectionVal | number:'1.0-2'}}</h1>

             <div  style="height: 180px">
        <ngx-gauge  class="collection" [type]="gaugeType"
           [value]="collectionPercentage"  
           [thick]="gaugeThick"  
           [foregroundColor]="foregroundColor"
           [cap] ="cap"
           [append]="collectionAppend"
           [size]="size"
           >
          </ngx-gauge>
         
        </div>

            <div fxLayout="row wrap" class="m-t-40 predicted1 sa_chart_details_sec">
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">$ {{collectionVal | number:'1.0-0'}}</h3>
                        <small>Current</small>
                    </div>
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">$ {{collectionTrendVal | number:'1.0-0'}}</h3>
                        <small>Previous</small>
                    </div>
                </div>

      </mat-card-content>
    </mat-card>
  </div> -->
   <div fxFlex.lg="32" fxFlex.xl="32" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="32" class="total_val sa_flexbg predictor_ratio md_mrn last custom_ngx_cw07">
     
    <mat-card class="">
      <mat-card-content class="sa_matcard_content">
<span class="predicted3Tool sa_inc_dec_arrows trend_arrow" mat-icon-button matTooltip="{{trendText}} : ${{productionTrendVal | number:'1.0-0'}}" ><img class="trend_ico" src="../assets/images/trend_{{productionTrendIcon}}.png"></span>
       <mat-card-title class="text-center">Production Per Visit
              <div class="sa_box_title_right_buttons">
                  <!-- <button mat-icon-button ><i class="fas fa-expand"></i></button>
                  <button mat-icon-button [matMenuTriggerFor]="menu"><i class="fas fa-ellipsis-h"></i></button>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item>Save Image</button>
                      <button mat-menu-item>Download PDF</button>
                  </mat-menu> -->
              </div>
       </mat-card-title>
       <h1 class="text-black m-0 sa_cart_title">&nbsp;</h1>
          

       <div  style="height: 220px" *ngIf="productionVal > 0">
        <ngx-gauge class="productionVisit" [type]="gaugeType"
           [value]="productionVal" 
           [thick]="gaugeThick"  
           [prepend]= "gaugePrependText"
           [foregroundColor]="foregroundColor2"
            [max] = "productionTrendVal"
           [cap] ="cap"
           [size] = "size">
          </ngx-gauge>
          
        </div>
<div *ngIf="productionVal <= 0 && finProductionPerVisitLoader == false" class="sa_nodata_div">
              <h4>No Data</h4>
              <p>Oops! Looks like we don't have any data to show you</p>
          </div>
            <div fxLayout="row wrap" class="m-t-40 predicted1 sa_chart_details_sec" *ngIf="productionVal > 0">
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">${{productionVal | number:'1.0-0'}}</h3>
                        <small *ngIf="currentText != ''">{{currentText}}</small>
                        <small *ngIf="currentText == ''">Current</small>
                    </div>
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="text-center">
                        <h3 class="m-0 font-light">${{productionTrendVal | number:'1.0-0'}}</h3>
                        <small *ngIf="trendText != ''">{{trendText}}</small>
                        <small *ngIf="trendText == ''">Previous</small>
                    </div>
                </div>            
      </mat-card-content>
    </mat-card>
    <div *ngIf="finProductionPerVisitLoader == true" class="loader_container loader_container_middle"><img class="loader_ico" src="../assets/images/720.gif"><div class="loader-text">Calculating...</div></div>
  </div>
</div>
 <div class="trendMode"  fxLayout="row wrap" [style.display]="'none'">
   <div fxFlex.lg="59" fxFlex.xl="59" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="49" class="sa_flexbg predictor_ratio md_mrn ">
    
    <mat-card class="" >
      <mat-card-content class="sa_matcard_content">
          <div fxLayout="row wrap" class="sa_tabs_main_sec">
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="text-center">
                        <small class="sa_tab_btn profit_btn netProfit1 active" (click) = "displayProfit('1')">Net Profit</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="text-center">
                        <small class="sa_tab_btn profit_btn netProfit2" (click) = "displayProfit('2')">Net Profit % Xero</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="text-center">
                        <small class="sa_tab_btn profit_btn netProfit3" (click) = "displayProfit('3')">Net Profit % PMS</small>
                    </div>
             </div>
      <div  style="height: 280px"  >
          

        <canvas *ngIf="netProfitDisplayVal == 1 && netProfitChartTrendLabels.length  >0" class="profit1 net_profit" baseChart [datasets]="netProfitChartTrend" [labels]="netProfitChartTrendLabels" [options]="labelBarOptions" [legend]="false"
          [chartType]="lineChartType" (chartHover)="chartHovered($event)" [colors]="stackedChartColorsBar" (chartClick)="chartClicked($event)">
        </canvas>
       <img src='../assets/images/nodata02.png' *ngIf="netProfitDisplayVal == 1 && netProfitChartTrendLabels.length  <=0 && finNetProfitTrendLoader == false" class="blankChart"> 


        <canvas *ngIf="netProfitDisplayVal == 2 && netProfitPercentChartTrendLabels.length  >0" class="profit2 net_profit" baseChart [datasets]="netProfitPercentChartTrend" [labels]="netProfitPercentChartTrendLabels" [options]="labelBarPercentOptions" [legend]="false"
          [chartType]="lineChartType" (chartHover)="chartHovered($event)" [colors]="stackedChartColorsBar" (chartClick)="chartClicked($event)" >
        </canvas>
       <img src='../assets/images/nodata02.png' *ngIf="netProfitDisplayVal == 2  && netProfitPercentChartTrendLabels.length <=0 && finNetProfitPercentTrendLoader == false"  class="blankChart"> 


        <canvas *ngIf="netProfitDisplayVal == 3 && netProfitPmsChartTrendLabels.length  > 0" #myCanvas2 class="profit3 net_profit" baseChart [datasets]="netProfitPmsChartTrend" [labels]="netProfitPmsChartTrendLabels" [options]="labelBarPercentOptions" [legend]="false"
          [chartType]="lineChartType" (chartHover)="chartHovered($event)" [colors]="stackedChartColorsBar" (chartClick)="chartClicked($event)"> 
        </canvas>
       <img src='../assets/images/nodata02.png' *ngIf="netProfitDisplayVal == 3  && netProfitPmsChartTrendLabels.length  <=0 && finNetProfitPMSTrendLoader == true" class="blankChart"> 
      </div>        
      </mat-card-content>
    </mat-card>
    <div *ngIf="finNetProfitTrendLoader == true && netProfitDisplayVal == 1" class="loader_container loader_container_middle"><img class="loader_ico" src="../assets/images/720.gif"><div class="loader-text">Calculating...</div></div>
    <div *ngIf="finNetProfitPercentTrendLoader == true && netProfitDisplayVal == 2" class="loader_container loader_container_middle"><img class="loader_ico" src="../assets/images/720.gif"><div class="loader-text">Calculating...</div></div>
    <div *ngIf="finNetProfitPMSTrendLoader == true && netProfitDisplayVal == 3" class="loader_container loader_container_middle"><img class="loader_ico" src="../assets/images/720.gif"><div class="loader-text">Calculating...</div></div>
  </div>
  <div fxFlex.lg="40" fxFlex.xl="40" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="40" class="sa_flexbg predictor_ratio md_mrn last">
    
    <mat-card class="" >
      <mat-card-content class="sa_matcard_content">
          <mat-card-title class="text-center">Total Discounts
              <div class="sa_box_title_right_buttons">
                  <!-- <button mat-icon-button ><i class="fas fa-expand"></i></button>
                  <button mat-icon-button [matMenuTriggerFor]="menu"><i class="fas fa-ellipsis-h"></i></button>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item>Save Image</button>
                      <button mat-menu-item>Download PDF</button>
                  </mat-menu> -->
              </div>
          </mat-card-title>
          

             <div  style="height: 280px">
        <canvas  #myCanvas2 class="trendtotalDiscount" *ngIf="discountsChartTrendLabels.length  > 0" baseChart [datasets]="discountsChartTrend" [labels]="discountsChartTrendLabels" [options]="labelBarOptions" [legend]="false"
          [chartType]="lineChartType" (chartHover)="chartHovered($event)" [colors]="stackedChartColorsBar" (chartClick)="chartClicked($event)">
        </canvas>
        <div *ngIf="discountsChartTrendLabels.length  <=0 && finTotalDiscountsTrendLoader == false" class="sa_nodata_div">
              <h4>No Data</h4>
              <p>Oops! Looks like we don't have any data to show you</p>
          </div>
      </div>
      </mat-card-content>
    </mat-card>
    <div *ngIf="finTotalDiscountsTrendLoader == true" class="loader_container loader_container_middle"><img class="loader_ico" src="../assets/images/720.gif"><div class="loader-text">Calculating...</div></div>
  </div>
    <div fxFlex.lg="49" fxFlex.xl="49" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="49" class="sa_flexbg md_mrn
expenses_card" >
        <mat-card class="chart_card" >
            <mat-card-content class="sa_matcard_content">
                <mat-card-title class="text-center">Expenses
                    <div class="sa_box_title_right_buttons">
                        <button mat-icon-button (click) = "flipcard('expenses_card')" ><i class="fas fa-list-ul list_ico"></i><i class="fas fa-chart-line chart_ico"></i></button>
                        <!-- <button mat-icon-button ><i class="fas fa-expand"></i></button>
                        <button mat-icon-button [matMenuTriggerFor]="menu"><i class="fas fa-ellipsis-h"></i></button> 
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>Save Image</button>
                            <button mat-menu-item>Download PDF</button>
                        </mat-menu> -->
                    </div>
                </mat-card-title>

                <div class=" sa_chart_summary_flip_main">
                <div class=" sa_chart_summary_flip">
                    <div class="chart sa_chart_flip sa_flip" >
                        <div style="height: 280px;">
                                  <canvas #myCanvas2 class="trendProductionPercentage" *ngIf="expensesChartTrendLabels.length  > 0" baseChart [datasets]="expensesChartTrend" [labels]="expensesChartTrendLabels" [options]="stackedChartOptions" [legend]="false"
              [chartType]="stackedChartType" (chartHover)="chartHovered($event)" [colors]="preoceedureChartColors" (chartClick)="chartClicked($event)" >
            </canvas>

            <div *ngIf="expensesChartTrendLabels.length  <=0" class="sa_nodata_div">
              <h4>No Data</h4>
              <p>Oops! Looks like we don't have any data to show you</p>
          </div>
                        </div>
                    </div>
                </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
  <div fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="50" class="sa_flexbg predictor_ratio md_mrn last">    
    <mat-card class="" >
      <mat-card-content class="sa_matcard_content">
          <mat-card-title class="text-center">% of Production By Clinician
              <div class="sa_box_title_right_buttons">
                  <!-- <button mat-icon-button ><i class="fas fa-expand"></i></button>
                  <button mat-icon-button [matMenuTriggerFor]="menu"><i class="fas fa-ellipsis-h"></i></button>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item>Save Image</button>
                      <button mat-menu-item>Download PDF</button>
                  </mat-menu> -->
              </div>
          </mat-card-title>
          

             <div  style="height: 280px">
        <canvas #myCanvas2 class="trendProductionPercentage" baseChart *ngIf="productionChartTrendLabels.length  > 0" [datasets]="productionChartTrend" [labels]="productionChartTrendLabels" [options]="labelBarPercentOptions" [legend]="false"
          [chartType]="stackedChartType" (chartHover)="chartHovered($event)" [colors]="preoceedureChartColors" (chartClick)="chartClicked($event)">
        </canvas>
        <div *ngIf="productionChartTrendLabels.length  <=0 && finProductionByClinicianTrendLoader == false" class="sa_nodata_div">
              <h4>No Data</h4>
              <p>Oops! Looks like we don't have any data to show you</p>
          </div>
      </div>
           
      </mat-card-content>
    </mat-card>
    <div *ngIf="finProductionByClinicianTrendLoader == true" class="loader_container loader_container_middle"><img class="loader_ico" src="../assets/images/720.gif"><div class="loader-text">Calculating...</div></div>
  </div>
    
  <div fxFlex.lg="32" fxFlex.xl="32" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="32" class="sa_flexbg predictor_ratio md_mrn"> 
    <mat-card class="" >
      <mat-card-content class="sa_matcard_content">
          <mat-card-title class="text-center">Overdue Accounts
              <div class="sa_box_title_right_buttons">
                  <!-- <button mat-icon-button ><i class="fas fa-expand"></i></button>
                  <button mat-icon-button [matMenuTriggerFor]="menu"><i class="fas fa-ellipsis-h"></i></button>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item>Save Image</button>
                      <button mat-menu-item>Download PDF</button>
                  </mat-menu> -->
              </div>
          </mat-card-title>
          

             <div  style="height: 280px">
         <canvas  #myCanvas class="trendtotalOverdue" *ngIf="overdueChartTrendLabels.length  > 0" baseChart [datasets]="overdueChartTrend" [labels]="overdueChartTrendLabels" [options]="labelBarOptions" [legend]="false"
          [chartType]="stackedChartType" (chartHover)="chartHovered($event)" [colors]="preoceedureChartColors" (chartClick)="chartClicked($event)">
        </canvas>
        <div *ngIf="overdueChartTrendLabels.length  <=0 && finOverdueAccountsTrendLoader == false" class="sa_nodata_div">
              <h4>No Data</h4>
              <p>Oops! Looks like we don't have any data to show you</p>
          </div>
      </div>           
      </mat-card-content>
    </mat-card>
    <div *ngIf="finOverdueAccountsTrendLoader == true" class="loader_container loader_container_middle"><img class="loader_ico" src="../assets/images/720.gif"><div class="loader-text">Calculating...</div></div>
  </div>
 <div fxFlex.lg="32" fxFlex.xl="32" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="32" class="sa_flexbg predictor_ratio md_mrn">
 <mat-card class="" >
      <mat-card-content class="sa_matcard_content">
          <mat-card-title class="text-center">Total Production & Collection
              <div class="sa_box_title_right_buttons">
                  <!-- <button mat-icon-button ><i class="fas fa-expand"></i></button>
                  <button mat-icon-button [matMenuTriggerFor]="menu"><i class="fas fa-ellipsis-h"></i></button>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item>Save Image</button>
                      <button mat-menu-item>Download PDF</button>
                  </mat-menu> -->
              </div>
          
          </mat-card-title>
       <div  style="height: 280px">
          <canvas  #myCanvas2 class="trendtotalProduction" *ngIf="totalProductionCollectionLabel.length  > 0" baseChart [datasets]="totalProductionCollection" [labels]="totalProductionCollectionLabel" [options]="labelBarOptions" [legend]="true"
          [chartType]="stackedChartType" (chartHover)="chartHovered($event)" [colors]="preoceedureChartColors" (chartClick)="chartClicked($event)">
        </canvas>
        <div *ngIf="totalProductionCollectionLabel.length  <=0 && finCollectionTrendLoader == false" class="sa_nodata_div">
              <h4>No Data</h4>
              <p>Oops! Looks like we don't have any data to show you</p>
          </div>
        </div>           
      </mat-card-content>
    </mat-card>
    <div *ngIf="finCollectionTrendLoader == true" class="loader_container loader_container_middle"><img class="loader_ico" src="../assets/images/720.gif"><div class="loader-text">Calculating...</div></div>
  </div>
   <div fxFlex.lg="33" fxFlex.xl="33" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="50" class="sa_flexbg predictor_ratio last md_mrn last">
     
    <mat-card class="">
      <mat-card-content class="sa_matcard_content">
       <mat-card-title class="text-center">Production Per Visit
              <div class="sa_box_title_right_buttons">
                  <!-- <button mat-icon-button ><i class="fas fa-expand"></i></button>
                  <button mat-icon-button [matMenuTriggerFor]="menu"><i class="fas fa-ellipsis-h"></i></button>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item>Save Image</button>
                      <button mat-menu-item>Download PDF</button>
                  </mat-menu> -->
              </div>
       </mat-card-title>
          

       <div  style="height: 280px;">
           <canvas #myCanvas2 class="trendproductionVisit" *ngIf="productionVisitChartTrendLabels.length  > 0" baseChart [datasets]="productionVisitChartTrend" [labels]="productionVisitChartTrendLabels" [options]="labelBarOptions" [legend]="false"
          [chartType]="lineChartType" (chartHover)="chartHovered($event)" [colors]="preoceedureChartColors" (chartClick)="chartClicked($event)"></canvas>
<div *ngIf="productionVisitChartTrendLabels.length  <=0 && finProductionPerVisitTrendLoader == false" class="sa_nodata_div">
              <h4>No Data</h4>
              <p>Oops! Looks like we don't have any data to show you</p>
          </div>
        </div>           
      </mat-card-content>
    </mat-card>
    <div *ngIf="finProductionPerVisitTrendLoader == true" class="loader_container loader_container_middle"><img class="loader_ico" src="../assets/images/720.gif"><div class="loader-text">Calculating...</div></div>
  </div>
  
</div>
  <!-- Column-->   
</div>

</div><canvas #myCanvas2 baseChart [style.display]="'none'"></canvas><canvas #myCanvas baseChart [style.display]="'none'"></canvas>