.sa_matcard_content {
  position: relative;
  .info-button {
    position: absolute;
    right: 16px;
    top: 16px;
    img {
        width: 18px;
    }
  }
 
  .total-dicount-title {
    justify-content: start; 
    .title {
      flex-grow: 1;
    } 
  }
}
