<mat-accordion class="settings-table-card clinic-expansion-panel" multi="true">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Clinic </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card-content>
       <!-- <div fxLayout="row wrap">
        <div fxFlex="450px" fxFlex.sm="100" fxFlex.xs="100" class="xero-main">
          <button 
            class="sa-pull-right mat-raised-button mat-gray connect-xero" 
            *ngIf ="xeroConnect == false" 
            mat-raised-button 
            (click) = "openXero()">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </button>
          <span class="org_xero xero-company-name" *ngIf="xeroOrganization != ''" >
            <span class="material-icons">done</span> 
            {{xeroOrganization}}
          </span>
          <button 
            class="sa-pull-right mat-raised-button mat-red disconnect-xero" 
            *ngIf ="xeroConnect == true" 
            mat-raised-button (click) = "disconnectXero()">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </button>
        </div> 
      </div> -->

        <form [formGroup]="form" class="basic-form sa_forms_design" (ngSubmit)="onSubmit()">
          <h4 class="clinic-settings-form-title" >Clinic Settings</h4>
          <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutGap.md="0px" fxLayoutGap.sm="0px" fxLayoutGap.xs="0">
            <div class="clinic-setting-form" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" style="width: 100%;">
              <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutGap.md="20px" fxLayoutGap.sm="20px" fxLayoutGap.xs="0"> 
                <div fxFlex="calc(49% - 10px)" fxFlex.md="calc(49% - 10px)" fxFlex.sm="calc(49% - 10px)" fxFlex.xs="100">
                  <div class="sa-form-group">
                    <label>Clinic Name</label>
                    <input placeholder="" [formControl]="form.controls['clinicName']" [(ngModel)]= "clinicName">
                  </div>
                </div>
                <div fxFlex="calc(49% - 10px)" fxFlex.md="calc(49% - 10px)" fxFlex.sm="calc(49% - 10px)" fxFlex.xs="100">
                  <div class="sa-form-group">
                    <label>Contact Name</label>
                    <input placeholder="" [formControl]="form.controls['contactName']" [(ngModel)]="contactName">
                  </div>
                </div>
              </div>
              <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutGap.md="20px" fxLayoutGap.sm="20px" fxLayoutGap.xs="0"> 
                <div fxFlex="calc(49% - 10px)" fxFlex.md="calc(49% - 10px)" fxFlex.sm="calc(49% - 10px)" fxFlex.xs="100">
                  <div class="sa-form-group">
                    <label>Phone Number</label>
                    <input placeholder="" [formControl]="form.controls['phoneNo']" [(ngModel)]= "phoneNo">
                  </div>
                </div>
                <div fxFlex="calc(49% - 10px)" fxFlex.md="calc(49% - 10px)" fxFlex.sm="calc(49% - 10px)" fxFlex.xs="100">
                   <div class="sa-form-group">
                    <label>Contact Email</label>
                    <input placeholder="" [formControl]="form.controls['clinicEmail']" [(ngModel)]="clinicEmail">
                  </div>
                </div>
              </div>
              <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutGap.md="20px" fxLayoutGap.sm="20px" fxLayoutGap.xs="0"> 
                <div fxFlex="calc(49% - 10px)" fxFlex.md="calc(49% - 10px)" fxFlex.sm="calc(49% - 10px)" fxFlex.xs="100">
                  <div class="sa-form-group">
                    <label>Address</label>
                    <input placeholder="" [formControl]="form.controls['address']" [(ngModel)]="address">
                  </div>
                </div>
                <div fxFlex="calc(49% - 10px)" fxFlex.md="calc(49% - 10px)" fxFlex.sm="calc(49% - 10px)" fxFlex.xs="100">
                  <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutGap.md="20px" fxLayoutGap.sm="20px" fxLayoutGap.xs="0"></div>
                </div>
              </div>
            </div>            
          </div>
          <div class="working-days">  
              <h4 class="clinic-settings-form-title">Clinic Working Days</h4>
              <div class="clinic-setting-form" fxLayout="row wrap" fxLayoutGap="20px" fxLayoutGap.md="0px" fxLayoutGap.sm="0px" fxLayoutGap.xs="0">
                <mat-slide-toggle fxFlex.md="30" fxFlex.xs="100" checked="{{ workingDays.sunday }}" name="sunday" (change)="toggle($event)">Sunday</mat-slide-toggle>
                <mat-slide-toggle fxFlex.md="30" fxFlex.xs="100" checked="{{ workingDays.monday }}" name="monday" (change)="toggle($event)">Monday</mat-slide-toggle>
                <mat-slide-toggle fxFlex.md="30" fxFlex.xs="100" checked="{{ workingDays.tuesday }}" name="tuesday" (change)="toggle($event)">Tuesday</mat-slide-toggle>
                <mat-slide-toggle fxFlex.md="30" fxFlex.xs="100" checked="{{ workingDays.wednesday }}" name="wednesday" (change)="toggle($event)">Wednesday</mat-slide-toggle>
                <mat-slide-toggle fxFlex.md="30" fxFlex.xs="100" checked="{{ workingDays.thursday }}" name="thursday" (change)="toggle($event)">Thursday</mat-slide-toggle>
                <mat-slide-toggle fxFlex.md="30" fxFlex.xs="100" checked="{{ workingDays.friday }}" name="friday" (change)="toggle($event)">Friday</mat-slide-toggle>
                <mat-slide-toggle fxFlex.md="30" fxFlex.xs="100" checked="{{ workingDays.saturday }}" name="saturday" (change)="toggle($event)">Saturday</mat-slide-toggle>
              </div>
          </div>
          <div class="post-op-codes">
            <h4 class="clinic-settings-form-title">Post Op Calls Codes</h4>          
            <div class="sa-form-group clinic-setting-form">
              <input placeholder="" [formControl]="form.controls['post_op_calls']" [(ngModel)]="post_op_calls">
            </div>
          </div>           

           <div class="post-op-codes">
            <h4 class="clinic-settings-form-title">MH- Post Op Calls Previous Days</h4>          
            <div class="sa-form-group clinic-setting-form">
              <input type="number" min="0" placeholder="" [formControl]="form.controls['post_op_calls_days']" [(ngModel)]="postOpCallsMh">
            </div>
          </div>
          
          <div class="post-op-codes">
            <h4 class="clinic-settings-form-title">MH - Unscheduled Patients Previous Days</h4>          
            <div class="sa-form-group clinic-setting-form">
              <input type="number" min="0" placeholder="" [formControl]="form.controls['unscheduled_patients_days']" [(ngModel)]="unscheduledPatientsMh">
            </div>
          </div>


          <div class="post-op-codes">
            <h4 class="clinic-settings-form-title">FTA/UTA</h4>          
            <div  fxLayout="row wrap fta_uta_setting" style="width: 500px;text-align: center;"> 
            <div class="sa-form-group clinic-setting-form"  style="text-align: left;width: 240px;">
              <span style=" padding: 11px 6px;display: inline-block;" >Appointment Status</span>
              <input  style=" float: left;width: 25px;"  type="radio" name="fta_uta" [formControl]="form.controls['fta_uta']" [(ngModel)]="ftaUta" value="status">
            </div>
             <div class="sa-form-group clinic-setting-form"   style="text-align: left;width: 240px;">
              <span style=" padding: 11px 6px;display: inline-block;">Item Codes</span>
              <input style=" float: left;width: 25px;" type="radio" name="fta_uta" [formControl]="form.controls['fta_uta']" [(ngModel)]="ftaUta" value="item">
            </div>
          </div>
          </div>
          <div class="sa-form-group-btn">
            <button class="save-button" type="submit" [disabled]="!form.valid">Save</button>
          </div>
        </form>
    </mat-card-content>
  </mat-expansion-panel>

  <app-goals-settings [clinicId]="id"></app-goals-settings>
  <app-dentist-settings [clinicId]="id"></app-dentist-settings>


  <!-- XERO section start -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Xero </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card-content>    
      <div class="text-center">
        <div class="image-container">
          <img src="assets/images/xero_settings.png" alt="" />
        </div>
        <div class="button-container">
          
            <button class="save-button" *ngIf="myobConnect == false" (click)="xeroConnect ? disconnectXero() : openXero()">
              {{ !xeroConnect  ? 'Connect to Xero' : 'Disconnect from XERO' }}
              <img class="fast-forward-icon" src="assets/images/fast_forward_arrows.png" alt="" />
            </button>

        </div>
        <div class="company-container" *ngIf="xeroOrganization?.length">
          <div class="company-icon">
            <img src="assets/images/company_icon.png" alt="" />
          </div>
          <div class="company-name">{{ xeroOrganization }}</div> <!-- Demo Company (AU) -->
        </div>
      </div>
    </mat-card-content>
  </mat-expansion-panel>
  <!-- XERO end -->

  <!-- MYOB section start -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> MYOB </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card-content>
      <div class="text-center">
        <div class="image-container">
          <img src="assets/images/myob.png" alt="" />
        </div>
        <div class="button-container">
            <button class="save-button" *ngIf="xeroConnect == false" (click)="myobConnect ? disconnectMyob() : openMyob()">
              {{ !myobConnect  ? 'Connect to Myob' : 'Disconnect from Myob' }}
              <img class="fast-forward-icon" src="assets/images/fast_forward_arrows.png" alt="" />
            </button>
        </div>
        <div class="company-container" *ngIf="myobOrganization?.length">
          <div class="company-icon">
            <img src="assets/images/company_icon.png" alt="" />
          </div>
          <div class="company-name">{{ myobOrganization }}</div> <!-- Demo Company (AU) -->
        </div>
      </div>
    </mat-card-content>
  </mat-expansion-panel>
  <!-- MYOB end -->

</mat-accordion>