.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 90%;
}
.mat-column-task_name{
	width:70%;
}
.mat-column-action {
    width: 15% !important; 
}

.xero-text{
  line-height: 18px;
  background: #4cc6e7;
  margin-left: 15px;
  font-size: 15px;
  padding: 5px;
  color: whitesmoke;
  border-radius: 4px;
  font-family: 'Gilroy-Medium';
}
.myob-text{
  line-height: 18px;
  background: #d082c6;
  margin-left: 15px;
  font-size: 15px;
  padding: 5px;
  color: whitesmoke;
  border-radius: 4px;
  font-family: 'Gilroy-Medium';
}
.gray_area {
    width: 100%;
    display: block;
    float: left;
    border: 1px solid #cecece;
    margin-bottom: 25px;
    padding: 1%;
    box-shadow: 0px 7px 9px #cececece;
    border-radius: 9px;
}
.gray_area .info-button {
    width: auto;
    display: inline-block;
}
.gray_area_partision {
    width: 33%;
    display: inline-block;
    height: 100%;
    float: left;
}