<h2 mat-dialog-title>Terms and Conditions – Jeeve Analytics</h2>
<mat-dialog-content class="mat-typography">
  
  <h3> 1 -	Overview </h3>
  <p> 1.1	Jeeve Analytics is a cloud based dental business management software developed and owned exclusively by the parent company of Selectah Software Pty Ltd ACN 641 317 955 (Selectah Software).  Selectah Software holds the right to sub-licence Jeeve Analytics pursuant to these terms and conditions (Terms and Conditions). </p>
  
  <p>1.2	Jeeve Analytics provides automated performance tracking and analysis for dental practices enabling your dental practice to:
  
  (a)	Monitor its KPIs and metrics; <br>
  
  (b)	Measure front desk performance; <br>
  
  (c)	Analyse and predict overall performance; <br>
  
  (d)	Track return on marketing investment; <br>
  
  (e)	Analysis accounting;  <br>
  
  (f)	Generate statistics and predictors on individual clinicians;  <br>
  
  (g)	Report on the overall financial health of the practice. </p>
  
  <p>1.3	Selectah Software and its third-party licensors reserve the right to update, modify, replace, limit, and expand Jeeve Analytics and its functionality. </p>
  
  <p>1.4	Each user of Jeeve Analytics should read these Terms and Conditions carefully prior to subscribing to Jeeve Analytics.</p>


  <h3> 2 -	Acceptance of Terms and Conditions </h3>
  <p> 2.1	These Terms and Conditions record an agreement between you and your dental practice (you), as the subscriber, and Selectah Software for the purpose of you subscribing to Jeeve Analytics. </p>
  <p>2.2	By subscribing to Jeeve Analytics you are accepting these Terms and Conditions and agree to be bound by them. </p>
  <p>2.3	Selectah Software reserves the right to make changes to these Terms and Conditions from time to time without notice. </p> 
  <p>2.4	These Terms and Conditions are governed by the laws of Victoria. Disputes arising from your use of Jeeve Analytics are exclusively subject to the jurisdiction of the courts of Victoria. </p>
  
  
  <h3> 3 - Subscription </h3>
  <p> 3.1	At the time you subscribe to Jeeve Analytics you must provide:
  (a)	A valid email address; <br>
  (b)	A valid office phone number for the dental practice that will be utilising Jeeve Analytics; <br>
  (c)	A valid Australian credit card number or bank account number for payment purposes;<br>
  (d)	A valid company name and ABN;<br>
  (e)	The name of the subscribing dental practice and its associated phone number for display on the landing page; and<br>
  (f)	Any other information required to complete the account establishment process.<br>
  (Client Data). </p>
  <p>3.2	Jeeve Analytics is available as a single clinic or multi-clinic subscription. If you select the single clinic subscription, a separate subscription is required for each separate dental practice and each dental practice will be invoiced separately. If you select the multi-clinic subscription, multiple clinics can utilise the subscription simultaneously, and only the subscribing clinic will be invoiced. </p>
  <p>3.3	Failure to supply correct Client Data may result in Selectah Software cancelling your subscription. </p>
  <p>3.4	You agree to update your Client Data if there are any changes to ensure that it is current and accurate at all times. You agree to update Jeeve Analytics to the extent you become aware of any such changes in relation to your account. </p>
  <p>3.5	You agree to permit Selectah Software to use the Client Data for the purpose of providing the functionality of Jeeve Analytics and any related purpose. You acknowledge that in order to do so, Selectah Software may share the Client Data with other parties, including stakeholders and suppliers. </p>
  <p>3.6	When you register with Jeeve Analytics you will be asked to provide a contact email address. An activation email will be sent to this address together with your password and login details. </p>
  <p>3.7	You and Selectah Software will collaborate to perform and complete all required onboarding action steps to allow you to commence using Jeeve Analytics.</p> 
  <p>3.8	You are responsible for maintaining the security of your login and account information (including the password).  Selectah Software is not liable for any loss or damage from your failure to comply with this security obligation.</p>
  <p>3.9	You are responsible for all activities that occur on your account, and Selectah Software will not be liable for any loss or damage from activities on your account.</p>
  <p>3.10	You agree to use Jeeve Analytics for its intended purpose.  You may not use the software for any illegal or unauthorised purpose, including the transmission of malware.  You must not use the service to violate any laws in your jurisdiction, including but not limited to copyright laws.</p>
  <p>3.11	All Client Data will be stored and maintained by or on behalf of Selectah Software in accordance with Australian law.</p>
  <p>3.12	Selectah Software use of any personal information provided within the Client Data will be in accordance with its Privacy Policy available at https://www.jeeve.com.au/term (Privacy Policy). </p>
  
  
  <h3> 4 - Fees and payment </h3>
  <p> 4.1	By accepting these Terms and Conditions you authorise Selectah Software or any third-party service provider to debit your account at the relevant financial institution connected with the payment details identified and provided in your Client Data.  This may be for payment of your subscription fee when you first subscribe to Jeeve Analytics and any subsequent monthly subscription fees (Fees). </p>
  <p>4.2	Fees and other amounts payable to Selectah Software for Jeeve Analytics are published on our website at www.jeeve.com.au and are charged in Australian Dollars. Selectah Software reserves the right to amend pricing rates from time to time at its discretion.</p>
  <p>4.3	Fees are payable monthly in advance and will be direct debited from your nominated bank account or credit card at the time of subscription, and then on each subsequent monthly anniversary of the subscription date. </p>
  <p>4.4	Fees will appear on your bank account with the name “Jeeve” or a similar reference. </p>
  <p>4.5	If sufficient funds are not available in your nominated financial account at the time of processing a payment:
  (a)	Selectah Software will issue an email notification to you providing notice of the payment default.<br>
  (b)	A second attempt to direct debit the fees from your nominated bank account or credit card will occur three days after the failed attempt. <br>
  (c)	If the payment is declined a second time, subscription will be temporarily disabled until the payment is successfully made. <br>
  (d)	All charges are inclusive of Goods and Service Tax (GST) where applicable. </p>
  
  
  <h3> 5 - Third party payment service </h3>
  <p> 5.1	Selectah Software uses a third-party service provider for provision of the payment service between you and Selectah Software and is not liable for any issues, including charges from your financial institution, which may arise as a result of this service.</p>
  <p>5.2	You acknowledge that the credit card or debit card provided has been verified against a recent bank statement to confirm accuracy of the details provided.</p>
  <p>5.3	You acknowledge that you have authority to utilise the nominated credit card or debit card for the purpose of paying Selectah Software its Fees.</p>
  <p>5.4	You acknowledge that it is your responsibility to ensure that there are sufficient cleared funds or financial capacity in the nominated account to honour the transaction when it falls due.</p>
  <p>5.5	Selectah Software will not be held responsible for any fees and charges imposed by your financial institution or any other third party that may be incurred if there are insufficient funds in your account or the payment fails.</p>
  <p>5.6	Payments will be processed at the time when you subscribe for Jeeve Analytics.  You will not be eligible for subscription to Jeeve Analytics if payment is declined.</p>
  <p>5.7	You may amend your payment instructions. These amendments may take up to 5 Business Days to become effective. </p>
  
  
  <h3> 6 - Termination </h3> 
  <p> 6.1	You can cancel your subscription in writing with one months’ notice without the need for a valid reason. </p>
  <p>6.2	If you cancel your subscription, you are required to pay in full your subscription fee for the last calendar month your account is active. This clause applies regardless of when in the calendar month your subscription is cancelled. </p>
  <p>6.3	Selectah Software can cancel your subscription in writing with one months’ notice without the need for a valid reason. </p>
  <p>6.4	Selectah Software can cancel your subscription immediately if you are in breach of any of these Terms and Conditions, including but not limited to:
  (a)	Any dishonest, discourteous, or otherwise unprofessional behaviour by you, your dental practice, or members, officers, or affiliates of your dental practice in relation to Jeeve Analytics.
  (b)	Failure to pay any fees as and when they become due and owing. </p>
  <p>6.5	You will be liable to pay any outstanding fees if your account is cancelled due to a breach of the Terms and Conditions. </p>
  
  
  <h3> 7 - Intellectual Property </h3> 
  <p> 7.1	Your subscription to Jeeve Analytics is pursuant to a non-exclusive license between you and Selectah Software which is granted subject to these Terms and Conditions. Nothing in these Terms and Conditions or otherwise creates an assignment of any rights in Jeeve Analytics beyond the ability to use it for its intended use. </p>
  <p>7.2	Nothing in these Terms and Conditions or otherwise creates the right for you to sublicense Jeeve Analytics, or your Jeeve Analytics subscription. </p>
  <p>7.3	By accepting these Terms and Conditions you undertake not to reverse engineer, replicate, or otherwise copy Jeeve Analytics. Selectah Software reserves all its rights to seek compensation, damages, injunctions, or any other remedy available to it at law if any attempt to do so, whether successful or unsuccessful, is made by you, your practice or its members, employees, officers, affiliates, customers, or anyone else. </p>
  <p>7.4	All intellectual property and ownership rights subsisting in Jeeve Analytics (including the user interface and the software comprising Jeeve Analytics), the data derived from use of Jeeve Analytics, and any other documentation, information or materials that are supplied by Jeeve Analytics to you, remain the exclusive property of Selectah Software or its third-party licensors.  For the avoidance of doubt, nothing in this agreement assigns ownership rights to you.</p>
  
  
  <h3> 8 - Operation of Jeeve Analytics </h3>
  <p> 8.1	Jeeve Analytics operates in cooperation with your dental practice’s nominated practice management software and accounting software.</p>
  <p>8.2	As a subscriber to Jeeve Analytics you warrant that you will comply fully with all Jeeve Analytics operating instructions. Any failure to comply fully with operating instructions may result in the sub-par or faulty performance of Jeeve Analytics. </p>
  <p>8.3	Selectah Software accepts no liability, and you release Selectah Software from any such liability, associated with faults or errors caused by your non-compliance with all operating instructions. </p>
  <p>8.4	You warrant and acknowledge that Jeeve Analytics requires integration with your practice management and accounting software in order to function as intended. </p>
  <p>8.5	Any crash, error, or other failure of your practice management and / or accounting software may result in a crash, error, or other failure of Jeeve Analytics. </p>
  <p>8.6	Jeeve Analytics requires information to be inputted into your practice management and accounting software in an accurate and timely manner in order to produce accurate outputs.  </p>
  <p>8.7	Selectah Software is not responsible for the upkeep, maintenance or accuracy of your practice management or accounting software. </p>
  <p>8.8	Selectah Software may suspend your subscription for any one or more periods of time if it is unable to provide the software due to a fault or dysfunction with our servers.</p>
  
  
  <h3> 9 - Modifications to Jeeve Analytics </h3> 
  <p> 9.1	Selectah Software reserves the right to modify or discontinue, temporarily or permanently Jeeve Analytics and its other products and services with or without notice.</p>
  
  
  <h3> 10 - Patient Information </h3>
  <p> 10.1	Jeeve Analytics may include functionality which enables you to communicate directly with patients of the dental practice through Jeeve Analytics. To utilise this functionality, you may be required to collect and store patient information or, to the extent the patient is a minor, the information of that Patient’s legal guardian or carer, on Jeeve Analytics including without limitation (Patient Information):
  (a)	Phone number;<br>
  (b)	Email address; <br>
  (c)	Sensitive information including biometric and health information. </p>
  <p>10.2	All Patient Information will be stored and maintained by or on behalf of Selectah Software in accordance with Australian law and the Privacy Policy. Prior to collecting or storing any Patient Information on Jeeve Analytics, you must ensure the patient is provided with a copy of the Privacy Policy. </p>
  <p>10.3	You warrant and undertake that you will handle all Patient Information collected and stored on Jeeve Analytics in in accordance with Australian law and the Privacy Policy. </p>
  
  
  <h3> 11 -	Affiliates and commission </h3>
  <p>11.1	Selectah Software notes that it may be party to referral arrangements from time to time. Selectah Software reserves the right to make payments to third party referrers in the form of referral fees and commission payments to the extent such third parties have assisted Selectah Software to promote or sell its products and services.</p>
  <p>11.2	Selectah Software may also receive commission and referral fees from third parties to the extent that Selectah Software  promotes or sells their products and / or services through one or more of its platforms.</p>
  
  
  <h3> 12 -	Warranties </h3>
  <p> 12.1	By using Jeeve Analytics, you represent and warrant to Selectah Software that Selectah Software will not be liable for any direct or indirect expense, damage or injury (including indirect loss of revenue, profits, goodwill or business opportunity) howsoever caused, including arising directly or indirectly from or in connection with your use of Jeeve Analytics.</p>
  <p>12.2	Subject to any of the rights you may have under Australian Consumer Protection Law, Selectah Software excludes to the fullest extent possible all implied terms and warranties, whether statutory or otherwise, relating to Jeeve Analytics or any other matter under these Terms and Conditions.</p>
  
  
  <h3> 13 -	Limitation of liability </h3> 
  <p> 13.1	Jeeve Analytics is made available to you on an “as is” basis. Selectah Software makes no warranties, representations or conditions of any kind, express, statutory or implied as to:
  (a)	The operation and functionality of the software;<br>
  (b)	the accuracy, integrity, completeness, quality, legality, usefulness, safety and IP rights of any of the software content; and/or<br>
  (c)	the products and services associated with the software or its content. Selectah Software further disclaims all warranties, express, statutory or implied, including, but not limited to, implied warranties of merchantability, merchantable quality, durability, fitness for a particular purpose and/or non-infringement. No advice or information, whether oral or written, that you obtain from Selectah Software shall create any warranty, representation or condition not expressly stated herein.</p>
  <p>13.2	Selectah Software disclaims all liability for any:
  (a)	indirect, special, incidental, punitive, exemplary, reliance or consequential damages;<br>
  (b)	loss of profits;<br>
  (c)	business interruption;<br>
  (d)	Network interruptions; <br>
  (e)	loss or damage to reputation of Selectah Software or any third party; or<br>
  (f)	loss of information or data. Selectah Software further disclaims all liability for any loss or damage arising out of your use of Jeeve Analytics.</p>
  <p>13.3	Your use of Jeeve Analytics is at your own discretion and risk, and you will be solely responsible for any resulting loss or damage, including but not limited to, any loss of data or damage to your computer(s) or networks from viruses that may be downloaded to your computer in the course of using the software. Some jurisdictions do not allow the exclusion of certain warranties, the limitation or exclusion of implied warranties, or limitations on how long an implied warranty may last, so the above limitations may not apply to you. If you reside in such a jurisdiction, the above limitations shall apply to you to the fullest extent permitted under applicable law.</p>
  <p>13.4	Selectah Software’s maximum aggregate liability to you for any claims, damages, injuries or causes whatsoever, and regardless of the form of action (whether such liability arises due to negligence, breach of contract, misrepresentation or for any other reason), will at all times be limited to the greater of (i) the amount paid, if any, by you to Selectah Software in connection with Jeeve Analytics in the 2 months prior to the action giving rise to liability or (ii) $1.00.</p>
  
  
  <h3> 14 -	Indemnity </h3>
  <p> 14.1	You agree to defend, indemnify and hold harmless Selectah Software, its members, managers, subsidiaries, affiliates, any related companies, suppliers, licensors and partners, and the officers, directors, employees, agents and representatives of each of them, including costs, liabilities and legal fees, from any claim or demand made by any third party due to or arising out of:
  (a)	Your access to or use of Jeeve Analytics;<br>
  (b)	Your violation of this agreement;<br>
  (c)	Any breach of the Privacy Policy or Australian privacy laws in relation to Patient Information, whether that information is stored or collected on Jeeve Analytics or elsewhere;<br>
  (d)	Any infringement by you of any intellectual property or other right of any person or entity. 
  Selectah Software reserves the right, at your expense, to assume the exclusive defence and control of any matter for which you are required to indemnify Selectah Software and you agree to cooperate with our defence of these claims. You agree not to settle any matter without the prior written consent of Selectah Software. Selectah Software will use reasonable efforts to notify you of any such claim, action or proceeding upon becoming aware of it.</p>
  
  
  <h3> 15 -	General </h3>
  <p> 15.1	To the extent permitted by law, Selectah Software reserves the right to create, collect and / or store any metadata resulting from your use of Jeeve Analytics. To the extent permitted by law, we may use metadata for a variety of functions including (but not limited to) conducting investigations, helping us manage and administer Selectah Software, for purposes of search engine optimisation and to drive traffic to Jeeve Analytics.  To the extent permitted by law, Selectah Software reserves the right to share your information (including metadata) with government agencies and authorities to the extent this is required or requested of Selectah Software.</p>
  <p>15.2	You understand that Selectah Software uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, payment gateway and related technology required to run Jeeve Analytics. </p>
  <p>15.3	You must not modify, adapt or hack Jeeve Analytics or modify another website or software so as to falsely imply that it is associated with Jeeve Analytics or Selectah Software. </p>
  <p>15.4	You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of Jeeve Analytics, use of Jeeve Analytics, or access to Jeeve Analytics without the prior express written permission of Selectah Software. Selectah Software claims copyright and all other intellectual property rights over Jeeve Analytics and its other products and services and reserves all of its rights.</p>
  <p>15.5	Verbal, physical, written or other abuse (including threats of abuse or retribution) of any Selectah Software employee, member, representative, or officer will result in immediate termination of this agreement.</p>
  <p>15.6	Selectah Software does not warrant that:
  (a)	Jeeve Analytics will meet your specific requirements;<br>
  (b)	Jeeve Analytics will be uninterrupted, timely, secure, or error-free;<br>
  (c)	The results that may be obtained from the use of Jeeve Analytics will be accurate or reliable;<br>
  (d)	Any errors in Jeeve Analytics will be corrected.</p>
  <p>15.7	You expressly understand, agree and warrant that Selectah Software  shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if Selectah Software  has been advised of the possibility of such damages), resulting from:
  (a)	the use or the inability to use Jeeve Analytics;<br>
  (b)	unauthorised access to or alteration of your transmissions or data;<br>
  (c)	or any other matter relating to Jeeve Analytics.</p>
  <p>15.8	The failure of Selectah Software to exercise or enforce any right or provision of these Terms and Conditions shall not constitute a waiver of such right or provision. The Terms and Conditions constitutes the entire agreement between you and Selectah Software and govern your use of Jeeve Analytics, superseding any prior agreements between you and Selectah Software.</p>
  <p>15.9	Any part of these Terms and Conditions that is invalid, prohibited or not enforceable will not void the balance of the Terms and Conditions.  All other parts will be enforcement without regard to the invalid provision and continue to be valid in accordance with their terms.</p>
  <p>15.10	Selectah Software makes no representations or warranties that the content of Jeeve Analytics complies with the laws (including intellectual property laws) of any country outside Australia.</p>
  <p>15.11	Any queries about the Terms and Conditions should be sent by email to Selectah Software at support@jeeve.com.au. </p>
  


  <mat-checkbox [disabled]="isLoading" [(ngModel)]="isAccepted" class="example-margin">Check me!</mat-checkbox>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button 
    mat-stroked-button
    class="mat-dc"
    mat-button
    (click)="submitBtn($event)" 
    [disabled]="!isAccepted || isLoading" 
    cdkFocusInitial>Accept</button>
</mat-dialog-actions>
