<div class="sa_login_blur login-blur"></div>
<img class="login_abso_logo" src="../assets/images/logo-white.png">   
<div class="login-register login-background-img">
    <div class="login-register-box reset reset-width">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="text-center">
            <img alt="homepage" src="../assets/images/logo-icon.gif">
            <h4 class="m-t-10 m-b-10">Reset Password</h4>
          </div>
          <div fxLayout="column" fxLayoutAlign="space-around">
            <div class="pb-1">
              <mat-form-field>
                <input matInput placeholder="Password" type="password" [formControl]="form.controls['password']" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?#&])[A-Za-z\d$@$!%*?#&].{10,}$" (click) ="setDefaultError()">
              </mat-form-field>
                <small *ngIf="erros.required" class="text-danger support-text">You must include password.</small>
                <small *ngIf="erros.minLength" class="text-danger support-text">Password must be a minimum of 10 characters and contain one lowercase character, one uppercase character, a number and a special character.</small>
                <small *ngIf="erros.pattern" class="text-danger support-text">Password must be a minimum of 10 characters and contain one lowercase character, one uppercase character, a number and a special character.</small>
                <mat-form-field>
                <input matInput placeholder="Confirm Password" type="password" [formControl]="form.controls['cpassword']">
              </mat-form-field>
                <small *ngIf="erros.cpassword" class="text-danger support-text">You must include confirm password.</small>
                <small *ngIf="erros.confirm"  class="text-danger support-text">Password and confirmation password do not match.</small>
                <small *ngIf="successLogin ==true && successLoginText != ''"  class="text-success support-text">Password changed successfully . <a mat-raised-button color="primary" [routerLink]="['/login']" class="m-t-10 mat-dc" align="center" *ngIf="isPasswordSet">Login</a></small> 

            </div>
            <button mat-raised-button color="dc" type="submit" class="btn-block btn-lg text-center m-t-20">Submit</button> <!-- [disabled]="!form.valid" -->
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>