.new-patient-by-referral-chart {
  max-height: 450px;
  min-height: 280px;
  position: relative;
  button {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.adjust-pa-table {
  max-height: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
