.new-patient-by-referral-chart {
  min-height: 350px;
  position: relative;
  button {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.adjust-pa-table {
  max-height: none; display: flex; flex-direction: column; gap:10px
}