<div class="chart-container">
    <mat-icon
        [matTooltip]="toolTip"
        matTooltipPosition="below"
        color="primary"
        class="help-tip"
        fontIcon="help"
    ></mat-icon>
    <div class="chart-title">
        New Patient Revenue by Referral
    </div>
    <div class="chart-content">
        <div class="canvas-wrapper chart-box">
            <div class="chart-gauge rev-by-referral-chart">
                <spin-loader *ngIf="(isLoading$ | async); else mainElem"></spin-loader>
                <ng-template #mainElem>
                    <spin-loader class="empty-placeholder" *ngIf="!hasData; else chartElem3" [disableSpin]="true">
                        You have no revenue from referral sources in the selected period
                    </spin-loader>
                    <ng-template #chartElem3>
                        <canvas
                            #mkRevByReferral
                            *ngIf="!(isLoading$ | async) && hasData"
                            baseChart
                            [datasets]="datasets"
                            [labels]="labels"
                            [type]="chartType$ | async"
                            [options]="chartOptions$ | async"
                        ></canvas>
                    </ng-template>
                </ng-template>
            </div>
            <div class="chart-foot" *ngIf="!(isTrend$ | async) && isMultipleClinic$ | async">
                <div class="w-100">
                    <h3>${{ revByReferralVal | number: '1.0-0' }}</h3>
                    <span>Total</span>
                </div>
            </div>
        </div>
    </div>
</div>