

<div id="sa-container" class="sa-container">
      <div class="sa-pull-left sa-col-12 sa-main-header sa-ste">
        <div class="container sa-c">
          <a class="sa-logo sa-ste" href="index.html">
            <!--img class="sa-main-logo-txt sa-ste" src="../../assets/img/logo.png"-->
            <img class="sa-main-logo-txt sa-ste" src="{{clinicLogo}}">
          </a>
          <div id="nav_main" class="pull-right sa-navigation">
                
            <div class="nv-ico">
              <div class="sa-mobile-nav sa_navclk">
                <button class="navbar-toggler navbar-toggler-mob" type="button" onclick="openNav()"><div class="openMenu"> <span class="navbar-toggler-line line-first"></span> <span class="navbar-toggler-line line-second"></span> <span class="navbar-toggler-line line-third"></span></div></button>
              </div>
            </div>
            <div class="menu pull-right nav-sec sa-ste">
              <div class="sa_navclose"><i class="fas fa-times"></i></div>
              <ul class="pull-left">          
                <li class="sa-ste">
                  <a class="active" (click)="scroll('about_text')">About Us</a>
                </li>
                <li class="sa-ste">
                  <a class="" (click)="scroll('offers_packages')">Offers & Packages</a>
                </li>
                <li class="sa-ste">
                  <a (click)="scroll('message_section')">Contact</a>
                </li>
              </ul>
              
              <div class="pull-left sa_header_number sa-ste">
                {{clinicContactNo}}
              </div>
            </div>
          </div>
          
        </div>
      </div>
      
      <section class="sa-pull-left sa-col-12 pricing-section" id="offers_packages">
        <div class="container sa-c">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-12">
              <h2 class="section_title">Terms & Conditions</h2>
              <div class="owl-carousel price_slide">
         <p>{{terms}}</p>

              </div>
              
            </div>
          </div>
        </div>
      </section>
      
      <footer class="sa-pull-left sa-col-12 sa-footer-area">
        <div class="container sa-c">
          <div class="row justify-content-md-center">
              
                <div class="col-lg-3">
                  <div class="logo_footer_withtext">
                    <a class="sa-ste" href="index.html">
                      <img class="sa-footer-logo sa-ste" src="{{clinicLogo}}">
                    </a>
                  </div>
                </div>
                
              
                <div class="col-lg-3">
                  <h6>Quick Views</h6>
                  <div class="sa-links-area">
                    <a class="sa-ste"(click)="scroll('header_section')"><i class="fas fa-hand-point-right"></i>Home</a>
                    <a class="sa-ste" (click)="scroll('about_text')"><i class="fas fa-hand-point-right"></i>About</a>
                    <a class="sa-ste" (click)="scroll('offers_packages')"><i class="fas fa-hand-point-right"></i>Offers & Packages</a>
                    <a class="sa-ste" (click)="scroll('message_section')"><i class="fas fa-hand-point-right"></i>Contact us</a>
                  </div>
                </div>
                
                <div class="col-lg-4">
                  <div class="sa-pull-left sa-col-12">
                    <h6>Contact Us</h6>
                    <div class="sa-address-area">
                      <span>Phone:{{clinicContactNo}}</span>
                      <span>Email: {{practiceOwnerEmail}}</span>
                    </div>
                  </div>
                </div>
                
                <div class="col-lg-2">
                  <div class="sa-pull-left sa-col-12">
                    <h6>Social</h6>
                    <div class="sa-social-area">
                      <a class="sa-ste" *ngIf='facebookUrl !="" && facebookUrl != null' href="{{facebookUrl}}" target="_blank"><i class="fab fa-facebook"></i></a>
                      <a class="sa-ste" *ngIf='twitterUrl !="" && twitterUrl != null'  href="{{twitterUrl}}" target="_blank"><i class="fab fa-twitter"></i></a>
                      <a class="sa-ste" *ngIf='linkedinUrl !="" && linkedinUrl != null' href="{{linkedinUrl}}" target="_blank"><i class="fab fa-linkedin"></i></a>
                      <a class="sa-ste" *ngIf='instagramUrl!="" && instagramUrl != null'href="{{instagramUrl}}" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                  </div>
                </div>
                              
              
          
          </div>
          
        </div>


        <div class="sa-end-footer" style="margin-top:40px;">
          <p>&copy; 2019 Building Virtually, All Rights Reserved.</p>
        </div>
        
      </footer>
      