.predictor-ratio-gauge {
  max-height: 300px;
  padding: 25px 25px;
}

.predictor-ratio-gauge-1 {
  min-height: 350px;
}

.active-toggle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  button {
    height: 28px !important;
    width: 44%;
    font-size: 12px;
    font-weight: 400;
    font-family: Gilroy-Regular;
  }
}
