.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    h3 {
        text-transform: uppercase;
        margin: 0px;
        font-size: 20px;
        font-weight: 600;
    }
    .header {
        display: flex;
        justify-content: flex-end;
    }
    
    .body {
        display: flex;
        flex-direction: row;
        gap: 15px;

        // .drag-item {
        //     height: 120px;
        // }

        .side{
            display: flex;
            flex-direction: column;
            gap: 15px;
            // width: 340px;
            .drag-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 5px;
                min-height: 240px;
            }
        }

        .drop-container {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            width: 100%;
            min-height: 250px;
            border: 2px solid whitesmoke;
            padding: 5px;
            border-style: dotted;
            background-color: aliceblue;
        }

        .content {
            display: flex;
            flex-direction: column;
            gap:15px;
            flex: 1;
        }
    }
}

