
<div class="container">
    <div class="header">
        <input matInput class="title" placeholder="Enter Description" [formControl]="description"/>
        <div class="header-buttons">
            <mat-spinner *ngIf="isSendingSms" style="width: 20px;height: 20px;"></mat-spinner>
            <button [disabled]="!this.selection.selected?.length || isSendingSms" [hoverEffect]="false" customButton [matMenuTriggerFor]="menu">
                <span class="more-options"><mat-icon>more_vert</mat-icon></span>
                <span class="more-options" (click)="$event.preventDefault();$event.stopPropagation(); startCampaign();">Start Campaign</span>
            </button>
            <mat-menu #menu="matMenu">
                <button [disabled]="!this.selection.selected" (click)="startCampaign(true)" mat-menu-item>
                    <mat-icon>edit_square</mat-icon>
                    <span>Save draft</span>
                </button>
            </mat-menu>
        </div>
    </div>
    <div class="body">
        <div class="side">
            <div class="panel">
                <div class="top" [style.height.%]="topPanelHeight">
                    <span class="title">Select Filters</span>
                    <div cdkDropList 
                    #todoList="cdkDropList"
                    [cdkDropListData]="todo"
                    [cdkDropListConnectedTo]="[doneList]"
                    (cdkDropListDropped)="drop($event)" 
                    cdkDropListSortingDisabled
                    cdkDropListOrientation="vertical"
                    class="drag-container">
                        <drag-drop-button class="drag-item" *ngFor="let item of todo" cdkDrag 
                        [cdkDragDisabled]="!isValidForm(item.filterName)"
                        [iconName]="item.iconName" [iconUrlWhite]="item.iconUrlWhite" 
                        [iconUrl]="item.iconUrl" [title]="item.title" [isDone]="false" 
                        [filterName]="item.filterName" 
                        [isOpen]="item.filterName === selectedFilterName"
                        ></drag-drop-button>
                    </div>
                </div>
                <div class="divider-wrapper">
                    <div class="divider" (mousedown)="onMouseDown($event)"></div>
                </div>
                
                <div class="bottom" [style.height.%]="100 - topPanelHeight">
                    <form [formGroup]="filterFormGroup">
                        <div *ngIf="isSelected('patient_age')" class="patient-age-slider">
                            <div class="label">
                                <label>{{this.filterFormGroup.controls.patientAgeMin.value}}</label>
                                <label>{{this.filterFormGroup.controls.patientAgeMax.value}}</label>
                            </div>
                            <mat-slider   min="1" max="100">
                                <input formControlName="patientAgeMin" matSliderStartThumb>
                                <input formControlName="patientAgeMax" matSliderEndThumb>
                            </mat-slider>
                        </div>

                        <mat-form-field *ngIf="isSelected('treatment')" class="filter-box" appearance="outline">
                            <!-- <mat-label>Enter a date range</mat-label> -->
                            <mat-date-range-input [rangePicker]="picker">
                              <input matStartDate (focus)="picker.open()" formControlName="treatmentStart" placeholder="Start date">
                              <input matEndDate (focus)="picker.open()" formControlName="treatmentEnd" placeholder="End date">
                            </mat-date-range-input>
                            <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker startView="year"></mat-date-range-picker>
     
                            <mat-error *ngIf="filterFormGroup.controls.treatmentStart.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                            <mat-error *ngIf="filterFormGroup.controls.treatmentEnd.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                        </mat-form-field>

                        <mat-form-field *ngIf="isSelected('incomplete_tx_plan')" class="filter-box" appearance="outline">
                            <!-- <mat-label>Enter a date range</mat-label> -->
                            <mat-date-range-input [rangePicker]="picker">
                              <input matStartDate (focus)="picker.open()" formControlName="incomplete_tx_planStart" placeholder="Start date">
                              <input matEndDate (focus)="picker.open()" formControlName="incomplete_tx_planEnd" placeholder="End date">
                            </mat-date-range-input>
                            <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker startView="year"></mat-date-range-picker>
     
                            <mat-error *ngIf="filterFormGroup.controls.incomplete_tx_planStart.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                            <mat-error *ngIf="filterFormGroup.controls.incomplete_tx_planEnd.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                        </mat-form-field>

                        <mat-form-field *ngIf="isSelected('no_appointment')" class="filter-box" appearance="outline">
                            <!-- <mat-label>Enter a date range</mat-label> -->
                            <mat-date-range-input [rangePicker]="picker">
                              <input matStartDate (focus)="picker.open()" formControlName="no_appointmentStart" placeholder="Start date">
                              <input matEndDate (focus)="picker.open()" formControlName="no_appointmentEnd" placeholder="End date">
                            </mat-date-range-input>
                            <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker startView="year"></mat-date-range-picker>
     
                            <mat-error *ngIf="filterFormGroup.controls.no_appointmentStart.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                            <mat-error *ngIf="filterFormGroup.controls.no_appointmentEnd.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                        </mat-form-field>
                        <div class="treatment-form" *ngIf="isSelected('treatment')">
                            <!-- <mat-form-field class="filter-box"  appearance="outline">
                                <mat-label>Treatment</mat-label>
                                <mat-chip-grid #chipGrid >
                                  <mat-chip-row *ngFor="let treat of treatment"
                                                (removed)="remove(treat)"
                                                [editable]="true"
                                                (edited)="edit(treat, $event)"
                                                [aria-description]="'press enter to edit ' + treat">
                                    {{treat}}
                                    <button matChipRemove [attr.aria-label]="'remove ' + treat">
                                      <mat-icon>cancel</mat-icon>
                                    </button>
                                  </mat-chip-row>
                                  <input placeholder="New treatment..."
                                         [matChipInputFor]="chipGrid"
                                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                         [matChipInputAddOnBlur]="addOnBlur"
                                         (matChipInputTokenEnd)="add($event)"/>
                                </mat-chip-grid>
                            </mat-form-field> -->

                            <mat-form-field appearance="outline">
                                <mat-label>Item Codes</mat-label>
                                <mat-select [formControl]="selectedItemCodes" multiple>
                                  <mat-option *ngFor="let item of itemCodes" [value]="item.item_code">{{item.item_code}} - {{item.item_name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-chip-set class="selected-item-codes" aria-label="Selected Treatments">
                                <mat-chip *ngFor="let item of selectedItemCodes.value">{{item}}</mat-chip>
                            </mat-chip-set>
                        </div>

                        <button *ngIf="!isDoneFilter() && !!this.selectedFilterName" [disabled]="!isValidForm(selectedFilterName)" mat-flat-button color="primary" (click)="applyFilter(selectedFilterName)">Apply Filter</button>
                        <!-- <mat-form-field class="filter-box" *ngIf="selectedFilterName === 'health_insurance'" appearance="outline">
                            <mat-label>Health Insurance</mat-label>
                            <mat-chip-grid #chipGrid >
                              <mat-chip-row *ngFor="let healthins of healthInsurance"
                                            (removed)="remove(healthins, 'health_insurance')"
                                            [editable]="true"
                                            (edited)="edit(healthins, $event, 'health_insurance')"
                                            [aria-description]="'press enter to edit ' + healthins">
                                {{healthins}}
                                <button matChipRemove [attr.aria-label]="'remove ' + healthins">
                                  <mat-icon>cancel</mat-icon>
                                </button>
                              </mat-chip-row>
                              <input placeholder="New health insurance..."
                                     [matChipInputFor]="chipGrid"
                                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                     [matChipInputAddOnBlur]="addOnBlur"
                                     (matChipInputTokenEnd)="add($event, 'health_insurance')"/>
                            </mat-chip-grid>
                        </mat-form-field> -->
                    </form>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="c-layout">
                <span class="title">Applied Filters</span>
                <div cdkDropList 
                #doneList="cdkDropList"
                [cdkDropListData]="done"
                [cdkDropListConnectedTo]="[todoList]"
                (cdkDropListDropped)="drop($event, 'done')" 
                cdkDropListSortingDisabled
                cdkDropListOrientation="horizontal"
                class="drop-container">
                    <drag-drop-button class="drag-item" *ngFor="let item of done" cdkDrag 
                    [iconName]="item.iconName" 
                    [iconUrlWhite]="item.iconUrlWhite" [iconUrl]="item.iconUrl" [isDone]="true" 
                    [closeEvent]="closeEvent" [filterName]="item.filterName" 
                    [title]="item.title" 
                    [isOpen]="item.filterName === selectedFilterName"
                    ></drag-drop-button>
                </div>
            </div>
            <div class="c-layout">
                <div class="title table-label">
                    <span class="title">Campaign Members ({{selection.selected.length}} selected)</span>
                    <mat-spinner *ngIf="loadingData" style="width: 20px;height: 20px;"></mat-spinner>
                </div>
                
                <div class="table">
                    <table mat-table [dataSource]="dataSource">
    
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                              <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                            [checked]="selection.hasValue() && isAllSelected()"
                                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                                            >
                              </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row">
                              <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? selection.toggle(row) : null"
                                            [checked]="selection.isSelected(row)">
                              </mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="patientName">
                            <th mat-header-cell *matHeaderCellDef> Patient Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.patient_name}} </td>
                        </ng-container>
    
                        <ng-container matColumnDef="previousCampaigns">
                            <th mat-header-cell *matHeaderCellDef> Previous Campaigns </th>
                            <td mat-cell *matCellDef="let element"> 
                                <mat-chip-set aria-label="Previous Campaigns">
                                    <mat-chip class="chip-style" *ngFor="let campaign of getCampaignDescription(element.prev_campaigns)">{{campaign.description}}</mat-chip>
                                    <mat-chip class="chip-style" [matMenuTriggerFor]="menu" *ngIf="element.prev_campaigns?.split(',').length > 2">
                                        <mat-icon style="margin-top:5px" >more_horiz</mat-icon>
                                    </mat-chip>
                                    <mat-menu #menu="matMenu">
                                        <mat-chip class="chip-style" style="margin: 5px;" *ngFor="let campaign of getCampaignDescription(element.prev_campaigns, 2)">
                                            {{campaign.description}}</mat-chip>
                                    </mat-menu>
                                </mat-chip-set>
                            </td>
                        </ng-container>
    
                        <ng-container matColumnDef="lastAppointment">
                            <th mat-header-cell *matHeaderCellDef> Last Appointment </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="last-appointment-column">
                                    <span>{{element.last_appointment}}</span>
                                    <span class="provider">{{element.last_provider}}</span>
                                </div>
                            </td>
                        </ng-container>
    
    
                        <ng-container matColumnDef="nextAppointment">
                            <th mat-header-cell *matHeaderCellDef> Next Appointment </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="last-appointment-column">
                                    <span>{{element.next_appointment}}</span>
                                    <span class="provider">{{element.next_provider}}</span>
                                </div>
                                 </td>
                        </ng-container>

                        <ng-container matColumnDef="mobile">
                            <th mat-header-cell *matHeaderCellDef> Ph Number </th>
                            <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
                        </ng-container>

                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef> Email </th>
                            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                        </ng-container>

                        <ng-container matColumnDef="days_overdue">
                            <th mat-header-cell *matHeaderCellDef> Overdues </th>
                            <td mat-cell *matCellDef="let element"> {{element.days_overdue}} </td>
                        </ng-container>

                        <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef> Amount </th>
                            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                        </ng-container>
    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of patients"></mat-paginator>
                </div>
            </div>

        </div>
    </div>
</div>
