<div class="dialog-header">
  <div class="header-title">
    <h1 mat-dialog-title>Conversion Code Configuration</h1>
  </div>

  <mat-icon class="close-icon" (click)="onCloseDialog()">close</mat-icon>
</div>
<div mat-dialog-content [formGroup]="conversionCodeValueForm">
  <!-- Select conversion type -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Conversion Type</mat-label>
    <mat-select formControlName="typeControl">
      <mat-option *ngFor="let opt of typeOptions" [value]="opt.value">{{ opt.value }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Codes</mat-label>
    <mat-chip-grid #codeChipGrid aria-label="Enter code">
      <mat-chip-row
        *ngFor="let codeValue of codeValuesByType"
        (removed)="removeCodeValue(codeValue)"
      >
        {{ codeValue.code }}
        <button matChipRemove aria-label="'remove ' + keyword">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>
    <input
      placeholder="New code..."
      [matChipInputFor]="codeChipGrid"
      (matChipInputTokenEnd)="addCodeValue($event)"
      [formControl]="codeControl"
    />
  </mat-form-field>
  <p class="text-danger support-text" *ngIf="codeControl.hasError('maxlength')">
    Code is up to 15 characters.
  </p>
</div>
