<div class="dialog-header">
  <div class="header-title">
    <h1 mat-dialog-title>Conversion Code Configuration</h1>
  </div>

  <mat-icon class="close-icon">close</mat-icon>
</div>
<div mat-dialog-content [formGroup]="conversionCodeValueForm">
  <!-- Select conversion type -->
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Conversion Type</mat-label>
    <mat-select formControlName="typeControl">
      <mat-option *ngFor="let opt of typeOptions" [value]="opt.value">{{ opt.value }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
