<div class="dialog-header">
  <div class="header-title">
    <h1 mat-dialog-title>{{ title }}</h1>
  </div>

  <mat-icon class="close-icon" (click)="onCloseDialog()">close</mat-icon>
</div>
<mat-dialog-content [formGroup]="conversionCodeValueForm">
  <div class="code-edit-control-row">
    <mat-form-field appearance="outline">
      <mat-label>Label</mat-label>
      <input matInput [formControl]="updateCodeControl" />
    </mat-form-field>
    <mat-error
      *ngIf="updateCodeControl.invalid && (updateCodeControl.touched || updateCodeControl.dirty)"
    >
      {{ getCodeError(updateCodeControl) }}
    </mat-error>
  </div>

  <div class="code-control-container">
    <p>In Treatment Codes</p>
    <div class="new-code-control-row">
      <mat-form-field appearance="outline">
        <mat-label>Code</mat-label>
        <input matInput [formControl]="inTreatmentCodeControl" placeholder="New code..." />
      </mat-form-field>
      <button
        color="primary"
        mat-flat-button
        (click)="onAddCodeValue(inTreatmentCodeControl.value, TreatmentStatus.InTreatment)"
      >
        <mat-icon>add</mat-icon>Add Treatment Code
      </button>
    </div>
    <mat-error
      *ngIf="
        inTreatmentCodeControl.invalid &&
        (inTreatmentCodeControl.touched || inTreatmentCodeControl.dirty)
      "
    >
      {{ getCodeError(inTreatmentCodeControl) }}
    </mat-error>
    <mat-chip-set>
      <mat-chip-row
        *ngFor="let codeValue of conversionCodeValuesByStatus[TreatmentStatus.InTreatment]"
        (removed)="removeCodeValue(codeValue)"
      >
        {{ codeValue.code }}
        <button matChipRemove aria-label="'remove ' + keyword">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-set>
  </div>
  <div class="code-control-container">
    <p>Completed Treatment Codes</p>
    <div class="new-code-control-row">
      <mat-form-field appearance="outline">
        <mat-label>Code</mat-label>
        <input matInput [formControl]="completedCodeControl" placeholder="New code..." />
      </mat-form-field>
      <button
        color="primary"
        mat-flat-button
        (click)="onAddCodeValue(completedCodeControl.value, TreatmentStatus.Completed)"
      >
        <mat-icon>add</mat-icon>Add Treatment Code
      </button>
    </div>
    <mat-error
      *ngIf="
        completedCodeControl.invalid && (completedCodeControl.touched || completedCodeControl.dirty)
      "
    >
      {{ getCodeError(completedCodeControl) }}
    </mat-error>
    <mat-chip-set>
      <mat-chip-row
        *ngFor="let codeValue of conversionCodeValuesByStatus[TreatmentStatus.Completed]"
        (removed)="removeCodeValue(codeValue)"
      >
        {{ codeValue.code }}
        <button matChipRemove aria-label="'remove ' + keyword">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-set>
  </div>

  <!-- Select conversion type -->
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button color="primary" mat-flat-button>Save Changes</button>
  <button color="primary" mat-stroked-button>Cancel</button>
</mat-dialog-actions>
