.mdc-dialog__content {
  display: flex;
  flex-direction: column;
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  background-color: #00897b;
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__icon--trailing {
  color: white;
}

.code-edit-control-row {
  width: 50%;
}
.code-control-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  .new-code-control-row {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
