.header_filters.marketing { flex-direction: row-reverse !important }
.custom-tooltip-color {
    display:block;
    height:15px;
    width:15px;
    margin:2px;border:1px solid #ffffff;
  }
  .td-custom-tooltip-color {
     width:10%;
  }


  .float-right-space {
   float: right;
   margin-left: 10px;
  }