
/* Responsive stylesheets */
/*es*/



/* sm */
@media(min-width:768px) {
	
	
}


/* md */
@media (max-width: 1200px ) {
	

}

/* lg */
@media (min-width: 1400px) {
	

}

/* small device */
@media(max-width:1200px) {
	
	
}

@media(max-width:1360px) {
	
}



@media(max-width:767px) {

.iconbg_text{border-radius:4px!important}
#sa-container .treatments_image{transform: scale(0.8);}
#sa-container .pricing-section{padding: 40px 0;
margin-top: 40px;
border-top: 10px solid #f2f2f2;}
#sa-container .sa_slide_main{width:100%; margin-left:0;}
#sa-container .slide_shape{display:none;}
#sa-container .slide_area_rep{height:180px!important}
#sa-container .slider-section{padding:20px 0 30px;}
.sa_slide_main{}
#sa-container .clinic_detail{padding-left:0; width:100%; float:left;}
#sa-container .clinic_detail_main{margin-left:0;}
#sa-container .clinic_logo{margin-bottom:10px;}
#sa-container .icon_bg{width:100%; border-radius:12px; margin:0!important; margin-top:10px!important;}
#sa-container .smile_image h4{font-size:40px; padding:100px 20px;}
#sa-container .doctor_image{text-align:center;}
#sa-container .about_text_image{position: absolute;
top: -100px;
margin-left: 30px;
left: 0;
z-index: 9;
width: 150px;}
#sa-container .slide_shape2{display:none;}
#sa-container .headimage_area{min-height:100px; min-width:50px;}
#sa-container .slide_area_rep{height:340px;}


	
	
#sa-container .mobile_hide{display:none;}	
#sa-container .desktop_hide{display:inline-block;}
#sa-container .sa-gotop{display:none;}	
#sa-container .sa-social-area{padding-left:10px; margin-top:20px;}
#sa-container .sa-links-area{padding-left:10px;}
#sa-container .sa_divider_line:after{display:none;}
#sa-container .sa-mobile-nav{display:inline-block; }
#sa-container .sa-nav-cont{display:none;}
#sa-container .sa-slide-text{bottom:120px;}
#sa-container .svg_logo_slide svg{height:20px!important;}
#sa-container .svg_logo_slide2 svg{height:30px!important;}
#sa-container .svg_footer_slide svg{height:20px!important;}
#sa-container .svg_footer_slide{top:-22px;}

}

@media(max-width:480px) { 
	
	#sa-container .sa-cf{padding:0 15px;}
	#sa-container .sa-slide-text{bottom:120px;  font-size:34px; }
    #sa-container .sa-slide-text{padding-top:250px;}
    
}
@media(max-width:375px) { 
    #sa-container .treatments_image{margin-left:-26px!important;}
}


@media(max-width:998px) {

    #sa-container .sa-footer-area{margin-top:22px; padding:30px 20px!important;}
#sa-container .sa-end-footer{margin-top:8px!important;}
	
    #sa-container .sa_header_number{display:none;}
    #sa-container .sa_navclose{color: #fff; cursor:pointer;
	font-size: 28px;
	right: 30px; display:block;
	position: absolute;
	top: 35px;}
	.shownav .sa-mobile-nav{display:none;}
	#nav_main .menu ul{width:100%; margin-top:150px;}
	#nav_main .menu ul li{width:100%;}
	#nav_main .menu ul li a{color:#fff!important; text-align:center; font-size:23px; padding:14px 10px 14px;}
	#nav_main .menu ul li a.active{color:#fff!important;}
	#sa-container .sa-gotop{display:none;}
	#sa-container .headimage_area{padding-top:65px;}
#sa-container .head_sec_text{max-width:800px; padding-top:0px;}
#sa-container .shape1 {
    position: relative;
    right: 0px;
    top: 0px;
    z-index: 99; margin-top:30px;
    width: 100%;
    height: auto;
    border-radius: 0;
    overflow: hidden;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-size: cover;
}
#sa-container .shape2{display:none;}
#sa-container .shape_image { border-radius:12px; overflow:hidden; margin-bottom:20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background-size: 100% 100% !important;
background-position: bottom right !important;} 

.menu.nav-sec{
position: fixed;
width: 100%;
left: -100%;
height: 100%;
top: 0; right:-100%;
background: rgba(0,145,167,0.8);}
}

.nav-sec.open{left:0;}

@media(max-width:1440px) {
	
}

@media(min-width:998px) {

	.nv-ico{display:none;}
    .menu.nav-sec{display:block;}
    
   
}

@media(min-width:768px) {

  /*  .pricing-section .slick-list{display:table!important; width:100%!important; border-spacing: 20px;}
    .pricing-section .slick-track {display: table-row!important; width:100%!important;}
    .pricing-section .slick-slide{display: table-cell!important; float:none!important; margin:0 10px!important;} */


}
