<div class="dialog-header">
  <div class="header-title">
    <h1 mat-dialog-title>Send Review Invite</h1>
    <span>({{data.total_remains}} remaining)</span>
  </div>
  
  <mat-icon aria-hidden="false" (click)="onNoClick()">close</mat-icon>
</div>
<div mat-dialog-content>
    <div class="sa-form-group-wrapper">
      <div class="sa-form-group">
        <input type="tel" [formControl]="phoneNumber" 
            matInput placeholder="04## ### ### or +614## ### ###">
            <small
            *ngIf="phoneNumber.invalid"
                class="text-danger support-text"
                >{{getPhoneErrors()}}</small
            >        
      </div>

      </div>
    <br>
    <div class="sa_mat_select_topbar">
      <mat-form-field floatLabel="never">
        <mat-label>Message Template</mat-label>
        <mat-select
          [(value)]="selectedReviewMsg"
          (selectionChange)="onChangeReviewMsg()"
        >
          <mat-option *ngFor="let msgT of msgTemplates" [value]="msgT.id">
            {{ msgT.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <br>
    <div class="sa-form-group-wrapper">
      <mat-form-field floatLabel="never" underlin  [hintLabel]="'Max ' + availableMsgLength +' characters'" >
          <mat-label>Review Message</mat-label>
          <textarea matInput [formControl]="review_msg" rows="7" [maxlength]="availableMsgLength"></textarea>
          <mat-hint align="end">{{review_msg.value.length}} / 800, {{numOfMessages}} {{numOfMessages == 0 || numOfMessages > 1?'messages':'message'}}</mat-hint>
      </mat-form-field>
    </div>
    <br>
</div>
<div mat-dialog-actions class="justify-between">
    <button mat-button 
      class="mat-raised-button mat-gray" 
      (click)="onNoClick()">Cancel</button>
    <button 
      mat-button
      class="mat-raised-button mat-dc"
      mat-button 
      (click)="onSubmitClick($event)" 
      [disabled]="!isValid || isWaitingResponse" 
      cdkFocusInitial>Send</button>
</div>