<div class="dialog-header">
    <h1 mat-dialog-title>Send Review Message</h1>
    <mat-icon aria-hidden="false" (click)="onNoClick()">close</mat-icon>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input type="tel" [formControl]="phoneNumber" 
            matInput placeholder="04## ### ### or +614## ### ###">
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-error *ngIf="phoneNumber.invalid">{{getPhoneErrors()}}</mat-error>
    </mat-form-field>

    
    <mat-form-field appearance="fill">
        <mat-label>Message Template</mat-label>
        <mat-select [(value)]="selectedReviewMsg" (selectionChange)="onChangeReviewMsg()">
            <mat-option *ngFor="let msgT of msgTemplates" [value]="msgT.id">
                {{msgT.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Review Message</mat-label>
        <textarea matInput [formControl]="review_msg" rows="7"></textarea>
        <mat-hint align="end">{{review_msg.value.length}} / 160, {{math.ceil(review_msg.value.length/160)}} message</mat-hint>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="onSubmitClick($event)" [disabled]="!isValid || isWaitingResponse" cdkFocusInitial>Send</button>
</div>