.header-title {
  h1 {
    position: relative;
    &::after {
      position: absolute;
      content: '';
      height: 40px;
      width: 8px;
      background-color: #25a689;
      left: 0px;
      top: 14px;
    }
  }
}

.notes-control-row {
  width: 100%;
  display: flex;
  flex-direction: column;
}
