<div class="inner-pages">
<header id="header" class="sa-ste">
  <div class="container-fluid sa-cf">
  <nav class="navbar navbar-expand-lg navbar-light navbar-main">

    <a class="navbar-brand logo" href="/home"><img class="d-none d-md-block logo-color" src="../../assets/images/home/logo.png" alt="logo"> <img class="d-block d-md-none logo-white" src="../../assets/images/home/logo-white.png" alt="logo white"> </a>
      <button class="navbar-toggler navbar-toggler-mob" type="button" (click)="openNav()"><div class="openMenu"> <span class="navbar-toggler-line line-first"></span> <span class="navbar-toggler-line line-second"></span> <span class="navbar-toggler-line line-third"></span></div>
       </button>

<div id="myNav" class="overlay menu">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <div class="overlay-content">
    <ul class="navbar-nav navbar-nav-main ml-auto">
          <li class="nav-item"> <a class="nav-link" href="/subscription">Subscription</a> </li>
          <li class="nav-item active"> <a class="nav-link" href="/xero">Xero Integration</a> </li>
          <li class="nav-item"> <a class="nav-link btn btn-login"  href="/login">Login</a> </li>
        </ul>
  </div>
</div>
</nav>
  </div>
</header>
<section class="pricing-page pricing pricing-center" style="position: relative;z-index: 99;">
  <div class="container">
    <div class="shape-shadow shape-shadow-right-aside">
    <h2 class="title mb-3">Subscription</h2>
  <p class="mb-5 sub-description">Jeeve Solutions formed in 2018 and is committed to developing niche software solutions for the dental industry. </p>
  <div class="row">
        <!-- pricing item -->
        <div class="col-md-4 mb-5" *ngFor="let plan of plans">
          <div class="pricing-box h-100">
            <h5>{{plan.plan}}</h5>
            <div class="plan-price">
              <span class="price text-grad">
              <sup class="text-grad">$</sup>{{plan.amount}}</span> /month
            </div>
            <ul class="list-unstyled list-pricing mt-4 mb-5" innerHTML="{{plan.description}}"></ul>
            <a class="btn btn-grad" href="/authentication/register/{{plan.id}}">Register</a>
          </div>
        </div>
      </div>
    </div>
    </div>
</section>
<!-- Return to Top -->
<footer>
   <div class="container">
            <div class="footerLogo"> <img src="../../assets/images/home/footer-logo.png"> </div>
            <div class="row">
               <div class="col-md-4 col-sm-6">
                  <div class="widget mb-4 mb-md-0">
                     <h6>Navigation</h6>
                     <ul class="nav flex-column primary-hover">
                        <li class="nav-item"><a class="nav-link" href="/subscription">Subscription</a></li>
                        <li class="nav-item"><a class="nav-link" href="/xero">Xero Integration</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div class="widget mb-4 mb-sm-0">
                     <h6>Social</h6>
                     <ul class="nav flex-column primary-hover">
                        <li class="nav-item"><a class="nav-link" href="#">Facebook</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Twitter</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Linkedin</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div class="widget bg-grad widget-form mb-4 mb-sm-0">
                     <h6>Newsletter</h6>
                     <div class="form-group mb-0">
                        <input class="form-control" type="email" placeholder="Your Email Address">
                        <p class="mb-3">We will  not disclose your details with others and spam your inbox.</p>
                        <button class="btn btn-main btn-block mb-0">Subcsribe</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
  <div class="copyright-section text-center">
    <div class="container">© 2018 Jeeve analytics - 2018  All right Reserved</div>
  </div>
</footer>
</div>
<!-- Optional JavaScript --> 
<!-- jQuery first, then Popper.js, then Bootstrap JS --> 
<script type="text/javascript" src="js/jquery-3.1.0.js" ></script> 
<script type="text/javascript" src="js/bootstrap.min.js"></script> 
<script type="text/javascript" src="js/script.js"></script> 
<script>
$(document).ready(function(){
    $('ul.list-circles-point li').click(function(){
     var target = $(this).attr("data-target");
      $('.list-circles-point li').removeClass("active");
      $('.testimonial-text').removeClass("active");
      $('.testimonial-img').removeClass("active");

      $(this).addClass("active");
      $(target).addClass("active");
  });


      $('.testimonial-img').click(function(){
       var target = $(this).attr("data-target");
       var target2 = $(this).attr("data-targets");
        $('.list-circles-point li').removeClass("active");
        $('.testimonial-text').removeClass("active");
        $('.testimonial-img').removeClass("active");

        $(target2).addClass("active");
        $(target).addClass("active");
    });


});
</script>
<script type="text/javascript">
$(document).ready(function () {
window.scrollTo(0,0);
});
</script>
<script>
function openNav() {
  document.getElementById("myNav").style.width = "100%";
}

function closeNav() {
  document.getElementById("myNav").style.width = "0%";
}
</script>
     