        <div class="register_form" *ngIf="visible" [@slideIn]>
          <form class="sa_custom_focus" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="text-center">
            <img alt="homepage" src="assets/images/logo-icon.png">
            <h4 class="m-t-0">Purchase Plan</h4>
          </div>
          <div fxLayout="row wrap">
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput placeholder="Name" type="text" [formControl]="form.controls['patient_name']">
              </mat-form-field>
              <small *ngIf="form.controls['patient_name'].hasError('required') && form.controls['patient_name'].touched" class="text-danger support-text">You must include name.</small>
            </div>
                 <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput placeholder="Email address" type="email" [formControl]="form.controls['patient_email']">
              </mat-form-field>
              <small *ngIf="form.controls['patient_email'].hasError('required') && form.controls['patient_email'].touched" class="text-danger support-text">You must include an email address.</small>
              
            </div>
                 <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput placeholder="Contact No." type="text" [formControl]="form.controls['patient_phone_no']" oninput="this.value = this.value.slice(0,10);">
              </mat-form-field>
              <small *ngIf="form.controls['patient_phone_no'].hasError('required') && form.controls['patient_phone_no'].touched  && form.controls['patient_phone_no'].hasError('pattern')"  class="text-danger support-text">You must include a valid phone number.</small>
            </div>
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
               <small *ngIf="errorLogin ==true && errorLoginText != ''" class="text-danger support-text">{{errorLoginText}}</small>
               <small *ngIf="successLogin ==true && successLoginText != ''" class="text-success support-text">{{successLoginText}}</small>
            </div>
             <mat-checkbox color="primary" [formControl]="form.controls['terms']">I agree to all the <a target="_blank" (click) ="loadTerms()">Terms</a></mat-checkbox>
            <!-- col full-->
            <button color="" class="btn btn-theme btn-rounded btn-block  m-t-20 m-b-20" type="submit" [disabled]="!form.valid">Register</button>
          </div>
        </form>
      </div>
      <div class="termsContent" *ngIf="!visible" [@slideIn]>
        <h3>Terms & Conditions</h3><a target="_blank" (click) ="loadForm()">Back</a>
        {{terms}}
      </div>