<div fxLayout="row wrap" class="header_filters" >   
    <div fxLayout="row" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
        <div fxFlexAlign="center" *ngIf="user_type_dentist==='4'">
            <button 
                class="sa_tab_btn compare-button"
                [ngClass]="{'active': isToggleDentistChart}"
                (click)="toggler()"> Compare </button>
        </div>
        <div class="header_first_select">
        <div class="vertical_center_header_content">
            <div class="sa_mat_select_topbar">
                <mat-form-field floatLabel="never">
                    <mat-select class="external_clinic"  [(ngModel)]="selectedClinic"  (ngModelChange)="loadClinic($event)" [placeholder]="placeHolder">
                    <mat-option value="all" *ngIf="route == '/dashboards/healthscreen' && clinicsData.length>1">All Clinics</mat-option>
                    <mat-option *ngFor="let clinicData of clinicsData" [value]="clinicData.id" >
                                    {{clinicData.clinicName}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    </div>
    <div fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" *ngIf="user_type_dentist != '4'">
        <div class="dentist_dropdown">
        <div class="vertical_center_header_content">
            <div class="sa_mat_select_topbar">
                <mat-form-field floatLabel="never">
                    <mat-select class="external_dentist"  [(ngModel)]="selectedDentist" (ngModelChange)="loadDentist($event)">
                        <mat-option value="all" *ngIf="showAll">All Dentists</mat-option>
                        <mat-option *ngFor="let dentist of dentists"  [value]="dentist.providerId">                               {{dentist.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    </div>
</div>