<div fxLayout="row wrap" [ngClass]="showDropDown == false ? 'singleD': ''" class="header_filters dynamicDropdown{{ user_type_dentist }} {{ classUrl }}">
  <div fxLayout="row" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
    <!-- <div fxFlexAlign="center" *ngIf="user_type_dentist==='4' && showCompare">
            <button 
                class="sa_tab_btn compare-button"
                [ngClass]="{'active': isToggleDentistChart}"
                (click)="toggler()"> Compare </button>
        </div> -->
    <div
      class="header_first_select"
      *ngIf="
        route != '/rewards' &&
        route != '/roles-users' &&
        !route.includes('/clinic-settings') &&
        route != '/clinic' &&
        !route.includes('/profile-settings')
      "
    >
    <div class="vertical_center_header_content">
      <div class="sa_mat_select_topbar" *ngIf= "((route != '/dashboards/finances' && route != '/dashboards/cliniciananalysis' && route != '/dashboards/marketing') && apiUrl.includes('test')) || apiUrl.includes('staging') || ( !apiUrl.includes('test-') && !apiUrl.includes('staging-')) || (route == '/dashboards/cliniciananalysis' && user_type == 4) ">
        <mat-form-field floatLabel="never" >
          <mat-select
            class="external_clinic"
            [(ngModel)]="selectedClinic"
            (ngModelChange)="loadClinic($event)"
            [placeholder]="placeHolder"
          >
            <mat-option value="all" *ngIf="route == '/dashboards/healthscreen' && clinicsData.length > 1 && user_type !=7">All Clinics</mat-option>
            <mat-option
              *ngFor="let clinicData of clinicsData"
              [value]="clinicData.id"
            >
              {{ clinicData.clinicName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="sa_mat_select_topbar multi-clinic-pro" *ngIf= "(route == '/dashboards/finances' || route == '/dashboards/marketing' || (route == '/dashboards/cliniciananalysis' && user_type !=4))  && apiUrl.includes('test')">
        <mat-form-field floatLabel="never" class="multi-clinic-dis">
        <mat-select
          id="multi_clinic"
          class="external_clinic"
          [(ngModel)]="selectedClinic"
          (ngModelChange)="changeClinic($event,allChecked)"
          [placeholder]="placeHolder"
          [multiple]="true"
          (openedChange)="loadClinicEvent($event)"
          #multiSelect
        >
        <mat-select-trigger *ngIf="allChecked == true">
          {{'All Clinics'}}
        </mat-select-trigger>
          <mat-option value="all" *ngIf="(route == '/dashboards/finances' || route == '/dashboards/marketing' || route == '/dashboards/cliniciananalysis' ) && clinicsData.length > 1 && user_type !=7">All Clinics</mat-option>
          <mat-option
            *ngFor="let clinicData of clinicsData"
            [value]="clinicData.id"
          >
            {{ clinicData.clinicName }}
          </mat-option>
          <button id ="cllclinic" class="mat-raised-button mat-dc float-right" (click)="multiSelect.close()">OK</button>
        </mat-select>
      </mat-form-field>
    </div>
    </div>
    </div>
  </div>
  <div fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
    <div
      class="dentist_dropdown"
      *ngIf="
        (user_type_dentist == '2' ||
          user_type_dentist == '3' ||
          user_type_dentist == '5' ||
          user_type_dentist == '6' ||
          user_type_dentist == '7') &&
        showDropDown
      "
    >
      <div class="vertical_center_header_content">
        <div class="sa_mat_select_topbar">
          <mat-form-field floatLabel="never">
            <mat-select
              class="external_dentist"
              [(ngModel)]="selectedDentist"
              (ngModelChange)="loadDentist($event)"
            >
              <mat-option value="all" *ngIf="showAll">All Dentists</mat-option>
              <mat-option
                *ngFor="let dentist of dentists"
                [value]="dentist.providerId"
              >
                <span *ngIf="dentist.jeeve_name">{{ dentist.jeeve_name }}</span>
                <span *ngIf="!dentist.jeeve_name">{{ dentist.name }}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div style="display: none" class="hide">
    <div fxFlexAlign="center" *ngIf="user_type_dentist == '4' && showCompare">
      <button
        class="sa_tab_btn compare-button"
        [ngClass]="{ active: isToggleDentistChart }"
        (click)="toggler()"
      >
        Compare
      </button>
    </div>
  </div>
</div>
