
    <div fxFlex.gt-sm="18" fxFlex.gt-xs="100" fxFlex="100" style="margin-right:1%;">
          <div class="vertical_center_header_content">

            <mat-form-field>
                    <mat-select placeholder="Select Clinic" [value] ="1">
                        <mat-option *ngFor="let clinicData of clinicsData" [value]="clinicData.id">
                            {{clinicData.clinicName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


          </div>
      </div>