<mat-drawer-container class="layout-wrapper">
  <mat-drawer
    #drawer
    class="layout-sidenav"
    [opened]="isSidenavVisible"
    [mode]="sidenavMode"
    (openedChange)="onMainNavOpenedChange($event)"
  >
    <app-sidebar></app-sidebar>
  </mat-drawer>

  <div class="layout-main-container">
    <app-topbar
      *ngIf="!!activatedUrl"
      [toggleSideBar]="toggleSideBar"
      [isSidenavVisible]="isSidenavVisible"
      [activatedUrl]="activatedUrl"
    ></app-topbar>
    <div class="page-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
