.conversion-tracker-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  .conversion-tracker-header {
    display: flex;
    flex-direction: column;
    .date-range-picker-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      gap: 15px;
    }
    .cards-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1em;
      margin: 1em 1em;
      app-conversion-insight-card {
        flex: 1 1 auto;
      }
    }
  }

  mat-card.tab-group-container {
    padding: 25px 15px;
    form {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      mat-form-field {
      }
    }
    ::ng-deep .mat-mdc-tab-labels {
      gap: 5px;
    }
    ::ng-deep .mat-mdc-tab {
      border-radius: 10px 10px 0 0;
      background-color: #e0e0e0;
    }
    ::ng-deep .mat-mdc-tab-body {
      max-height: 1024px;
    }
    ::ng-deep .mat-mdc-tab.mdc-tab {
      height: 35px !important;
    }
    ::ng-deep .mdc-tab-indicator--active {
      border: 1px solid #009688;
      background-color: transparent;
      border-bottom: none;
    }
    ::ng-deep .mdc-tab-indicator--active .mdc-tab-indicator {
      display: none !important;
    }
  }

  .buttons-wrapper {
    padding: 3em 2em;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
}

.add-new-option {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 0;

  input {
    flex: 1;
    font-size: 14px;
  }

  button {
    white-space: nowrap;
    font-size: 13px;
  }
}

/* hide the pseudo-checkbox that appears in multiple-select mode */
::ng-deep .mat-mdc-option .mat-pseudo-checkbox-minimal {
  display: none !important;
}

::ng-deep .mat-mdc-option.mdc-list-item--disabled {
  opacity: 1 !important;
}

.deletable-option {
  .option-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .option-label {
      display: flex;
      align-items: center;
      flex: 1;
      gap: 10px;
    }
  }

  .control-wrapper {
    margin-left: 8px;
    display: flex;
  }
}
::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
  width: 100%;
}

::ng-deep mat-chip-list {
  display: inline-flex;
}

::ng-deep mat-chip {
  height: 20px; /* total chip height */
  font-size: 10px !important; /* smaller text */
  line-height: 20px; /* vertically center text */
  padding: 0; /* tighter left/right padding */
  margin: 0 2px;
  background-color: #00897b !important;
  color: white;
}
