<div class="conversion-tracker-container">
  <mat-card class="conversion-tracker-header">
    <div class="date-range-picker-wrapper">
      <app-date-range-picker (dateRangeChange)="onRangeSelected($event)" />
    </div>
    <div class="cards-wrapper">
      <app-conversion-insight-card
        type="Total Consult"
        icon="people"
        description="Total Consult"
        value="102"
        [metric]="8"
      />
      <app-conversion-insight-card
        type="Conversion Rate"
        icon="trending_up"
        description="Conversion Rate"
        value="56%"
        [metric]="4"
      />
      <app-conversion-insight-card
        type="Avg Time to Conversion"
        icon="schedule"
        description="Avg Time to Conversion"
        value="18 Days"
        [metric]="-2"
      />
    </div>
  </mat-card>
  <mat-card>
    <mat-tab-group>
      <mat-tab label="Unconverted">
        <app-conversion-table [data]="unconvertedData"></app-conversion-table>
      </mat-tab>
      <mat-tab label="Converted">
        <app-conversion-table [data]="convertedData"></app-conversion-table>
      </mat-tab>
      <mat-tab label="Declined">
        <app-conversion-table [data]="declinedData"></app-conversion-table>
      </mat-tab>
    </mat-tab-group>
    <div class="buttons-wrapper">
      <button color="primary" mat-stroked-button>Export</button>
      <button color="primary" mat-flat-button>Start Campaign</button>
    </div>
  </mat-card>
</div>
