<!-- ============================================================== -->
<!-- Card Grid-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Roles</mat-card-title>

        <!-- ============================================================== -->
        <!-- column -->
        <!-- ============================================================== -->
        <div fxLayout="row wrap">
          <!-- Card column -->
          <div fxFlex.gt-sm="100%" fxFlex="100">
            <h5>Change Password</h5>

            <form
              [formGroup]="form"
              class="basic-form"
              (ngSubmit)="onSubmitPassword()">
              <div fxLayout="row wrap">
                <!-- column -->
                <div fxFlex.gt-md="100" fxFlex="100">
                  <mat-form-field floatLabel="never">
                    <mat-card-title>Current Password</mat-card-title>
                    <input
                      matInput
                      type="password"
                      placeholder=""
                      [formControl]="form.controls['currentPassword']"
                      [(ngModel)]="currentPassword" />
                  </mat-form-field>
                </div>
                <div fxFlex.gt-md="100" fxFlex="100">
                  <mat-form-field floatLabel="never">
                    <mat-card-title>New Password</mat-card-title>
                    <input
                      matInput
                      type="password"
                      placeholder=""
                      [formControl]="form.controls['newPassword']"
                      [(ngModel)]="newPassword" />
                  </mat-form-field>
                </div>
                <div fxFlex.gt-md="100" fxFlex="100">
                  <mat-form-field floatLabel="never">
                    <mat-card-title>Repeat Password</mat-card-title>
                    <input
                      matInput
                      type="password"
                      placeholder=""
                      [formControl]="form.controls['repeatPassword']"
                      [(ngModel)]="repeatPassword" />
                  </mat-form-field>
                </div>
              </div>
              <mat-card-actions>
                <button mat-raised-button color="primary" type="submit">
                  Submit
                </button>
              </mat-card-actions>
              <small *ngIf="errorLogin" class="text-danger support-text">{{
                errortext
              }}</small>
              <small class="text-success support-text">{{ successtext }}</small>

              <!-- column -->
            </form>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
