<div class="card-container" [ngClass]="cardColorClass">
  <div class="icon-wrapper">
    <button mat-fab [class]="buttonClass" aria-label="Description icon button">
      <mat-icon>{{ safeIcon }}</mat-icon>
    </button>
  </div>
  <div class="insight-wrapper">
    <p class="insight-description">{{ safeDescription }}</p>
    <div class="insight-value">
      <div>
        <span>{{ safeValue }}</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-icon [ngClass]="fontColorClass">{{ deltaDirectionIcon }}</mat-icon>
        <span class="metric" [ngClass]="fontColorClass">{{ deltaSign }} {{ safeDelta }}</span>
      </div>
    </div>
  </div>
</div>
