.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
  gap: 1em;
  .insight-wrapper {
    display: flex;
    flex-direction: column;
    p.insight-description {
      font-size: 1.2em;
    }
    .insight-value {
      display: flex;
      flex-direction: row;
      gap: 0.5em;
      font-size: 1.8em;
      font-weight: bold;
      span.metric {
        font-weight: 500;
        font-size: 0.8em;
      }
    }
  }
}
