.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3em 2em;
  gap: 1em;
  .icon-wrapper {
    button {
      width: 64px; // Default is 56px
      height: 64px;

      &.total-consult {
        background-color: #02bec9;
      }
      &.conversion-rate {
        background-color: #fc4b6c;
      }
      &.avg-time-conversion {
        background-color: #7460ee;
      }
    }
  }
  .insight-wrapper {
    display: flex;
    flex-direction: column;
    p.insight-description {
      font-size: 1.2em;
    }
    .insight-value {
      display: flex;
      flex-direction: row;
      gap: 0.5em;
      font-size: 1.8em;
      font-weight: bold;
      span.metric {
        font-weight: 500;
        font-size: 0.8em;
      }
    }
  }
}
