<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> Goals </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-card-content>
    <div class="Goals-dropdowns mb-2" fxLayout="row wrap" fxLayoutGap="20px">
      <!--Goals dropdown-->
      <div
        class="sa_mat_select_topbar mat_selectbox"
        fxFlex="20"
        fxFlex.md="20"
        fxFlex.sm="30"
        fxFlex.xs="100"
      >
        <mat-form-field >
          <mat-label class="goals-form-field-label">
            Monthly Goals
          </mat-label>
          <mat-select class="external_dentist" [ngModel]="selectedGoalCategory$.value" (ngModelChange)="handleGoalCategorySelection($event)"  *ngIf="selectedTab == 1">
            <mat-option value="">Clinic Total</mat-option>
            <mat-option
              *ngFor="let dentist of dentists"
              [value]="dentist.providerId"
            >
              {{ dentist.name }}
            </mat-option>
          </mat-select>
          <mat-select class="external_dentist" [ngModel]="selectedGoalCategory$.value" (ngModelChange)="handleGoalCategorySelection($event)"  *ngIf="selectedTab != 1">
            <mat-option value="">Clinic Total</mat-option>            
          </mat-select>
        </mat-form-field>
      </div>

      <!--Dashboard dropdown-->
      <div
        class="sa_mat_select_topbar mat_selectbox"
        fxFlex="20"
        fxFlex.md="20"
        fxFlex.sm="30"
        fxFlex.xs="100"
      >
        <mat-form-field>
          <mat-label class="goals-form-field-label">
          Dashboard </mat-label>
          <mat-select class="external_dentist" [(ngModel)]="selectedTab" (ngModelChange)="onTabChanged($event)" >
            <mat-option *ngFor="let tab of tabs" [value]="tab.id">{{ updateName(tab.name) }} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!--Dashboard Forms-->
    <div fxLayout="row wrap goals-form-container" style="width:100%;">
      <div
        fxFlex.gt-sm="100%"
        fxFlex="100"
        class="sa_mattabs_design sa_matforms_design"
      >
        <div *ngFor="let tab of tabs">
          <div class="example-small-box">           
            <form  class="basic-form" *ngIf="selectedTab == tab.id"> <!-- [formGroup]="tab.name" -->
              <div class="matInput-form-group">
                <mat-form-field class="sa-form-group" *ngFor="let control of tab.charts">
                  <mat-label class="goals-form-field-label">
                   {{ control.chart }}
                  </mat-label>
                 <span matPrefix [ngStyle]="{'opacity': control.sign == '$' ? '1' : '0'}">$ &nbsp;</span>
                  <input type="number" class="goals-form-input-field sign{{control.sign}}" matInput value="{{ control.value }}" name="control.control" (blur)="onBlur(control.id, $event.target.value,$event)" sign="{{ control.sign }}"/> <!-- [formControl]="control.control" -->
                  <span matSuffix *ngIf="control.sign == '%'">&nbsp; %</span>
                </mat-form-field>                
              </div>
            </form>
          </div>
        </div>
        <div class="sa-form-group-btn">
          <button class="btn save-button" (click)="onSubmit()">Save</button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-expansion-panel>
