<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> Goals </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-card-content>
    <div class="Goals-dropdowns mb-2" fxLayout="row wrap" fxLayoutGap="20px">
      <!--Goals dropdown-->
      <div
        class="sa_mat_select_topbar mat_selectbox"
        fxFlex="20"
        fxFlex.md="20"
        fxFlex.sm="30"
        fxFlex.xs="100"
      >
        <mat-form-field floatLabel="never">
          <mat-select
            class="external_dentist"
            [ngModel]="selectedGoalCategory$.value"
            (ngModelChange)="handleGoalCategorySelection($event)"
          >
            <mat-option value="">Monthly Clinic Goals</mat-option>
            <mat-option
              *ngFor="let dentist of dentists"
              [value]="dentist.providerId"
            >
              {{ dentist.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!--Dashboard dropdown-->
      <div
        class="sa_mat_select_topbar mat_selectbox"
        fxFlex="20"
        fxFlex.md="20"
        fxFlex.sm="30"
        fxFlex.xs="100"
      >
        <mat-form-field floatLabel="never">
          <mat-select
            *ngIf="tabsOptions.length"
            class="external_dentist"
            [(ngModel)]="selectedTab"
            (ngModelChange)="onTabChanged($event)"
          >
            <mat-option
              *ngFor="let tab of tabsOptions"
              [value]="tab"
            >
              {{ tab }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!--Dashboard Forms-->
    <div fxLayout="row wrap goals-form-container" style="width:100%;">
      <div
        fxFlex.gt-sm="100%"
        fxFlex="100"
        class="sa_mattabs_design sa_matforms_design"
      >
        <div *ngFor="let tab of tabs | keyvalue">
          <div class="example-small-box">
            <form
              [formGroup]="tab.value.form"
              class="basic-form"
              *ngIf="selectedTab === tabsConstants[tab.key]"
            >
              <div class="matInput-form-group">
                <mat-form-field class="sa-form-group" *ngFor="let control of tabs[tab.key].controls">
                  <mat-label class="goals-form-field-label">
                    {{ control.label }}
                  </mat-label>
                  <span matPrefix [ngStyle]="{'opacity': control.prefix ? '1' : '0'}">$ &nbsp;</span>
                  <input class="goals-form-input-field" matInput [formControl]="tab.value.form.controls[control.name]" />
                  <span matSuffix *ngIf="control.postfix">&nbsp; {{ control.postfix }}</span>
                </mat-form-field>                
              </div>
            </form>
          </div>
        </div>
        <div class="sa-form-group-btn">
          <button class="btn save-button" (click)="onSubmit()">Save</button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-expansion-panel>
