@import '../../../assets/layout/styles/layout/mixin';

.layout-topbar {
  padding: 1rem 0;
  min-height: 66px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
  @include respond-to('tablet-landscape') {
    padding: 10px 30px 10px 0;
  }
  .menu-wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
    position: relative;
    &.lt-md {
      justify-items: center;
      align-items: center;
      button {
        position: absolute;
        left: 4px;
        .mat-icon {
          font-size: 2.25rem;
        }
      }
      .logo {
        padding: 6px 10px;
        max-height: 52px;
      }
      @include respond-to('tablet-landscape') {
        display: none !important;
      }
    }
    &.gt-sm {
      justify-items: space-between;
      align-items: center;
      width: 100%;
      .dynamic-top-section {


        
        display: flex;
        flex: 1;

        .date-picker-wrapper{
          display: flex;
          justify-content: center;
          flex: 1;
        }

        .clinic-selector-wrapper {
          display: flex;
          justify-content: center;
          flex: 0;
        }
        
        .date-picker-field, .clinic-selector-field {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            height: 36px;
            min-width: 225px;
            background-color: #fafafa;
            padding-left: 15px;
            border-radius: 10px;
        }
      }
    }
  }
  .hide-lt__sm {
    display: none;
    @include respond-to('tablet-landscape') {
      display: flex;
      align-items: center;
    }
    mat-label {
      font-size: 16px;
    }
  }
}
