<div class="layout-topbar">
  <div class="menu-wrapper lt-md">
    <button mat-icon-button color="primary" (click)="toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>
    <img class="logo" src="assets/layout/images/logo.png" />
  </div>
  <div class="menu-wrapper gt-sm">
    <div class="hide-lt__sm">
      <button mat-icon-button (click)="toggleSideBar()">
        <mat-icon>{{
          isSidenavVisible ? 'chevron_left' : 'chevron_right'
        }}</mat-icon>
      </button>
      <nav class="breadcrumb" *ngIf="(paths$ | async)?.length > 0; else matLabel">
        <ng-container *ngFor="let breadcrumb of paths$ | async; let last = last">
          <a mat-button [routerLink]="breadcrumb.path" *ngIf="!last">{{ breadcrumb.name }}</a>
          <span *ngIf="last">{{ breadcrumb.name == "[ClinicName]"? (selectedClinic?.clinicName || ''): breadcrumb.name }}</span>
          <mat-icon inline *ngIf="!last" class="breadcrumb-separator">chevron_right</mat-icon>
        </ng-container>
      </nav>
      <ng-template #matLabel>
        <mat-label>{{ title }}</mat-label>
      </ng-template>
    </div>
    <div class="dynamic-top-section">
      
      <div class="date-picker-wrapper">
        <div class="date-picker-field" *ngIf="!(hideDatePicker$ | async)">
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input
              class="custom-font"
              matStartDate
              formControlName="start"
              (dateChange)="onDateRangeChange('start', $event)"
              placeholder="Start date" />
            <input
              class="custom-font"
              matEndDate
              formControlName="end"
              (dateChange)="onDateRangeChange('end', $event)"
              placeholder="End date" />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </div>
      </div>
      <div class="clinic-selector-wrapper">
        <div class="clinic-selector-field">
          <mat-select
            [disabled]="(hideClinicSelectionDropdown$ | async)"
            multiple
            class="custom-font"
            *ngIf="isMultiClinics$ | async; else singleClinicsSection"
            #multiClinicsSelectElem
            (selectionChange)="onChangeMultiClinics($event)"
            (openedChange)="onMultiSelectPanelOpened($event)"
            [value]="selectedMultiClinics"
            panelClass="jeeve-custom-select-panel">
            <mat-select-trigger>
              {{ getClinicName$(selectedMultiClinics) | async }}
              <span
                *ngIf="
                  (selectedMultiClinics?.length || 0) > 1 &&
                  !selectedMultiClinics.includes('all')
                ">
                (+{{ (selectedMultiClinics?.length || 0) - 1 }}
                {{ selectedMultiClinics?.length === 2 ? 'other' : 'others' }})
              </span>
            </mat-select-trigger>
            <mat-option class="custom-font" value="all">All Clinics</mat-option>
            <mat-option
              class="custom-font"
              *ngFor="let clinic of clinics$ | async"
              [value]="clinic.id">
              {{ clinic.clinicName }}
            </mat-option>
            <div class="apply-btn">
              <button
                (click)="onApplyMultiClinics()"
                mat-raised-button
                color="primary">
                Apply
              </button>
            </div>
          </mat-select>
          <ng-template #singleClinicsSection>
            <mat-select
              [disabled]="(hideClinicSelectionDropdown$ | async)"
              class="custom-font"
              (selectionChange)="onChangeCurrentClinic($event)"
              [value]="unsubscribedClinic?.id || selectedClinicId">
              <mat-option *ngIf="enableAllClinics$ | async" value="all"
                >All Clinics</mat-option
              >
              <mat-option *ngIf="!!unsubscribedClinic" class="custom-font" [value]="unsubscribedClinic.id">
                {{ unsubscribedClinic.clinicName }}
              </mat-option>
              <mat-option
                class="custom-font"
                *ngFor="let clinic of clinics$ | async"
                [value]="clinic.id">
                {{ clinic.clinicName }}
              </mat-option>
            </mat-select>
          </ng-template>
        </div>
        <div
          *ngIf="isEnableDentistDropdown$ | async"
          class="clinic-selector-field">
          <mat-select
            [disabled]="(hideClinicSelectionDropdown$ | async)"
            class="custom-font"
            (selectionChange)="onChangeCurrentDentist($event)"
            [value]="selectedDentist">
            <mat-option class="custom-font" value="all"
              >All Dentists</mat-option
            >
            <mat-option
              class="custom-font"
              *ngFor="let dentist of dentists$ | async"
              [value]="dentist.providerId">
              {{ dentist.jeeveName ?? dentist.name }}
            </mat-option>
          </mat-select>
        </div>
      </div>
    </div>
  </div>
  <div class="filter-wrapper"></div>
</div>
