@import '../../../assets/layout/styles/layout/mixin';

.layout-topbar {
  padding: 7px 15px 0 0;
  min-height: 66px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
  gap: 15px;
  // @include respond-to('phone') {
  //   padding: 10px 30px 0px 0;
  // }
  .menu-wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
    position: relative;
    &.lt-md {
      width: 100%;
      justify-items: center;
      align-items: center;
      justify-content: center;
      button {
        position: absolute;
        left: 4px;
        .mat-icon {
          font-size: 2.25rem;
        }
      }
      .logo {
        padding: 6px 10px;
        max-height: 52px;
      }
      @include respond-to('tablet-landscape') {
        display: none !important;
      }
    }
    &.gt-sm {
      justify-items: space-between;
      align-items: center;
      width: 100%;
      .dynamic-top-section {
        display: flex;
        flex: 1;
        gap: 15px;
        @include respond-from('phone') {
          flex-direction: column;
        }

        .date-picker-wrapper {
          display: flex;
          justify-content: center;
          flex: 1;
        }

        .clinic-selector-wrapper {
          display: flex;
          justify-content: center;
          flex: 0;
          gap: 10px;
        }

        .date-picker-field,
        .clinic-selector-field {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          height: 36px;
          min-width: 280px;
          background-color: #fafafa;
          padding-left: 15px;
          border-radius: 10px;
        }

        .clinic-selector-field {
          padding: 0 10px 0 15px !important;
        }
      }
    }
  }
  .hide-lt__sm {
    display: none;
    @include respond-to('tablet-landscape') {
      display: flex;
      align-items: center;
    }
    mat-label {
      font-size: 16px;
    }
  }
}

.apply-btn {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: sticky;
  bottom: 0;
  background: white;
  padding-top: 5px;
  border-top: 1px solid lightgray;
}
