<mat-card >
	<mat-card-content>
		<div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutGap.sm="0px" fxLayoutGap.xs="0px">
			<div fxFlex="calc(50% - 10px)" fxFlex.md="calc(50% - 10px)" fxFlex.sm="100" fxFlex.xs="100">
				<div class="lo-content">
					<ul>
						<li><span class="left-lo-content">Total Discounts:</span> <span class="right-lo-content">$8,100 <small>$900 improvement</small></span></li>
						<li> <span class="left-lo-content">Collection vs Production:</span> <span class="right-lo-content">$67,500 <small>$7,500 improvement </small></span></li>
						<li><span class="left-lo-content">Case Acceptance:</span> <span class="right-lo-content">$108,000<small>$12,000 improvement</small></span></li>
					</ul>
					<p>Total Lost Opportunity:<span>$183,600</span></p>
					<p>Total Production:   <span>$520,400<small>+$20,400</small></span></p>
				</div>
			</div>
			<div fxFlex="calc(50% - 10px)" fxFlex.md="calc(50% - 10px)" fxFlex.sm="100" fxFlex.xs="100" class="text-center">
				<img src="./assets/images/lost-opportunity.png" alt="">
			</div>
		</div>
	</mat-card-content>
</mat-card>

<mat-card >
	<mat-card-content>
		<div class="lo-slider">
			<h4>10% improvement</h4>
				<mat-slider></mat-slider>
				<ul>
					<li style="left:0%;">0</li>
					<li style="left:10%;">10</li>
					<li style="left:20%;">20</li>
					<li style="left:30%;">30</li>
					<li style="left:40%;">40</li>
					<li style="left:50%;">50</li>
					<li style="left:60%;">60</li>
					<li style="left:70%;">70</li>
					<li style="left:80%;">80</li>
					<li style="left:90%;">90</li>
					<li style="left:100%;">100</li>
				</ul>
        </div>
	</mat-card-content>
 </mat-card>