<div
  fxLayout="row"
  fxLayoutAlign="center center"
  fxFlexFill
  [hidden]="!isExact"
>
  <h3>Coming Soon</h3>
</div>
<div [hidden]="isExact">
  <mat-card class="lost-header-background-remove background-shadow">
    <mat-card-content>
      <div class="header-section">
        <div class="header-caption">
          <h2>
            Total Production : ${{ production | number : '1.0-0' }}
            <span class="uptrend" *ngIf="productionImp">
              <img
                src="../assets/images/uptrend-production.png"
                alt="uptrend-production"
              />
              +${{ productionImp | number : '1.0-0' }}
            </span>
          </h2>
          <p>
            Your current Total Production for the last 365 days is shown above.
            Adjust the slider below to see how small improvements in key areas
            can boost your overall production.
          </p>
        </div>

        <div class="right-vector-img">
          <img src="../assets/images/vector_smart.png" alt="vector_smart.png" />
        </div>
      </div>
      <input
        type="button"
        id="clinic_initiate"
        (click)="initiate_clinic()"
        [style.display]="'none'"
      />
      <input
        type="text"
        id="page_title"
        value="Lost Opportunity"
        [style.display]="'none'"
      />

      <div class="card-loading" *ngIf="isLoading">
        <img class="tableLoader" src="../../assets/images/loader.gif" />
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="oppertunity-background background-shadow">
    <mat-card-content>
      <div class="lost-header">
        <h2>
          Total Lost Opportunity :
          <span id="TotalLostOpportunity"
            >${{ lostOpportunity | number : '1.0-0' }}</span
          >
        </h2>
      </div>

      <div class="oppertunity-row">
        <div class="oppertunity-col">
          <div class="prodction_main_box oppertunity-col-background">
            <div class="info-icon-container lost-opportunity-info-icon">
              <img
                [tooltip]="charTips['46']"
                src="../assets/images/info-icon.png"
                alt="info-icon"
                class="info-icon"
              />
            </div>
            <div class="production_images opertunity-img">
              <img
                src="../assets/images/total-discount-1.png"
                alt="total-discount"
              />
            </div>
            <div
              class="production_description oppertunity-description dowan-trend-display"
            >
              <h4>Total Discounts</h4>
              <div class="price-section oppertunity-discount">
                <h2 class="right-lo-content" id="TotalDiscounts">
                  ${{ discounts | number : '1.0-0' }}
                </h2>
                <span
                  *ngIf="discountsImp"
                  class="dowan-trend"
                  id="TotalDiscountsImprovement"
                >
                  +${{ discountsImp | number : '1.0-0' }}</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="oppertunity-col second-col-margin">
          <div class="prodction_main_box oppertunity-col-background">
            <div class="info-icon-container lost-opportunity-info-icon">
              <img
                [tooltip]="charTips['47']"
                src="../assets/images/info-icon.png"
                alt="info-icon"
                class="info-icon"
              />
            </div>
            <div class="production_images opertunity-img">
              <img
                src="../assets/images/oppertunity-payment.png"
                alt="oppertunity-payment"
              />
            </div>
            <div
              class="production_description oppertunity-description dowan-trend-display"
            >
              <h4>Collection vs Production</h4>
              <div class="price-section oppertunity-discount">
                <h2 class="right-lo-content" id="CollectionProduction">
                  ${{ collectionProduction | number : '1.0-0' }}
                </h2>
                <span
                  *ngIf="collectionProductionImp"
                  class="dowan-trend"
                  id="CollectionProductionImprovement"
                >
                  +${{ collectionProductionImp | number : '1.0-0' }}</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="oppertunity-col">
          <div class="prodction_main_box oppertunity-col-background">
            <div class="info-icon-container lost-opportunity-info-icon">
              <img
                [tooltip]="charTips['48']"
                src="../assets/images/info-icon.png"
                alt="info-icon"
                class="info-icon"
              />
            </div>
            <div class="production_images opertunity-img">
              <img
                src="../assets/images/opertunity-case.png"
                alt="opertunity-case"
              />
            </div>
            <div
              class="production_description oppertunity-description dowan-trend-display"
            >
              <h4>Case Acceptance</h4>
              <div class="price-section oppertunity-discount">
                <h2 class="right-lo-content" id="CaseAcceptance">
                  ${{ caseAcceptance | number : '1.0-0' }}
                </h2>
                <span
                  *ngIf="caseAcceptanceImp"
                  class="dowan-trend"
                  id="CaseAcceptanceImprovement"
                >
                  +${{ caseAcceptanceImp | number : '1.0-0' }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="improvement-range background-shadow">
    <h4>{{ improvement }}% improvement</h4>
    <mat-card-content class="range-background">
      <div class="lo-slider">
        <mat-slider
          #mySlider
          min="0"
          max="100"
          step="10"
          value="{{ improvement }}"
          (slideend)="sliderOnChange(mySlider.value)"
          (pointerup)="sliderOnChange(mySlider.value)"
          (input)="sliderOnChange(mySlider.value)"
        ></mat-slider>
      </div>
    </mat-card-content>

    <div class="custom-lo-slider">
      <div class="lo-slider">
        <ul>
          <li class="li-0">0</li>
          <li class="li-10">10</li>
          <li class="li-20">20</li>
          <li class="li-30">30</li>
          <li class="li-40">40</li>
          <li class="li-50">50</li>
          <li class="li-60">60</li>
          <li class="li-70">70</li>
          <li class="li-80">80</li>
          <li class="li-90">90</li>
          <li class="li-100">100</li>
        </ul>
      </div>
    </div>
  </mat-card>
</div>
