<div class="sa_tabs_design sa_responsive_tabs">
  <div class="sa_tabs_list" fxHide [fxShow.gt-sm]="true">
    <div class="sa_tabs_data">
      <span (click)="filterDate('m')" class="filter_m filter sa_filter_span active">
        This Month
      </span>
      <span (click)="filterDate('lm')" class="filter_lm filter sa_filter_span">
        Last Month
      </span>
      <span (click)="filterDate('q')" class="filter_q filter sa_filter_span">
        This Quarter
      </span>
      <span (click)="filterDate('lq')" class="filter_lq filter sa_filter_span">
        Last Quarter
      </span>
      <span (click)="filterDate('cytd')" class="filter_cytd filter sa_filter_span">
        Calendar Year
      </span>
      <span (click)="filterDate('fytd')" class="filter_fytd filter sa_filter_span">
        Financial Year
      </span>
    </div>
  </div>
  <div class="sa_tabs_list" [fxHide.gt-sm]="true">
    <div class="sa_tabs_data">
      <div class="sa_mat_select_topbar dropdown-select ">
        <mat-select class="external_clinic"  
          [(value)]="currentSelectedPeriod"  
          (selectionChange)="handleSelection($event)">
          <mat-option *ngFor="let clinicData of DateOptions" [value]="clinicData.value" >
              {{ clinicData.name }}
          </mat-option>
        </mat-select>
      </div>     
    </div>
  </div>
  <div class="custom_date">
    <input
      class="filter_custom filter sa_datepicker"
      id="sa_datepicker"
      value="Select Date Range"
      placeholder="Select Date Range"
      readonly
    />
    <ngx-daterangepicker-material
      class="customRange"
      id="customRange"
      (choosedDate)="choosedDate($event)"
      [style.display]="'none'"
      [locale]="{ applyLabel: 'ok', displayFormat: 'DD-MM-YYYY', firstDay: 1 }"
    >
    </ngx-daterangepicker-material>
  </div>
</div>
