<div class="chart-container">
  <mat-icon
    [tooltip]="toolTip"
    matTooltipPosition="below"
    color="primary"
    class="help-tip"
    fontIcon="help"></mat-icon>
  <mat-icon
    *ngIf="isTableIconVisible$ | async"
    [ngClass]="showTableInfo ? 'active' : ''"
    (click)="toggleTableInfo()"
    class="table-info-icon"
    fontIcon="table_rows_narrow" />
  <div class="chart-title">
    <mat-icon
      *ngIf="isTrendIconVisible$ | async"
      [color]="trendingIcon == 'trending_up' ? 'primary' : 'warn'"
      [fontIcon]="trendingIcon"
      [matTooltip]="getTrendTip$ | async"></mat-icon>
    <div class="dropdown-title">
      <div style="min-width: 200px">
        <span
          *ngIf="
            (userType$ | async) === 4 || (isDentistMode$ | async);
            else prodSelectTitle
          "
          >Hourly Rate</span
        >
        <ng-template #prodSelectTitle>
          <mat-select
            class="dropdown-font"
            [value]="prodSelectShow$ | async"
            (selectionChange)="onChangeProdSelectTab($event)">
            <mat-option value="hourly_rate_all">Hourly Rate - All</mat-option>
            <mat-option value="hourly_rate_dentists"
              >Hourly Rate - Dentists</mat-option
            >
            <mat-option value="hourly_rate_oht">Hourly Rate - OHT</mat-option>
          </mat-select>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="chart-content">
    <div class="canvas-wrapper chart-box ca-hourly-chart">
      <div class="ca-hourly-switch">
        <button
          *ngFor="let chartName of hourlyRateChartNames"
          (click)="switchChartName(chartName)"
          [ngClass]="{ active: chartName == (chartName$ | async) }">
          {{ chartName }}
        </button>
      </div>

      <div
        class="pa-table"
        *ngIf="showTableInfo && (isTableIconVisible$ | async); else graphElem">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>
                {{
                  (chartName$ | async) === 'Production'
                    ? 'Production'
                    : 'Collection'
                }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let protbl of tableData">
              <td>{{ protbl.label }}</td>
              <td>{{ protbl.value | currency: 'USD' : 'symbol' : '1.0-0' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #graphElem>
        <div class="chart-gauge ca-hourly-graph">
          <spin-loader *ngIf="isLoading$ | async; else chartElem"></spin-loader>
          <ng-template #chartElem>
            <ngx-gauge
              *ngIf="
                (isDentistMode$ | async) &&
                !(isCompare$ | async) &&
                !(isTrend$ | async) &&
                (hasData$ | async)
              "
              type="arch"
              [value]="gaugeValue"
              [label]="gaugeLabel"
              [thick]="20"
              backgroundColor="#f4f0fa"
              foregroundColor="#4ccfae"
              [max]="maxGoal"
              cap="round"
              [duration]="2500"
              prepend="$"
              [size]="300">
            </ngx-gauge>
            <canvas
              baseChart
              *ngIf="
                (!(isDentistMode$ | async) ||
                  (isCompare$ | async) ||
                  (isTrend$ | async)) &&
                (hasData$ | async)
              "
              [datasets]="datasets"
              [labels]="labels"
              [legend]="legend$ | async"
              type="bar"
              [options]="chartOptions$ | async">
            </canvas>

            <spin-loader
              class="empty-placeholder"
              *ngIf="!(hasData$ | async)"
              [disableSpin]="true">
              {{ noDataAlertMessage$ | async }}
            </spin-loader>
          </ng-template>
        </div>
      </ng-template>

      <div class="chart-foot" *ngIf="isEnableFooter$ | async">
        <div>
          <h3>{{ total | currency: 'USD' : 'symbol' : '1.0-0' }}</h3>
          <span>{{ durationLabel$ | async }}</span>
        </div>

        <div *ngIf="(duration$ | async) !== 'custom'">
          <h3>{{ prev | currency: 'USD' : 'symbol' : '1.0-0' }}</h3>
          <span>{{ durationTrendLabel$ | async }}</span>
        </div>
        <div *ngIf="goal >= 0 && (showGoals$ | async) == true">
          <h3 *ngIf="goal && (goalCount$ | async)">
            {{ goal * (goalCount$ | async) }}
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
