<input type="button" id="clinic_initiate" (click)="initiate_clinic()" [style.display]="'none'" />

<mat-drawer-container *ngIf="!agendaTab && !boardMeetingPage" class="example-container" autosize>
    <div fxFlex="calc(39% - 10px)" fxFlex.lg="calc(39% - 10px)" fxFlex.md="900" fxFlex.sm="900" fxFlex.xs="900" class="sa_flexbg last">
        <span class="top_buttons">
            <button mat-raised-button [ngClass]="(!showCompletedMeetingTab) ? 'btn_active' : ''" (click)="showCompletedMeetingTab = false" >Upcoming</button>
            <button mat-raised-button [ngClass]="(showCompletedMeetingTab) ? 'btn_active' : ''" (click)="showCompletedMeetingTab = true" >Completed</button>
        </span>
        <button *ngIf="!drawer.opened && hasPermission" mat-raised-button color="green" (click)="createMeeting()" class="float-right" ><i class="fas fa-plus"></i> Create New Meeting</button>
        <br>
        <br>
        <hr>
        <mat-tab-group [selectedIndex]="currentTab" (selectedIndexChange) = "changeTab($event)">
            <mat-tab *ngIf="hasPermission" label="Created">
                <div *ngIf="!showCompletedMeetingTab && upcomingMeeting.length > 0">
                    <div class="card_meeting_card" *ngFor="let meeting of upcomingMeeting; let i = index;">
                        <mat-card class="meeting_card">
                            <div #card (click)="drawerToggle(meeting.id, card)">
                                <mat-card-title class="header">
                                    <div class="meeting_card_header">
                                        {{meeting.meeting_topic}}
                                    </div>
                                </mat-card-title>
                                <mat-card-content class="meeting_card_content">
                                    <p><i class="fas fa-calendar"></i> {{meeting.meeting_date}}</p>
                                    <p><i class="fas fa-clock"></i> {{meeting.start_time}} - {{meeting.end_time}}</p>
                                </mat-card-content>
                            </div>      
                        </mat-card>
                    </div>
                </div>
                <div *ngIf="!showCompletedMeetingTab && upcomingMeeting.length <= 0">
                    <mat-card class="meeting_card">
                        <mat-card-content class="meeting_card_content">
                            No Created Meeting Available.
                        </mat-card-content>
                    </mat-card>
                </div>
                <div *ngIf="showCompletedMeetingTab && completedMeeting.length > 0">
                    <div class="card_meeting_card" *ngFor="let meeting of completedMeeting; let i = index;">
                        <mat-card class="meeting_card">
                            <div (click)="viewMeetingAttendees(meeting.id)" >
                                <mat-card-title class="header">
                                    <div class="meeting_card_header">
                                        {{meeting.meeting_topic}}
                                    </div>
                                </mat-card-title>
                                <mat-card-content class="meeting_card_content">
                                    <p><i class="fas fa-calendar"></i> {{meeting.meeting_date}}</p>
                                    <p><i class="fas fa-clock"></i> {{meeting.start_time}} - {{meeting.end_time}}</p>
                                </mat-card-content>
                            </div>      
                            
                        </mat-card>
                    </div>
                </div>
                <div *ngIf="showCompletedMeetingTab && completedMeeting.length <= 0">
                    <mat-card class="meeting_card">
                        <mat-card-content class="meeting_card_content">
                            No Created Meeting Available.
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="Invites">
                <div *ngIf="!showCompletedMeetingTab && invited_meeting.length > 0">
                    <div class="card_meeting_card" *ngFor="let meeting of invited_meeting; let i = index;">
                        <mat-card class="meeting_card">
                            <div (click)="boardMeeting(meeting.id)">
                                <mat-card-title class="header">
                                    <div class="meeting_card_header">
                                        {{meeting.meeting_topic}}
                                    </div>
                                </mat-card-title>
                                <mat-card-content class="meeting_card_content">
                                    <p><i class="fas fa-calendar"></i> {{meeting.meeting_date}}</p>
                                    <p><i class="fas fa-clock"></i> {{meeting.start_time}} - {{meeting.end_time}}</p>
                                </mat-card-content>
                            </div>
                        </mat-card>
                    </div>
                </div>
                <div *ngIf="!showCompletedMeetingTab && invited_meeting.length <= 0">
                    <mat-card class="meeting_card">
                            <mat-card-content class="meeting_card_content">
                               No Invited Meeting Available.
                            </mat-card-content>
                    </mat-card>
                </div>

                <div *ngIf="showCompletedMeetingTab && complete_invited_meeting.length > 0">
                    <!-- <h5>Today <i class="fas fa-calendar"></i></h5> -->
                    <div class="card_meeting_card" *ngFor="let meeting of complete_invited_meeting; let i = index;">
                        <mat-card class="meeting_card">
                            <div (click)="boardMeeting(meeting.id)">
                                <mat-card-title class="header">
                                    <div class="meeting_card_header">
                                        {{meeting.meeting_topic}}
                                    </div>
                                </mat-card-title>
                                <mat-card-content class="meeting_card_content">
                                    <p><i class="fas fa-calendar"></i> {{meeting.meeting_date}}</p>
                                    <p><i class="fas fa-clock"></i> {{meeting.start_time}} - {{meeting.end_time}}</p>
                                </mat-card-content>
                            </div>
                            
                        </mat-card>
                    </div>
                </div>
                <div *ngIf="showCompletedMeetingTab && complete_invited_meeting.length <= 0">
                    <mat-card class="meeting_card">
                        <mat-card-content class="meeting_card_content">
                           No Invited Meeting Available.
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="published" *ngIf="!showCompletedMeetingTab && hasPermission">
                <div *ngIf="published_meeting.length > 0">
                    <div class="card_meeting_card" *ngFor="let meeting of published_meeting; let i = index;">
                        <mat-card class="meeting_card">
                            <div #card (click)="drawerToggle(meeting.id, card)">
                                <mat-card-title class="header">
                                    <div class="meeting_card_header">
                                        {{meeting.meeting_topic}}
                                    </div>
                                </mat-card-title>
                                <mat-card-content class="meeting_card_content">
                                    <p><i class="fas fa-calendar"></i> {{meeting.meeting_date}}</p>
                                    <p><i class="fas fa-clock"></i> {{meeting.start_time}} - {{meeting.end_time}}</p>
                                </mat-card-content>
                            </div>
                        </mat-card>
                    </div>
                </div>
                <div *ngIf="published_meeting.length <= 0">
                    <mat-card class="meeting_card">
                        <mat-card-content class="meeting_card_content">
                            No published Meeting Available.
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-tab>
        </mat-tab-group>
        
    </div>
    
    <mat-drawer #drawer class="example-sidenav"  mode="side" position="end">
            <mat-card class="meeting_content" *ngIf="currentTab == 0">
                <span class="close-icon float-right" (click)="close(drawer,invites_form)"><i class="ti-close"></i></span>
                <mat-card-title>
                    <div class="card_header">
                        {{meeting_detail.meeting_topic}}
                    </div>
                </mat-card-title>
                <mat-card-subtitle>
                    <p class="header_desc"><i class="fas fa-calendar"></i> {{meeting_detail.meeting_date}}</p>
                    <p class="header_desc"><i class="fas fa-clock"></i> {{meeting_detail.start_time}} - {{meeting_detail.end_time}}</p>
                </mat-card-subtitle>
                <hr>
                <mat-card-content>
                    <form [formGroup]="invites_form">
                        <mat-form-field class="example-chip-list" appearance="outline">
                            <mat-label>Invites</mat-label>
                            <mat-chip-list #invitesChipList required [formControl]="invites_form.controls['invites']">
                                <mat-chip
                                *ngFor="let users of invited_users"
                                [selectable]="true"
                                [removable]="true"
                                (removed)="removeInvites(users.id)">
                                {{users.name}}
                                <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <input
                                id="chip"
                                placeholder="Select Staff....."
                                #invitesInput
                                [formControl]="invites_form.controls['invites']"
                                [matAutocomplete]="auto"
                                [matChipInputFor]="invitesChipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                            </mat-chip-list>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedInvites($event)">
                                <mat-option *ngFor="let user of staff" [value]="user.id">
                                {{user.name}}
                                </mat-option>
                            </mat-autocomplete>
                            
                            <mat-error>
                                Please Select Users for invitation
                            </mat-error>
                        </mat-form-field>
                    </form>
                    <br>
                    <hr>
                </mat-card-content>
                <mat-card-footer>
                    <div fxLayout="row wrap" class="sa_tabs_main_sec" fxLayoutAlign="center">
                        <div fxFlex.gt-sm="43.33%" fxFlex.gt-xs="43%" fxFlex="100" class="btn-group">
                          <button class="sa_tab_btn" mat-raised-button color="green" [disabled]="!invites_form.valid" (click)="save_invites(meeting_detail.id)">Publish Meeting</button>
                        </div>
                        <div fxFlex.gt-sm="43.33%" fxFlex.gt-xs="43%" fxFlex="100" class="btn-group">
                            <button class="sa_tab_btn" mat-raised-button color="green" (click)="openAgenda(meeting_detail.id)">Open Agenda</button>
                        </div>
                    </div>
                </mat-card-footer>
            </mat-card>
            
            <mat-card class="meeting_content" *ngIf="currentTab == 2">
                <span class="close-icon float-right" (click)="close(drawer,invites_form)"><i class="ti-close"></i></span>
                <mat-card-title>
                    <div class="card_header">
                        {{meeting_detail.meeting_topic}}
                    </div>
                </mat-card-title>
                <mat-card-subtitle>
                    <p class="header_desc"><i class="fas fa-calendar"></i> {{meeting_detail.meeting_date}}</p>
                    <p class="header_desc"><i class="fas fa-clock"></i> {{meeting_detail.start_time}} - {{meeting_detail.end_time}}</p>
                </mat-card-subtitle>
                <hr>
                <mat-card-footer>
                    <div fxLayout="row wrap" class="sa_tabs_main_sec" fxLayoutAlign="center">
                        <div fxFlex.gt-sm="43.33%" fxFlex.gt-xs="43%" fxFlex="100" class="btn-group">
                          <!-- <button class="sa_tab_btn" mat-raised-button color="green" (click)="markComplete(meeting_detail.id)">Mark Complete</button> -->
                          <button class="sa_tab_btn" mat-raised-button color="green" (click)="boardMeeting(meeting_detail.id)">view meeting</button>
                        </div>
                        <div fxFlex.gt-sm="43.33%" fxFlex.gt-xs="43%" fxFlex="100" class="btn-group">
                            <!-- <button class="sa_tab_btn" mat-raised-button color="green" (click)="viewMeetingAgenda(meeting_detail.id)">View Agenda</button> -->
                            <button class="sa_tab_btn" mat-raised-button color="green" (click)="openAgenda(meeting_detail.id)">Open Agenda</button>
                        </div>
                    </div>
                </mat-card-footer>
            </mat-card>

    </mat-drawer>
</mat-drawer-container>

<mat-drawer-container>
    <mat-drawer #create_meeting class="example-sidenav-create" mode="side" position="end">
        <mat-card class="meeting_content">
            <span class="close-icon float-right" (click)="close(create_meeting, create_meeting_form)"><i class="ti-close"></i></span>
            <hr>
            <mat-card-content>
                <form [formGroup]="create_meeting_form">        
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Meeting Topic</mat-label>
                        <input type="text" matInput autocomplete="off" [formControl]="create_meeting_form.controls['meeting_topic']" required>
                        <mat-error *ngIf="create_meeting_form.controls['meeting_topic'].hasError('required') && create_meeting_form.controls['meeting_topic'].touched">
                            Please Enter meeting topic
                          </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Select Date</mat-label>
                        <input (click)="picker.open()" matInput [min]="minDate" [matDatepicker]="picker" autocomplete="off" type="text" [formControl]="create_meeting_form.controls['start_date']" required readonly>
                        <!-- <mat-hint>DD/MM/YYYY</mat-hint> -->
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker> <!--touchUi-->
                        <mat-error *ngIf="create_meeting_form.controls['start_date'].hasError('required') && create_meeting_form.controls['start_date'].touched">
                            Please Enter Meeting Start Date
                        </mat-error>
                    </mat-form-field>

                    <div fxLayout="row wrap" class="sa_tabs_main_sec" fxLayoutAlign="center">
                        <div fxFlex.gt-sm="70%" fxFlex.gt-xs="70%" fxFlex="100" class="btn-group" >
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Start Time</mat-label>
                                <mat-select [formControl]="create_meeting_form.controls['start_time']" required>
                                    <mat-option *ngFor="let t of time" [value]="t">
                                      {{t}}
                                    </mat-option>
                                  </mat-select>
                                <mat-error *ngIf="create_meeting_form.controls['start_time'].hasError('required') && create_meeting_form.controls['start_time'].touched">
                                    Please Enter Start Time
                                  </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="30%" fxFlex.gt-xs="30%" fxFlex="100" class="btn-group">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-select [ngModel]="'AM'" [formControl]="create_meeting_form.controls['day_time']" >
                                    <mat-option [value]="'AM'">AM</mat-option>
                                    <mat-option [value]="'PM'">PM</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <span>Duration</span> <small class="note"> (*Both Hours and Minutes should not be zero)</small>
                    <div fxLayout="row wrap" class="sa_tabs_main_sec" fxLayoutAlign="center">
                        <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="btn-group" >
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>hr</mat-label>
                                <mat-select [formControl]="create_meeting_form.controls['duration_hr']" required>
                                    <mat-option *ngFor="let hr of hrs" [value]="hr">
                                      {{hr}}
                                    </mat-option>
                                  </mat-select>
                                <mat-error *ngIf="create_meeting_form.controls['duration_hr'].hasError('required') && create_meeting_form.controls['duration_hr'].touched">
                                    Please Select duration (hr)
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100" class="btn-group">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>mins</mat-label>
                                <mat-select [ngModel]="0" [formControl]="create_meeting_form.controls['duration_mins']" required>
                                    <mat-option *ngFor="let min of mins" [value]="min">
                                      {{min}}
                                    </mat-option>
                                  </mat-select>
                                <mat-error *ngIf="create_meeting_form.controls['duration_mins'].hasError('required') && create_meeting_form.controls['duration_mins'].touched">
                                    Please Select duration(mins)
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Select agenda template</mat-label>
                        <mat-select [ngModel]="0" [formControl]="create_meeting_form.controls['template']">
                            <mat-option *ngFor="let template of templates" [value]="template.id">
                              {{template.template_name}}
                            </mat-option>
                          </mat-select>
                        <mat-error *ngIf="create_meeting_form.controls['template'].hasError('required') && create_meeting_form.controls['template'].touched">
                            Please select agenda template
                          </mat-error>
                      </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-footer>
                <div fxLayout="row wrap" class="sa_tabs_main_sec" fxLayoutAlign="center">
                    <div fxFlex.gt-sm="28.33%" fxFlex.gt-xs="28%" fxFlex="100" class="btn-group" >
                        <button mat-button (click)="close(create_meeting, create_meeting_form)" class="mat-raised-button mat-gray">Cancel</button>
                    </div>
                    <div fxFlex.gt-sm="43.33%" fxFlex.gt-xs="43%" fxFlex="100" class="btn-group">
                      <button class="sa_tab_btn" mat-raised-button color="green" [disabled]="!create_meeting_form.valid" (click)="save_meeting(create_meeting_form.value)" >Create meeting</button>
                    </div>
                </div>
            </mat-card-footer>
        </mat-card>
</mat-drawer>
</mat-drawer-container>

<div *ngIf="agendaTab">

    <div *ngIf="!view_agenda_tab" fxFlex="calc(59% - 10px)" fxFlex.lg="calc(59% - 10px)" fxFlex.md="900" fxFlex.sm="900" fxFlex.xs="900" class="sa_flexbg last headding_meetings">
        <div class="create_meeting_header">
            {{agenda_heading}}
            <span class="float-right">
               <button class="sa_tab_btn" mat-raised-button color="green" (click)="back_page('agenda_add')" >Back</button>
           </span>
        </div>

        <mat-card  class="meeting_card">
                <mat-card-title class="header">
                    <div class="meeting_card_header">
                    </div>
                </mat-card-title>
                <mat-card-content *ngIf="agendaList.length > 0" class="meeting_card_content">
                    <div class="agenda">
                        <div *ngFor="let agenda of agendaList" >
                        <p>&nbsp;&nbsp; <strong>{{agenda.category}}</strong></p>
                                <ol cdkDropList (cdkDropListDropped)="drop($event, agenda)">
                                    <li 
                                        cdkDrag 
                                        cdkDragBoundary="ol" 
                                        *ngFor="let item of agenda.agenda_item"
                                        (click)="openAgendaDrawer(agenda_drawer, item, 'edit')">
                                        {{item.agenda_item}} &nbsp;&nbsp; <i class="ti-pencil m-r-10"></i> 
                                        <span 
                                            class="margintime" 
                                            *ngIf="item.staff_member != 'null' && item.duration != '0'">
                                            {{item.staff_member}} - {{item.duration}} Mins
                                        </span>
                                    </li>
                                    <section class="addMore"><span (click)="openAgendaDrawer(agenda_drawer, agenda, 'add')" ><i class="fas fa-plus"></i></span></section>
                                </ol>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-footer>
                    <div fxLayout="row wrap" class="sa_tabs_main_sec" fxLayoutAlign="center">
                        <div fxFlex.gt-sm="53.33%" fxFlex.gt-xs="53%" fxFlex="100" class="btn-group">
                          <button class="sa_tab_btn" mat-raised-button color="green" (click)="addAgendaHeading(agenda_drawer)" >Add New Heading</button>
                        </div>
                    </div>
                </mat-card-footer>
        </mat-card>
    </div>


    <div *ngIf="view_agenda_tab" fxFlex="calc(59% - 10px)" fxFlex.lg="calc(59% - 10px)" fxFlex.md="900" fxFlex.sm="900" fxFlex.xs="900" class="sa_flexbg last headding_meetings">
        <div class="create_meeting_header">
            {{agenda_heading}}
            <span class="float-right">
               <button class="sa_tab_btn" mat-raised-button color="green"(click)="back_page('agenda_view')" >Back</button>
           </span>
       </div>

        <mat-card  class="meeting_card">
                <mat-card-title class="header">
                    <div *ngIf="view_agenda.length <= 0">
                        No meeting Data
                    </div>
                </mat-card-title>
                <mat-card-content class="meeting_card_content">
                    <div class="agenda">
                        <div *ngFor="let agenda of view_agenda">
                        <p>&nbsp;&nbsp; <strong>{{agenda.category}}</strong></p>
                                <ol>
                                    <li *ngFor="let item of agenda.agenda_item">{{item.agenda_item}} &nbsp;&nbsp; <span class="margintime"*ngIf="item.staff_member != 'null' && item.duration != '0'">{{item.staff_member}} - {{item.duration}} Mins</span></li>
                                </ol>
                        </div>
                    </div>
                </mat-card-content>
        </mat-card>
    </div>

    <mat-drawer-container>
        <mat-drawer #agenda_drawer class="example-sidenav-create" mode="side" position="end">
            <mat-card class="meeting_card">
                <span class="close-icon float-right" (click)="close(agenda_drawer,create_agenda_form)"><i class="ti-close"></i></span>
            <hr>
                <mat-card-content class="meeting_card_content">
                    
                    <form [formGroup]="create_agenda_form">        
                        
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Category</mat-label>
                            <input type="text" matInput [(ngModel)]="agenda_category" [readonly]="hasDisable" [formControl]="create_agenda_form.controls['category']" required>
                            <mat-error *ngIf="create_agenda_form.controls['category'].hasError('required') && create_agenda_form.controls['category'].touched">
                                Please Enter category
                              </mat-error>
                          </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Agenda Item</mat-label>
                            <input type="text" matInput [(ngModel)]="agenda_item" [formControl]="create_agenda_form.controls['item']" required>
                            <mat-error *ngIf="create_agenda_form.controls['item'].hasError('required') && create_agenda_form.controls['item'].touched">
                                Please Enter agenda item
                              </mat-error>
                        </mat-form-field>
                        

                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Select Chart</mat-label>
                            <mat-select #select [(ngModel)]="chart_id" (ngModelChange)="openDateRangePicker()" [formControl]="create_agenda_form.controls['chart']">
                                <mat-option *ngFor="let chart of charts" [value]="chart.id">
                                  {{chart.chart_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="show_date_picker" class="example-full-width" appearance="outline">
                            <mat-label>Select start Date & End Date</mat-label>
                            <mat-date-range-input [rangePicker]="picker_range">
                                <input [(ngModel)]="chart_start_date" [formControl]="create_agenda_form.controls['start_date']" matStartDate>
                                <input [(ngModel)]="chart_end_date" [formControl]="create_agenda_form.controls['end_date']" matEndDate>
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker_range"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker_range></mat-date-range-picker>
                            <mat-error *ngIf="create_agenda_form.controls['start_date'].hasError('required') && create_agenda_form.controls['start_date'].touched || create_agenda_form.controls['end_date'].hasError('required') && create_agenda_form.controls['end_date'].touched">
                                Please Select start Date & End Date
                              </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Staff Member</mat-label>
                            <input type="text" [(ngModel)]="agenda_staff_member" matInput [formControl]="create_agenda_form.controls['person']">
                        </mat-form-field>


                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Duration (mins)</mat-label>
                            <input type="number" [(ngModel)]="agenda_duration" min="1" matInput [formControl]="create_agenda_form.controls['duration']">
                        </mat-form-field>

                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Add a description</mat-label>
                            <textarea matInput placeholder="..." [(ngModel)]="agenda_description" [formControl]="create_agenda_form.controls['description']" required></textarea>
                            <mat-error *ngIf="create_agenda_form.controls['description'].hasError('required') && create_agenda_form.controls['description'].touched">
                                Please Enter Description
                              </mat-error>
                          </mat-form-field>
                    </form>
                        <div fxLayout="row wrap" class="sa_tabs_main_sec" fxLayoutAlign="center">
                            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33%" fxFlex="100" class="btn-group" >
                                <button mat-button (click)="close(agenda_drawer, create_agenda_form)" class="mat-raised-button mat-gray">Cancel</button>
                            </div>
                            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33%" fxFlex="100" class="btn-group">
                              <button class="sa_tab_btn" mat-raised-button color="green" [disabled]="!create_agenda_form.valid" (click)="save_agenda(create_agenda_form.value)" >Save</button>
                            </div>
                        </div>
                </mat-card-content>
        </mat-card>
        </mat-drawer>
    </mat-drawer-container>

</div>


<div *ngIf="boardMeetingPage">
    <div fxFlex="calc(59% - 10px)" fxFlex.lg="calc(59% - 10px)" fxFlex.md="900" fxFlex.sm="900" fxFlex.xs="900" class="sa_flexbg last headding_meetings">
        <div class="create_meeting_header">
             {{agenda_heading}}
             <span class="float-right">
                <button class="sa_tab_btn" mat-raised-button color="green" (click)="back_page('board_meeting')" >Back</button>
            </span>
        </div>
    <mat-card  class="meeting_card">
        <!-- <mat-card-title class="header">
            <div class="meeting_card_header">
                {{agenda_heading}}
            </div>
        </mat-card-title>
        <hr> -->
        <mat-card-content class="meeting_card_content">
            <div class="agenda">
                <div *ngFor="let meeting of meeting_details">
                    <p>&nbsp;&nbsp; <strong>{{ meeting.category}}</strong></p>
                        <ol>
                            <li *ngFor="let item of meeting.agenda_item; let i = index">{{item.agenda_item}}<span *ngIf="item.staff_member != 'null' && item.duration != '0'" class="margintime">{{item.staff_member}} - {{item.duration}} Mins</span>
                            <section class="medescription" >{{item.description}}</section>
                            <graphs [item]="item"></graphs>
                            </li>
                        </ol>
                </div>
            </div>
            
        </mat-card-content>
    </mat-card>
<div *ngIf="notAttended" fxLayout="row wrap" class="sa_tabs_main_sec" fxLayoutAlign="center">
    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33%" fxFlex="100" class="btn-group">
      <button class="sa_tab_btn" mat-raised-button color="green" (click)="confirmMeetingAttend()">Confirm Meeting Review</button>
    </div>
</div>

<div *ngIf="isMeetingCreator" fxLayout="row wrap" class="sa_tabs_main_sec" fxLayoutAlign="center">
    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33%" fxFlex="100" class="btn-group">
      <button class="sa_tab_btn" mat-raised-button color="green" (click)="markCompleteMeeting()">mark complete</button>
    </div>
</div>
   <mat-card *ngIf="showAttendees && meeting_attendees.length > 0" class="meeting_card">
       <mat-card-title class="header">
            <div class="meeting_card_header">
                Attendees
            </div>
        </mat-card-title>
        <hr>
        <mat-card-content >
            <div>
                <mat-chip-list
                class="example-chip"
                cdkDropListOrientation="horizontal">
                <mat-chip
                    class="example-box"
                    *ngFor="let attendees of meeting_attendees" [selected]="attendees.attended == 1">
                    {{attendees.user_name}}
                </mat-chip>
                </mat-chip-list>
            </div>
        </mat-card-content>
    </mat-card>
    </div>
</div>