@use '@angular/material' as mat;
@include mat.core();
@include mat.legacy-core();

// regular style toast
@import 'ngx-toastr/toastr';

@import 'assets/layout/styles/theme/jeeve/theme.scss';

* {
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: 'Gilroy-Regular';
  margin: 0;
  overflow-x: hidden;
  color: #67757c;
  font-weight: 300;
  font-size: 14px;
  background: #2f3d4a;
}

html {
  position: relative;
  min-height: 100%;
  background: white;
}

[hidden] {
  visibility: hidden !important;
}

.ajax-loader {
  z-index: 9999;
  position: fixed;
  top: 0;
  /* display: none; */
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  text-align: center;
}

.ajax-loader {
  z-index: 9999;
  position: absolute;
  top: 0;
  display: none;
}

.ajax-loader img {
  border-radius: 180px;
  overflow: hidden;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  margin-top: -35px;
  margin-left: -35px;
}

.jeeve-app {
  @import 'assets/layout/styles/layout/layout.scss';
  .procedure-select-panel {
    min-width: unset !important;
    max-width: unset !important;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 256px;
    min-width: 100%;
    border-radius: 4px;
    outline: 0;
  }

  .mat-dialog-container .mat-icon[fontIcon='close'] {
    cursor: pointer;
  }

  table {
    width: 100%;
    .mat-header-cell {
      font-size: 14px !important;
      font-weight: 600 !important;
      color: black !important;
      padding: 0 8px !important;
    }
    .mat-cell {
      padding: 0 8px !important;
    }
    .mat-row {
      cursor: pointer !important;
      &:hover {
        background-color: #fafafa !important;
      }
    }
  }

  .custom-toggle-buttons .mat-button-toggle-label-content {
    line-height: 34px !important;
  }

  div.dialog-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  div.dialog-header .mat-icon {
    cursor: pointer;
  }

  .empty-placeholder {
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(./assets/images/bar-placeholder.png);
    background-size: auto 80%;
    width: 100%;
    height: 100%;
    min-height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chart-container {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 11px 54px #0062531a;
    padding: 0;
    flex: 1;
    .help-tip,
    .table-info-icon {
      position: absolute;
      right: 8px;
      top: 8px;
      font-size: 16px;
    }

    .table-info-icon {
      right: 30px !important;
      color: #686d6c;
      &.active {
        color: #00897b !important;
      }
    }

    .pa-table {
      width: 100%;
      height: 100%;
    }
    .pa-table table {
      width: 100%;
      height: 100%;
      thead tr th {
        text-align: left;
        font-size: 13px;
      }
      thead th {
        font-size: 14px;
      }
      tbody tr td {
        padding: 0;
        font-size: 13px;
      }
    }

    .chart-title {
      font-size: 17px;
      color: #686d6c;
      font-family: 'Gilroy-Bold';
      font-weight: 500;
      line-height: 23px;
      padding: 15px 30px;
      border-bottom: 2px solid #f3f3f3;
      display: flex;
      align-items: center;
      gap: 5px;
      .mat-mdc-select-value {
        color: #686d6c;
      }
    }

    .chart-content {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      .canvas-wrapper {
        width: 100%;
        height: 100%;
        padding: 15px;
      }

      .chart-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
        align-items: center;
        .chart-gauge {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          flex: 1;
        }

        .chart-foot {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          padding: 15px 0px 10px;
          border-radius: 10px;
          color: #5e5e5e;
          background: #f8f9fd;
          text-align: center;
          h3 {
            font-family: 'Gilroy-Bold';
            font-size: 16px;
            line-height: normal;
            margin-bottom: 0;
          }
          span {
            font-size: 12px;
          }
        }
      }

      .reading-block {
        color: #454649;
        font-size: 37px !important;
        font-family: 'Gilroy-Bold';
      }
      .reading-label {
        font-size: 18px !important;
      }
    }
  }

  .w-100 {
    width: 100% !important;
  }

  .reading-block .reading-affix {
    color: #444649;
    opacity: 1;
    font-size: 37px;
    font-family: 'Gilroy-Bold';
  }

  .custom-tooltip {
    position: absolute;
    top: 30px;
    right: -6px;
    width: 330px;
    padding: 8px 20px;
    box-shadow: 2px 15px 21px rgba(3, 83, 72, 0.19);
    border-radius: 6px;
    background-color: #1daa96;
    color: #fff;
    //opacity: 0;
    //visibility: hidden;
    animation: tooltipIn 0.5s ease-in-out;
    z-index: 999;
  }

  .custom-tooltip-right {
    position: absolute;
    bottom: -140px;
    right: -275px;
    height: max-content;
  }

  .custom-tooltip-top {
    position: absolute;
    top: -265px;
    left: -286px;
    height: max-content;
  }

  .custom-tooltip-top-right {
    position: absolute;
    top: -172px;
    left: -56px;
    height: max-content;
  }

  .custom-tooltip-top-right-discount {
    position: absolute;
    top: -90px;
    left: -30px;
    height: max-content;
  }

  @keyframes tooltipIn {
    from {
      visibility: hidden;
      opacity: 0;
    }

    to {
      visibility: visible;
      opacity: 1;
    }
  }

  //   .help-tip:hover .custom-tooltip {
  //     opacity: 1;
  //     visibility: visible;
  //   }

  .tooltip-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .custom-tooltip .tooltip-title {
    font-size: 17px;
    letter-spacing: normal !important;
    font-family: 'Gilroy-Medium';
  }

  .white-heart-icon {
    width: 26px;
    height: 25px !important;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
  }

  .custom-tooltip .tooltip-info-text {
    font-size: 13px;
    font-family: 'Gilroy-Regular';
    line-height: 1.3;
    margin-top: 8px;
    width: 90%;
  }

  .custom-tooltip::after {
    content: ' ';
    position: absolute;
    margin-top: -6px;
    margin-left: -5px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #1daa96 !important;
    right: 8px;
    top: 0px;
  }

  .custom-tooltip-right::after {
    content: none;
  }
  .custom-tooltip-top::after {
    content: none;
  }
  .custom-tooltip-top-right::after {
    content: none;
  }
  .custom-tooltip-top-right-discount::after {
    content: none;
  }
}

.jeeve-custom-select-panel {
  min-height: 150px;
  padding-bottom: 0 !important;
}
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import 'assets/styles/icons/themify-icons/themify-icons.css';
@import 'assets/styles/icons/font-awesome/css/font-awesome.css';

@import 'ngx-smart-modal/ngx-smart-modal';
@import '~@syncfusion/ej2-base/styles/material.css';
@import '~@syncfusion/ej2-buttons/styles/material.css';
@import '~@syncfusion/ej2-dropdowns/styles/material.css';
@import '~@syncfusion/ej2-inputs/styles/material.css';
@import '~@syncfusion/ej2-layouts/styles/material.css';
@import '~@syncfusion/ej2-navigations/styles/material.css';
@import '~@syncfusion/ej2-popups/styles/material.css';
@import '~@syncfusion/ej2-angular-kanban/styles/material.css';

@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import '../node_modules/@swimlane/ngx-datatable/index.css';
@import '../node_modules/@swimlane/ngx-datatable/themes/material.css';
@import '../node_modules/@swimlane/ngx-datatable/assets/icons.css';

.jeeve-legacy-app {
  @import 'legacy.scss';
  @import 'assets/styles/variable.scss';
  @import 'assets/styles/app';
  @import 'assets/styles/header';
  @import 'assets/styles/widgets';
  @import 'assets/styles/pages';
  @import 'assets/styles/sidebar';
  @import 'assets/styles/dark-sidebar';
  @import 'assets/styles/responsive';
  @import 'assets/styles/rtl';

  @include mat.all-legacy-component-themes($theme);

  .ngx-datepicker-calendar-container {
    z-index: 999;
  }

  .customRange {
    position: absolute;
  }
}

@include mat.all-component-themes($jeeve-theme);
