
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');


.mat-sidenav{color:#fff!important; font-size:13px!important; border:none!important;

    /* background: -moz-linear-gradient(308deg, rgba(14,52,89,1) 35%, rgba(24,166,137,1) 100%)!important; /* ff3.6+ */
    /* background: -webkit-gradient(linear, left top, right bottom, color-stop(35%, rgba(14,52,89,1)), color-stop(100%, rgba(24,166,137,1)))!important; /* safari4+,chrome */
    /* background: -webkit-linear-gradient(308deg, rgba(14,52,89,1) 35%, rgba(24,166,137,1) 100%)!important; /* safari5.1+,chrome10+ */
    /*  background: -o-linear-gradient(308deg, rgba(14,52,89,1) 35%, rgba(24,166,137,1) 100%)!important; /* opera 11.10+ */
    /*  background: -ms-linear-gradient(308deg, rgba(14,52,89,1) 35%, rgba(24,166,137,1) 100%)!important; /* ie10+ */
    /* background: linear-gradient(142deg, rgba(14,52,89,1) 35%, rgba(24,166,137,1) 100%)!important; /* w3c */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e3459', endColorstr='#18A689',GradientType=0 )!important; /* ie6-9 */
    background:rgba(14,52,89,1)!important;

}
#snav .app-sidebar > .mat-nav-list.mat-list-base{padding-bottom:70px;}

#snav .mat-nav-list .mat-list-item a{font-size:15px!important; color:#d1d2d2!important;}
#snav .mat-nav-list .mat-list-item.selected > .mat-list-item-content > a{border-radius:0!important; background:rgba(255,255,255,0.1)!important; color:#fff!important;}
#snav .selected .sub-item{background:rgba(255,255,255,0.1)!important;}
#snav .mat-nav-list .mat-list-item .mat-list-item-content > a{font-weight:400!important;}
#snav .mat-nav-list .mat-list-item .mat-list-item-content:hover > a{color:#fff!important;}
#snav .mat-nav-list .sub-item a{padding:10px 10px 10px 37px !important; height:auto!important; font-weight:400!important; line-height:23px!important; white-space:normal!important; }
#snav .mat-nav-list .sub-item{margin-top:-10px!important}
.app-sidebar .mat-icon{font-size:19px!important;}
.app-sidebar i{font-size:16px!important; padding-right:10px;}
.app-sidebar .material-icons{height:18px!important; width:19px!important;}
.label-red{background:#18a689!important;} 
#snav .saperator{padding:0 10px!important;}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled){color:#18a689!important; background:#fff!important;}

.sa_tabs_design{float:left; padding:0;}
.sa_tabs_design .sa_filter_span{float:left; min-width:47px; font-weight:500; color:#424242; padding:6px 10px 5px; border-radius:4px; margin:18px 8px 16px 0; font-size:13px; cursor:pointer;}
.sa_tabs_design .md-drppicker .calendar td, .md-drppicker .calendar th{width:30px !important; height:30px !important; min-width:10px!important; border:none;}
.sa_tabs_design td span{width:20px !important; padding:0px!important; margin:0px!important;}
.sa_tabs_design span.active{ /*background:#18A689;*/ background: linear-gradient(308deg, rgba(14,52,89,0.8) 10%, rgba(24,166,137,0.7) 80%);  color:#fff; }

.sa_tab_btn{ border-radius:4px;  text-align:center!important; background:#f2f2f2; padding:2px 12px 2px; font-size:15px; font-weight:400; cursor:pointer; display:inline-block; width:100%;}
.sa_tab_btn.active{color:#fff;
    /* background: #18a689; */  background: linear-gradient(308deg, rgba(14,52,89,0.8) 10%, rgba(24,166,137,0.7) 80%);
}
.mat-select-value{font-size:14px!important;}
/*linear-gradient(142deg, rgb(24, 166, 137) 10%, rgb(14, 52, 89) 100%) !important */

.sa_box_title_right_buttons{float:right; margin-top:-10px;}
.sa_box_title_right_buttons button{margin-left:1px;}
.sa_tabs_main_sec{background:#f2f2f2; border-radius:4px; margin-bottom:15px;}
.sa_dentist_graphs_area{padding:0; }
.sa_dentist_graphs_area .mat-card-title{margin-bottom:10px!important; }
.sa_no_tabs_area .mat-card-title{margin-bottom:50px!important; }
.sa_dentist_graphs_area .reading-label{font-size:18px!important }
.sa_dentist_graphs_area .reading-block{color:#18a689; font-size:35px!important}
.sa_dentist_graphs_area .mat-card{box-shadow:none!important }
.sa_dentist_graphs_area > div:nth-child(odd){border-radius:4px 0 0 4px;}
.sa_dentist_graphs_area > div:nth-child(even){border-radius:0 4px 4px 0;}
.sa_dentist_graphs_area .sa_flexbg{transition: transform .2s; transform: scale(1); margin-right:1%; background:#fff; margin-bottom:15px; width:50%; border-radius:4px; box-shadow:0 1px 15px 9px rgba(62,57,107,.07) !important;}
.sa_dentist_graphs_area .sa_flexbg:hover{}
.sa_flex_transparent{padding:1px 10px 13px; display:none;}

.sa_dentist_graphs_area .sa_flexbg.last{margin-right:0!important;}

.sa-pull-right{float:right;}
.sa-pull-left{float:left;}
.sa_smtable_btn{height: 34px!important;
    padding: 0 10px!important;
    font-size: 12px!important;}

.ng-hide{display:none;}
.file-upload-filename{padding:0 6px 0 15px;}
.mat-flat-button.mat-dc, .mat-raised-button.mat-dc, .mat-fab.mat-dc, .mat-mini-fab.mat-dc{background:#18a689 !important; color:#fff;}
.action_btn{width:27px!important; border:none; cursor:pointer; height:27px!important;color:#fff!important; border-radius:4px!important; text-align:center!important; float:left; line-height:30px!important; padding:0!important; margin:0 4px 4px!important; display:inline-block!important;}
.action_btn i{margin:0 0 0 -2px !important; color:#fff!important;}
.action_btn:hover{opacity:0.7;}
.danger{background:#fc4b6c!important;}
.golden{background:#18A689!important;} 

.sa_mattabs_design .mat-tab-header{margin-bottom:20px; margin-top:20px;}
.sa_mattabs_design .mat-tab-body{padding:20px; border:1px solid #f2f2f2; border-radius:4px;}
.mat-dialog-container{min-width:400px!important;}


.sa_datepicker{width:210px; display:inline-block; margin-left:15px;}
.sa_datepicker input{padding:2px 10px; border:1px solid #ccc;}
.sa_datepicker .md-drppicker{min-width:530px!important; margin-top:0px!important}
.md-drppicker{margin:0!important;}
.sa_matforms_design .mat-form-field{padding:7px 20px;}

.header_select{font-size:15px; margin:0; }
.sa_select_color{color:#424242!important;}
.text-inspinia{color:#18a689;}
.sa_chart_desc_area h3{font-size:16px;}
.sa_desc_col{text-align:center; overflow:hidden; }
.sa_chart_desc_area .sa_desc_col:nth-child(even){background:#f2f2f2;}

.mat-tooltip {
    /* your own custom styles here */ 
    /* e.g. */
    color: #fff!important; font-size:14px!important;
    background:rgba(14,52,89,0.9)!important;
}
.ngx-datepicker-calendar-container {
    z-index: 999;
}

.sa_select.forwhite{border: 1px solid #ccc;}
.sa_select{background: #fff;
box-shadow: none; font-size:14px; border: 1px solid transparent;
padding: 6px 10px; width:100%; height:33px;
border-radius: 4px;
-webkit-appearance: none; padding-right:20px;}
.sa_select option{-webkit-appearance: none;  background:#fff; }
.sa_select_outer{position: relative; float:left; width:100%; }
.sa_select_outer:after{content:''; position: absolute; right:4px;  width: 0;
height: 0; top:46%;
border-left: 5px solid transparent;
border-right: 5px solid transparent; 
border-top: 5px solid; 
margin: 0 4px; color:rgba(0, 0, 0, 0.54)} 

.sa_heading_bar{width:100%; color:#424242; padding:7px 14px 3px;}
.sa_heading_bar h4{margin:0; padding:8px 4px 6px 0px;}
.sepr_icon{color:rgba(255,255,255,0.4); padding:0 9px 0 6px}
.page_title{font-size:16px;} 
.sa_forwhite_label{color:#424242; float:left; padding:4px 0;}

.sa_dashboard_inner_content{padding:0 10px;}
.vertical_center_header_content{padding:4px 0; float:right; width:100%; text-align:right;}
.mr15{margin-right:15px;}

#snav{box-shadow:0 1px 15px 9px rgba(62,57,107,.07)!important}
.sa_card.gridshadow{box-shadow:0 1px 15px 9px rgba(62,57,107,.07)!important; padding:0 9px!important; }
.sa_card{position:relative; background:#fff; border-radius:4px; padding:8px 9px 1px;  margin-bottom:10px; width:100%; box-shadow:0 1px 15px 9px rgba(62,57,107,.07)}
.sa_toogle_group .mat-button-toggle-appearance-standard .mat-button-toggle-label-content{line-height: 27px !important;
font-size: 13px;
font-weight: 400;
color: #424242;}

.sa_toogle_group{margin:1px 0 0 0; float:right;}
.sa_toogle_group .mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard{border-color:#18A689!important;}
.mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle{border-color:#18A689!important; color:#fff!important;}
.sa_toogle_group .mat-button-toggle-checked{background: linear-gradient(308deg, rgba(14,52,89,0.8) 10%, rgba(24,166,137,0.7) 80%)!important; color:#fff!important; border-color:#18A689!important;}
.sa_toogle_group .mat-button-toggle-checked span{color:#fff!important; }

.sa_toogle_group2 .mat-button-toggle-appearance-standard .mat-button-toggle-label-content{line-height: 27px !important;
font-size: 13px;
font-weight: 400;
color: #424242;}
.sa_toogle_group2{margin:1px 0 0 0; float:right;}
.sa_toogle_group2 .mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard{border-color:#0e3459!important;}
.mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle{border-color:#0e3459!important; color:#fff!important;}
.sa_toogle_group2 .mat-button-toggle-checked{background: #0e3459; color:#fff!important; border-color:#0e3459!important;}
.sa_toogle_group2 .mat-button-toggle-checked span{color:#fff!important; }



.sa_matcard_content{ padding:0px!important;}
.sa_matcard_content .mat-card-title a{float:right; padding-left:20px; }
.sa_matcard_content .mat-card-title a i{color:#717272;}
.sa_matcard_content .mat-card-title{text-align: left!important;;
font-size: 14px!important; padding:0px 0 14px!important;
color: #424242!important;
font-weight: 400!important; border-bottom:1px solid #ccc!important;}
.page-content{ padding:4px!important;}
.mat-drawer-content{background:rgba(24,166,137,0.1); overflow-x: hidden!important; }
.sa_sidebar_usersec{padding:8px 0; position:relative;}
.suer_image_sidebar{width:100%; float:left; text-align:center;}
.suer_image_sidebar img{max-width:100%; width:100px; height:100px; border-radius:250px; display:inline-block;  margin:0 auto 0px;}
.suer_text_sidebar{text-align: center; font-size:14px; padding:4px 0; margin-bottom:8px;}

.sa_logo{float:left; max-width:120px; margin:8px 0 0 4px;}
.sa_logo a{padding:6px 0;}
.sa_logo img{max-width:100%;}
.sa_datepicker{position:relative; width: 190px;
display: inline-block;
margin-left: 15px;
box-shadow: none;
border: 1px solid #ccc;
padding: 3px 8px; height:29px;
border-radius: 4px;}

.custom_date input{padding-right:23px;}
.custom_date:after{content: "\f073"; font-family: 'Font Awesome 5 Free';
    font-weight: 400;  position: absolute; right:8px;  top:5px;
 color:#18A689; pointer-events: none;}
.sa_mat_menu_icon{background:rgba(255,255,255,0.6)!important; margin-right:8px!important;}
 .md-drppicker .calendar{max-width:900px!important;}
.md-drppicker td.available:hover, .md-drppicker th.available:hover{background-color:#DDEBE9!important;}
 .custom_date{display:inline-block; position:relative; margin:18px 0 9px; }
 .customRange{right:0; width:522px!important; top:41px; margin-top:-8px; margin-right:-25px;
 /* background: -moz-linear-gradient(308deg, rgba(14,52,89,0.8) 60%, rgba(24,166,137,0.8) 100%)!important; /* ff3.6+ */
     /*  background: -webkit-gradient(linear, left top, right bottom, color-stop(40%, rgba(14,52,89,0.8)), color-stop(100%, rgba(24,166,137,0.8)))!important; /* safari4+,chrome */
     /* background: -webkit-linear-gradient(308deg, rgba(14,52,89,0.8) 60%, rgba(24,166,137,0.8) 100%)!important; /* safari5.1+,chrome10+ */
     /* background: -o-linear-gradient(308deg, rgba(14,52,89,0.8) 60%, rgba(24,166,137,0.8) 100%)!important; /* opera 11.10+ */
     /* background: -ms-linear-gradient(308deg, rgba(14,52,89,0.8) 60%, rgba(24,166,137,0.8) 100%)!important; /* ie10+ */
     /* background: linear-gradient(142deg, rgba(14,52,89,0.8) 60%, rgba(24,166,137,0.8) 100%)!important; /* w3c */
     /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e3459', endColorstr='#18A689',GradientType=0 )!important; /* ie6-9 */

    border-radius:4px;
 }
 .customRange .btn{background:#000!important;}

 .sa_sidebar_logo{background:#fff; padding:6px 20px 4px 0; text-align: center; margin-bottom:10px;}
 .sa_sidebar_logo img{max-width: 100%;
     padding: 6px 10px;
     max-height: 52px;
     }
 .sa_sidebar_logo_main{}
.mat-list-base{padding-top:0px!important;}
html .page-wrapper{height:100vh!important}
.md-drppicker td.in-range{background:#DDEBE9!important;}
.md-drppicker td.active, .md-drppicker td.active:hover{background: linear-gradient(308deg, rgba(14,52,89,0.8) 10%, rgba(24,166,137,0.9) 80%)!important;}
.md-drppicker td.in-range.active, .md-drppicker td.active:hover{background: linear-gradient(308deg, rgba(14,52,89,0.8) 10%, rgba(24,166,137,0.9) 80%)!important;}
.md-drppicker td.active, .md-drppicker td.active:hover span{color:#fff!important;}
.sa_tabs_design .md-drppicker td.active  span{color:#fff!important;}

.md-drppicker .btn{background: linear-gradient(308deg, rgba(14,52,89,0.8) 10%, rgba(24,166,137,0.7) 80%)!important; color:#fff!important; padding:0px 15px!important; box-shadow:none!important;}

.sa_header_icons{position: relative;
    margin-right: 10px; min-width:96px; float:left; margin-bottom:2px; }

.mat-drawer-container{background:#DDEBE9!important; }

.sa_expand_area{float:left; }
.sa_expand_area .mat-icon{margin-left:8px;}
.sa_expand_area.active{}
.sa_expand_area .sa_ico2{display:none;}
.sa_expand_area .sa_ico1{display:block;}
.sa_expand_area.active .sa_ico1{display:none;}
.sa_expand_area.active .sa_ico2{display:block;}
.sa_expand_area .mat-icon{font-size:16px;}

.sa_backslide_area{float:left;}
.sa_backslide_area .mat-icon{margin-left:11px; font-size:16px;}
.sa_backslide_area .sa_ico2{display:none;}
.sa_backslide_area .sa_ico1{display:block;}
.sa_backslide_area.active .sa_ico1{display:none;}
.sa_backslide_area.active .sa_ico2{display:block;}

.sa_mat_select_topbar{
    margin-top: 1px;
    border-radius: 4px;
    background: rgba(255,255,255,0.6); height:33px;
    padding: 0 10px; }
/* .sa_mat_select_topbar{border:1px solid #b3ceca;}*/
.sa_mat_select_topbar .mat-form-field-wrapper{padding:0px!important; border:none!important;}

.sa_mat_select_topbar .mat-form-field-underline{display:none!important;}
.sa_mat_select_topbar .mat-select-arrow{border-top:5px solid #18A689!important;}
.sa_mat_select_topbar .mat-form-field-infix{border:none!important;}

.sa_logout_icon{position: fixed; bottom:0; width:240px; text-align:right; background:#0f3c66;}

.sa_main_grid_dashboard{ border:8px solid #fff; overflow:hidden; position:relative;  background:linear-gradient(142deg, rgba(14,52,89,1) 100%, rgba(24,166,137,0.8) 100%);  margin-right:1%;float:left; color:#fff; width:100%; margin-bottom:15px; padding:30px 20px 60px; border-radius:12px;}
.sa_main_grid_dashboard .trend_ico{margin-top:4px;}
.sa_main_grid_dashboard.last{margin-right:0;}
.sa_main_grid_dashboard h3{padding-bottom:8px;}
.sa_main_grid_dashboard h3 span{padding-top:2px;}
.spark-count{position:absolute; right:12px; top:12px; width:40px; height:40px; text-align:center; padding-left:2px; line-height:39px; font-size:16px; border-radius:150px; background:rgba(255,255,255,0.1); color:#10deb4; }
.sa_main_grid_dashboard .graph_abso{pointer-events:none; padding:8px; left:0px; background:url("https://analytics.jeeve.com.au/assets/images/graph_vector.png") no-repeat; background-size:contain;  background-position:right; position:absolute; bottom:10px; height:124px; width:994px; }
.trending_mode_area{float:right; margin-bottom:4px;}


.sa_chart_summary_flip_main{position:relative;  perspective: 1000;  z-index: 1;}
.sa_pie_chart_txtdata{box-shadow: 0 1px 20px 2px rgba(14,52,89,0.2);
margin-top: 10px;
float: left;
border-radius: 4px;
padding: 10px 15px;}
.sa_pie_chart_txtdata span{float:left; width:100%; padding:2px 0; text-align:right; font-size:14px;}
.sa_pie_chart_txtdata span b{float:left; text-align:left; color:#0E3459;font-weight: 300; }
.sa_pie_chart_txtdata h6{border-radius:4px; text-align:center; padding:10px; background:linear-gradient(308deg, rgba(14,52,89,0.8) 10%, rgba(24,166,137,0.7) 80%); color:#ffffff;  margin:0 0 11px 0;}

/* .sa_chart_summary_flip{

    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}
.active .sa_chart_summary_flip{
    transform: rotateY(180deg);
}
.sa_flip{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

}

.sa_flip.sa_summary_flip{
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: #424242; background:#fff; font-size:12px;
}
 */

.sa_summary_flip{}
.sa_chart_flip{display:block;}
.sa_summary_flip{display:none; padding-bottom:11px; float:left; width:100%; margin-top:-6px;}

.sa_flexbg.active .sa_chart_flip{display:none;}
.sa_flexbg.active .sa_summary_flip{display:block;}

.sa_flexbg .list_ico{display: block;}
.sa_flexbg .chart_ico{display: none;}

.sa_flexbg.active .chart_ico{display: block;}
.sa_flexbg.active .list_ico{display: none;}

.frl{float:left; font-size:14px;}
.frv{float:right; font-size:14px;  font-weight:400;}
.sa_list_show{padding:1px 0; float:left; width:100%;}

.sa_clr_box{width: 13px;
    height: 13px;
    border-radius: 4px;
    background: #ccc;
    margin-right: 8px;
    float: left;
    margin-top: 6px;}




/* .sa_clr0m{background:#1f7294;}
.sa_clr1m{background:#148f76;}
.sa_clr2m{background:#18a68a;}
.sa_clr3m{background:#19b394;}
.sa_clr4m{background:#1cc4a3;}
.sa_clr5m{background:#1fd6b1;}
.sa_clr6m{background:#29e0bc;}
.sa_clr7m{background:#3be3c1;}
.sa_clr8m{background:#4ce6c7;}
.sa_clr9m{background:#5ee8cd;}
.sa_clr10m{background:#70ebd2;}
.sa_clr11m{background:#82edd8;}
.sa_clr12m{background:#94f0dd;}
.sa_clr13m{background:#a6f2e3;}
.sa_clr14m{background:#199b8c;}
.sa_clr15m{background:#1b918e;}
.sa_clr16m{background:#1c8790;}
.sa_clr17m{background:#1e7d92;}
.sa_clr18m{background:#1f7294;}
.sa_clr19m{background:#16528d;} */


.sa_clr0m{background:#0E3459;}
.sa_clr1m{background:#13477c;}
.sa_clr2m{background:#16528d;}
.sa_clr3m{background:#195c9f;}
.sa_clr4m{background:#1c66b0;}

.sa_clr5m{background:#4ce6c7;}
.sa_clr6m{background:#29e0bc;}
.sa_clr7m{background:#1fd6b1;}
.sa_clr8m{background:#1cc4a3;}
.sa_clr9m{background:#19b394;}
.sa_clr10m{background:#18a68a;}


.sa_cart_title{display:block;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    font-size: 26px;
    color: #18A689;}

.sa_matcard_content .ngx-gauge-meter{margin-left:-125px!important;}

.sa_chart_details_sec{margin: 50px 0 30px 0 !important;
    padding: 15px 0px 10px;
    border-radius: 4px; color:#0E3459; background:#f9f9f9;}

.dc_input{}

.mat-form-field.mat-focused .mat-form-field-label{color:#18A689!important;}
.mat-form-field.mat-focused .mat-form-field-ripple{background-color:#18A689!important;}


.sa_inc_dec_arrows i{margin-right: 9px;
    font-size: 20px;
    padding-top: 2px;
    float: left;}
.sa_inc_dec_arrows i.fa-arrow-alt-circle-down{color:#FC4B6C;}
.sa_inc_dec_arrows i.fa-arrow-alt-circle-up{color:#18A689;}


.down{color:#FC4B6C;}
.up{color:#18A689;}

.sa_trend_toggle{font-size:14px!important;}
.sa_seprate_toogle_options{ margin-left:16px; border-left:1px solid #ccc; padding-left:13px; padding-right:15px;}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb{background-color:#18A689!important}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar{background-color:rgba(24,166,137,0.54)!important}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{background-color:#18A689!important}

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple{background-color:#18A689!important}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{border-color:#0E3459;}

.login-register .mat-card{box-shadow:0 1px 145px 10px rgba(14,52,89,1) !important}
.login_abso_logo{position:fixed; bottom:40px; right:60px; width:120px; opaciity:0.6; pointer-events:none; z-index:99}
.pad_20{padding:20px!important;}
.mat-card-title{font-size:20px!important; color:#0e3459!important;}

.login-register{position:relative; z-index:1; transition:opacity 400ms ease 0ms;}
.sa_login_blur{ }
.mat-radio-button.mat-radio-disabled .mat-radio-ripple .mat-ripple-element, .mat-radio-button.mat-radio-disabled .mat-radio-inner-circle{background-color:rgba(0, 0, 0, 0.38) !important;}
.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover, .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group{background-color:#DDEBE9!important;}
.header_first_select{margin-right:2%; float:right;}

.trend_mode_toogle{float:left; padding-top:2px;}
.sa_mobile_header{min-height:60px; padding:3px 0 13px 0; background:#ffff; display:none;}
.sa_mobile_logo_area{text-align:center;}
.mat-drawer.mat-drawer-side{z-index:1!important;}


.mat-drawer-backdrop.mat-drawer-shown{background-color:rgba(14,52,89,0.2)!important}
.onofftoogle2{margin:3px 0 8px; float: right;}
.onofftoogle{margin:3px 0 8px; float: right;}
.trend_ico{width: 23px;
    float: left;
    margin-right: 7px;
    margin-top: 2px;}


.flex_direct_mar{flex-direction: row-reverse !important}
/*.flex_direct_mar .header_first_select{margin-right:0;}
.flex_direct_mar .dentist_dropdown{display:none;}
*/


.ngx-charts-fix svg{height:auto!important;}
/* Responsive Css Start */
.sa_dentist_graphs_area .total_val .reading-block {
    color: #106E9D;
}
.blankChart {
    max-width: 100%;
}
.sa_combine_title h5 {
    font-weight: normal;
}

.org_xero {
    margin: 5px 10px;
    text-transform: capitalize;
}
.mat-red {
  background: red;
  color: #fff;
  box-shadow: none; }
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 599px) {
    .header_first_select{margin-right:0;}




}
@media only screen and (max-width: 959px) {
    .trending_mode_area{float:left; padding:1px 10px 9px; }
    .custom_date .customRange{
        left: 0;
        top: 0; overflow:auto;
        position: fixed!important;
        z-index: 1;
        background: rgba(14,52,89,0.2) !important;
        width: 100% !important;
        height: 101%;
        padding: 40px;
    }
    .custom_date .customRange .md-drppicker{ margin: 0 auto!important; position:relative!important; top:20%;}
    .custom_date .customRange .md-drppicker.inline{display:table;}
    .onofftoogle{float: left;}

}
@media only screen and (max-width: 414px) {

    .trend_mode_toogle{width:100%; }
    .sa_seprate_toogle_options{float:left; padding:12px 0 8px; margin-left:0; border:none;}

}
@media only screen and (max-width: 767px) {
    .sa_mobile_header {
        display: block;
    }
    .sa_mobile_heading{background:#0e3459; margin-top:-34px; border-radius:4px; padding:10px; margin-bottom:4px; color:#fff;}
    .sa_mobile_heading .sa_sidebar_logo{padding-top:0px;}
    .sa_mobile_heading .sa_header_icons{display:none;}
    .sa_mobile_heading h4{padding:4px 10px;}
    .sa_mobile_heading .sa_header_icons{position:absolute;}
    .sa_header_icons{width:auto; min-width:10px; position:absolute; margin:10px 0 0 4px!important}
    .sa_mobile_menu_ico{font-size:31px!important; color:#18A689!important;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1440px) {

    .sa_tabs_design .sa_filter_span{margin-bottom:0;}
.custom_date input{margin-left:0px;}
    .customRange{left:0; right:auto;}

}
@media only screen and (max-width: 1580px) {

}

@media only screen and (max-width: 599px) {
    .sm_mrn{margin-right:0!important;}
    .sa_mat_select_topbar{padding:0 14px 0 14px;}
    .sa_mat_select_topbar .mat-select-arrow-wrapper{position:relative; right:-8px;}

    .custom_date .customRange{
        padding: 20px;
    }
    .custom_date .customRange .md-drppicker{ margin: 0 auto!important; position:relative!important; top:10px;}
    .custom_date .customRange .md-drppicker.inline{display:table; width:100%;}




}
@media only screen and (max-width: 959px) {
    .md_mrn{margin-right:0!important;}


}
@media only screen and (max-width: 1279px) {
    .lg_mrn{margin-right:0!important;}


}


@media only screen and (orientation: landscape) {

}


.sa_dentist_graphs_area .sa_flexbg{}
.trend_mode_title{display:block; font-size:14px; margin-bottom:2px;}



@media screen and (max-width: 1439px) and (min-width: 1280px) {
    .sa_tab_btn{font-size:12px;}
}


@media screen and (max-width: 1440px) and (min-width: 1280px) {
    .sa_dentist_graphs_area .sa_flexbg.custom_ngx_cw01{max-width:100%!important; flex:1 1 100%!important; margin-right:0!important;}
    .sa_dentist_graphs_area .sa_flexbg.custom_ngx_cw02{max-width:49%!important; flex:1 1 49%!important;  margin-right:1%!important;}
    .sa_dentist_graphs_area .sa_flexbg.custom_ngx_cw03{max-width:50%!important; flex:1 1 50%!important; margin-right:0!important;}
    .sa_dentist_graphs_area .sa_flexbg.custom_ngx_cw04{max-width:49%!important; flex:1 1 49%!important; margin-right:1%!important;}
    .sa_dentist_graphs_area .sa_flexbg.custom_ngx_cw05{max-width:50%!important; flex:1 1 50%!important; margin-right:0!important;}
    .sa_dentist_graphs_area .sa_flexbg.custom_ngx_cw06{max-width:49%!important; flex:1 1 49%!important; margin-right:1%!important;}
    .sa_dentist_graphs_area .sa_flexbg.custom_ngx_cw07{max-width:50%!important; flex:1 1 50%!important; margin-right:0!important;}


}


.sa_combine_title{margin-bottom:20px;}
.sa_combine_title .trend_ico{float:none;}
.sa_nodata_div{padding:20px; text-align:center; position:relative; float:left; width:100%; margin-top:20px;}
.sa_back_btn_holder{float:left; width:100%; margin-bottom:10px; }
.sa_back_btn_holder span{

    float: left; background:#18A689; 
    min-width: 47px;
    font-weight: 500;
    color: #fff;
    padding: 2px 9px 2px;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;

}
.connect-xero{
    background-image: url('https://staging-analytics.jeeve.com.au/assets/images/connect-blue.svg') !important;

background-repeat: no-repeat !important;

background-size: 100% 100% !important;
width: 190px;

height: 43px;
}


.disconnect-xero{
    background-image: url('https://staging-analytics.jeeve.com.au/assets/images/disconnect-blue.svg') !important;

background-repeat: no-repeat !important;

background-size: 100% 100% !important;
width: 222px;

height: 43px;
}












