
<!-- <link rel="stylesheet" href="../../assets/styles/home/style.css">
<link rel="stylesheet" href="../../assets/styles/home/responsive.css"> -->
<header id="header" class="sa-ste">
  <div class="container-fluid sa-cf">
  <nav class="navbar navbar-expand-lg navbar-light navbar-main">

    <a class="navbar-brand logo" href="/home"><img class="d-none d-md-block logo-color" src="../../assets/images/home/logo.png" alt="logo"> <img class="d-block d-md-none logo-white" src="../../assets/images/home/logo-white.png" alt="logo white"> </a>
      <button class="navbar-toggler navbar-toggler-mob" type="button" (click)="openNav()"><div class="openMenu"> <span class="navbar-toggler-line line-first"></span> <span class="navbar-toggler-line line-second"></span> <span class="navbar-toggler-line line-third"></span></div>

       </button>

<div id="myNav" class="overlay menu">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <div class="overlay-content">
    <ul class="navbar-nav navbar-nav-main ml-auto">
       <li class="nav-item"> <a class="nav-link" href="/subscription">Subscription</a> </li>
          <li class="nav-item active"> <a class="nav-link" href="/xero">Xero Integration</a> </li>
          <li class="nav-item"> <a class="nav-link btn btn-login"  href="/login">Login</a> </li>
        </ul>
  </div>
</div>
</nav>
  </div>
</header>
<section class="position-relative hero-section">
  <div class="container d-flex h-100 position-relative">
    <div class="banner-section">
      <div class="banner-white-img">
        <div class="banner-white-img-inner"></div>
      </div>
    </div>
    <div class="row align-self-center"> 
      <!-- banner Content -->
      <div class="col-md-6 mt-md-0">
        <div class="left-hero-section pedding-left-container">
          <h2 class="heading-hero-section">Business-Driven Analytic Tool</h2>
          <p class="description-hero-section">It’s a business-driven analytic tool that provides very detailed breakdowns of statistics of our own designed KPIs and predictor algorithms.</p>
          <a class="btn btn-watch-demo" href="#"><i class="far fa-play-circle"></i> <span class="align-middle">Watch a Demo</span></a> </div>
      </div>
    </div>
  </div>
  <div class="mob-curve d-block d-md-none"> <svg version="1.1" id="fb8df35c-97a2-484c-ac16-3c830d03619c"
   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%"
   viewBox="0 122 495.65 112.72" enable-background="new 0 122 767 112.72" xml:space="preserve">
    <path opacity="1" fill="#ffffff" enable-background="new    " d="M596.65,167.145v67.575h-705.9v-14.69
  c20.181-2.017,95.663-9.774,131.852-31.2c43.295-25.652,102.143-32.398,147.673-33.104c31.205-0.491,62.267,2.689,91.917,9.041
  c33.354,7.142,97.657,15.758,146.506-9.255c54.035-27.657,137.038-4.865,158.086,3.515
  C574.305,161.985,596.65,167.145,596.65,167.145z"/>
    </svg> </div>
</section>
<section class="section-two section-padding pb-0">
  <div class="container">
    <div class="shape-shadow">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-5">
          <div class="des-section mb-lg-0 mb-4">
            <h2 class="title">Practice management systems.</h2>
            <p class="des">Jeeve Solutions formed in 2018 and is committed to developing niche software solutions for the dental industry to complement existing practice management systems.  With over 10 years of both software and dental business experience in its management team, Jeeve Solutions is well positioned to provide unique offerings to our increasingly challenging dental industry. </p>
          </div>
        </div>
        <div class="col-lg-7 section-two-right-img">
          <div class="image-section"> <img src="../../assets/images/home/ipad.png" alt="image"> </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="team-performance-section section-padding position-relative">
  <div class="container">
    <div class="shape-shadow shape-shadow-right">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-7">
          <div class="row">
            <div class="col-md-6"> 
              <!-- service item -->
              <div class="sa-ste performance-section mb-5 text-center transition-3d-hover">
                <div class="icon"><i class="fas fa-users"></i></div>
                <h5>Team Performance</h5>
                <p class="mb-0">Unlike anything ever seen in the Dental industry. A system for training your team, tracking performance, & always knowing exactly what to improve.</p>
              </div>
              <!-- service item -->
              <div class="sa-ste performance-section mb-5 text-center transition-3d-hover">
                <div class="icon"><i class="fas fa-user-injured"></i></div>
                <h5>Improve Patient Care</h5>
                <p class="mb-0">built-in, automated solutions for keeping patients from falling through the cracks and helping them get the treatment they need. </p>
              </div>
            </div>
            <div class="col-md-6 performance-section-right"> 
              <!-- service item -->
              <div class="sa-ste performance-section mb-5 text-center transition-3d-hover">
                <div class="icon"><i class="fas fa-chart-line"></i></div>
                <h5>Growing your practice</h5>
                <p class="mb-0">t’s a business-driven analytic tool that provides very detailed breakdowns of statistics of our own designed KPIs and predictor algorithms.</p>
              </div>
              <!-- service item -->
              <div class=" sa-ste performance-section mb-5 text-center transition-3d-hover">
                <div class="icon"><i class="fas fa-clipboard-list"></i></div>
                <h5>Practice Profitability</h5>
                <p class="mb-0">A proven system that fills your schedule, keeps your patients coming back, finds hidden revenue, increases production and collections, and more.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="des-section">
            <h2 class="title">Cloud based and real time Accessible on your computer, tablet or phone</h2>
            <p class="des">We aim to fill the space between day to day PMS and your annual visit to your accountant – providing tools to owners to improve their practice on an everyday basis. We provide guidance on how they are tracking to industry standards (consultants can adjust these for their clients if desired), allow accountants to update expenses using their cloud-based software and provide easy to understand analysis to show them where </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="testimonial section-padding pt-0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="testimonial-left">
          <ul class="list-unstyled list-testimonial-img">
            <li class="testimonial-img ti1 sa-ste active tst1" data-target=".tst1" data-targets=".nv1" ><a href="JavaScript:void(0);"><img src="../../assets/images/home/testimonial/5.jpg"></a></li>
            <li class="testimonial-img ti2 sa-ste tst2" data-target=".tst2" data-targets=".nv2"><a href="JavaScript:void(0);"><img src="../../assets/images/home/testimonial/2.jpg"></a></li>
            <li class="testimonial-img ti3 sa-ste tst3" data-target=".tst3" data-targets=".nv3"><a href="JavaScript:void(0);"><img src="../../assets/images/home/testimonial/3.jpg"></a></li>
            <li class="testimonial-img ti4 sa-ste tst4" data-target=".tst4" data-targets=".nv4"><a href="JavaScript:void(0);"><img src="../../assets/images/home/testimonial/4.jpg"></a></li>
            <li class="testimonial-img ti5 sa-ste tst5" data-target=".tst5" data-targets=".nv5"><a href="JavaScript:void(0);"><img src="../../assets/images/home/testimonial/1.jpg"></a></li>
          </ul>
        </div>
        <div class="circles-point">
          <ul class="list-circles-point list-unstyled">
            <li data-target=".tst1" class="nv1 active"><a href="JavaScript:void(0);"></a></li>
            <li data-target=".tst2"class="nv2" ><a href="JavaScript:void(0);"></a></li>
            <li data-target=".tst3" class="nv3" ><a href="JavaScript:void(0);"></a></li>
            <li data-target=".tst4" class="nv4"><a href="JavaScript:void(0);"></a></li>
            <li data-target=".tst5" class="nv5" ><a href="JavaScript:void(0);"></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="testimonial-right-outer sa-ste"> <i class="quote-left"><img src="../../assets/images/home/testimonial/quote-img.png"></i>
          <div class="testimonial-text active tst1">
            <p class="test-des">Most dentists fly blind when it comes to managing their business. Collecting the key statistics about their practice is difficult and time consuming and even when they do, the figures are hard for them to interpret.  Two things greatly impressed me about it. Firstly it made getting the relevant figures incredibly easy. Anyone could do it in a few moments. Secondly, the software made analysis of the figures easy, by highlighting significant factors within the practice.  I think this new software will be of great help to all business-minded dentists.</p>
            <p class="name m-0"><strong>Mark Hassed</strong></p>
            <p class="profile"><small>Communications consultant</small></p>
          </div>
          <div class="testimonial-text tst2">
            <p class="test-des">First Most dentists fly blind when it comes to managing their business. Collecting the key statistics about their practice is difficult and time consuming and even when they do, the figures are hard for them to interpret.  Two things greatly impressed me about it. Firstly it made getting the relevant figures incredibly easy. Anyone could do it in a few moments. Secondly, the software made analysis of the figures easy, by highlighting significant factors within the practice.  I think this new software will be of great help to all business-minded dentists.</p>
            <p class="name m-0"><strong>Mark Hassed</strong></p>
            <p class="profile"><small>Communications consultant</small></p>
          </div>
          <div class="testimonial-text tst3">
            <p class="test-des">Second Most dentists fly blind when it comes to managing their business. Collecting the key statistics about their practice is difficult and time consuming and even when they do, the figures are hard for them to interpret.  Two things greatly impressed me about it. Firstly it made getting the relevant figures incredibly easy. Anyone could do it in a few moments. Secondly, the software made analysis of the figures easy, by highlighting significant factors within the practice.  I think this new software will be of great help to all business-minded dentists.</p>
            <p class="name m-0"><strong>Mark Hassed</strong></p>
            <p class="profile"><small>Communications consultant</small></p>
          </div>
          <div class="testimonial-text tst4">
            <p class="test-des">Third Most dentists fly blind when it comes to managing their business. Collecting the key statistics about their practice is difficult and time consuming and even when they do, the figures are hard for them to interpret.  Two things greatly impressed me about it. Firstly it made getting the relevant figures incredibly easy. Anyone could do it in a few moments. Secondly, the software made analysis of the figures easy, by highlighting significant factors within the practice.  I think this new software will be of great help to all business-minded dentists.</p>
            <p class="name m-0"><strong>Mark Hassed</strong></p>
            <p class="profile"><small>Communications consultant</small></p>
          </div>
          <div class="testimonial-text tst5">
            <p class="test-des">Forth Most dentists fly blind when it comes to managing their business. Collecting the key statistics about their practice is difficult and time consuming and even when they do, the figures are hard for them to interpret.  Two things greatly impressed me about it. Firstly it made getting the relevant figures incredibly easy. Anyone could do it in a few moments. Secondly, the software made analysis of the figures easy, by highlighting significant factors within the practice.  I think this new software will be of great help to all business-minded dentists.</p>
            <p class="name m-0"><strong>Mark Hassed</strong></p>
            <p class="profile"><small>Communications consultant</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Return to Top -->
<footer>
  <div class="container">
            <div class="footerLogo"> <img src="../../assets/images/home/footer-logo.png"> </div>
            <div class="row">
               <div class="col-md-4 col-sm-6">
                  <div class="widget mb-4 mb-md-0">
                     <h6>Navigation</h6>
                     <ul class="nav flex-column primary-hover">
                        <li class="nav-item"><a class="nav-link" href="/subscription">Subscription</a></li>
                        <li class="nav-item"><a class="nav-link" href="/xero">Xero Integration</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div class="widget mb-4 mb-sm-0">
                     <h6>Social</h6>
                     <ul class="nav flex-column primary-hover">
                        <li class="nav-item"><a class="nav-link" href="#">Facebook</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Twitter</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Linkedin</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div class="widget bg-grad widget-form mb-4 mb-sm-0">
                     <h6>Newsletter</h6>
                     <div class="form-group mb-0">
                        <input class="form-control" type="email" placeholder="Your Email Address">
                        <p class="mb-3">We will  not disclose your details with others and spam your inbox.</p>
                        <button class="btn btn-main btn-block mb-0">Subcsribe</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
  <div class="copyright-section text-center">
    <div class="container">© 2018 Jeeve analytics - 2018  All right Reserved</div>
  </div>
</footer>

<!-- Optional JavaScript --> 
<!-- jQuery first, then Popper.js, then Bootstrap JS --> 
<script type="text/javascript" src="js/jquery-3.1.0.js" ></script> 
<script type="text/javascript" src="js/bootstrap.min.js"></script> 
<script type="text/javascript" src="js/script.js"></script> 
<script>
$(document).ready(function(){
    $('ul.list-circles-point li').click(function(){
     var target = $(this).attr("data-target");
      $('.list-circles-point li').removeClass("active");
      $('.testimonial-text').removeClass("active");
      $('.testimonial-img').removeClass("active");

      $(this).addClass("active");
      $(target).addClass("active");
  });


      $('.testimonial-img').click(function(){
       var target = $(this).attr("data-target");
       var target2 = $(this).attr("data-targets");
        $('.list-circles-point li').removeClass("active");
        $('.testimonial-text').removeClass("active");
        $('.testimonial-img').removeClass("active");

        $(target2).addClass("active");
        $(target).addClass("active");
    });


});
</script>
<script type="text/javascript">
$(document).ready(function () {
window.scrollTo(0,0);
});
</script>
     