<div></div>
<div class="table-container">
  <table
    mat-table
    appMatTableResponsive
    [dataSource]="data"
    class="mat-elevation-z1 conversion-table"
    style="width: 100%"
  >
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <span class="visually-hidden">Select</span
        ><mat-checkbox class="custom-checkbox"></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox class="custom-checkbox"></mat-checkbox>
      </td>
    </ng-container>

    <!-- Patient Column -->
    <ng-container matColumnDef="patient">
      <th mat-header-cell *matHeaderCellDef>Patient</th>
      <td mat-cell *matCellDef="let row">{{ row.patientName }}</td>
    </ng-container>

    <ng-container matColumnDef="consultDate">
      <th mat-header-cell *matHeaderCellDef>Consult Date</th>
      <td mat-cell *matCellDef="let row">{{ row.consultDate }}</td>
    </ng-container>

    <!-- Consult Column -->
    <ng-container matColumnDef="consult">
      <th mat-header-cell *matHeaderCellDef>Consult</th>
      <td mat-cell *matCellDef="let row">{{ row.consult }}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="treatmentStatus">
      <th mat-header-cell *matHeaderCellDef>Treatment Status</th>
      <td mat-cell *matCellDef="let row">
        <mat-select
          [value]="row.treatmentStatus"
          (selectionChange)="onTreatmentStatusChange(row.recordId, $event)"
        >
          <mat-option [value]="option.value" *ngFor="let option of treatmentStatusOptions">{{
            option.name
          }}</mat-option>
        </mat-select>
      </td>
    </ng-container>

    <ng-container matColumnDef="convertedDate">
      <th mat-header-cell *matHeaderCellDef>Converted Date</th>
      <td mat-cell *matCellDef="let row">{{ row.convertedDate }}</td>
    </ng-container>

    <ng-container matColumnDef="notes">
      <th mat-header-cell *matHeaderCellDef>Notes</th>
      <td mat-cell *matCellDef="let row">
        <span [matTooltip]="!row.notes ? 'Add Notes' : 'Edit Notes'">
          <i [ngClass]="!row.notes ? 'add' : 'edit'" class="fas fa-book notes"></i>
        </span>
      </td>
    </ng-container>

    <!-- Last Campaign Column -->
    <ng-container matColumnDef="lastCampaign">
      <th mat-header-cell *matHeaderCellDef>Last Campaign</th>
      <td mat-cell *matCellDef="let row">{{ row.lastCampaign }}</td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></tr>
    <tr
      mat-row
      *matRowDef="let row; let i = index; columns: displayedColumns"
      [ngClass]="{ 'row-odd': i % 2 === 1, 'row-even': i % 2 === 0 }"
    ></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length" class="no-data-row">
        There were no <b>{{ payload?.consultCode }}</b> consults performed between
        <b>{{ payload?.startDate }}</b> and <b>{{ payload?.endDate }}</b
        >.
      </td>
    </tr>
  </table>
</div>
