
<input type="button" id="clinic_initiate" (click) = "initiate_clinic()"  [style.display]="'none'">

<mat-card>
    <mat-card-content>
        <mat-card-title><span class="main-title">Member Plans</span> <button class="sa-pull-right mat-raised-button mat-gray mr-15" mat-raised-button (click)="openDialog()" *ngIf="clinic_id > 0">Add Member Plan</button></mat-card-title>
        <mat-form-field>
            <input matInput type='text' class="form-control" placeholder='Type to filter Plan name...' (keyup)='updateFilter($event)'
            />
        </mat-form-field>
        <ngx-datatable #table class='material responsive-datatable action-two' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
            [rowHeight]="'auto'" [limit]="10" [rows]='rows'>
       <ngx-datatable-column name="Id">
         <ng-template let-column="column" ngx-datatable-header-template>
        <span>Id</span>
      </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span>
            {{rowIndex+1}}
          </span>
        </ng-template>
      </ngx-datatable-column>
     <ngx-datatable-column name="planName">
      <ng-template let-column="column" ngx-datatable-header-template>
        <span>Member Plan</span>
      </ng-template>
       <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            {{value}}
       </ng-template>        
      </ngx-datatable-column>
        <ngx-datatable-column name="planOrder">
         <ng-template let-column="column" ngx-datatable-header-template>
        <span>Plan Order</span>
      </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            {{value}}
       </ng-template>        
      </ngx-datatable-column>
       <ngx-datatable-column name="planLength">
         <ng-template let-column="column" ngx-datatable-header-template>
        <span>Plan Length</span>
      </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            {{value}}
        </ng-template>
      </ngx-datatable-column>
       <ngx-datatable-column name="totalAmount">
         <ng-template let-column="column" ngx-datatable-header-template>
        <span>Total <span class="nowrap">Amount ($)</span></span>
      </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            $ {{value}}
       </ng-template>
      </ngx-datatable-column>
       <ngx-datatable-column name="discount">
        <ng-template let-column="column" ngx-datatable-header-template>
       <span>Discount</span>
     </ng-template>
       <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
           {{value}} %
       </ng-template>
     </ngx-datatable-column>
   <ngx-datatable-column name="description">
      <ng-template let-column="column" ngx-datatable-header-template>
     <span>Description</span>
   </ng-template>
     <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
         {{value}}
      </ng-template>
   </ngx-datatable-column>
      <ngx-datatable-column name="id">
         <ng-template let-column="column" ngx-datatable-header-template>
        <span>Actions</span>
      </ng-template>
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value" style="width:266px!important;">
          <!--   <a [routerLink]="['/patients-detail',value]" class="action_btn golden" title= 'Plan Details'><i class="ti-eye "></i></a> -->
            <a class="action_btn golden" (click)="openUpdateDialog(rowIndex)" title= 'Update Plan'><i class="ti-settings "></i></a>
          <button class="action_btn danger" mat-menu-item (click) = "deletePlan(rowIndex)">
         
         <i class="ti-trash text-danger" title= 'Delete Plan'></i></button>
        </ng-template>
      </ngx-datatable-column>
        </ngx-datatable>
    </mat-card-content>
</mat-card>
