<h1 mat-dialog-title>Update Member Plan</h1>
<div mat-dialog-content>

  <mat-form-field>

    <input matInput tabindex="1" [(ngModel)]="data.planName" placeholder="Member Plan"  class="form-control-dialog" required="true">
   
  </mat-form-field>
  <input matInput style="color: #FF0000;" tabindex="1" *ngIf="valplans" [(ngModel)]="valplans" required="true">

 <mat-form-field>
          <mat-select placeholder="Treatments" tabindex="1" [formControl]="data.treat" multiple>       
            <mat-option *ngFor="let treatment of data.treatmentdata" [value]="treatment.id">{{treatment.treatmentName}}</mat-option>
        </mat-select>
      </mat-form-field>
  <mat-form-field>

    <mat-label>Duration</mat-label> 
    <mat-select tabindex="1" [(ngModel)]= "data.planLength" required="true">
      <mat-option value="MONTHLY">MONTHLY</mat-option>
      <mat-option value="YEARLY">YEARLY</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput tabindex="1" type="number" [(ngModel)]="data.totalAmount" placeholder="Total Amount"  class="form-control-dialog" required="true">
  </mat-form-field>

  <mat-form-field>
      <input matInput tabindex="1" type="number" [(ngModel)]="data.discount" class="form-control" min="1" max="100"  onkeyup="if(parseInt(this.value)>100){ this.value =100; return false; }" placeholder="Discount %"  class="form-control-dialog" required="true">
    </mat-form-field>
  
    <mat-form-field>
        <input matInput tabindex="1" [(ngModel)]="data.description" placeholder="Description" class="form-control-dialog" required="true">
      </mat-form-field>
  <!--  <input type="file" (change)="onChange($event)"> -->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="update(data)" tabindex="2" class="mat-raised-button mat-dc">Ok</button>
  <button mat-button (click)="onNoClick()" tabindex="-1" class="mat-raised-button mat-gray">No Thanks</button>
</div>