<div class="none-trend-finances">
    <div class="stats-card-list">
        <stats-card
          class="stats-card-finance"
          label="Production"
          [value]="'$' + (netProfitProductionVal$ | async | number: '1.0-0')"
          [toolTip]="getChartTip(31) | async"
          iconColor="#f8ca25"
          [isLoading]="isLoadingNetProfitProduction$ | async"
        >
        </stats-card>
        <stats-card
          *ngIf="isConnectedWith$ | async"
          class="stats-card-finance"
          label="Net Profit"
          [value]="'$' + (netProfitVal$ | async |  number: '1.0-0')"
          [toolTip]="getChartTip(26) | async"
          iconColor="#737eef"
          [isLoading]="isLoadingNetProfit$ | async"
          [isFullMonths]="isFullMonthsDateRange$ | async"
        >
        </stats-card>
        <stats-card
          *ngIf="isConnectedWith$ | async; else collectionStatsCard"
          class="stats-card-finance"
          label="Net Profit %"
          [value]="(netProfitPercentageVal$ | async |  number: '1.0-0') + '%'"
          [toolTip]="getChartTip(27) | async"
          [isLoading]="isLoadingNetProfitPercentage$ | async"
          [isFullMonths]="isFullMonthsDateRange$ | async"
        >
        </stats-card>
        <ng-template #collectionStatsCard>
            <stats-card
                class="stats-card-finance"
                label="Production Per Visit"
                [value]="'$' + (productionPerVisit$ | async |  number: '1.0-0')"
                [toolTip]="getChartTip(32) | async"
                iconColor="#737eef"
                [isLoading]="isLoadingProductionPerVisit$ | async"
            >
            </stats-card>
            <stats-card
                class="stats-card-finance"
                label="Collection"
                [value]="'$' + (collectionVal$ | async |  number: '1.0-0')"
                [toolTip]="getChartTip(33) | async"
                [isLoading]="isLoadingCollectionVal$ | async"
            >
            </stats-card>
        </ng-template>
    </div>
    <div class="chart-list">
        <finance-expense-chart class="expenses-chart" 
            [toolTip]="getChartTip(29) | async" 
            [isFullMonths]="isFullMonthsDateRange$ | async"
        >
        </finance-expense-chart>
        <prod-per-clinic-chart class="prod-per-clinic-chart"
            [toolTip]="getChartTip(30) | async"></prod-per-clinic-chart>
        <prod-per-visit-chart class="prod-per-visit-chart"
            *ngIf="isConnectedWith$ | async"
            [toolTip]="getChartTip(32) | async"
        ></prod-per-visit-chart>
        <total-discount-chart [toolTip]="getChartTip(34) | async" class="total-discount-chart"></total-discount-chart>
        <prod-collection-chart [toolTip]="getChartTip(33) | async" class="prod-collection-chart"></prod-collection-chart>
    </div>
</div>