<mat-card class="jeeve-login-card">
  <mat-card-content class="jeeve-login-card-content">
    <div class="logo-wrapper">
      <img src="assets/layout/images/logo-icon.gif" />
    </div>
    <mat-card-title class="mat-headline-2">Recover Password</mat-card-title>
    <br />
    <form (ngSubmit)="forgot()" [formGroup]="formGroup">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="example@domain.com" formControlName="email" />
          <mat-error>{{ getErrorMessage('email') }}</mat-error>
        </mat-form-field>

        <a [routerLink]="['/login']">Back to Login</a>

        <button mat-raised-button color="primary" type="submit">
          <span>Submit</span>
          <!-- <mat-icon [hidden]="!(isLoading$ | async)"
            ><mat-spinner color="primary" diameter="20"> </mat-spinner
          ></mat-icon> -->
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
