@import '../../../../assets/layout/styles/layout/mixin';

.mat-card {
  width: 280px;
  @include respond-to('phone') {
    width: 370px;
  }
  box-shadow: 0 1px 145px 10px #0e3459;
  .mat-card-content {
    font-size: 1rem;
    line-height: 23px;
    padding: 24px;
    .logo-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
    }
    .mat-headline-2 {
      text-align: center;
    }
    form > div {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 8px;
    }
  }
}

a {
  font-weight: 500;
  font-size: 14px;
  text-decoration: underline;
  color: #0e3459;
  margin-bottom: 20px !important;
}
