<div (click)="selectFilter()" 
    *ngIf="!(settings?.length >0)" 
    [classList]="isOpen?['container border-c']:['container']" 
    type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin" 
    [appTooltip]="iconUrlWhite?'<img src=' + iconUrlWhite  + ' /><span>' + title + '</span>':''">
    <mat-icon *ngIf="isDone" (click)="onClose()" class="close">cancel</mat-icon>
    <div class="box">
        <!-- <mat-icon>{{iconName}}</mat-icon> -->
        <img [src]="iconUrl"/>
        <span>{{title}}</span>
    </div>
</div>
<div class="view-box" *ngIf="settings && settings?.length > 0">
    <span>{{title}}</span>
    <div class="box-c" *ngIf="startDate && endDate">
        <span>{{startDate}}</span>
        <b>-</b>
        <span>{{endDate}}</span>
    </div>
    <div class="box-c" *ngIf="minAge !== null && maxAge !== null">
        <span>{{minAge}}</span>
        <b>-</b>
        <span>{{maxAge}}</span>
    </div>
    <div class="box-c" *ngIf="itemCodes && itemCodes?.length > 0">
        <span *ngFor="let it of itemCodes">{{it}}</span>
    </div> 
    <div class="box-c" style="justify-content: center;" *ngIf="all">
        <span>{{all}}</span>
    </div> 
</div>
