<div (click)="selectFilter()" [classList]="getClassList()">
  <mat-icon *ngIf="isDone && !onlyView" (click)="onClose()" class="close">cancel</mat-icon>
  <div
    class="container"
    [ngStyle]="onlyView ? { width: '50px' } : {}"
    type="button"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
    [appTooltip]="
      disabled
        ? 'Please update D4w to the latest version then contact Jeeve support to activate this filter'
        : ''
    "
  >
    <div class="box">
      <!-- <mat-icon>{{iconName}}</mat-icon> -->
      <img
        [ngStyle]="isDone ? { width: '25px' } : { width: '44px' }"
        [src]="iconUrl"
        [alt]="title || 'Icon'"
      />
      <span>{{ title }}</span>
    </div>
  </div>
  <div class="desc" *ngIf="isDone" [innerHTML]="desc"></div>
</div>
