<div class="AddUserPopup">
  <h1 *ngIf="!data.notes" mat-dialog-title>Add Notes</h1>
  <h1 *ngIf="data.notes" mat-dialog-title>Edit Notes</h1>
  <div mat-dialog-content class="sa_forms_design">
    <div class="sa-form-group">
      <label>Note</label>
      <textarea [(ngModel)]="data.notes" class="mat-form-control" required="true"></textarea>
    </div>
  </div>
  <div mat-dialog-actions class="justify-between">
    <button mat-button (click)="onNoClick()" tabindex="-1" class="mat-raised-button mat-gray">
      Cancel
    </button>
    <button
      *ngIf="data.notes == data.old"
      (click)="onNoClick()"
      tabindex="1"
      class="mat-raised-button mat-dc float-right"
    >
      Ok
    </button>
    <button
      *ngIf="data.notes != data.old"
      (click)="save(data)"
      tabindex="2"
      class="mat-raised-button mat-dc float-right"
    >
      Save
    </button>
  </div>
</div>
