.followups.header_filters{ flex-direction: row-reverse !important }
.DentistListSecRow mat-card.noPatients.sa_hccard.mat-card {
    background-color: #fff !important;
    padding: 10px !important;
    float: left;
    width: 95%;
    margin: 8px 8px;
}

.DentistListSecRow .left {
    float: left;
    width: 45%;
    display: block;
}
.DentistListSecRow .right {
    float: left;
    width: 53%;
}
.left span.title {
      width: 65px;
    display: block;
    padding-top: 21px;
    border: 1px solid #18A6B6;
    margin: 4px 0 5px 0;
    border-radius: 52%;
    text-align: center;
    height: 65px;
    background: #18A689;
    color: #fff;
}
.left span.title {
    width: 65px;
    display: block;
    padding-top: 21px;
    border: 1px solid;
    margin: 4px 0 5px 0;
    border-radius: 52%;
    text-align: center;
    height: 65px;
}
.right h5 {
    margin: 10px 0 4px 0;
    font-size: 15px;
    font-weight: 500;
}
span.gotMark {
    width: 100%;
    display: block;
    color: green;
}
span.green_title {
    padding: 10px 10px;
    text-align: center;
    margin: 0;
}
.sa_first_section .mat-tab-body-wrapper {
    padding: 10px 0;
}
.right > div {
    border-bottom: 1px dotted #cecece;
}
.right > div:last-child {
    border-bottom: 0px dotted #cecece;
}

.cardsCon.ng-star-inserted {
    width: 25%;
    float: left;
}

.mat-form-field-infix {
    border-bottom: 0;
    width: 100%;
}

.active {
    background-color: #eee;
}

.setPreviousDay {
    margin-bottom: 20px;
}
.morning-huddle-date.UnscheduledPatients {
    float: right;
    display: block;
    margin: -20px;
}

table{
 width: 100%;
}

.header_filters.morning-huddle { flex-direction: row-reverse !important }
.huddle-card {
    padding: 16px;
    margin-left: 0;
    margin-right: 0;
}
.huddle-card-row {
    margin-bottom: 8px;
}
.huddle-card-row .appointment {
    margin-top: 0;
}

.daysAgo {
    font-size: 12px;
    color: rgb(161, 161, 161);
    padding-bottom: 16px;
}

.morning-huddle.side .mat-column-note .setPreviousDay {
    margin-bottom: 0px;
}

.info-icon-container { 
  /* float: right; */
  display: inline;
  margin-left: 8px;
}
.mh-table th.mat-header-cell {
    font-weight: bold;
}

.showComplete .mat-slide-toggle {
    margin: -8px 0 0px 11px;
}
.showComplete {
    float: right;
    margin: 0 27px 6px 0px;
    margin-right: 0px;
    font-size: 13px;
    display: inline;
}

.fa-check {
    color: #18A689;
    font-size: 18px;
    margin-right: 10px;
}

/* .mat-card-title {
    padding-bottom: 30px !important;
    display: block;
} */

.notes{ cursor: pointer; font-size: 17px;}
.notes.green { color: #047c04; }
.notes.red { color: #7c0404; }
table.filters {
    width: 550px;
    margin: auto;
}
table.filters td {
    padding: 0px 20px 20px;
}

table.customWidth.thick, table.customWidth.PostOp {
    overflow: auto;
    margin-bottom: 60px;
}
.info-icon-container.tick {
    position: relative;
    display: inline-block;
    margin-right: 5px;
}
.info-icon-container.tick .custom-tooltip {
    /*background: #424242;
    */
    width: max-content;
    padding: 10px 15px;
    text-align: left;
}
.info-icon-container.tick .custom-tooltip img.white-heart-icon {
    display: none;
}
.info-icon-container.tick .custom-tooltip .tooltip-title {
    font-size: 15px;
}
.custom-tooltip::after{
      border-bottom: 8px solid #424242;
}
.morning-huddle-date.topModel mat-icon {
    font-size: 18px;
    position: absolute;
    color: #595959;
    cursor: pointer;
}
.selectRight {
    right: 0;
}
.selectLeft {
    left: 0;
}
.morning-huddle-date.followuppage {
    text-align: center;
    display: grid;
    /* position: relative; */
    width: 200px;
    margin: 0px auto;
    display: grid;
    position: absolute;
    z-index: 9999;
    left: calc(50% - 100px);
    top: 20px;

}
.date-area-spac{
    height: 30px;
    display: none;
}

.follow-ups-card{
    display: none;
}
@media (max-width: 959px){
    .follow-ups-card{
        display: block;
    }
    .follow-ups-table{
        display: none;
    }
}
@media(min-width:768px) and (max-width:840px){
    .morning-huddle .mat-tab-label-container {
        padding-top: 50px;
    }
}

@media (max-width: 840px){
    .morning-huddle-date.topModel {
        top: 92px;
    }
}
@media (max-width: 767px){
    .morning-huddle-date.topModel {
        top: 70px;
    }
    .date-area-spac{
        height: 30px;
        display: block;
    }
}



.AddUserPopup {
    position: relative;
    text-align: left;
}

.AddUserPopup span.closeStatus {
    position: absolute;
    right: -15px;
    background: red;
    padding: 5px 10px;
    border-radius: 20px;
    color: #fff;
    top: -15px;
    cursor: pointer;
}

.AddUserPopup h1 {
    text-align: left;
}
.md-drppicker {
    box-shadow: 0px 0px 15px !important;
}

.mat-column-note {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.mat-column-followup_date {
    text-align: center !important;
}

.main_pagination.followup {
   padding: 0px;
}

.historyTip {
    position: relative;
    display: inline-block;
    margin-left: 7px;
}

.fa.fa-history {
    cursor: pointer;
}

.historyTip .custom-tooltip {
    position: fixed;
    top: 25%;
   
    opacity: 1;
    visibility: visible;
    background-color: #ffffff;
    box-shadow: 0px 0px 0px;
    border: 1px solid #279b8e;
}
.historyTip .tooltip-title-container img {
    display: none;
}
.historyTip .tooltip-title {
    color: #279b8e;
}

.historyTip td {
    margin: 0px;
    color: #000000;
    font-size: 13px;
    font-family: monospace;
}
.historyTip .custom-tooltip::after {  
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #1daa96;
    border-bottom: 8px solid transparent;
    right: 24px;
    bottom: -17px;
    top:  unset;
}
.save-button span {
    font-size: 13px;
    font-family: 3px;
}
.AddUserPopup span.followUpClose {
    position: absolute;
    right: -19px;
    top: -20px;
    padding: 0 6px  3px;
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
}

.alreadyHaveFol {
    color: #25a689;
    font-size: 17px;
    width: 100%;
    text-align: center;
    display: block;
    padding: 18px 0;
    font-weight: 500;
}

.historyTip .custom-tooltip {
    padding: 8px 10px;
}
.historyTip .custom-tooltip .tooltip-info-text {
    width: 100%;
    font-family: sans-serif;
    color: #000;
}
table.noDataTableClass mat-footer-row {
    border: 0 solid!important;
}

mat-row, mat-header-row, mat-footer-row {
    display: flex;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    align-items: center;
    box-sizing: border-box;
}
.mat-row, mat-footer-row, mat-header-row {
    width: -webkit-max-content!important;
    width: -moz-max-content!important;
    width: max-content!important;
}

table.history td.notes {padding-right: 2%;text-align: right;}

.historyTip.history .custom-tooltip {
    width: 400px;
    z-index: 999999;
}
.d-inline-block{
    display: inline-block !important;
}
.follow-up{
    background-color: #ffffff;
    padding:16px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.follow-up .mat-card-title{
    padding: 16px 0;
}
.follow-ups-table table{
    border: 1px solid #e7e9eb;
    border-radius: 10px !important;
    margin-bottom: 0 !important;
    box-shadow: none !important;
    overflow: hidden !important;
}

.follow-ups-table th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
    white-space: nowrap !important;
    padding: 0 15px !important;
}



.chipSets {
    padding: 10px 0 0 0;
    width: 100%;
    border-top: 1px solid #cecece;
    margin-top: 10px;
    position: relative;
}

.chipSets .mat-chip {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    padding: 0;
    border-radius: 0px;
    align-items: center;
    cursor: default;
    min-height: 25px;
    height: 1px;
    box-shadow: 0px 2px 4px #615252;
    z-index: 9;
}
.followUps  mat-card-title.mat-card-title {
    padding-bottom: 15px !important;
}

.chipSets .custom-tooltip img.white-heart-icon {
    display: none;
}
.chipSets .custom-tooltip {
    background-color: #fff;
    color: #000;
    border: 1px solid #716b6b;
    box-shadow: 0px 2px 6px #716b6b;
    position: fixed;   
}
.chipSets .custom-tooltip::after {
    content: " ";
    position: absolute;
    margin-top: -9px;
    margin-left: 20px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #716b6b;
    right: unset;
    top: 0px;
}

.chipSets span.chipText {
    padding: 5px 10px;
    float: left;
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-transform: none;
    font-size: 13px;
    font-family: 'Gilroy-Regular';
}
.chipSets .tooltip-title-container {
}
.chipSets .custom-tooltip .tooltip-info-text {
    font-size: 14px;
    font-family: 'Gilroy-Regular';
    line-height: 1.1;
    margin-top: 0px;
    width: 100%;
    text-align: justify;
    white-space: pre-wrap;
}
.chipSets .custom-tooltip::after{
    display: none;
}


.mat-aqua {
    background-color: #54D2FF !important;
    color: #fff !important;
}
.mat-black {
    background-color: #000000 !important;
    color: #fff !important;
}

.mat-blue {
    background-color: #5689C9 !important;
    color: #fff !important;
}
.mat-chartreuse {
    background-color: #7fff00 !important;

}
.mat-chocolate {
    background-color: #d2691e !important;
    color: #fff !important;
}
.mat-cyan {
    background-color: #b0fffa !important;
}
.mat-navy {
    background-color: #000080 !important;
    color: #fff !important;
}
.mat-gray {
    background-color: #4f504f !important;
    color: #fff !important;
}
.mat-green {
    background-color: #6edbbb !important;
    color: #fff !important;
}
.mat-maroon {
    background-color: #800000 !important;
    color: #fff !important;
}
.mat-olive {
    background-color: #808000 !important;
    color: #fff !important;
}
.mat-orange {
    background-color: #FFE4E4 !important;
}
.mat-red {
    background-color: #ffb4b5 !important;
    color: #fff !important;
}
.mat-silver {
    background-color: #c0c0c0 !important;
}
.mat-teal {
    background-color: #008080 !important;
    color: #fff !important;
}
.mat-violet {
    background-color: #E58DD7 !important;    
}
.mat-white {
    background-color: #ffffff !important;
}
.mat-yellow {
    background-color: #fffcac !important;
}


.mat-aqua  .custom-tooltip {
    border-color:  #54D2FF !important;
}
.mat-black  .custom-tooltip {
    border-color:  #000000 !important;
}

.mat-blue  .custom-tooltip {
    border-color:  #5689C9 !important;
}
.mat-chartreuse  .custom-tooltip {
    border-color:  #7fff00 !important;
}
.mat-chocolate  .custom-tooltip {
    border-color:  #d2691e !important;
}
.mat-cyan  .custom-tooltip {
    border-color:  #b0fffa !important;
}
.mat-navy  .custom-tooltip {
    border-color:  #000080 !important;
}
.mat-gray  .custom-tooltip {
    border-color:  #4f504f !important;
}
.mat-green  .custom-tooltip {
    border-color:  #6edbbb !important;
}
.mat-maroon  .custom-tooltip {
    border-color:  #800000 !important;
}
.mat-olive  .custom-tooltip {
    border-color:  #808000 !important;
}
.mat-orange  .custom-tooltip {
    border-color:  #FFE4E4 !important;
}
.mat-red  .custom-tooltip {
    border-color:  #ffb4b5 !important;
}
.mat-silver  .custom-tooltip {
    border-color:  #c0c0c0 !important;
}
.mat-teal  .custom-tooltip {
    border-color:  #008080 !important;
}
.mat-violet  .custom-tooltip {
    border-color:  #ee82ee !important;
}
.mat-white  .custom-tooltip {
    border-color:  #000000 !important;
}
.mat-yellow  .custom-tooltip {
    border-color:  #fffcac !important;
}

.mat-aqua  .custom-tooltip::after {
    border-bottom: 8px solid #00FFFF !important;    
}
.mat-black  .custom-tooltip::after {
    border-bottom: 8px solid #000000 !important;
}

.mat-blue  .custom-tooltip::after {
    border-bottom: 8px solid #0000ff !important;
}
.mat-chartreuse  .custom-tooltip::after {
    border-bottom: 8px solid #7fff00 !important;
}
.mat-chocolate  .custom-tooltip::after {
    border-bottom: 8px solid #d2691e !important;
}
.mat-cyan  .custom-tooltip::after {
    border-bottom: 8px solid #00ffff !important;
}
.mat-navy  .custom-tooltip::after {
    border-bottom: 8px solid #000080 !important;
}
.mat-gray  .custom-tooltip::after {
    border-bottom: 8px solid #808080 !important;
}
.mat-green  .custom-tooltip::after {
    border-bottom: 8px solid #008000 !important;
}
.mat-maroon  .custom-tooltip::after {
    border-bottom: 8px solid #800000 !important;
}
.mat-olive  .custom-tooltip::after {
    border-bottom: 8px solid #808000 !important;
}
.mat-orange  .custom-tooltip::after {
    border-bottom: 8px solid #ffa500 !important;
}
.mat-red  .custom-tooltip::after {
    border-bottom: 8px solid #ff0000 !important;
}
.mat-silver  .custom-tooltip::after {
    border-bottom: 8px solid #c0c0c0 !important;
}
.mat-teal  .custom-tooltip::after {
    border-bottom: 8px solid #008080 !important;
}
.mat-violet  .custom-tooltip::after {
    border-bottom: 8px solid #ee82ee !important;
}
.mat-white  .custom-tooltip::after {
    border-bottom: 8px solid #000000 !important;
}
.mat-yellow  .custom-tooltip::after {
    border-bottom: 8px solid #ffff00 !important;
}


.tooltip-container.mat-gray {
    text-transform: none;
}

.chipSets .tooltip-title {
    padding-bottom: 10px;
}
div.mat-chip-list-wrapper .custom-tooltip {
    max-width: 650px;
} 

.InternalReferrals .mat-column-status {
    flex: 0 0 15% !important;
    width: 15% !important;
}
.flw-up-status{
    width: 100%;     

}
.flw-up-status-button{
    margin-right: 20px;
}
.cnt-reached-btns{
    width: 90%;
    float: none; 
    position: relative;    
    text-align: left;
}
.btn-nxt-business-day{
    margin-right: 20px;
}
.btn-chose-date{
    position: absolute;
    top: 0;
    margin: 25px 0;
    padding: 20px 36px 20px;
    right: 100px;
}
.btn-no{
    position: absolute;
    top: 0;
    margin: 25px 0;
    padding: 20px 36px 20px;
    right: -30px;
}
.nextCustomFollowup-align{
    width: 400px;
    margin: 25px auto 0;
}
.nextCustomFollowup-btn-align{
    width: 100%; 
    float: none;
}
.buttons_input .clear{
    display: none;
}
.nodata_msg{
    text-align: center;
    color: #ca1c1c;
}
.custom-tooltip::after {
    content      : " ";
    position     : absolute;
    margin-top   : -6px;
    margin-left  : -5px;
    border-left  : 8px solid transparent;
    border-right : 8px solid transparent;
    border-bottom: 8px solid transparent !important;
    right        : 8px;
    top          : 0px;
}

.follow-ups-table th.mat-header-cell, .follow-ups-table td.mat-cell, .follow-ups-table td.mat-footer-cell {
    text-align: center;
}