<div class="ExportDataPopup">
  <h1 mat-dialog-title>Export Options</h1>
  <div class="card-loading" *ngIf="loader">
    <img class="tableLoader" src="../../assets/images/loader.gif">
  </div>
  <div *ngIf="!loader"  mat-dialog-content class="sa_forms_design">
    <div class="sa-form-group">
      <label>Date Range </label>
      <input class="form-control" placeholder="Select" type="text" matInput ngxDaterangepickerMd
        [showClearButton]="true" [locale]="{applyLabel: 'ok', displayFormat: 'YYYY-MM-DD', firstDay: 1 }" startKey="start" endKey="end"
        [(ngModel)]="data.range" [showDropdowns]="true" />
      
    </div>
    <div class="sa-form-group">
      <mat-slide-toggle fxFlex.md="30" fxFlex.xs="100" checked="false" [(ngModel)]="data.show_completed">
        <span><strong>Show Completed</strong></span>
        <!-- <span *ngIf="!compareMode"><strong>Disabled</strong></span> -->
      </mat-slide-toggle>
    </div>
    <div class="sa-form-group">
      <label>Export Type </label>
      <select [(ngModel)]="data.type" name="color" class="colour">
        <option value="">File Type</option>
        <option value="csv">CSV</option>
        <option value="pdf">PDF</option>
      </select>
    </div>
  </div>
  <div  *ngIf="!loader" mat-dialog-actions class="justify-between">
    <button mat-button (click)="onNoClick()" tabindex="-1" class="mat-raised-button mat-gray">Cancel</button>
    <button (click)="exportData(data)" tabindex="1" class="mat-raised-button mat-dc float-right">Export</button>
  </div>
</div>