<div class="chart-container">
  <mat-icon
    [tooltip]="toolTip"
    matTooltipPosition="below"
    color="primary"
    class="help-tip"
    fontIcon="help"></mat-icon>
  <mat-icon
    *ngIf="(isAllDentist$ | async) || !(isTrend$ | async)"
    [ngClass]="showTableInfo ? 'active' : ''"
    (click)="toggleTableInfo()"
    class="table-info-icon"
    fontIcon="table_rows_narrow" />
  <div class="chart-title">
    <mat-icon
      *ngIf="
        (duration$ | async) != 'custom' &&
        ((isAllDentist$ | async) || !(isTrend$ | async))
      "
      [color]="trendingIcon == 'trending_up' ? 'primary' : 'warn'"
      [fontIcon]="trendingIcon"
      [matTooltip]="getTrendTip$ | async"></mat-icon>
    <div class="dropdown-title">
      <div style="min-width: 200px">
        <span
          *ngIf="
            (userType$ | async) === 4 || !(isAllDentist$ | async);
            else prodSelectTitle
          "
          >Dentist {{ chartName$ | async }}</span
        >
        <ng-template #prodSelectTitle>
          <mat-select
            class="dropdown-font"
            [value]="prodSelectShow$ | async"
            (selectionChange)="onChangeProdSelectTab($event)"
            *ngIf="(chartName$ | async) === 'Production'">
            <mat-option value="production_all">Production - All</mat-option>
            <mat-option value="production_dentists"
              >Production - Dentists</mat-option
            >
            <mat-option value="production_oht">Production - OHT</mat-option>
          </mat-select>
          <mat-select
            class="dropdown-font"
            [value]="colSelectShow$ | async"
            (selectionChange)="onChangeColSelectTab($event)"
            *ngIf="(chartName$ | async) === 'Collection'">
            <mat-option value="collection_all">Collection - All</mat-option>
            <mat-option value="collection_dentists"
              >Collection - Dentists</mat-option
            >
            <mat-option value="collection_oht">Collection - OHT</mat-option>
          </mat-select>
          <mat-select
            class="dropdown-font"
            [value]="colExpSelectShow$ | async"
            (selectionChange)="onChangeColExpSelectTab($event)"
            *ngIf="(chartName$ | async) === 'Collection-Exp'">
            <mat-option value="collection_exp_all">Collection - All</mat-option>
            <mat-option value="collection_exp_dentists"
              >Collection - Dentists</mat-option
            >
            <mat-option value="collection_exp_oht">Collection - OHT</mat-option>
          </mat-select>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="chart-content">
    <div class="canvas-wrapper chart-box ca-prod-chart">
      <div class="ca-prod-switch">
        <button
          *ngFor="let chartName of prodChartNames"
          (click)="switchChartName(chartName)"
          [ngClass]="{ active: chartName == (chartName$ | async) }">
          {{ chartName }}
        </button>
      </div>

      <div class="pa-table" *ngIf="showTableInfo; else graphElem">
        <table>
          <thead>
            <tr>
              <th>{{ (isAllDentist$ | async) ? 'Name' : 'Week Ending' }}</th>
              <th>
                {{
                  (chartName$ | async) === 'Production'
                    ? 'Production'
                    : 'Collection'
                }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let protbl of tableData">
              <td>{{ protbl.label }}</td>
              <td>${{ protbl.value | number: '1.0-0' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #graphElem>
        <div class="chart-gauge ca-prod-graph">
          <spin-loader *ngIf="isLoading$ | async; else chartElem"></spin-loader>
          <ng-template #chartElem>
            <ngx-gauge
              *ngIf="
                !(isAllDentist$ | async) &&
                !(isTrend$ | async) &&
                (hasData$ | async)
              "
              type="arch"
              [value]="gaugeValue"
              [label]="gaugeLabel"
              [thick]="20"
              backgroundColor="#f4f0fa"
              foregroundColor="#4ccfae"
              [max]="maxGoal"
              cap="round"
              [duration]="2500"
              prepend="$"
              [size]="300">
            </ngx-gauge>
            <canvas
              baseChart
              *ngIf="
                ((isAllDentist$ | async) || (isTrend$ | async)) &&
                (hasData$ | async)
              "
              [datasets]="datasets"
              [labels]="labels"
              [legend]="isLegendVisible$ | async"
              type="bar"
              [options]="chartOptions">
            </canvas>
            <spin-loader
              class="empty-placeholder"
              *ngIf="!(hasData$ | async)"
              [disableSpin]="true">
              {{ noDataAlertMessage$ | async }}
            </spin-loader>
          </ng-template>
        </div>
      </ng-template>

      <div class="chart-foot" *ngIf="isFooterEnabled$ | async">
        <div>
          <h3>${{ total }}</h3>
          <span>{{ durationLabel$ | async }}</span>
        </div>

        <div *ngIf="(duration$ | async) !== 'custom'">
          <h3>${{ prev }}</h3>
          <span>{{ durationTrendLabel$ | async }}</span>
        </div>
        <div *ngIf="goal >= 0 && (showGoals$ | async) == true">
          <h3 *ngIf="goal && (goalCount$ | async)">
            {{ goal * (goalCount$ | async) }}
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
