<div class="chart-container">
  <mat-icon
    [tooltip]="toolTip"
    matTooltipPosition="below"
    color="primary"
    class="help-tip"
    fontIcon="help"></mat-icon>
  <div class="chart-title">
    {{ chartName$ | async }}
  </div>
  <!-- <div class="chart-content">
    <div class="ca-prod-chart">
      <div class="ca-prod-switch">
        <button
          *ngFor="let chartName of prodChartNames"
          (click)="switchChartName(chartName)"
          [ngClass]="{ active: chartName == (chartName$ | async) }">
          {{ chartName }}
        </button>
      </div>
    </div>
  </div> -->
</div>
