@import '../../../../../../assets/layout/styles/layout/mixin';
.ca-prod-chart {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  gap: 15px;
  min-height: 280px;
  max-height: 350px;
  height: 100%;
  .ca-prod-switch {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;

    button {
      border-radius: 4px;
      text-align: center !important;
      border: 1px solid #97979e;
      padding: 2px 0px 2px;
      font-size: 12px;
      font-weight: 400;
      cursor: pointer;
      display: inline-block;
      color: #849a99;
      width: 100%;
      background-color: #fbfbfb;
      line-height: 23px;

      &.active {
        color: #fff;
        border-color: transparent;
        background: rgb(24, 166, 137);
        background: linear-gradient(
          to bottom,
          rgb(24, 166, 137) 0%,
          rgb(0, 111, 115) 99%
        );
      }
    }
  }

  .ca-prod-graph {
    max-height: 280px;
    flex: 1;
  }
}
