<div class="chart-container">
  <mat-icon
    [tooltip]="toolTip"
    matTooltipPosition="below"
    color="primary"
    class="help-tip"
    fontIcon="help"></mat-icon>
  <mat-icon
    *ngIf="isTableIconVisible$ | async"
    [ngClass]="(isTableViewEnabled$ | async) ? 'active' : ''"
    (click)="toggleTableView()"
    class="table-info-icon"
    fontIcon="table_rows_narrow" />
  <div class="chart-title">
    <mat-icon
      *ngIf="isTrendIconVisible$ | async"
      [color]="trendingIcon == 'trending_up' ? 'primary' : 'warn'"
      [fontIcon]="trendingIcon"
      [matTooltip]="getTrendTip$ | async"></mat-icon>
    <div class="dropdown-title">
      <div style="min-width: 200px">
        <span
          *ngIf="
            (userType$ | async) === 4 || (isDentistMode$ | async);
            else prodSelectTitle
          "
          >Dentist {{ chartName$ | async }}</span
        >
        <ng-template #prodSelectTitle>
          <mat-select
            class="dropdown-font"
            [value]="prodSelectShow$ | async"
            (selectionChange)="onChangeProdSelectTab($event)"
            *ngIf="(chartName$ | async) === 'Production'">
            <mat-option value="production_all">Production - All</mat-option>
            <mat-option value="production_dentists"
              >Production - Dentists</mat-option
            >
            <mat-option value="production_oht">Production - OHT</mat-option>
          </mat-select>
          <mat-select
            class="dropdown-font"
            [value]="colSelectShow$ | async"
            (selectionChange)="onChangeColSelectTab($event)"
            *ngIf="(chartName$ | async) === 'Collection'">
            <mat-option value="collection_all">Collection - All</mat-option>
            <mat-option value="collection_dentists"
              >Collection - Dentists</mat-option
            >
            <mat-option value="collection_oht">Collection - OHT</mat-option>
          </mat-select>
          <mat-select
            class="dropdown-font"
            [value]="colExpSelectShow$ | async"
            (selectionChange)="onChangeColExpSelectTab($event)"
            *ngIf="(chartName$ | async) === 'Collection-Exp'">
            <mat-option value="collection_exp_all">Collection - All</mat-option>
            <mat-option value="collection_exp_dentists"
              >Collection - Dentists</mat-option
            >
            <mat-option value="collection_exp_oht">Collection - OHT</mat-option>
          </mat-select>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="chart-content">
    <div class="canvas-wrapper chart-box ca-prod-chart">
      <div class="ca-prod-switch">
        <button
          *ngFor="let chartName of prodChartNames$ | async"
          (click)="switchChartName(chartName)"
          [ngClass]="{ active: chartName == (chartName$ | async) }">
          {{ chartName }}
        </button>
      </div>

      <div
        class="pa-table"
        *ngIf="
          (isTableViewEnabled$ | async) && (isTableIconVisible$ | async);
          else graphElem
        ">
        <table>
          <thead>
            <tr>
              <th>
                {{
                  (isDentistMode$ | async) && !(isCompare$ | async)
                    ? 'Week Ending'
                    : 'Name'
                }}
              </th>
              <th>
                {{
                  (chartName$ | async) === 'Production'
                    ? 'Production'
                    : 'Collection'
                }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let protbl of tableData">
              <td>{{ protbl.label }}</td>
              <td>{{ protbl.value | currency: 'USD' : 'symbol' : '1.0-0' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #graphElem>
        <div class="chart-gauge ca-prod-graph">
          <spin-loader *ngIf="isLoading$ | async; else chartElem"></spin-loader>
          <ng-template #chartElem>
            <spin-loader
              class="empty-placeholder"
              *ngIf="!(hasData$ | async); else ch11"
              [disableSpin]="true">
              {{ noDataAlertMessage$ | async }}
            </spin-loader>
            <ng-template #ch11>
              <ngx-gauge
                *ngIf="isGaugeChartVisible$ | async; else ch10"
                type="arch"
                [value]="gaugeValue"
                [label]="gaugeLabel"
                [thick]="20"
                backgroundColor="#f4f0fa"
                foregroundColor="#4ccfae"
                [max]="maxGoal"
                cap="round"
                [duration]="2500"
                prepend="$"
                [size]="300">
              </ngx-gauge>
              <ng-template #ch10>
                <canvas
                  baseChart
                  [datasets]="datasets"
                  [labels]="labels"
                  [legend]="isLegendVisible$ | async"
                  type="bar"
                  [options]="chartOptions">
                </canvas>
              </ng-template>
            </ng-template>
          </ng-template>
        </div>
      </ng-template>
      <div class="chart-foot" *ngIf="isFooterEnabled$ | async">
        <div>
          <h3>{{ total | currency: 'USD' : 'symbol' : '1.0-0' }}</h3>
          <span>{{ durationLabel$ | async }}</span>
        </div>

        <div *ngIf="(duration$ | async) !== 'custom'">
          <h3>{{ prev | currency: 'USD' : 'symbol' : '1.0-0' }}</h3>
          <span>{{ durationTrendLabel$ | async }}</span>
        </div>
        <div *ngIf="goal >= 0 && (isGoalEnabled$ | async)">
          <h3>
            {{
              goal * (goalCount$ | async) | currency: 'USD' : 'symbol' : '1.0-0'
            }}
          </h3>
          <span>Goal</span>
        </div>
      </div>
    </div>
  </div>
</div>
